ISOGEN-FILES  ISOCONFIG.FLS
UNITS-BORE  INCH
UNITS-CO-ORDS  MM
UNITS-WEIGHT  KGS
UNITS-BOLT-DIA  INCH
UNITS-BOLT-LENGTH  MM
PIPELINE-REFERENCE    PCF111
    DATE-DMY 08/25/26
    ATTRIBUTE1  
    ATTRIBUTE2  
    ATTRIBUTE3  
    ATTRIBUTE4  
    ATTRIBUTE5  
    ATTRIBUTE6  
    ATTRIBUTE7  PCF111
    ATTRIBUTE8  P2603 -SWC K60
    ATTRIBUTE9  
    PROJECT-IDENTIFIER  
    REVISION  0
    AREA  
    PIPING-SPEC  SS40S
    INSULATION-SPEC  
    TRACING-SPEC  
END-POSITION-NULL
    CO-ORDS          3335.9176    2694.1097    -1509.8899
END-POSITION-NULL
    CO-ORDS          0.0722    -1.4185    0.2033
END-POSITION-NULL
    CO-ORDS          -1999.9278    19.8686    -68.0593
END-POSITION-NULL
    CO-ORDS          0.0722    2514.8445    -93.4592
LAPJOINT-STUBEND
    END-POINT        -1999.9278    146.8685    -68.0593    10.0000  BW
    END-POINT        -1999.9278    19.8685    -68.0593    10.0000  LAP
    SKEY  FLSE
    ITEM-CODE  SSS3-10229
    ITEM-DESCRIPTION  STUB-END, SHORT PATTERN, SCH 10S, ASTM A403 Gr WP 304L, ASME B16.9 TYPE C
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_10S
    WEIGHT  6.327678490429102
FLANGE
    END-POINT        -1999.9278    19.8685    -68.0593    10.0000  FL
    END-POINT        -1999.9278    19.8685    -68.0593    10.0000  LAP
    SKEY  FLFL
    ITEM-CODE  SSS3-12529
    ITEM-DESCRIPTION  FLANGE LJ, 150 LB, ASTM A182 Gr F304, ASME B16.5, FF
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
    WEIGHT  16.329492878526715
REDUCER-ECCENTRIC
    END-POINT        -1999.9278    350.0685    -93.4593    12.0000  BW
    END-POINT        -1999.9278    146.8685    -68.0593    10.0000  BW
    SKEY  REBW
    ITEM-CODE  SSS3-899
    ITEM-DESCRIPTION  REDUCER (ECC), SCH 10S, ASTM A403 Gr WP 304L, ASME B16.9, BW
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_10S
    WEIGHT  14.995917626780368
    FLAT-DIRECTION  UP
WELD
    END-POINT        -1999.9278    146.8685    -68.0593    10.0000
    END-POINT        -1999.9278    146.8685    -68.0593    10.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
PIPE
    END-POINT        -1999.9278    350.0685    -93.4593    12.0000
    END-POINT        -1999.9090    937.4567    -93.4593    12.0000
    ITEM-CODE  SSS3-960
    ITEM-DESCRIPTION  PIPE, SCH 10S, ASME B36.19, ASTM A312 Gr TP 304L, WELDED/SEAMLESS, PE
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_10S
    WEIGHT  73.82767304726481
SUPPORT
    CO-ORDS          -1999.9225    515.8780    -93.4593    12.0000
    SKEY  ANCH
    ITEM-CODE  PipeSupportsSpec-741
    ITEM-DESCRIPTION  U-clamp
    FABRICATION-ITEM
    SUPPORT-DIRECTION  UP
    PIPING-SPEC  PipeSupportsSpec
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
WELD
    END-POINT        -1999.9278    350.0685    -93.4593    12.0000
    END-POINT        -1999.9278    350.0685    -93.4593    12.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
ELBOW
    END-POINT        -1865.9982    1260.7915    -93.4593    12.0000  BW
    END-POINT        -1999.9090    937.4567    -93.4593    12.0000  BW
    CENTRE-POINT     -1999.9278    1126.8618    -93.4593
    SKEY  ELBW
    ITEM-CODE  SSS3-275
    ITEM-DESCRIPTION  ELL 90 LR, SCH 10S, ASTM A403 Gr WP 304L, ASME B16.9, BW
    FABRICATION-ITEM
    ANGLE   4501
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_10S
    WEIGHT  53.99618978499501
WELD
    END-POINT        -1999.9090    937.4567    -93.4593    12.0000
    END-POINT        -1999.9090    937.4567    -93.4593    12.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
PIPE
    END-POINT        -1297.3715    1829.2782    -93.4592    12.0000
    END-POINT        -1865.9982    1260.7915    -93.4593    12.0000
    ITEM-CODE  SSS3-960
    ITEM-DESCRIPTION  PIPE, SCH 10S, ASME B36.19, ASTM A312 Gr TP 304L, WELDED/SEAMLESS, PE
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_10S
    WEIGHT  73.82767304726481
WELD
    END-POINT        -1865.9982    1260.7915    -93.4593    12.0000
    END-POINT        -1865.9982    1260.7915    -93.4593    12.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
ELBOW
    END-POINT        -972.1677    1963.9820    -93.4592    12.0000  BW
    END-POINT        -1297.3715    1829.2782    -93.4592    12.0000  BW
    CENTRE-POINT     -1162.6677    1963.9820    -93.4592
    SKEY  ELBW
    ITEM-CODE  SSS3-243
    ITEM-DESCRIPTION  ELL 45 LR, SCH 10S, ASTM A403 Gr WP 304L, ASME B16.9, BW
    FABRICATION-ITEM
    ANGLE   4500
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_10S
    WEIGHT  26.998094892497505
WELD
    END-POINT        -1297.3715    1829.2782    -93.4592    12.0000
    END-POINT        -1297.3715    1829.2782    -93.4592    12.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
PIPE
    END-POINT        -682.4258    1963.9820    -93.4592    12.0000
    END-POINT        -972.1677    1963.9820    -93.4592    12.0000
    ITEM-CODE  SSS3-960
    ITEM-DESCRIPTION  PIPE, ERW, PE, ASME B36.19, ASTM A312 Gr TP 304L, Sch 10s
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_10
    WEIGHT  73.82767304726481
SUPPORT
    CO-ORDS          -844.2925    1963.9820    -93.4592    12.0000
    SKEY  ANCH
    ITEM-CODE  PipeSupportsSpec-741
    ITEM-DESCRIPTION  U-clamp
    FABRICATION-ITEM
    SUPPORT-DIRECTION  UP
    PIPING-SPEC  PipeSupportsSpec
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
WELD
    END-POINT        -972.1677    1963.9820    -93.4592    12.0000
    END-POINT        -972.1677    1963.9820    -93.4592    12.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
LAPJOINT-STUBEND
    END-POINT        -530.0258    1963.9820    -93.4592    12.0000  LAP
    END-POINT        -682.4258    1963.9820    -93.4592    12.0000  BW
    SKEY  FLSE
    ITEM-CODE  SSS3-10231
    ITEM-DESCRIPTION  STUB-END FOR LAP FLANGE, SHORT PATTERN, ASME B16.9-C, ASTM A312 Gr TP 304L
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_10
    WEIGHT  9.099156309534608
WELD
    END-POINT        -682.4258    1963.9820    -93.4592    12.0000
    END-POINT        -682.4258    1963.9820    -93.4592    12.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
GASKET
    END-POINT        -526.8508    1963.9820    -93.4592    12.0000
    END-POINT        -530.0258    1963.9820    -93.4592    12.0000
    ITEM-CODE  SSS3-11529
    ITEM-DESCRIPTION  EMPAQUE LAMINA GARLOCK BLUE 3700 X 1/8"
    ERECTION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
    WEIGHT  1.4061507756509117
BOLT
    CO-ORDS          -530.0258    1963.9820    -93.4592    12.0000
    BOLT-DIA  7/8
    BOLT-ITEM-CODE  SSS3-9056-120.64999999999999
    ITEM-DESCRIPTION  BOLT SET, RF, 150 LB, STUD BOLT
    ERECTION-ITEM
    BOLT-QUANTITY  12
    BOLT-LENGTH  120.64999999999999
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
FLANGE
    END-POINT        -530.0258    1963.9820    -93.4592    12.0000  FL
    END-POINT        -530.0258    1963.9820    -93.4592    12.0000  LAP
    SKEY  FLFL
    ITEM-CODE  SSS3-12531
    ITEM-DESCRIPTION  FLANGE LJ, 150 LB, FF, ASME B16.5, ASTM A 105
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
    WEIGHT  27.215821464211196
VALVE
    END-POINT        -526.8508    1963.9820    -93.4592    12.0000  FL
    END-POINT        -450.6508    1963.9820    -93.4592    12.0000  FL
    SKEY  VVFL
    ITEM-CODE  CP IMPERIAL Valve
    ITEM-DESCRIPTION  KNIFE GATE VALVE, 150 LB, LUG, RF, ASME B16.10
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
GASKET
    END-POINT        -450.6508    1963.9820    -93.4592    12.0000
    END-POINT        -447.4758    1963.9820    -93.4592    12.0000
    ITEM-CODE  SSS3-11529
    ITEM-DESCRIPTION  EMPAQUE LAMINA GARLOCK BLUE 3700 X 1/8"
    ERECTION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
    WEIGHT  1.4061507756509117
LAPJOINT-STUBEND
    END-POINT        -447.4758    1963.9820    -93.4592    12.0000  LAP
    END-POINT        -295.0758    1963.9820    -93.4592    12.0000  BW
    SKEY  FLSE
    ITEM-CODE  SS40S-1505
    ITEM-DESCRIPTION  STUB-END, SHORT PATTERN, SCH 40S, ASTM A403 Gr WP 304L, ASME B16.9 TYPE C
    FABRICATION-ITEM
    PIPING-SPEC  SS40S
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_40S
    WEIGHT  9.099156309534608
FLANGE
    END-POINT        -447.4758    1963.9820    -93.4592    12.0000  FL
    END-POINT        -447.4758    1963.9820    -93.4592    12.0000  LAP
    SKEY  FLFL
    ITEM-CODE  SS40S-1631
    ITEM-DESCRIPTION  FLANGE LJ, 150 LB, ASTM A182 Gr F304, ASME B16.5, FF
    FABRICATION-ITEM
    PIPING-SPEC  SS40S
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
    WEIGHT  27.215821464211196
BOLT
    CO-ORDS          -447.4758    1963.9820    -93.4592    12.0000
    BOLT-DIA  7/8
    BOLT-ITEM-CODE  SSS3-9056-120.64999999999999
    ITEM-DESCRIPTION  BOLT SET, RF, 150 LB, STUD BOLT
    ERECTION-ITEM
    BOLT-QUANTITY  12
    BOLT-LENGTH  120.64999999999999
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
WELD
    END-POINT        -295.0758    1963.9820    -93.4592    12.0000
    END-POINT        -295.0758    1963.9820    -93.4592    12.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SS40S
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
PIPE
    END-POINT        0.0722    555.9195    -93.4592    16.0000
    END-POINT        0.0722    506.6442    -93.4592    16.0000
    ITEM-CODE  SS40S-126
    ITEM-DESCRIPTION  PIPE, SCH 40S, ASME B36.19, ASTM A312 Gr TP 304L, WELDED/SEAMLESS, PE
    FABRICATION-ITEM
    PIPING-SPEC  SS40S
    INSULATION-SPEC  mm
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   INSULATIONTHICKNESS_30
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40S
    WEIGHT  93.27
SUPPORT
    CO-ORDS          0.0722    506.6442    -93.4592    16.0000
    SKEY  ANCH
    ITEM-CODE  SS40S-2722
    ITEM-DESCRIPTION  STANDARD U-BOLT, MSS SP-58, ASTM A193 Gr B8L
    FABRICATION-ITEM
    SUPPORT-DIRECTION  UP
    PIPING-SPEC  SS40S
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_ASTM A193 Gr B8L
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
WELD
    END-POINT        0.0722    506.6442    -93.4592    16.0000
    END-POINT        0.0722    506.6442    -93.4592    16.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SS40S
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
PIPE
    END-POINT        0.0722    506.6442    -93.4592    16.0000
    END-POINT        0.0722    457.3690    -93.4592    16.0000
    ITEM-CODE  SS40S-126
    ITEM-DESCRIPTION  PIPE, SCH 40S, ASME B36.19, ASTM A312 Gr TP 304L, WELDED/SEAMLESS, PE
    FABRICATION-ITEM
    PIPING-SPEC  SS40S
    INSULATION-SPEC  mm
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   INSULATIONTHICKNESS_30
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40S
    WEIGHT  93.27
LAPJOINT-STUBEND
    END-POINT        0.0722    708.3195    -93.4592    16.0000  LAP
    END-POINT        0.0722    555.9195    -93.4592    16.0000  BW
    SKEY  FLSE
    ITEM-CODE  SS40S-1509
    ITEM-DESCRIPTION  STUB-END, SHORT PATTERN, SCH 40S, ASTM A403 Gr WP 304L, ASME B16.9 TYPE C
    FABRICATION-ITEM
    PIPING-SPEC  SS40S
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_40S
WELD
    END-POINT        0.0722    555.9195    -93.4592    16.0000
    END-POINT        0.0722    555.9195    -93.4592    16.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SS40S
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
GASKET
    END-POINT        0.0722    709.9070    -93.4592    16.0000
    END-POINT        0.0722    708.3195    -93.4592    16.0000
    ITEM-CODE  SS40S-3754
    ITEM-DESCRIPTION  GASKET, FLAT RING x 150 LB, THK 1/16"
    ERECTION-ITEM
    PIPING-SPEC  SS40S
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
    WEIGHT  0.24040642293386555
BOLT
    CO-ORDS          0.0722    708.3195    -93.4592    16.0000
    BOLT-DIA  1
    BOLT-ITEM-CODE  SS40S-1214-133.35
    ITEM-DESCRIPTION  BOLT SET, RF, 150 LB, STUD BOLT
    ERECTION-ITEM
    BOLT-QUANTITY  16
    BOLT-LENGTH  133.35
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
    WEIGHT  0.9268
FLANGE
    END-POINT        0.0722    708.3195    -93.4592    16.0000  FL
    END-POINT        0.0722    708.3195    -93.4592    16.0000  LAP
    SKEY  FLFL
    ITEM-CODE  SS40S-1635
    ITEM-DESCRIPTION  FLANGE LJ, 150 LB, ASTM A182 Gr F304, ASME B16.5, FF
    FABRICATION-ITEM
    PIPING-SPEC  SS40S
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
    WEIGHT  47.174090537966066
VALVE
    END-POINT        0.0722    798.8070    -93.4592    16.0000  FL
    END-POINT        0.0722    709.9070    -93.4592    16.0000  FL
    SKEY  VVFL
    ITEM-CODE  KNIFE GATE VALVE - BEVEL GEAR HANDWHEEL, 16" ND, 150 LB, CF8M, SPLIT-WEDGE, ASME B16.5, LUG, RF
    ITEM-DESCRIPTION  KNIFE GATE VALVE - BEVEL GEAR HANDWHEEL, 150 LB, CF8M, SPLIT-WEDGE, ASME B16.5, LUG, RF
    FABRICATION-ITEM
    TAG  PMVAL1-098
    PIPING-SPEC  SS40S
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
GASKET
    END-POINT        0.0722    798.8070    -93.4592    16.0000
    END-POINT        0.0722    800.3945    -93.4592    16.0000
    ITEM-CODE  SS40S-3754
    ITEM-DESCRIPTION  GASKET, FLAT RING x 150 LB, THK 1/16"
    ERECTION-ITEM
    PIPING-SPEC  SS40S
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
    WEIGHT  0.24040642293386555
LAPJOINT-STUBEND
    END-POINT        0.0722    800.3945    -93.4592    16.0000  LAP
    END-POINT        0.0722    952.7945    -93.4592    16.0000  BW
    SKEY  FLSE
    ITEM-CODE  SS40S-1509
    ITEM-DESCRIPTION  STUB-END, SHORT PATTERN, SCH 40S, ASTM A403 Gr WP 304L, ASME B16.9 TYPE C
    FABRICATION-ITEM
    PIPING-SPEC  SS40S
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_40S
FLANGE
    END-POINT        0.0722    800.3945    -93.4592    16.0000  FL
    END-POINT        0.0722    800.3945    -93.4592    16.0000  LAP
    SKEY  FLFL
    ITEM-CODE  SS40S-1635
    ITEM-DESCRIPTION  FLANGE LJ, 150 LB, ASTM A182 Gr F304, ASME B16.5, FF
    FABRICATION-ITEM
    PIPING-SPEC  SS40S
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
    WEIGHT  47.174090537966066
BOLT
    CO-ORDS          0.0722    800.3945    -93.4592    16.0000
    BOLT-DIA  1
    BOLT-ITEM-CODE  SS40S-1214-133.35
    ITEM-DESCRIPTION  BOLT SET, RF, 150 LB, STUD BOLT
    ERECTION-ITEM
    BOLT-QUANTITY  16
    BOLT-LENGTH  133.35
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
    WEIGHT  0.9268
PIPE
    END-POINT        0.0722    1352.7945    -93.4592    16.0000
    END-POINT        0.0722    952.7945    -93.4592    16.0000
    ITEM-CODE  SS40S-126
    ITEM-DESCRIPTION  PIPE, SCH 40S, ASME B36.19, ASTM A312 Gr TP 304L, WELDED/SEAMLESS, PE
    FABRICATION-ITEM
    PIPING-SPEC  SS40S
    INSULATION-SPEC  mm
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   INSULATIONTHICKNESS_30
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40S
    WEIGHT  93.27
    TAP-CONNECTION  
    CO-ORDS          0.0722    1152.7945    -278.4217    6.0000
WELD
    END-POINT        0.0722    952.7945    -93.4592    16.0000
    END-POINT        0.0722    952.7945    -93.4592    16.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SS40S
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
BEND
    END-POINT        0.0722    1152.7945    -852.6899    6.0000  BW
    END-POINT        207.5916    1248.6781    -1081.2899    6.0000  BW
    CENTRE-POINT     0.0722    1152.7945    -1081.2899
    SKEY  BEBW
    ITEM-CODE  SS40S-257-9000
    ITEM-DESCRIPTION  ELL 90 LR, SCH 40S, ASTM A403 Gr WP 304L, ASME B16.9, BW
    FABRICATION-ITEM
    ANGLE   9000
    BEND-RADIUS  9.0000
    PIPING-SPEC  SS40S
    INSULATION-SPEC  PP
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   INSULATIONTHICKNESS_0
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_Material_SS304L
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40S
    WEIGHT  24
WELD
    END-POINT        0.0722    1152.7945    -852.6899    6.0000
    END-POINT        0.0722    1152.7945    -852.6899    6.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SS40S
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
PIPE
    END-POINT        0.0722    1152.7945    -666.5467    6.0000
    END-POINT        0.0722    1152.7945    -852.6899    6.0000
    ITEM-CODE  SS40S-116
    ITEM-DESCRIPTION  PIPE, SCH 40S, ASME B36.19, ASTM A312 Gr TP 304L, WELDED/SEAMLESS, PE
    FABRICATION-ITEM
    PIPING-SPEC  SS40S
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_40S
    WEIGHT  28.26
LAPJOINT-STUBEND
    END-POINT        0.0722    1152.7945    -577.6467    6.0000  LAP
    END-POINT        0.0722    1152.7945    -666.5467    6.0000  BW
    SKEY  FLSE
    ITEM-CODE  SS40S-1498
    ITEM-DESCRIPTION  STUB-END, SHORT PATTERN, SCH 40S, ASTM A403 Gr WP 304L, ASME B16.9 TYPE C
    FABRICATION-ITEM
    PIPING-SPEC  SS40S
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_40S
    WEIGHT  2.236233330309353
WELD
    END-POINT        0.0722    1152.7945    -666.5467    6.0000
    END-POINT        0.0722    1152.7945    -666.5467    6.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SS40S
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
FLANGE
    END-POINT        0.0722    1152.7945    -577.6467    6.0000  FL
    END-POINT        0.0722    1152.7945    -577.6467    6.0000  LAP
    SKEY  FLFL
    ITEM-CODE  SS40S-1625
    ITEM-DESCRIPTION  FLANGE LJ, 150 LB, ASTM A182 Gr F304, ASME B16.5, FF
    FABRICATION-ITEM
    PIPING-SPEC  SS40S
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
    WEIGHT  8.164746439263357
GASKET
    END-POINT        0.0722    1152.7945    -576.0592    6.0000
    END-POINT        0.0722    1152.7945    -577.6467    6.0000
    ITEM-CODE  SS40S-3744
    ITEM-DESCRIPTION  GASKET, FLAT RING x 150 LB, THK 1/16"
    ERECTION-ITEM
    PIPING-SPEC  SS40S
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
    WEIGHT  0.04989567268438719
BOLT
    CO-ORDS          0.0722    1152.7945    -577.6467    6.0000
    BOLT-DIA  3/4
    BOLT-ITEM-CODE  SS40S-1011-101.59999999999998
    ITEM-DESCRIPTION  BOLT SET, RF, 150 LB, STUD BOLT
    ERECTION-ITEM
    BOLT-QUANTITY  8
    BOLT-LENGTH  101.59999999999998
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
    WEIGHT  0.3861
VALVE
    END-POINT        0.0722    1152.7945    -518.9092    6.0000  FL
    END-POINT        0.0722    1152.7945    -576.0592    6.0000  FL
    SKEY  VVFL
    ITEM-CODE  KNIFE GATE VALVE - BEVEL GEAR HANDWHEEL, 6" ND, 150 LB, CF8M, SPLIT-WEDGE, ASME B16.5, LUG, RF
    ITEM-DESCRIPTION  KNIFE GATE VALVE - BEVEL GEAR HANDWHEEL, 150 LB, CF8M, SPLIT-WEDGE, ASME B16.5, LUG, RF
    FABRICATION-ITEM
    TAG  PMVAL1-062
    PIPING-SPEC  SS40S
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
GASKET
    END-POINT        0.0722    1152.7945    -518.9092    6.0000
    END-POINT        0.0722    1152.7945    -517.3217    6.0000
    ITEM-CODE  SS40S-3744
    ITEM-DESCRIPTION  GASKET, FLAT RING x 150 LB, THK 1/16"
    ERECTION-ITEM
    PIPING-SPEC  SS40S
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
    WEIGHT  0.04989567268438719
BOLT
    CO-ORDS          0.0722    1152.7945    -517.3217    6.0000
    BOLT-DIA  3/4
    BOLT-ITEM-CODE  SS40S-1011-101.59999999999998
    ITEM-DESCRIPTION  BOLT SET, RF, 150 LB, STUD BOLT
    ERECTION-ITEM
    BOLT-QUANTITY  8
    BOLT-LENGTH  101.59999999999998
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
    WEIGHT  0.3861
FLANGE
    END-POINT        0.0722    1152.7945    -517.3217    6.0000  FL
    END-POINT        0.0722    1152.7945    -517.3217    6.0000  LAP
    SKEY  FLFL
    ITEM-CODE  SS40S-1625
    ITEM-DESCRIPTION  FLANGE LJ, 150 LB, ASTM A182 Gr F304, ASME B16.5, FF
    FABRICATION-ITEM
    PIPING-SPEC  SS40S
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
    WEIGHT  8.164746439263357
LAPJOINT-STUBEND
    END-POINT        0.0722    1152.7945    -517.3217    6.0000  LAP
    END-POINT        0.0722    1152.7945    -428.4217    6.0000  BW
    SKEY  FLSE
    ITEM-CODE  SS40S-1498
    ITEM-DESCRIPTION  STUB-END, SHORT PATTERN, SCH 40S, ASTM A403 Gr WP 304L, ASME B16.9 TYPE C
    FABRICATION-ITEM
    PIPING-SPEC  SS40S
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_40S
    WEIGHT  2.236233330309353
WELD
    END-POINT        0.0722    1152.7945    -428.4217    6.0000
    END-POINT        0.0722    1152.7945    -428.4217    6.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SS40S
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
PIPE
    END-POINT        0.0722    1152.7945    -278.4217    6.0000
    END-POINT        0.0722    1152.7945    -428.4217    6.0000
    ITEM-CODE  SS40S-116
    ITEM-DESCRIPTION  PIPE, SCH 40S, ASME B36.19, ASTM A312 Gr TP 304L, WELDED/SEAMLESS, PE
    FABRICATION-ITEM
    PIPING-SPEC  SS40S
    INSULATION-SPEC  mm
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   INSULATIONTHICKNESS_30
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40S
    WEIGHT  28.26
WELD
    END-POINT        0.0722    1152.7945    -278.4217    6.0000
    END-POINT        0.0722    1152.7945    -278.4217    6.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SS40S
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
LAPJOINT-STUBEND
    END-POINT        0.0722    1505.1945    -93.4592    16.0000  LAP
    END-POINT        0.0722    1352.7945    -93.4592    16.0000  BW
    SKEY  FLSE
    ITEM-CODE  SS40S-1509
    ITEM-DESCRIPTION  STUB-END, SHORT PATTERN, SCH 40S, ASTM A403 Gr WP 304L, ASME B16.9 TYPE C
    FABRICATION-ITEM
    PIPING-SPEC  SS40S
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_40S
WELD
    END-POINT        0.0722    1352.7945    -93.4592    16.0000
    END-POINT        0.0722    1352.7945    -93.4592    16.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SS40S
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
FLANGE
    END-POINT        0.0722    1505.1945    -93.4592    16.0000  FL
    END-POINT        0.0722    1505.1945    -93.4592    16.0000  LAP
    SKEY  FLFL
    ITEM-CODE  SS40S-1635
    ITEM-DESCRIPTION  FLANGE LJ, 150 LB, ASTM A182 Gr F304, ASME B16.5, FF
    FABRICATION-ITEM
    PIPING-SPEC  SS40S
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
    WEIGHT  47.174090537966066
GASKET
    END-POINT        0.0722    1506.7820    -93.4592    16.0000
    END-POINT        0.0722    1505.1945    -93.4592    16.0000
    ITEM-CODE  SS40S-3754
    ITEM-DESCRIPTION  GASKET, FLAT RING x 150 LB, THK 1/16"
    ERECTION-ITEM
    PIPING-SPEC  SS40S
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
    WEIGHT  0.24040642293386555
BOLT
    CO-ORDS          0.0722    1505.1945    -93.4592    16.0000
    BOLT-DIA  1
    BOLT-ITEM-CODE  SS40S-1214-133.35
    ITEM-DESCRIPTION  BOLT SET, RF, 150 LB, STUD BOLT
    ERECTION-ITEM
    BOLT-QUANTITY  16
    BOLT-LENGTH  133.35
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
    WEIGHT  0.9268
FLANGE
    END-POINT        0.0722    1506.7820    -93.4592    16.0000  FL
    END-POINT        0.0722    1506.7820    -93.4592    16.0000  LAP
    SKEY  FLFL
    ITEM-CODE  SS40S-1635
    ITEM-DESCRIPTION  FLANGE LJ, 150 LB, ASTM A182 Gr F304, ASME B16.5, FF
    FABRICATION-ITEM
    PIPING-SPEC  SS40S
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
    WEIGHT  47.174090537966066
LAPJOINT-STUBEND
    END-POINT        0.0722    1506.7820    -93.4592    16.0000  LAP
    END-POINT        0.0722    1659.1820    -93.4592    16.0000  BW
    SKEY  FLSE
    ITEM-CODE  SS40S-1509
    ITEM-DESCRIPTION  STUB-END, SHORT PATTERN, SCH 40S, ASTM A403 Gr WP 304L, ASME B16.9 TYPE C
    FABRICATION-ITEM
    PIPING-SPEC  SS40S
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_40S
WELD
    END-POINT        0.0722    1659.1820    -93.4592    16.0000
    END-POINT        0.0722    1659.1820    -93.4592    16.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SS40S
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
TEE
    END-POINT        0.0722    2268.7820    -93.4592    16.0000  BW
    END-POINT        0.0722    1659.1820    -93.4592    16.0000  BW
    CENTRE-POINT     0.0722    1963.9820    -93.4592
    BRANCH1-POINT    -295.0758    1963.9820    -93.4592    12.0000  BW
    SKEY  TEBW
    ITEM-CODE  SS40S-490
    ITEM-DESCRIPTION  TEE (RED), BW, ASME B16.9, ASTM A403 Gr WP 304L, Sch 40S
    FABRICATION-ITEM
    PIPING-SPEC  SS40S
    INSULATION-SPEC  mm
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   INSULATIONTHICKNESS_30
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40
    WEIGHT  118.3888233693187
SUPPORT
    CO-ORDS          0.0722    1718.0690    -93.4592    16.0000
    SKEY  ANCH
    ITEM-CODE  SS40S-2722
    ITEM-DESCRIPTION  STANDARD U-BOLT, MSS SP-58, ASTM A193 Gr B8L
    FABRICATION-ITEM
    SUPPORT-DIRECTION  UP
    PIPING-SPEC  SS40S
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_ASTM A193 Gr B8L
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
WELD
    END-POINT        0.0722    2268.7820    -93.4592    16.0000
    END-POINT        0.0722    2268.7820    -93.4592    16.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SS40S
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
LAPJOINT-STUBEND
    END-POINT        0.0722    2268.7820    -93.4592    16.0000  BW
    END-POINT        0.0722    2421.1820    -93.4592    16.0000  LAP
    SKEY  FLSE
    ITEM-CODE  SS40S-1509
    ITEM-DESCRIPTION  STUB-END, SHORT PATTERN, SCH 40S, ASTM A403 Gr WP 304L, ASME B16.9 TYPE C
    FABRICATION-ITEM
    PIPING-SPEC  SS40S
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_40S
FLANGE
    END-POINT        0.0722    2421.1820    -93.4592    16.0000  FL
    END-POINT        0.0722    2421.1820    -93.4592    16.0000  LAP
    SKEY  FLFL
    ITEM-CODE  SS40S-1635
    ITEM-DESCRIPTION  FLANGE LJ, 150 LB, ASTM A182 Gr F304, ASME B16.5, FF
    FABRICATION-ITEM
    PIPING-SPEC  SS40S
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
    WEIGHT  47.174090537966066
GASKET
    END-POINT        0.0722    2421.1820    -93.4592    16.0000
    END-POINT        0.0722    2422.7695    -93.4592    16.0000
    ITEM-CODE  SS40S-3754
    ITEM-DESCRIPTION  GASKET, FLAT RING x 150 LB, THK 1/16"
    ERECTION-ITEM
    PIPING-SPEC  SS40S
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
    WEIGHT  0.24040642293386555
BOLT
    CO-ORDS          0.0722    2422.7695    -93.4592    16.0000
    BOLT-DIA  1
    BOLT-ITEM-CODE  SS40S-1214-133.35
    ITEM-DESCRIPTION  BOLT SET, RF, 150 LB, STUD BOLT
    ERECTION-ITEM
    BOLT-QUANTITY  16
    BOLT-LENGTH  133.35
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
    WEIGHT  0.9268
VALVE
    END-POINT        0.0722    2511.6695    -93.4592    16.0000  FL
    END-POINT        0.0722    2422.7695    -93.4592    16.0000  FL
    SKEY  VVFL
    ITEM-CODE  KNIFE GATE VALVE - BEVEL GEAR HANDWHEEL, 16" ND, 150 LB, CF8M, SPLIT-WEDGE, ASME B16.5, LUG, RF
    ITEM-DESCRIPTION  KNIFE GATE VALVE - BEVEL GEAR HANDWHEEL, 150 LB, CF8M, SPLIT-WEDGE, ASME B16.5, LUG, RF
    FABRICATION-ITEM
    PIPING-SPEC  SS40S
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
GASKET
    END-POINT        0.0722    2511.6695    -93.4592    16.0000
    END-POINT        0.0722    2514.8445    -93.4592    16.0000
    ITEM-CODE  SSS3-11533
    ITEM-DESCRIPTION  GASKET, FLAT RING x 150 LB, THK 1/16"
    ERECTION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
    WEIGHT  2.095618252744262
BOLT
    CO-ORDS          0.0722    2514.8445    -93.4592    16.0000
    BOLT-DIA  1
    BOLT-ITEM-CODE  SSS3-9058-133.35
    ITEM-DESCRIPTION  BOLT SET, RF, 150 LB, STUD BOLT
    ERECTION-ITEM
    BOLT-QUANTITY  16
    BOLT-LENGTH  133.35
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
GASKET
    END-POINT        0.0722    0.1690    0.2033    8.0000
    END-POINT        0.0722    -1.4185    0.2033    8.0000
    ITEM-CODE  SS40S-3746
    ITEM-DESCRIPTION  GASKET, FLAT RING x 150 LB, THK 1/16"
    ERECTION-ITEM
    PIPING-SPEC  SS40S
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
    WEIGHT  0.07257552390456319
BOLT
    CO-ORDS          0.0722    -1.4185    0.2033    8.0000
    BOLT-DIA  3/4
    BOLT-ITEM-CODE  SS40S-1012-107.94999999999997
    ITEM-DESCRIPTION  BOLT SET, RF, 150 LB, STUD BOLT
    ERECTION-ITEM
    BOLT-QUANTITY  8
    BOLT-LENGTH  107.94999999999997
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
    WEIGHT  0.4071
LAPJOINT-STUBEND
    END-POINT        0.0722    101.7690    0.2033    8.0000  BW
    END-POINT        0.0722    0.1690    0.2033    8.0000  LAP
    SKEY  FLSE
    ITEM-CODE  SS40S-1500
    ITEM-DESCRIPTION  STUB-END, SHORT PATTERN, SCH 40S, ASTM A403 Gr WP 304L, ASME B16.9 TYPE C
    FABRICATION-ITEM
    PIPING-SPEC  SS40S
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_40S
    WEIGHT  3.7557833620611443
FLANGE
    END-POINT        0.0722    0.1690    0.2033    8.0000  FL
    END-POINT        0.0722    0.1690    0.2033    8.0000  LAP
    SKEY  FLFL
    ITEM-CODE  SS40S-1627
    ITEM-DESCRIPTION  FLANGE LJ, 150 LB, ASTM A182 Gr F304, ASME B16.5, FF
    FABRICATION-ITEM
    PIPING-SPEC  SS40S
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
    WEIGHT  12.700716683298557
REDUCER-ECCENTRIC
    END-POINT        0.0722    457.3690    -93.4592    16.0000  BW
    END-POINT        0.0722    101.7690    0.2033    8.0000  BW
    SKEY  REBW
    ITEM-CODE  SS40S-5904
    ITEM-DESCRIPTION  REDUCER (ECC), SCH 40S, ASTM A403 Gr WP 304L, ASME B16.9, BW
    FABRICATION-ITEM
    PIPING-SPEC  SS40S
    INSULATION-SPEC  mm
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   INSULATIONTHICKNESS_30
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40S
    WEIGHT  33.11258278145695
    FLAT-DIRECTION  UP
WELD
    END-POINT        0.0722    101.7690    0.2033    8.0000
    END-POINT        0.0722    101.7690    0.2033    8.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SS40S
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
WELD
    END-POINT        0.0722    457.3690    -93.4592    16.0000
    END-POINT        0.0722    457.3690    -93.4592    16.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SS40S
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
PIPE
    END-POINT        207.5916    1248.6781    -1081.2899    6.0000
    END-POINT        3128.3982    2598.2261    -1081.2899    6.0000
    ITEM-CODE  SS40S-116
    ITEM-DESCRIPTION  PIPE, SCH 40S, ASME B36.19, ASTM A312 Gr TP 304L, WELDED/SEAMLESS, PE
    FABRICATION-ITEM
    PIPING-SPEC  SS40S
    INSULATION-SPEC  PP
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   INSULATIONTHICKNESS_0
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40S
    WEIGHT  28.26
SUPPORT
    CO-ORDS          564.8905    1413.7668    -1081.2899    6.0000
    SKEY  ANCH
    ITEM-CODE  SS40S-2717
    ITEM-DESCRIPTION  STANDARD U-BOLT, MSS SP-58, ASTM A193 Gr B8L
    FABRICATION-ITEM
    SUPPORT-DIRECTION  UP
    PIPING-SPEC  SS40S
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_ASTM A193 Gr B8L
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
SUPPORT
    CO-ORDS          2846.3579    2467.9104    -1081.2899    6.0000
    SKEY  ANCH
    ITEM-CODE  SS40S-2717
    ITEM-DESCRIPTION  STANDARD U-BOLT, MSS SP-58, ASTM A193 Gr B8L
    FABRICATION-ITEM
    SUPPORT-DIRECTION  UP
    PIPING-SPEC  SS40S
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_ASTM A193 Gr B8L
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
WELD
    END-POINT        207.5916    1248.6781    -1081.2899    6.0000
    END-POINT        207.5916    1248.6781    -1081.2899    6.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SS40S
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
WELD
    END-POINT        3128.3982    2598.2261    -1081.2899    6.0000
    END-POINT        3128.3982    2598.2261    -1081.2899    6.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SS40S
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
BEND
    END-POINT        3128.3982    2598.2261    -1081.2899    6.0000  BW
    END-POINT        3335.9176    2694.1097    -1309.8899    6.0000  BW
    CENTRE-POINT     3335.9176    2694.1097    -1081.2899
    SKEY  BEBW
    ITEM-CODE  SS40S-257-9000
    ITEM-DESCRIPTION  ELL 90 LR, SCH 40S, ASTM A403 Gr WP 304L, ASME B16.9, BW
    FABRICATION-ITEM
    ANGLE   9000
    BEND-RADIUS  9.0000
    PIPING-SPEC  SS40S
    INSULATION-SPEC  PP
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   INSULATIONTHICKNESS_0
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40S
    WEIGHT  24
PIPE
    END-POINT        3335.9176    2694.1097    -1309.8899    6.0000
    END-POINT        3335.9176    2694.1097    -1509.8899    6.0000
    ITEM-CODE  SS40S-116
    ITEM-DESCRIPTION  PIPE, SCH 40S, ASME B36.19, ASTM A312 Gr TP 304L, WELDED/SEAMLESS, PE
    FABRICATION-ITEM
    PIPING-SPEC  SS40S
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_40S
    WEIGHT  28.26
WELD
    END-POINT        3335.9176    2694.1097    -1309.8899    6.0000
    END-POINT        3335.9176    2694.1097    -1309.8899    6.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SS40S
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
MATERIALS
ITEM-CODE  SS40S-116
    DESCRIPTION  PIPE, SCH 40S, ASME B36.19, ASTM A312 Gr TP 304L, WELDED/SEAMLE
    DESCRIPTION  SS, PE
    Schedule  40S
    PressureClass  
    Material  SS
ITEM-CODE  Buttweld-6
    Schedule  
    PressureClass  
    Material  
ITEM-CODE  SS40S-257
    DESCRIPTION  ELL 90 LR, SCH 40S, ASTM A403 Gr WP 304L, ASME B16.9, BW
    Schedule  40S
    PressureClass  
    Material  SS304L
ITEM-CODE  SS40S-1498
    DESCRIPTION  STUB-END, SHORT PATTERN, SCH 40S, ASTM A403 Gr WP 304L, ASME B1
    DESCRIPTION  6.9 TYPE C
    Schedule  40S
    PressureClass  
    Material  
ITEM-CODE  SS40S-1625
    DESCRIPTION  FLANGE LJ, 150 LB, ASTM A182 Gr F304, ASME B16.5, FF
    Schedule  
    PressureClass  150
    Material  
ITEM-CODE  SS40S-3744
    DESCRIPTION  GASKET, FLAT RING x 150 LB, THK 1/16"
    Schedule  
    PressureClass  150
    Material  
ITEM-CODE  SS40S-1011-101.59999999999998
    DESCRIPTION  BOLT SET, RF, 150 LB, STUD BOLT
    Schedule  
    PressureClass  150
    Material  
ITEM-CODE  KNIFE GATE VALVE - BEVEL GEAR HANDWHEEL, 6" ND, 150 LB, CF8M, SPLIT-WEDGE, ASME B16.5, LUG, RF
    DESCRIPTION  KNIFE GATE VALVE - BEVEL GEAR HANDWHEEL, 150 LB, CF8M, SPLIT-WE
    DESCRIPTION  DGE, ASME B16.5, LUG, RF
    Schedule  
    PressureClass  150
    Material  
ITEM-CODE  Tapweld-6
    Schedule  
    PressureClass  
    Material  
ITEM-CODE  SS40S-126
    DESCRIPTION  PIPE, SCH 40S, ASME B36.19, ASTM A312 Gr TP 304L, WELDED/SEAMLE
    DESCRIPTION  SS, PE
    Schedule  40S
    PressureClass  
    Material  SS
ITEM-CODE  SS40S-1509
    DESCRIPTION  STUB-END, SHORT PATTERN, SCH 40S, ASTM A403 Gr WP 304L, ASME B1
    DESCRIPTION  6.9 TYPE C
    Schedule  40S
    PressureClass  
    Material  
ITEM-CODE  Buttweld-16
    Schedule  
    PressureClass  
    Material  
ITEM-CODE  SS40S-1635
    DESCRIPTION  FLANGE LJ, 150 LB, ASTM A182 Gr F304, ASME B16.5, FF
    Schedule  
    PressureClass  150
    Material  
ITEM-CODE  SS40S-3754
    DESCRIPTION  GASKET, FLAT RING x 150 LB, THK 1/16"
    Schedule  
    PressureClass  150
    Material  
ITEM-CODE  SS40S-1214-133.35
    DESCRIPTION  BOLT SET, RF, 150 LB, STUD BOLT
    Schedule  
    PressureClass  150
    Material  
ITEM-CODE  SS40S-490
    DESCRIPTION  TEE (RED), BW, ASME B16.9, ASTM A403 Gr WP 304L, Sch 40S
    Schedule  40
    PressureClass  
    Material  SS
ITEM-CODE  KNIFE GATE VALVE - BEVEL GEAR HANDWHEEL, 16" ND, 150 LB, CF8M, SPLIT-WEDGE, ASME B16.5, LUG, RF
    DESCRIPTION  KNIFE GATE VALVE - BEVEL GEAR HANDWHEEL, 150 LB, CF8M, SPLIT-WE
    DESCRIPTION  DGE, ASME B16.5, LUG, RF
    Schedule  
    PressureClass  150
    Material  
ITEM-CODE  SSS3-11533
    DESCRIPTION  GASKET, FLAT RING x 150 LB, THK 1/16"
    Schedule  
    PressureClass  150
    Material  
ITEM-CODE  SSS3-9058-133.35
    DESCRIPTION  BOLT SET, RF, 150 LB, STUD BOLT
    Schedule  
    PressureClass  150
    Material  SS
ITEM-CODE  SS40S-1505
    DESCRIPTION  STUB-END, SHORT PATTERN, SCH 40S, ASTM A403 Gr WP 304L, ASME B1
    DESCRIPTION  6.9 TYPE C
    Schedule  40S
    PressureClass  
    Material  
ITEM-CODE  Buttweld-12
    Schedule  
    PressureClass  
    Material  
ITEM-CODE  SS40S-1631
    DESCRIPTION  FLANGE LJ, 150 LB, ASTM A182 Gr F304, ASME B16.5, FF
    Schedule  
    PressureClass  150
    Material  
ITEM-CODE  SSS3-11529
    DESCRIPTION  EMPAQUE LAMINA GARLOCK BLUE 3700 X 1/8"
    Schedule  
    PressureClass  150
    Material  
ITEM-CODE  SSS3-9056-120.64999999999999
    DESCRIPTION  BOLT SET, RF, 150 LB, STUD BOLT
    Schedule  
    PressureClass  150
    Material  SS
ITEM-CODE  CP IMPERIAL Valve
    DESCRIPTION  KNIFE GATE VALVE, 150 LB, LUG, RF, ASME B16.10
    Schedule  
    PressureClass  150
    Material  
ITEM-CODE  SSS3-12531
    DESCRIPTION  FLANGE LJ, 150 LB, FF, ASME B16.5, ASTM A 105
    Schedule  
    PressureClass  150
    Material  
ITEM-CODE  SSS3-10231
    DESCRIPTION  STUB-END FOR LAP FLANGE, SHORT PATTERN, ASME B16.9-C, ASTM A312
    DESCRIPTION   Gr TP 304L
    Schedule  10
    PressureClass  
    Material  
ITEM-CODE  SSS3-960
    DESCRIPTION  PIPE, ERW, PE, ASME B36.19, ASTM A312 Gr TP 304L, Sch 10s
    Schedule  10
    PressureClass  
    Material  SS
ITEM-CODE  SSS3-243
    DESCRIPTION  ELL 45 LR, SCH 10S, ASTM A403 Gr WP 304L, ASME B16.9, BW
    Schedule  10S
    PressureClass  
    Material  SS
ITEM-CODE  SSS3-275
    DESCRIPTION  ELL 90 LR, SCH 10S, ASTM A403 Gr WP 304L, ASME B16.9, BW
    Schedule  10S
    PressureClass  
    Material  SS
ITEM-CODE  SSS3-899
    DESCRIPTION  REDUCER (ECC), SCH 10S, ASTM A403 Gr WP 304L, ASME B16.9, BW
    Schedule  10S
    PressureClass  
    Material  SS
ITEM-CODE  Buttweld-10
    Schedule  
    PressureClass  
    Material  
ITEM-CODE  SSS3-10229
    DESCRIPTION  STUB-END, SHORT PATTERN, SCH 10S, ASTM A403 Gr WP 304L, ASME B1
    DESCRIPTION  6.9 TYPE C
    Schedule  10S
    PressureClass  
    Material  
ITEM-CODE  SSS3-12529
    DESCRIPTION  FLANGE LJ, 150 LB, ASTM A182 Gr F304, ASME B16.5, FF
    Schedule  
    PressureClass  150
    Material  
ITEM-CODE  SS40S-5904
    DESCRIPTION  REDUCER (ECC), SCH 40S, ASTM A403 Gr WP 304L, ASME B16.9, BW
    Schedule  40S
    PressureClass  
    Material  
ITEM-CODE  Buttweld-8
    Schedule  
    PressureClass  
    Material  
ITEM-CODE  SS40S-1500
    DESCRIPTION  STUB-END, SHORT PATTERN, SCH 40S, ASTM A403 Gr WP 304L, ASME B1
    DESCRIPTION  6.9 TYPE C
    Schedule  40S
    PressureClass  
    Material  
ITEM-CODE  SS40S-1627
    DESCRIPTION  FLANGE LJ, 150 LB, ASTM A182 Gr F304, ASME B16.5, FF
    Schedule  
    PressureClass  150
    Material  
ITEM-CODE  SS40S-3746
    DESCRIPTION  GASKET, FLAT RING x 150 LB, THK 1/16"
    Schedule  
    PressureClass  150
    Material  
ITEM-CODE  SS40S-1012-107.94999999999997
    DESCRIPTION  BOLT SET, RF, 150 LB, STUD BOLT
    Schedule  
    PressureClass  150
    Material  
ITEM-CODE  PipeSupportsSpec-741
    DESCRIPTION  U-clamp
    Schedule  
    PressureClass  
    Material  
ITEM-CODE  SS40S-2722
    DESCRIPTION  STANDARD U-BOLT, MSS SP-58, ASTM A193 Gr B8L
    Schedule  
    PressureClass  
    Material  ASTM A193 Gr B8L
ITEM-CODE  SS40S-2717
    DESCRIPTION  STANDARD U-BOLT, MSS SP-58, ASTM A193 Gr B8L
    Schedule  
    PressureClass  
    Material  ASTM A193 Gr B8L