ISOGEN-FILES  ISOCONFIG.FLS
UNITS-BORE  INCH
UNITS-CO-ORDS  MM
UNITS-WEIGHT  KGS
UNITS-BOLT-DIA  INCH
UNITS-BOLT-LENGTH  MM
PIPELINE-REFERENCE    PMTUB5-311-LFI-6"-150H2A-1
    DATE-DMY 09/08/26
    ATTRIBUTE1  I24.104-PP30-PP01-TUM-ISO-057
    ATTRIBUTE2  PMTUB5-311-LFI-6"-150H2A
    ATTRIBUTE3  I24.104-PP30-PP01-TUM-ISO-057
    ATTRIBUTE4  INGENIERÍA DE DETALLE 
    ATTRIBUTE5  EUCALYPTUS PULP PRODUCTION OPTIMIZATION PROJECT
    PROJECT-IDENTIFIER  
    REVISION  0
    AREA  
    PIPING-SPEC  SSS3
    INSULATION-SPEC  
    TRACING-SPEC  
END-POSITION-NULL
    CO-ORDS          -768.7742    0.9123    -52.1937
END-POSITION-NULL
    CO-ORDS          3.7534    0.9123    0.1938
END-POSITION-NULL
    CO-ORDS          -276.5218    521.9056    -783.8185
VALVE
    END-POINT        -768.7742    0.9123    -52.1937    10.0000  FL
    END-POINT        -698.7742    0.9123    -52.1937    10.0000  FL
    SKEY  CVFL
    ITEM-CODE  SSS3-11141
    ITEM-DESCRIPTION  KNIFE GATE VALVE, 150 LB, WF, RF, ASME B16.10
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
GASKET
    END-POINT        -698.7742    0.9123    -52.1937    10.0000
    END-POINT        -695.5992    0.9123    -52.1937    10.0000
    ITEM-CODE  SSS3-11527
    ITEM-DESCRIPTION  EMPAQUE LAMINA GARLOCK BLUE 3700 X 1/8"
    ERECTION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
    WEIGHT  1.1385285312528348
LAPJOINT-STUBEND
    END-POINT        -695.5992    0.9123    -52.1937    10.0000  LAP
    END-POINT        -568.5992    0.9123    -52.1937    10.0000  BW
    SKEY  FLSE
    ITEM-CODE  SSS3-10229
    ITEM-DESCRIPTION  STUB-END FOR LAP FLANGE, SHORT PATTERN, ASME B16.9-C, ASTM A312 Gr TP 304L
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_10
    WEIGHT  6.327678490429102
FLANGE
    END-POINT        -695.5992    0.9123    -52.1937    10.0000  FL
    END-POINT        -695.5992    0.9123    -52.1937    10.0000  LAP
    SKEY  FLFL
    ITEM-CODE  SSS3-12529
    ITEM-DESCRIPTION  FLANGE LJ, 150 LB, FF, ASME B16.5, ASTM A 105
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
    WEIGHT  16.329492878526715
PIPE
    END-POINT        -568.5992    0.9123    -52.1937    10.0000
    END-POINT        -266.1216    0.9123    -52.1937    10.0000
    ITEM-CODE  SSS3-958
    ITEM-DESCRIPTION  PIPE, SCH 10S, ASME B36.19, ASTM A312 Gr TP 304L, WELDED/SEAMLESS, PE
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    INSULATION-SPEC  PP
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   INSULATIONTHICKNESS_30
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_10S
    WEIGHT  40.52
WELD
    END-POINT        -568.5992    0.9123    -52.1937    10.0000
    END-POINT        -568.5992    0.9123    -52.1937    10.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
ELBOW
    END-POINT        -416.1216    0.9123    -607.6186    2.0000  SW
    END-POINT        -406.2606    37.7141    -645.7186    2.0000  SW
    CENTRE-POINT     -416.1216    0.9123    -645.7186
    SKEY  ELSW
    ITEM-CODE  SSS3-306
    ITEM-DESCRIPTION  ELL 90, 3000 LB, ASTM A182 GR F304L, ASME B16.11, SW
    FABRICATION-ITEM
    ANGLE   9000
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_3000
    WEIGHT  3.5625
WELD
    END-POINT        -416.1216    0.9123    -607.6186    2.0000
    END-POINT        -416.1216    0.9123    -607.6186    2.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
PIPE
    END-POINT        -416.1216    0.9123    -402.7640    2.0000
    END-POINT        -416.1216    0.9123    -607.6186    2.0000
    ITEM-CODE  SSS3-948
    ITEM-DESCRIPTION  PIPE, SCH 10S, ASME B36.19, ASTM A312 Gr TP 304L, WELDED/SEAMLESS, PE
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_10S
    WEIGHT  3.66
WELD
    END-POINT        -416.1216    0.9123    -402.7640    2.0000
    END-POINT        -416.1216    0.9123    -402.7640    2.0000
    SKEY  SC
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
VALVE
    END-POINT        -416.1216    0.9123    -310.9437    2.0000  SC
    END-POINT        -416.1216    0.9123    -402.7640    2.0000  SC
    SKEY  VBSC
    ITEM-CODE  BALL VALVE, FULL BORE, 2" ND, 150 LB, CF8M, SEALS TEFLON, THD
    ITEM-DESCRIPTION  BALL VALVE, FULL BORE, 150 LB, CF8M, SEALS TEFLON, THD
    FABRICATION-ITEM
    TAG  PMVAL1-316
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
WELD
    END-POINT        -416.1216    0.9123    -310.9437    2.0000
    END-POINT        -416.1216    0.9123    -310.9437    2.0000
    SKEY  SC
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
PIPE
    END-POINT        -416.1216    0.9123    -210.9437    2.0000
    END-POINT        -416.1216    0.9123    -310.9437    2.0000
    ITEM-CODE  SSS3-948
    ITEM-DESCRIPTION  PIPE, SCH 10S, ASME B36.19, ASTM A312 Gr TP 304L, WELDED/SEAMLESS, PE
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_10S
    WEIGHT  3.66
WELD
    END-POINT        -416.1216    0.9123    -210.9437    2.0000
    END-POINT        -416.1216    0.9123    -210.9437    2.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
OLET
    CENTRE-POINT     -416.1216    0.9123    -52.1937
    BRANCH1-POINT    -416.1216    0.9123    -210.9437    2.0000  SW
    SKEY  SKSW
    ITEM-CODE  SSS3-1031
    ITEM-DESCRIPTION  SOCKOLET, 3000 LB, ASTM A182 Gr F304L, ASME B16.11, BWXSW
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_3000
    WEIGHT  1.49
WELD
    END-POINT        -416.1216    0.9123    -52.1937    10.0000
    END-POINT        -416.1216    0.9123    -52.1937    10.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
WELD
    END-POINT        -406.2606    37.7141    -645.7186    2.0000
    END-POINT        -406.2606    37.7141    -645.7186    2.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
PIPE
    END-POINT        -406.2606    37.7141    -645.7186    2.0000
    END-POINT        -286.3829    485.1038    -645.7186    2.0000
    ITEM-CODE  SSS3-948
    ITEM-DESCRIPTION  PIPE, SCH 10S, ASME B36.19, ASTM A312 Gr TP 304L, WELDED/SEAMLESS, PE
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_10S
    WEIGHT  5.4466696906468295
WELD
    END-POINT        -286.3829    485.1038    -645.7186    2.0000
    END-POINT        -286.3829    485.1038    -645.7186    2.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
ELBOW
    END-POINT        -286.3829    485.1038    -645.7186    2.0000  SW
    END-POINT        -276.5219    521.9056    -683.8186    2.0000  SW
    CENTRE-POINT     -276.5219    521.9056    -645.7186
    SKEY  ELSW
    ITEM-CODE  SSS3-306
    ITEM-DESCRIPTION  ELL 90, 3000 LB, ASTM A182 GR F304L, ASME B16.11, SW
    FABRICATION-ITEM
    ANGLE   9000
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_3000
    WEIGHT  1.6159393994375397
PIPE
    END-POINT        -276.5219    521.9056    -683.8186    2.0000
    END-POINT        -276.5219    521.9056    -783.8185    2.0000
    ITEM-CODE  SSS3-948
    ITEM-DESCRIPTION  PIPE, SCH 10S, ASME B36.19, ASTM A312 Gr TP 304L, WELDED/SEAMLESS, PE
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_10S
    WEIGHT  5.4466696906468295
WELD
    END-POINT        -276.5219    521.9056    -683.8186    2.0000
    END-POINT        -276.5219    521.9056    -683.8186    2.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
WELD
    END-POINT        -266.1216    0.9123    -52.1937    10.0000
    END-POINT        -266.1216    0.9123    -52.1937    10.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
REDUCER-ECCENTRIC
    END-POINT        -266.1216    0.9123    -52.1937    10.0000  BW
    END-POINT        -88.3216    0.9123    0.1938    6.0000  BW
    SKEY  REBW
    ITEM-CODE  SSS3-891
    ITEM-DESCRIPTION  REDUCER (ECC), SCH 10S, ASTM A403 Gr WP 304L, ASME B16.9, BW
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    INSULATION-SPEC  PP
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   INSULATIONTHICKNESS_30
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_10S
    WEIGHT  23.58
    FLAT-DIRECTION  UP
LAPJOINT-STUBEND
    END-POINT        0.5784    0.9123    0.1938    6.0000  LAP
    END-POINT        -88.3216    0.9123    0.1938    6.0000  BW
    SKEY  FLSE
    ITEM-CODE  SSS3-10225
    ITEM-DESCRIPTION  STUB-END, SHORT PATTERN, SCH 10S, ASTM A403 Gr WP 304L, ASME B16.9 TYPE C
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_10S
    WEIGHT  4.93
WELD
    END-POINT        -88.3216    0.9123    0.1938    6.0000
    END-POINT        -88.3216    0.9123    0.1938    6.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
FLANGE
    END-POINT        0.5784    0.9123    0.1938    6.0000  FL
    END-POINT        0.5784    0.9123    0.1938    6.0000  LAP
    SKEY  FLFL
    ITEM-CODE  SSS3-12525
    ITEM-DESCRIPTION  FLANGE LJ, 150 LB, ASTM A182 Gr F304, ASME B16.5, FF
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
    WEIGHT  18
GASKET
    END-POINT        0.5784    0.9123    0.1938    6.0000
    END-POINT        3.7534    0.9123    0.1938    6.0000
    ITEM-CODE  SSS3-11523
    ITEM-DESCRIPTION  GASKET, FLAT RING x 150 LB, THK 1/16"
    ERECTION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
    WEIGHT  1.23
BOLT
    CO-ORDS          3.7534    0.9123    0.1938    6.0000
    BOLT-DIA  3/4
    BOLT-ITEM-CODE  SSS3-9053-101.59999999999998
    ITEM-DESCRIPTION  BOLT SET, RF, 150 LB, STUD BOLT
    ERECTION-ITEM
    BOLT-QUANTITY  8
    BOLT-LENGTH  101.59999999999998
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
PIPELINE-REFERENCE    PMTUB5-311-LFI-6"-150H2A-2
    DATE-DMY 09/08/26
    ATTRIBUTE1  I24.104-PP30-PP01-TUM-ISO-057
    ATTRIBUTE2  PMTUB5-311-LFI-6"-150H2A
    ATTRIBUTE3  I24.104-PP30-PP01-TUM-ISO-057
    ATTRIBUTE4  INGENIERÍA DE DETALLE 
    ATTRIBUTE5  EUCALYPTUS PULP PRODUCTION OPTIMIZATION PROJECT
    PROJECT-IDENTIFIER  
    REVISION  0
    AREA  
    PIPING-SPEC  SSS3
    INSULATION-SPEC  
    TRACING-SPEC  
END-POSITION-NULL
    CO-ORDS          3.7534    0.9123    0.1938
END-POSITION-NULL
    CO-ORDS          -276.5218    521.9056    -783.8185
END-POSITION-NULL
    CO-ORDS          -696.2966    0.9123    -52.1937
GASKET
    END-POINT        -693.1216    0.9123    -52.1937    10.0000
    END-POINT        -696.2966    0.9123    -52.1937    10.0000
    ITEM-CODE  SSS3-11527
    ITEM-DESCRIPTION  GASKET, FLAT RING x 150 LB, THK 1/16"
    ERECTION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
    WEIGHT  2.51
FLANGE
    END-POINT        -693.1216    0.9123    -52.1937    10.0000  FL
    END-POINT        -693.1216    0.9123    -52.1937    10.0000  LAP
    SKEY  FLFL
    ITEM-CODE  SSS3-12529
    ITEM-DESCRIPTION  FLANGE LJ, 150 LB, ASTM A182 Gr F304, ASME B16.5, FF
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
    WEIGHT  36
LAPJOINT-STUBEND
    END-POINT        -693.1216    0.9123    -52.1937    10.0000  LAP
    END-POINT        -566.1216    0.9123    -52.1937    10.0000  BW
    SKEY  FLSE
    ITEM-CODE  SSS3-10229
    ITEM-DESCRIPTION  STUB-END, SHORT PATTERN, SCH 10S, ASTM A403 Gr WP 304L, ASME B16.9 TYPE C
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_10S
    WEIGHT  13.95
WELD
    END-POINT        -566.1216    0.9123    -52.1937    10.0000
    END-POINT        -566.1216    0.9123    -52.1937    10.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
PIPE
    END-POINT        -566.1216    0.9123    -52.1937    10.0000
    END-POINT        -266.1216    0.9123    -52.1937    10.0000
    ITEM-CODE  SSS3-958
    ITEM-DESCRIPTION  PIPE, SCH 10S, ASME B36.19, ASTM A312 Gr TP 304L, WELDED/SEAMLESS, PE
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    INSULATION-SPEC  PP
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   INSULATIONTHICKNESS_30
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_10S
    WEIGHT  40.52
WELD
    END-POINT        -416.1216    0.9123    -607.6186    2.0000
    END-POINT        -416.1216    0.9123    -607.6186    2.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
ELBOW
    END-POINT        -416.1216    0.9123    -607.6186    2.0000  SW
    END-POINT        -406.2606    37.7141    -645.7186    2.0000  SW
    CENTRE-POINT     -416.1216    0.9123    -645.7186
    SKEY  ELSW
    ITEM-CODE  SSS3-306
    ITEM-DESCRIPTION  ELL 90, 3000 LB, ASTM A182 GR F304L, ASME B16.11, SW
    FABRICATION-ITEM
    ANGLE   9000
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_3000
    WEIGHT  3.5625
PIPE
    END-POINT        -416.1216    0.9123    -402.7640    2.0000
    END-POINT        -416.1216    0.9123    -607.6186    2.0000
    ITEM-CODE  SSS3-948
    ITEM-DESCRIPTION  PIPE, SCH 10S, ASME B36.19, ASTM A312 Gr TP 304L, WELDED/SEAMLESS, PE
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_10S
    WEIGHT  3.66
VALVE
    END-POINT        -416.1216    0.9123    -310.9437    2.0000  SC
    END-POINT        -416.1216    0.9123    -402.7640    2.0000  SC
    SKEY  VBSC
    ITEM-CODE  BALL VALVE, FULL BORE, 2" ND, 300 LB, FPT, ASME B16.10
    ITEM-DESCRIPTION  BALL VALVE, FULL BORE, NPT, ASME B16.10
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
WELD
    END-POINT        -416.1216    0.9123    -402.7640    2.0000
    END-POINT        -416.1216    0.9123    -402.7640    2.0000
    SKEY  SC
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
PIPE
    END-POINT        -416.1216    0.9123    -210.9437    2.0000
    END-POINT        -416.1216    0.9123    -310.9437    2.0000
    ITEM-CODE  SSS3-948
    ITEM-DESCRIPTION  PIPE, SCH 10S, ASME B36.19, ASTM A312 Gr TP 304L, WELDED/SEAMLESS, PE
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_10S
    WEIGHT  3.66
WELD
    END-POINT        -416.1216    0.9123    -310.9437    2.0000
    END-POINT        -416.1216    0.9123    -310.9437    2.0000
    SKEY  SC
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
OLET
    CENTRE-POINT     -416.1216    0.9123    -52.1937
    BRANCH1-POINT    -416.1216    0.9123    -210.9437    2.0000  SW
    SKEY  SKSW
    ITEM-CODE  SSS3-1031
    ITEM-DESCRIPTION  SOCKOLET, 3000 LB, ASTM A182 Gr F304L, ASME B16.11, BWXSW
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_3000
    WEIGHT  1.49
WELD
    END-POINT        -416.1216    0.9123    -210.9437    2.0000
    END-POINT        -416.1216    0.9123    -210.9437    2.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
WELD
    END-POINT        -416.1216    0.9123    -52.1937    10.0000
    END-POINT        -416.1216    0.9123    -52.1937    10.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
WELD
    END-POINT        -406.2606    37.7141    -645.7186    2.0000
    END-POINT        -406.2606    37.7141    -645.7186    2.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
PIPE
    END-POINT        -406.2606    37.7141    -645.7186    2.0000
    END-POINT        -286.3829    485.1038    -645.7186    2.0000
    ITEM-CODE  SSS3-948
    ITEM-DESCRIPTION  PIPE, SCH 10S, ASME B36.19, ASTM A312 Gr TP 304L, WELDED/SEAMLESS, PE
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_10S
    WEIGHT  5.4466696906468295
WELD
    END-POINT        -286.3829    485.1038    -645.7186    2.0000
    END-POINT        -286.3829    485.1038    -645.7186    2.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
ELBOW
    END-POINT        -286.3829    485.1038    -645.7186    2.0000  SW
    END-POINT        -276.5219    521.9056    -683.8186    2.0000  SW
    CENTRE-POINT     -276.5219    521.9056    -645.7186
    SKEY  ELSW
    ITEM-CODE  SSS3-306
    ITEM-DESCRIPTION  ELL 90, 3000 LB, ASTM A182 GR F304L, ASME B16.11, SW
    FABRICATION-ITEM
    ANGLE   9000
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_3000
    WEIGHT  1.6159393994375397
PIPE
    END-POINT        -276.5219    521.9056    -683.8186    2.0000
    END-POINT        -276.5219    521.9056    -783.8185    2.0000
    ITEM-CODE  SSS3-948
    ITEM-DESCRIPTION  PIPE, SCH 10S, ASME B36.19, ASTM A312 Gr TP 304L, WELDED/SEAMLESS, PE
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_10S
    WEIGHT  5.4466696906468295
WELD
    END-POINT        -276.5219    521.9056    -683.8186    2.0000
    END-POINT        -276.5219    521.9056    -683.8186    2.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
WELD
    END-POINT        -266.1216    0.9123    -52.1937    10.0000
    END-POINT        -266.1216    0.9123    -52.1937    10.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
REDUCER-ECCENTRIC
    END-POINT        -266.1216    0.9123    -52.1937    10.0000  BW
    END-POINT        -88.3216    0.9123    0.1938    6.0000  BW
    SKEY  REBW
    ITEM-CODE  SSS3-891
    ITEM-DESCRIPTION  REDUCER (ECC), SCH 10S, ASTM A403 Gr WP 304L, ASME B16.9, BW
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    INSULATION-SPEC  PP
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   INSULATIONTHICKNESS_30
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_10S
    WEIGHT  23.58
    FLAT-DIRECTION  UP
LAPJOINT-STUBEND
    END-POINT        0.5784    0.9123    0.1938    6.0000  LAP
    END-POINT        -88.3216    0.9123    0.1938    6.0000  BW
    SKEY  FLSE
    ITEM-CODE  SSS3-10225
    ITEM-DESCRIPTION  STUB-END, SHORT PATTERN, SCH 10S, ASTM A403 Gr WP 304L, ASME B16.9 TYPE C
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_10S
    WEIGHT  4.93
WELD
    END-POINT        -88.3216    0.9123    0.1938    6.0000
    END-POINT        -88.3216    0.9123    0.1938    6.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
FLANGE
    END-POINT        0.5784    0.9123    0.1938    6.0000  FL
    END-POINT        0.5784    0.9123    0.1938    6.0000  LAP
    SKEY  FLFL
    ITEM-CODE  SSS3-12525
    ITEM-DESCRIPTION  FLANGE LJ, 150 LB, ASTM A182 Gr F304, ASME B16.5, FF
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
    WEIGHT  18
GASKET
    END-POINT        0.5784    0.9123    0.1938    6.0000
    END-POINT        3.7534    0.9123    0.1938    6.0000
    ITEM-CODE  SSS3-11523
    ITEM-DESCRIPTION  GASKET, FLAT RING x 150 LB, THK 1/16"
    ERECTION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
    WEIGHT  1.23
BOLT
    CO-ORDS          3.7534    0.9123    0.1938    6.0000
    BOLT-DIA  3/4
    BOLT-ITEM-CODE  SSS3-9053-101.59999999999998
    ITEM-DESCRIPTION  BOLT SET, RF, 150 LB, STUD BOLT
    ERECTION-ITEM
    BOLT-QUANTITY  8
    BOLT-LENGTH  101.59999999999998
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
MATERIALS
ITEM-CODE  Socketweld-2
    Schedule  
    PressureClass  
    Material  
ITEM-CODE  SSS3-948
    DESCRIPTION  PIPE, SCH 10S, ASME B36.19, ASTM A312 Gr TP 304L, WELDED/SEAMLE
    DESCRIPTION  SS, PE
    Schedule  10S
    PressureClass  
    Material  SS
ITEM-CODE  SSS3-306
    DESCRIPTION  ELL 90, 3000 LB, ASTM A182 GR F304L, ASME B16.11, SW
    Schedule  
    PressureClass  3000
    Material  SS
ITEM-CODE  Thread-2
    Schedule  
    PressureClass  
    Material  
ITEM-CODE  BALL VALVE, FULL BORE, 2" ND, 150 LB, CF8M, SEALS TEFLON, THD
    DESCRIPTION  BALL VALVE, FULL BORE, 150 LB, CF8M, SEALS TEFLON, THD
    Schedule  
    PressureClass  
    Material  
ITEM-CODE  SSS3-1031
    DESCRIPTION  SOCKOLET, 3000 LB, ASTM A182 Gr F304L, ASME B16.11, BWXSW
    Schedule  
    PressureClass  3000
    Material  SS
ITEM-CODE  Tapweld-10
    Schedule  
    PressureClass  
    Material  
ITEM-CODE  SSS3-958
    DESCRIPTION  PIPE, SCH 10S, ASME B36.19, ASTM A312 Gr TP 304L, WELDED/SEAMLE
    DESCRIPTION  SS, PE
    Schedule  10S
    PressureClass  
    Material  SS
ITEM-CODE  Buttweld-10
    Schedule  
    PressureClass  
    Material  
ITEM-CODE  SSS3-891
    DESCRIPTION  REDUCER (ECC), SCH 10S, ASTM A403 Gr WP 304L, ASME B16.9, BW
    Schedule  10S
    PressureClass  
    Material  SS
ITEM-CODE  SSS3-10225
    DESCRIPTION  STUB-END, SHORT PATTERN, SCH 10S, ASTM A403 Gr WP 304L, ASME B1
    DESCRIPTION  6.9 TYPE C
    Schedule  10S
    PressureClass  
    Material  
ITEM-CODE  Buttweld-6
    Schedule  
    PressureClass  
    Material  
ITEM-CODE  SSS3-12525
    DESCRIPTION  FLANGE LJ, 150 LB, ASTM A182 Gr F304, ASME B16.5, FF
    Schedule  
    PressureClass  150
    Material  
ITEM-CODE  SSS3-11523
    DESCRIPTION  GASKET, FLAT RING x 150 LB, THK 1/16"
    Schedule  
    PressureClass  150
    Material  
ITEM-CODE  SSS3-9053-101.59999999999998
    DESCRIPTION  BOLT SET, RF, 150 LB, STUD BOLT
    Schedule  
    PressureClass  150
    Material  SS
ITEM-CODE  SSS3-10229
    DESCRIPTION  STUB-END FOR LAP FLANGE, SHORT PATTERN, ASME B16.9-C, ASTM A312
    DESCRIPTION   Gr TP 304L
    Schedule  10
    PressureClass  
    Material  
ITEM-CODE  SSS3-12529
    DESCRIPTION  FLANGE LJ, 150 LB, FF, ASME B16.5, ASTM A 105
    Schedule  
    PressureClass  150
    Material  
ITEM-CODE  SSS3-11527
    DESCRIPTION  EMPAQUE LAMINA GARLOCK BLUE 3700 X 1/8"
    Schedule  
    PressureClass  150
    Material  
ITEM-CODE  SSS3-11141
    DESCRIPTION  KNIFE GATE VALVE, 150 LB, WF, RF, ASME B16.10
    Schedule  
    PressureClass  150
    Material  
ITEM-CODE  BALL VALVE, FULL BORE, 2" ND, 300 LB, FPT, ASME B16.10
    DESCRIPTION  BALL VALVE, FULL BORE, NPT, ASME B16.10
    Schedule  
    PressureClass  
    Material  