ISOGEN-FILES  ISOCONFIG.FLS
UNITS-BORE  INCH
UNITS-CO-ORDS  MM
UNITS-WEIGHT  KGS
UNITS-BOLT-DIA  INCH
UNITS-BOLT-LENGTH  MM
PIPELINE-REFERENCE    UserDefinedLine
    DATE-DMY 07/08/26
    PROJECT-IDENTIFIER  
    REVISION  0
    AREA  
    PIPING-SPEC  SSS3
BOLT
    CO-ORDS          0.3639    92.2338    0.4786    6.0000
    BOLT-DIA  3/4
    BOLT-ITEM-CODE  SSS3-9053-101.59999999999998
    ITEM-DESCRIPTION  BOLT SET, RF, 150 LB, STUD BOLT
    ERECTION-ITEM
    BOLT-QUANTITY  8
    BOLT-LENGTH  101.59999999999998
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
FLANGE
    END-POINT        0.3639    89.0588    0.4786    6.0000  FL
    END-POINT        0.3639    0.1588    0.4786    6.0000  BW
    SKEY  FLWN
    ITEM-CODE  SSS3-12525
    ITEM-DESCRIPTION  FLANGE LJ C/W STUB-END, 150 LB, ASME B16.5 / B16.9-C
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
    WEIGHT  10.40097976957271
GASKET
    END-POINT        0.3639    89.0588    0.4786    6.0000
    END-POINT        0.3639    92.2338    0.4786    6.0000
    ITEM-CODE  SSS3-11523
    ITEM-DESCRIPTION  EMPAQUE LAMINA GARLOCK BLUE 3700 X 1/8"
    ERECTION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
    WEIGHT  0.5579243400163295
PIPE
    END-POINT        0.3639    0.1588    0.4786    6.0000
    END-POINT        0.3639    -640.4280    0.4786    6.0000
    ITEM-CODE  SSS3-954
    ITEM-DESCRIPTION  PIPE, ERW, PE, ASME B36.19, ASTM A312 Gr TP 304L, Sch 10s
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_10
    WEIGHT  28.26017962442166
WELD
    END-POINT        0.3639    0.1588    0.4786    6.0000
    END-POINT        0.3639    0.1588    0.4786    6.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
FLANGE
    END-POINT        0.3639    -729.3280    0.4786    6.0000  FL
    END-POINT        0.3639    -640.4280    0.4786    6.0000  BW
    SKEY  FLWN
    ITEM-CODE  SSS3-12525
    ITEM-DESCRIPTION  FLANGE LJ C/W STUB-END, 150 LB, ASME B16.5 / B16.9-C
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
    WEIGHT  10.40097976957271
WELD
    END-POINT        0.3639    -640.4280    0.4786    6.0000
    END-POINT        0.3639    -640.4280    0.4786    6.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
GASKET
    END-POINT        0.3639    -732.5030    0.4786    6.0000
    END-POINT        0.3639    -729.3280    0.4786    6.0000
    ITEM-CODE  SSS3-11523
    ITEM-DESCRIPTION  EMPAQUE LAMINA GARLOCK BLUE 3700 X 1/8"
    ERECTION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
    WEIGHT  0.5579243400163295
BOLT
    CO-ORDS          0.3639    -729.3280    0.4786    6.0000
    BOLT-DIA  3/4
    BOLT-ITEM-CODE  SSS3-9053-101.59999999999998
    ITEM-DESCRIPTION  BOLT SET, RF, 150 LB, STUD BOLT
    ERECTION-ITEM
    BOLT-QUANTITY  8
    BOLT-LENGTH  101.59999999999998
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
INSTRUMENT
    END-POINT        0.3639    -1032.5030    0.4786    6.0000  FL
    END-POINT        0.3639    -732.5030    0.4786    6.0000  FL
    CENTRE-POINT     0.3639    -882.5030    0.4786
    SKEY  IIFL
    ITEM-CODE  MAGNETIC FLOW METER, 6" ND, CL 150, RF
    ITEM-DESCRIPTION  MAGNETIC FLOW METER, CL 150, RF
    FABRICATION-ITEM
    TAG  FIT-I30LD25F01-F1
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
GASKET
    END-POINT        0.3639    -1032.5030    0.4786    6.0000
    END-POINT        0.3639    -1035.6780    0.4786    6.0000
    ITEM-CODE  SSS3-11523
    ITEM-DESCRIPTION  EMPAQUE LAMINA GARLOCK BLUE 3700 X 1/8"
    ERECTION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
    WEIGHT  0.5579243400163295
BOLT
    CO-ORDS          0.3639    -1035.6780    0.4786    6.0000
    BOLT-DIA  3/4
    BOLT-ITEM-CODE  SSS3-9053-101.59999999999998
    ITEM-DESCRIPTION  BOLT SET, RF, 150 LB, STUD BOLT
    ERECTION-ITEM
    BOLT-QUANTITY  8
    BOLT-LENGTH  101.59999999999998
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
FLANGE
    END-POINT        0.3639    -1035.6780    0.4786    6.0000  FL
    END-POINT        0.3639    -1124.5780    0.4786    6.0000  BW
    SKEY  FLWN
    ITEM-CODE  SSS3-12525
    ITEM-DESCRIPTION  FLANGE LJ C/W STUB-END, 150 LB, ASME B16.5 / B16.9-C
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
    WEIGHT  10.40097976957271
WELD
    END-POINT        0.3639    -1124.5780    0.4786    6.0000
    END-POINT        0.3639    -1124.5780    0.4786    6.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
PIPE
    END-POINT        0.3639    -1124.5780    0.4786    6.0000
    END-POINT        0.3639    -1248.0512    0.4786    6.0000
    ITEM-CODE  SSS3-954
    ITEM-DESCRIPTION  PIPE, ERW, PE, ASME B36.19, ASTM A312 Gr TP 304L, Sch 10s
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_10
    WEIGHT  28.26017962442166
FLANGE
    END-POINT        0.3639    -1336.9512    0.4786    6.0000  FL
    END-POINT        0.3639    -1248.0512    0.4786    6.0000  BW
    SKEY  FLWN
    ITEM-CODE  SSS3-12525
    ITEM-DESCRIPTION  FLANGE LJ C/W STUB-END, 150 LB, ASME B16.5 / B16.9-C
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
    WEIGHT  10.40097976957271
WELD
    END-POINT        0.3639    -1248.0512    0.4786    6.0000
    END-POINT        0.3639    -1248.0512    0.4786    6.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
GASKET
    END-POINT        0.3639    -1340.1262    0.4786    6.0000
    END-POINT        0.3639    -1336.9512    0.4786    6.0000
    ITEM-CODE  SSS3-11523
    ITEM-DESCRIPTION  EMPAQUE LAMINA GARLOCK BLUE 3700 X 1/8"
    ERECTION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
    WEIGHT  0.5579243400163295
BOLT
    CO-ORDS          0.3639    -1336.9512    0.4786    6.0000
    BOLT-DIA  3/4
    BOLT-ITEM-CODE  SSS3-9053-101.59999999999998
    ITEM-DESCRIPTION  BOLT SET, RF, 150 LB, STUD BOLT
    ERECTION-ITEM
    BOLT-QUANTITY  8
    BOLT-LENGTH  101.59999999999998
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
VALVE
    END-POINT        0.3639    -1340.1262    0.4786    6.0000  FL
    END-POINT        0.3639    -1568.7262    0.4786    6.0000  FL
    SKEY  VBFL
    ITEM-CODE  BALL VALVE, PNEUMATIC ACTUATOR, 6" ND, 150 LB, RF, ASME B16.10
    ITEM-DESCRIPTION  BALL VALVE - PNEUMATIC ACTUATOR, ASME B16.10
    FABRICATION-ITEM
    TAG  I30LD25F01-V1
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
GASKET
    END-POINT        0.3639    -1568.7262    0.4786    6.0000
    END-POINT        0.3639    -1571.9012    0.4786    6.0000
    ITEM-CODE  SSS3-11523
    ITEM-DESCRIPTION  EMPAQUE LAMINA GARLOCK BLUE 3700 X 1/8"
    ERECTION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
    WEIGHT  0.5579243400163295
BOLT
    CO-ORDS          0.3639    -1571.9012    0.4786    6.0000
    BOLT-DIA  3/4
    BOLT-ITEM-CODE  SSS3-9053-101.59999999999998
    ITEM-DESCRIPTION  BOLT SET, RF, 150 LB, STUD BOLT
    ERECTION-ITEM
    BOLT-QUANTITY  8
    BOLT-LENGTH  101.59999999999998
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
FLANGE
    END-POINT        0.3639    -1571.9012    0.4786    6.0000  FL
    END-POINT        0.3639    -1660.8012    0.4786    6.0000  BW
    SKEY  FLWN
    ITEM-CODE  SSS3-12525
    ITEM-DESCRIPTION  FLANGE LJ C/W STUB-END, 150 LB, ASME B16.5 / B16.9-C
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
    WEIGHT  10.40097976957271
WELD
    END-POINT        0.3639    -1660.8012    0.4786    6.0000
    END-POINT        0.3639    -1660.8012    0.4786    6.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
PIPE
    END-POINT        0.3639    -1660.8012    0.4786    6.0000
    END-POINT        0.3639    -1759.6266    0.4786    6.0000
    ITEM-CODE  SSS3-954
    ITEM-DESCRIPTION  PIPE, ERW, PE, ASME B36.19, ASTM A312 Gr TP 304L, Sch 10s
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_10
    WEIGHT  28.26017962442166
SUPPORT
    CO-ORDS          0.3639    -1728.0343    0.4786    6.0000
    SKEY  ANCH
    ITEM-CODE  SSS3-9717
    ITEM-DESCRIPTION  SP-05 SKC
    SUPPORT-DIRECTION  UP
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
PIPE
    END-POINT        0.3639    -1988.2266    229.0786    6.0000
    END-POINT        0.3639    -1988.2266    762.9343    6.0000
    ITEM-CODE  SSS3-954
    ITEM-DESCRIPTION  PIPE, ERW, PE, ASME B36.19, ASTM A312 Gr TP 304L, Sch 10s
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_10
    WEIGHT  28.26017962442166
WELD
    END-POINT        0.3639    -1988.2266    762.9343    6.0000
    END-POINT        0.3639    -1988.2266    762.9343    6.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
ELBOW
    END-POINT        0.3639    -1988.2266    762.9343    6.0000  BW
    END-POINT        228.9639    -1988.2266    991.5343    6.0000  BW
    CENTRE-POINT     0.3639    -1988.2266    991.5343
    SKEY  ELBW
    ITEM-CODE  SSS3-269
    ITEM-DESCRIPTION  ELL 90 LR, BW, ASME B16.9, ASTM A403 Gr WP 304L, Sch 10s
    FABRICATION-ITEM
    ANGLE   9000
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_10
    WEIGHT  10.196861108591127
ELBOW
    END-POINT        0.3639    -1759.6266    0.4786    6.0000  BW
    END-POINT        0.3639    -1988.2266    229.0786    6.0000  BW
    CENTRE-POINT     0.3639    -1988.2266    0.4786
    SKEY  ELBW
    ITEM-CODE  SSS3-269
    ITEM-DESCRIPTION  ELL 90 LR, BW, ASME B16.9, ASTM A403 Gr WP 304L, Sch 10s
    FABRICATION-ITEM
    ANGLE   9000
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_10
    WEIGHT  10.196861108591127
WELD
    END-POINT        0.3639    -1988.2266    229.0786    6.0000
    END-POINT        0.3639    -1988.2266    229.0786    6.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
VALVE
    END-POINT        0.3639    -1913.2091    -153.7588    1.5000  SC
    END-POINT        0.3639    -1937.0380    -213.1573    1.5000  SC
    SKEY  VBSC
    ITEM-CODE  SSS3-11815
    ITEM-DESCRIPTION  BALL VALVE, FULL BORE, NPT, ASME B16.10
    FABRICATION-ITEM
    TAG  PMVAL 1-321
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
WELD
    END-POINT        0.3639    -1913.2091    -153.7588    1.5000
    END-POINT        0.3639    -1913.2091    -153.7588    1.5000
    SKEY  SC
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
PIPE
    END-POINT        0.3639    -1884.3418    -81.8008    1.5000
    END-POINT        0.3639    -1913.2091    -153.7588    1.5000
    ITEM-CODE  SSS3-946
    ITEM-DESCRIPTION  PIPE, ERW, PE, ASME B36.19, ASTM A312 Gr TP 304L, Sch 10s
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_10
    WEIGHT  4.047798240043545
OLET
    CENTRE-POINT     0.3639    -1844.7403    0.4786
    BRANCH1-POINT    0.3639    -1884.3418    -81.8008    1.5000  SW
    SKEY  SKSW
    ITEM-CODE  SS3-1009
    ITEM-DESCRIPTION  SOCKOLET, 3000 LB, BWXSW, 7/8" LG, ASME B16.11, ASTM A182 Gr F304
    FABRICATION-ITEM
    PIPING-SPEC  SS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_3000
    WEIGHT  0.43545314342737906
WELD
    END-POINT        0.3639    -1884.3418    -81.8008    1.5000
    END-POINT        0.3639    -1884.3418    -81.8008    1.5000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
WELD
    END-POINT        0.3639    -1844.7403    0.4786    6.0000
    END-POINT        0.3639    -1844.7403    0.4786    6.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
WELD
    END-POINT        0.3639    -1759.6266    0.4786    6.0000
    END-POINT        0.3639    -1759.6266    0.4786    6.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
WELD
    END-POINT        228.9639    -1988.2266    991.5343    6.0000
    END-POINT        228.9639    -1988.2266    991.5343    6.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
PIPE
    END-POINT        809.4307    -1988.2266    991.5343    6.0000
    END-POINT        228.9639    -1988.2266    991.5343    6.0000
    ITEM-CODE  SSS3-954
    ITEM-DESCRIPTION  PIPE, ERW, PE, ASME B36.19, ASTM A312 Gr TP 304L, Sch 10s
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_10
    WEIGHT  28.26017962442166
FLANGE
    END-POINT        898.3307    -1988.2266    991.5343    6.0000  FL
    END-POINT        809.4307    -1988.2266    991.5343    6.0000  BW
    SKEY  FLWN
    ITEM-CODE  SSS3-12525
    ITEM-DESCRIPTION  FLANGE LJ C/W STUB-END, 150 LB, ASME B16.5 / B16.9-C
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
    WEIGHT  10.40097976957271
WELD
    END-POINT        809.4307    -1988.2266    991.5343    6.0000
    END-POINT        809.4307    -1988.2266    991.5343    6.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
GASKET
    END-POINT        898.3307    -1988.2266    991.5343    6.0000
    END-POINT        901.5057    -1988.2266    991.5343    6.0000
    ITEM-CODE  SSS3-11523
    ITEM-DESCRIPTION  EMPAQUE LAMINA GARLOCK BLUE 3700 X 1/8"
    ERECTION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
    WEIGHT  0.5579243400163295
BOLT
    CO-ORDS          901.5057    -1988.2266    991.5343    6.0000
    BOLT-DIA  3/4
    BOLT-ITEM-CODE  SSS3-9053-101.59999999999998
    ITEM-DESCRIPTION  BOLT SET, RF, 150 LB, STUD BOLT
    ERECTION-ITEM
    BOLT-QUANTITY  8
    BOLT-LENGTH  101.59999999999998
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
MATERIALS
ITEM-CODE  SSS3-954
    DESCRIPTION  PIPE, ERW, PE, ASME B36.19, ASTM A312 Gr TP 304L, Sch 10s
    Schedule  10
    PressureClass  
    Material  SS
ITEM-CODE  SSS3-10225
    DESCRIPTION  STUB-END FOR LAP FLANGE, SHORT PATTERN, ASME B16.9-C, ASTM A312
    DESCRIPTION   Gr TP 304L
    Schedule  10
    PressureClass  
    Material  
ITEM-CODE  Buttweld-6
    Schedule  
    PressureClass  
    Material  
ITEM-CODE  SSS3-12525
    DESCRIPTION  FLANGE LJ, 150 LB, FF, ASME B16.5, ASTM A 105
    Schedule  
    PressureClass  150
    Material  
ITEM-CODE  SSS3-11523
    DESCRIPTION  EMPAQUE LAMINA GARLOCK BLUE 3700 X 1/8"
    Schedule  
    PressureClass  150
    Material  
ITEM-CODE  SSS3-9053-101.59999999999998
    DESCRIPTION  BOLT SET, RF, 150 LB, STUD BOLT
    Schedule  
    PressureClass  150
    Material  SS
ITEM-CODE  MAGNETIC FLOW METER, 6" ND, CL 150, RF
    DESCRIPTION  MAGNETIC FLOW METER, CL 150, RF
    Schedule  
    PressureClass  150
    Material  
ITEM-CODE  BALL VALVE, PNEUMATIC ACTUATOR, 6" ND, 150 LB, RF, ASME B16.10
    DESCRIPTION  BALL VALVE - PNEUMATIC ACTUATOR, ASME B16.10
    Schedule  
    PressureClass  150
    Material  
ITEM-CODE  SSS3-269
    DESCRIPTION  ELL 90 LR, BW, ASME B16.9, ASTM A403 Gr WP 304L, Sch 10s
    Schedule  10
    PressureClass  
    Material  SS
ITEM-CODE  Tapweld-6
    Schedule  
    PressureClass  
    Material  
ITEM-CODE  SS3-1009
    DESCRIPTION  SOCKOLET, 3000 LB, BWXSW, 7/8" LG, ASME B16.11, ASTM A182 Gr F3
    DESCRIPTION  04
    Schedule  
    PressureClass  3000
    Material  SS
ITEM-CODE  Socketweld-1.5
    Schedule  
    PressureClass  
    Material  
ITEM-CODE  SSS3-946
    DESCRIPTION  PIPE, ERW, PE, ASME B36.19, ASTM A312 Gr TP 304L, Sch 10s
    Schedule  10
    PressureClass  
    Material  SS
ITEM-CODE  Thread-1.5
    Schedule  
    PressureClass  
    Material  
ITEM-CODE  SSS3-11815
    DESCRIPTION  BALL VALVE, FULL BORE, NPT, ASME B16.10
    Schedule  
    PressureClass  
    Material  
ITEM-CODE  SSS3-9717
    DESCRIPTION  SP-05 SKC
    Schedule  
    PressureClass  
    Material  
