ISOGEN-FILES  ISOCONFIG.FLS
UNITS-BORE  INCH
UNITS-CO-ORDS  MM
UNITS-WEIGHT  KGS
UNITS-BOLT-DIA  INCH
UNITS-BOLT-LENGTH  MM
PIPELINE-REFERENCE    PMTUB5-310-LFI-6"-150H2A-1
    DATE-DMY 09/08/26
    ATTRIBUTE1  I24.104-PP30-PP01-TUM-ISO-056
    ATTRIBUTE2  PMTUB5-310-LFI-6"-150H2A
    ATTRIBUTE3  I24.104-PP30-PP01-TUM-ISO-056
    ATTRIBUTE4  INGENIERÍA DE DETALLE 
    ATTRIBUTE5  EUCALYPTUS PULP PRODUCTION OPTIMIZATION PROJECT
    PROJECT-IDENTIFIER  
    REVISION  0
    AREA  
    PIPING-SPEC  SSS3
    INSULATION-SPEC  
    TRACING-SPEC  
END-POSITION-NULL
    CO-ORDS          -728.0591    66.3155    39.0001
END-POSITION-NULL
    CO-ORDS          79.4385    66.3155    65.9876
END-POSITION-NULL
    CO-ORDS          -245.5350    -443.8478    -698.8186
GASKET
    END-POINT        -724.8841    66.3156    39.0000    6.0000
    END-POINT        -728.0591    66.3156    39.0000    6.0000
    ITEM-CODE  SSS3-11523
    ITEM-DESCRIPTION  GASKET, FLAT RING x 150 LB, THK 1/16"
    ERECTION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
    WEIGHT  1.23
VALVE
    END-POINT        -724.8841    66.3156    39.0000    6.0000  FL
    END-POINT        -667.5841    66.3156    39.0000    6.0000  FL
    SKEY  VYFL
    ITEM-CODE  SSS3-11859
    ITEM-DESCRIPTION  BUTTERFLY VALVE, 150 LB, CF8M, SEALS TEFLON, ASME B16.5, ASME B16.10, LUG, RF, HAND WHEEL
    FABRICATION-ITEM
    TAG  PMVAL1-313
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
BOLT
    CO-ORDS          -724.8841    66.3156    39.0000    6.0000
    BOLT-DIA  3/4
    BOLT-ITEM-CODE  SSS3-9073-95.25
    ITEM-DESCRIPTION  BOLT SET, RF, 150 LB, LUG BOLT
    ERECTION-ITEM
    BOLT-QUANTITY  8
    BOLT-LENGTH  95.25
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
GASKET
    END-POINT        -664.4091    66.3156    39.0000    6.0000
    END-POINT        -667.5841    66.3156    39.0000    6.0000
    ITEM-CODE  SSS3-11523
    ITEM-DESCRIPTION  GASKET, FLAT RING x 150 LB, THK 1/16"
    ERECTION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
    WEIGHT  1.23
BOLT
    CO-ORDS          -667.5841    66.3156    39.0000    6.0000
    BOLT-DIA  3/4
    BOLT-ITEM-CODE  SSS3-9073-95.25
    ITEM-DESCRIPTION  BOLT SET, RF, 150 LB, LUG BOLT
    ERECTION-ITEM
    BOLT-QUANTITY  8
    BOLT-LENGTH  95.25
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
LAPJOINT-STUBEND
    END-POINT        -664.4091    66.3156    39.0000    6.0000  LAP
    END-POINT        -575.5091    66.3156    39.0000    6.0000  BW
    SKEY  FLSE
    ITEM-CODE  SSS3-10225
    ITEM-DESCRIPTION  STUB-END, SHORT PATTERN, SCH 10S, ASTM A403 Gr WP 304L, ASME B16.9 TYPE C
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_10S
    WEIGHT  4.93
FLANGE
    END-POINT        -664.4091    66.3156    39.0000    6.0000  FL
    END-POINT        -664.4091    66.3156    39.0000    6.0000  LAP
    SKEY  FLFL
    ITEM-CODE  SSS3-12525
    ITEM-DESCRIPTION  FLANGE LJ, 150 LB, ASTM A182 Gr F304, ASME B16.5, FF
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
    WEIGHT  18
PIPE
    END-POINT        -575.5091    66.3156    39.0000    6.0000
    END-POINT        -139.6365    66.3156    39.0000    6.0000
    ITEM-CODE  SSS3-954
    ITEM-DESCRIPTION  PIPE, SCH 10S, ASME B36.19, ASTM A312 Gr TP 304L, WELDED/SEAMLESS, PE
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    INSULATION-SPEC  PP
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   INSULATIONTHICKNESS_30
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_10S
    WEIGHT  18.99
SUPPORT
    CO-ORDS          -239.1017    66.3156    39.0000    6.0000
    SKEY  DUCK
    ITEM-CODE  SSS3-10917
    ITEM-DESCRIPTION  SP-02 SWC
    FABRICATION-ITEM
    SUPPORT-DIRECTION  DOWN
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
WELD
    END-POINT        -575.5091    66.3156    39.0000    6.0000
    END-POINT        -575.5091    66.3156    39.0000    6.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
ELBOW
    END-POINT        -475.5091    66.3156    -522.6186    2.0000  SW
    END-POINT        -459.8515    31.5816    -560.7186    2.0000  SW
    CENTRE-POINT     -475.5091    66.3156    -560.7186
    SKEY  ELSW
    ITEM-CODE  SSS3-306
    ITEM-DESCRIPTION  ELL 90, 3000 LB, ASTM A182 GR F304L, ASME B16.11, SW
    FABRICATION-ITEM
    ANGLE   9000
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_3000
    WEIGHT  3.5625
WELD
    END-POINT        -475.5091    66.3156    -522.6186    2.0000
    END-POINT        -475.5091    66.3156    -522.6186    2.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
PIPE
    END-POINT        -475.5091    66.3156    -259.1828    2.0000
    END-POINT        -475.5091    66.3156    -522.6186    2.0000
    ITEM-CODE  SSS3-948
    ITEM-DESCRIPTION  PIPE, SCH 10S, ASME B36.19, ASTM A312 Gr TP 304L, WELDED/SEAMLESS, PE
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_10S
    WEIGHT  3.66
WELD
    END-POINT        -475.5091    66.3156    -259.1828    2.0000
    END-POINT        -475.5091    66.3156    -259.1828    2.0000
    SKEY  SC
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
VALVE
    END-POINT        -475.5091    66.3156    -167.3625    2.0000  SC
    END-POINT        -475.5091    66.3156    -259.1828    2.0000  SC
    SKEY  VBSC
    ITEM-CODE  BALL VALVE, FULL BORE, 2" ND, 150 LB, CF8M, SEALS TEFLON, THD
    ITEM-DESCRIPTION  BALL VALVE, FULL BORE, 150 LB, CF8M, SEALS TEFLON, THD
    FABRICATION-ITEM
    TAG  PMVAL1-314
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
WELD
    END-POINT        -475.5091    66.3156    -167.3625    2.0000
    END-POINT        -475.5091    66.3156    -167.3625    2.0000
    SKEY  SC
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
PIPE
    END-POINT        -475.5091    66.3156    -67.3625    2.0000
    END-POINT        -475.5091    66.3156    -167.3625    2.0000
    ITEM-CODE  SSS3-948
    ITEM-DESCRIPTION  PIPE, SCH 10S, ASME B36.19, ASTM A312 Gr TP 304L, WELDED/SEAMLESS, PE
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_10S
    WEIGHT  3.66
WELD
    END-POINT        -475.5091    66.3156    -67.3625    2.0000
    END-POINT        -475.5091    66.3156    -67.3625    2.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
OLET
    CENTRE-POINT     -475.5091    66.3156    39.0000
    BRANCH1-POINT    -475.5091    66.3156    -67.3625    2.0000  SW
    SKEY  SKSW
    ITEM-CODE  SSS3-1011
    ITEM-DESCRIPTION  SOCKOLET, 3000 LB, ASTM A182 Gr F304L, ASME B16.11, BWXSW
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_3000
    WEIGHT  1.49
WELD
    END-POINT        -475.5091    66.3156    39.0000    6.0000
    END-POINT        -475.5091    66.3156    39.0000    6.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
WELD
    END-POINT        -459.8515    31.5816    -560.7186    2.0000
    END-POINT        -459.8515    31.5816    -560.7186    2.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
PIPE
    END-POINT        -459.8515    31.5816    -560.7186    2.0000
    END-POINT        -261.1925    -409.1138    -560.7186    2.0000
    ITEM-CODE  SSS3-948
    ITEM-DESCRIPTION  PIPE, SCH 10S, ASME B36.19, ASTM A312 Gr TP 304L, WELDED/SEAMLESS, PE
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_10S
    WEIGHT  3.66
ELBOW
    END-POINT        -261.1925    -409.1138    -560.7186    2.0000  SW
    END-POINT        -245.5350    -443.8478    -598.8186    2.0000  SW
    CENTRE-POINT     -245.5350    -443.8478    -560.7186
    SKEY  ELSW
    ITEM-CODE  SSS3-306
    ITEM-DESCRIPTION  ELL 90, 3000 LB, ASTM A182 GR F304L, ASME B16.11, SW
    FABRICATION-ITEM
    ANGLE   9000
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_3000
    WEIGHT  3.5625
WELD
    END-POINT        -261.1925    -409.1138    -560.7186    2.0000
    END-POINT        -261.1925    -409.1138    -560.7186    2.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
PIPE
    END-POINT        -245.5350    -443.8478    -598.8186    2.0000
    END-POINT        -245.5350    -443.8478    -698.8186    2.0000
    ITEM-CODE  SSS3-948
    ITEM-DESCRIPTION  PIPE, SCH 10S, ASME B36.19, ASTM A312 Gr TP 304L, WELDED/SEAMLESS, PE
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_10S
    WEIGHT  3.66
WELD
    END-POINT        -245.5350    -443.8478    -598.8186    2.0000
    END-POINT        -245.5350    -443.8478    -598.8186    2.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
WELD
    END-POINT        -139.6365    66.3156    39.0000    6.0000
    END-POINT        -139.6365    66.3156    39.0000    6.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
REDUCER-ECCENTRIC
    END-POINT        -139.6365    66.3156    39.0000    6.0000  BW
    END-POINT        0.0635    66.3156    65.9875    4.0000  BW
    SKEY  REBW
    ITEM-CODE  SSS3-883
    ITEM-DESCRIPTION  REDUCER (ECC), SCH 10S, ASTM A403 Gr WP 304L, ASME B16.9, BW
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    INSULATION-SPEC  PP
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   INSULATIONTHICKNESS_30
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_10S
    WEIGHT  8.59
    FLAT-DIRECTION  UP
WELD
    END-POINT        0.0635    66.3156    65.9875    4.0000
    END-POINT        0.0635    66.3156    65.9875    4.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
LAPJOINT-STUBEND
    END-POINT        0.0635    66.3156    65.9875    4.0000  BW
    END-POINT        76.2635    66.3156    65.9875    4.0000  LAP
    SKEY  FLSE
    ITEM-CODE  SSS3-10221
    ITEM-DESCRIPTION  STUB-END, SHORT PATTERN, SCH 10S, ASTM A403 Gr WP 304L, ASME B16.9 TYPE C
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_10S
    WEIGHT  1.115848680032659
FLANGE
    END-POINT        76.2635    66.3156    65.9875    4.0000  FL
    END-POINT        76.2635    66.3156    65.9875    4.0000  LAP
    SKEY  FLFL
    ITEM-CODE  SSS3-12521
    ITEM-DESCRIPTION  FLANGE LJ, 150 LB, ASTM A182 Gr F304, ASME B16.5, FF
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
    WEIGHT  12
GASKET
    END-POINT        76.2635    66.3156    65.9875    4.0000
    END-POINT        79.4385    66.3156    65.9875    4.0000
    ITEM-CODE  SSS3-11519
    ITEM-DESCRIPTION  GASKET, FLAT RING x 150 LB, THK 1/16"
    ERECTION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
    WEIGHT  0.3175179170824639
BOLT
    CO-ORDS          79.4385    66.3156    65.9875    4.0000
    BOLT-DIA  5/8
    BOLT-ITEM-CODE  SSS3-9051-88.89999999999998
    ITEM-DESCRIPTION  BOLT SET, RF, 150 LB, STUD BOLT
    ERECTION-ITEM
    BOLT-QUANTITY  8
    BOLT-LENGTH  88.89999999999998
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
PIPELINE-REFERENCE    PMTUB5-310-LFI-6"-150H2A-2
    DATE-DMY 09/08/26
    ATTRIBUTE1  I24.104-PP30-PP01-TUM-ISO-056
    ATTRIBUTE2  PMTUB5-310-LFI-6"-150H2A
    ATTRIBUTE3  I24.104-PP30-PP01-TUM-ISO-056
    ATTRIBUTE4  INGENIERÍA DE DETALLE 
    ATTRIBUTE5  EUCALYPTUS PULP PRODUCTION OPTIMIZATION PROJECT
    PROJECT-IDENTIFIER  
    REVISION  0
    AREA  
    PIPING-SPEC  SSS3
    INSULATION-SPEC  
    TRACING-SPEC  
END-POSITION-NULL
    CO-ORDS          -245.5350    -443.8478    -698.8186
END-POSITION-NULL
    CO-ORDS          79.4385    66.3155    65.9876
END-POSITION-NULL
    CO-ORDS          -728.0591    66.3155    39.0001
GASKET
    END-POINT        -724.8841    66.3156    39.0000    6.0000
    END-POINT        -728.0591    66.3156    39.0000    6.0000
    ITEM-CODE  SSS3-11523
    ITEM-DESCRIPTION  GASKET, FLAT RING x 150 LB, THK 1/16"
    ERECTION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
    WEIGHT  1.23
VALVE
    END-POINT        -724.8841    66.3156    39.0000    6.0000  FL
    END-POINT        -667.5841    66.3156    39.0000    6.0000  FL
    SKEY  VYFL
    ITEM-CODE  SSS3-11859
    ITEM-DESCRIPTION  BUTTERFLY VALVE, 150 LB, CF8M, SEALS TEFLON, ASME B16.5, ASME B16.10, LUG, RF, HAND WHEEL
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
BOLT
    CO-ORDS          -724.8841    66.3156    39.0000    6.0000
    BOLT-DIA  3/4
    BOLT-ITEM-CODE  SSS3-9073-95.25
    ITEM-DESCRIPTION  BOLT SET, RF, 150 LB, LUG BOLT
    ERECTION-ITEM
    BOLT-QUANTITY  8
    BOLT-LENGTH  95.25
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
GASKET
    END-POINT        -664.4091    66.3156    39.0000    6.0000
    END-POINT        -667.5841    66.3156    39.0000    6.0000
    ITEM-CODE  SSS3-11523
    ITEM-DESCRIPTION  GASKET, FLAT RING x 150 LB, THK 1/16"
    ERECTION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
    WEIGHT  1.23
BOLT
    CO-ORDS          -667.5841    66.3156    39.0000    6.0000
    BOLT-DIA  3/4
    BOLT-ITEM-CODE  SSS3-9073-95.25
    ITEM-DESCRIPTION  BOLT SET, RF, 150 LB, LUG BOLT
    ERECTION-ITEM
    BOLT-QUANTITY  8
    BOLT-LENGTH  95.25
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
FLANGE
    END-POINT        -664.4091    66.3156    39.0000    6.0000  FL
    END-POINT        -664.4091    66.3156    39.0000    6.0000  LAP
    SKEY  FLFL
    ITEM-CODE  SSS3-12525
    ITEM-DESCRIPTION  FLANGE LJ, 150 LB, ASTM A182 Gr F304, ASME B16.5, FF
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
    WEIGHT  18
LAPJOINT-STUBEND
    END-POINT        -664.4091    66.3156    39.0000    6.0000  LAP
    END-POINT        -575.5091    66.3156    39.0000    6.0000  BW
    SKEY  FLSE
    ITEM-CODE  SSS3-10225
    ITEM-DESCRIPTION  STUB-END, SHORT PATTERN, SCH 10S, ASTM A403 Gr WP 304L, ASME B16.9 TYPE C
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_10S
    WEIGHT  4.93
WELD
    END-POINT        -575.5091    66.3156    39.0000    6.0000
    END-POINT        -575.5091    66.3156    39.0000    6.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
PIPE
    END-POINT        -575.5091    66.3156    39.0000    6.0000
    END-POINT        -139.6365    66.3156    39.0000    6.0000
    ITEM-CODE  SSS3-954
    ITEM-DESCRIPTION  PIPE, SCH 10S, ASME B36.19, ASTM A312 Gr TP 304L, WELDED/SEAMLESS, PE
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    INSULATION-SPEC  PP
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   INSULATIONTHICKNESS_30
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_10S
    WEIGHT  18.99
SUPPORT
    CO-ORDS          -239.1017    66.3156    39.0000    6.0000
    SKEY  DUCK
    ITEM-CODE  SSS3-10917
    ITEM-DESCRIPTION  SP-02 SWC
    FABRICATION-ITEM
    SUPPORT-DIRECTION  DOWN
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
WELD
    END-POINT        -475.5091    66.3156    -522.6186    2.0000
    END-POINT        -475.5091    66.3156    -522.6186    2.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
ELBOW
    END-POINT        -475.5091    66.3156    -522.6186    2.0000  SW
    END-POINT        -459.8515    31.5816    -560.7186    2.0000  SW
    CENTRE-POINT     -475.5091    66.3156    -560.7186
    SKEY  ELSW
    ITEM-CODE  SSS3-306
    ITEM-DESCRIPTION  ELL 90, 3000 LB, ASTM A182 GR F304L, ASME B16.11, SW
    FABRICATION-ITEM
    ANGLE   9000
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_3000
    WEIGHT  3.5625
PIPE
    END-POINT        -475.5091    66.3156    -259.1828    2.0000
    END-POINT        -475.5091    66.3156    -522.6186    2.0000
    ITEM-CODE  SSS3-948
    ITEM-DESCRIPTION  PIPE, SCH 10S, ASME B36.19, ASTM A312 Gr TP 304L, WELDED/SEAMLESS, PE
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_10S
    WEIGHT  3.66
VALVE
    END-POINT        -475.5091    66.3156    -167.3625    2.0000  SC
    END-POINT        -475.5091    66.3156    -259.1828    2.0000  SC
    SKEY  VBSC
    ITEM-CODE  BALL VALVE, FULL BORE, 2" ND, 300 LB, FPT, ASME B16.10
    ITEM-DESCRIPTION  BALL VALVE, FULL BORE, NPT, ASME B16.10
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
WELD
    END-POINT        -475.5091    66.3156    -259.1828    2.0000
    END-POINT        -475.5091    66.3156    -259.1828    2.0000
    SKEY  SC
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
PIPE
    END-POINT        -475.5091    66.3156    -67.3625    2.0000
    END-POINT        -475.5091    66.3156    -167.3625    2.0000
    ITEM-CODE  SSS3-948
    ITEM-DESCRIPTION  PIPE, SCH 10S, ASME B36.19, ASTM A312 Gr TP 304L, WELDED/SEAMLESS, PE
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_10S
    WEIGHT  3.66
WELD
    END-POINT        -475.5091    66.3156    -167.3625    2.0000
    END-POINT        -475.5091    66.3156    -167.3625    2.0000
    SKEY  SC
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
OLET
    CENTRE-POINT     -475.5091    66.3156    39.0000
    BRANCH1-POINT    -475.5091    66.3156    -67.3625    2.0000  SW
    SKEY  SKSW
    ITEM-CODE  SSS3-1011
    ITEM-DESCRIPTION  SOCKOLET, 3000 LB, ASTM A182 Gr F304L, ASME B16.11, BWXSW
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_3000
    WEIGHT  1.49
WELD
    END-POINT        -475.5091    66.3156    -67.3625    2.0000
    END-POINT        -475.5091    66.3156    -67.3625    2.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
WELD
    END-POINT        -475.5091    66.3156    39.0000    6.0000
    END-POINT        -475.5091    66.3156    39.0000    6.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
WELD
    END-POINT        -459.8515    31.5816    -560.7186    2.0000
    END-POINT        -459.8515    31.5816    -560.7186    2.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
PIPE
    END-POINT        -459.8515    31.5816    -560.7186    2.0000
    END-POINT        -261.1925    -409.1138    -560.7186    2.0000
    ITEM-CODE  SSS3-948
    ITEM-DESCRIPTION  PIPE, SCH 10S, ASME B36.19, ASTM A312 Gr TP 304L, WELDED/SEAMLESS, PE
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_10S
    WEIGHT  3.66
ELBOW
    END-POINT        -261.1925    -409.1138    -560.7186    2.0000  SW
    END-POINT        -245.5350    -443.8478    -598.8186    2.0000  SW
    CENTRE-POINT     -245.5350    -443.8478    -560.7186
    SKEY  ELSW
    ITEM-CODE  SSS3-306
    ITEM-DESCRIPTION  ELL 90, 3000 LB, ASTM A182 GR F304L, ASME B16.11, SW
    FABRICATION-ITEM
    ANGLE   9000
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_3000
    WEIGHT  3.5625
WELD
    END-POINT        -261.1925    -409.1138    -560.7186    2.0000
    END-POINT        -261.1925    -409.1138    -560.7186    2.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
PIPE
    END-POINT        -245.5350    -443.8478    -598.8186    2.0000
    END-POINT        -245.5350    -443.8478    -698.8186    2.0000
    ITEM-CODE  SSS3-948
    ITEM-DESCRIPTION  PIPE, SCH 10S, ASME B36.19, ASTM A312 Gr TP 304L, WELDED/SEAMLESS, PE
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_10S
    WEIGHT  3.66
WELD
    END-POINT        -245.5350    -443.8478    -598.8186    2.0000
    END-POINT        -245.5350    -443.8478    -598.8186    2.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
WELD
    END-POINT        -139.6365    66.3156    39.0000    6.0000
    END-POINT        -139.6365    66.3156    39.0000    6.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
REDUCER-ECCENTRIC
    END-POINT        -139.6365    66.3156    39.0000    6.0000  BW
    END-POINT        0.0635    66.3156    65.9875    4.0000  BW
    SKEY  REBW
    ITEM-CODE  SSS3-883
    ITEM-DESCRIPTION  REDUCER (ECC), SCH 10S, ASTM A403 Gr WP 304L, ASME B16.9, BW
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    INSULATION-SPEC  PP
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   INSULATIONTHICKNESS_30
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_10S
    WEIGHT  8.59
    FLAT-DIRECTION  UP
WELD
    END-POINT        0.0635    66.3156    65.9875    4.0000
    END-POINT        0.0635    66.3156    65.9875    4.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
LAPJOINT-STUBEND
    END-POINT        0.0635    66.3156    65.9875    4.0000  BW
    END-POINT        76.2635    66.3156    65.9875    4.0000  LAP
    SKEY  FLSE
    ITEM-CODE  SSS3-10221
    ITEM-DESCRIPTION  STUB-END, SHORT PATTERN, SCH 10S, ASTM A403 Gr WP 304L, ASME B16.9 TYPE C
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_10S
    WEIGHT  1.115848680032659
FLANGE
    END-POINT        76.2635    66.3156    65.9875    4.0000  FL
    END-POINT        76.2635    66.3156    65.9875    4.0000  LAP
    SKEY  FLFL
    ITEM-CODE  SSS3-12521
    ITEM-DESCRIPTION  FLANGE LJ, 150 LB, ASTM A182 Gr F304, ASME B16.5, FF
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
    WEIGHT  12
GASKET
    END-POINT        76.2635    66.3156    65.9875    4.0000
    END-POINT        79.4385    66.3156    65.9875    4.0000
    ITEM-CODE  SSS3-11519
    ITEM-DESCRIPTION  GASKET, FLAT RING x 150 LB, THK 1/16"
    ERECTION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
    WEIGHT  0.3175179170824639
BOLT
    CO-ORDS          79.4385    66.3156    65.9875    4.0000
    BOLT-DIA  5/8
    BOLT-ITEM-CODE  SSS3-9051-88.89999999999998
    ITEM-DESCRIPTION  BOLT SET, RF, 150 LB, STUD BOLT
    ERECTION-ITEM
    BOLT-QUANTITY  8
    BOLT-LENGTH  88.89999999999998
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
MATERIALS
ITEM-CODE  Socketweld-2
    Schedule  
    PressureClass  
    Material  
ITEM-CODE  SSS3-948
    DESCRIPTION  PIPE, SCH 10S, ASME B36.19, ASTM A312 Gr TP 304L, WELDED/SEAMLE
    DESCRIPTION  SS, PE
    Schedule  10S
    PressureClass  
    Material  SS
ITEM-CODE  SSS3-306
    DESCRIPTION  ELL 90, 3000 LB, ASTM A182 GR F304L, ASME B16.11, SW
    Schedule  
    PressureClass  3000
    Material  SS
ITEM-CODE  Thread-2
    Schedule  
    PressureClass  
    Material  
ITEM-CODE  BALL VALVE, FULL BORE, 2" ND, 150 LB, CF8M, SEALS TEFLON, THD
    DESCRIPTION  BALL VALVE, FULL BORE, 150 LB, CF8M, SEALS TEFLON, THD
    Schedule  
    PressureClass  
    Material  
ITEM-CODE  SSS3-1011
    DESCRIPTION  SOCKOLET, 3000 LB, ASTM A182 Gr F304L, ASME B16.11, BWXSW
    Schedule  
    PressureClass  3000
    Material  SS
ITEM-CODE  Tapweld-6
    Schedule  
    PressureClass  
    Material  
ITEM-CODE  SSS3-954
    DESCRIPTION  PIPE, SCH 10S, ASME B36.19, ASTM A312 Gr TP 304L, WELDED/SEAMLE
    DESCRIPTION  SS, PE
    Schedule  10S
    PressureClass  
    Material  SS
ITEM-CODE  Buttweld-6
    Schedule  
    PressureClass  
    Material  
ITEM-CODE  SSS3-883
    DESCRIPTION  REDUCER (ECC), SCH 10S, ASTM A403 Gr WP 304L, ASME B16.9, BW
    Schedule  10S
    PressureClass  
    Material  SS
ITEM-CODE  Buttweld-4
    Schedule  
    PressureClass  
    Material  
ITEM-CODE  SSS3-10221
    DESCRIPTION  STUB-END, SHORT PATTERN, SCH 10S, ASTM A403 Gr WP 304L, ASME B1
    DESCRIPTION  6.9 TYPE C
    Schedule  10S
    PressureClass  
    Material  
ITEM-CODE  SSS3-12521
    DESCRIPTION  FLANGE LJ, 150 LB, ASTM A182 Gr F304, ASME B16.5, FF
    Schedule  
    PressureClass  150
    Material  
ITEM-CODE  SSS3-11519
    DESCRIPTION  GASKET, FLAT RING x 150 LB, THK 1/16"
    Schedule  
    PressureClass  150
    Material  
ITEM-CODE  SSS3-9051-88.89999999999998
    DESCRIPTION  BOLT SET, RF, 150 LB, STUD BOLT
    Schedule  
    PressureClass  150
    Material  SS
ITEM-CODE  SSS3-10225
    DESCRIPTION  STUB-END, SHORT PATTERN, SCH 10S, ASTM A403 Gr WP 304L, ASME B1
    DESCRIPTION  6.9 TYPE C
    Schedule  10S
    PressureClass  
    Material  
ITEM-CODE  SSS3-12525
    DESCRIPTION  FLANGE LJ, 150 LB, ASTM A182 Gr F304, ASME B16.5, FF
    Schedule  
    PressureClass  150
    Material  
ITEM-CODE  SSS3-11523
    DESCRIPTION  GASKET, FLAT RING x 150 LB, THK 1/16"
    Schedule  
    PressureClass  150
    Material  
ITEM-CODE  SSS3-9073-95.25
    DESCRIPTION  BOLT SET, RF, 150 LB, LUG BOLT
    Schedule  
    PressureClass  150
    Material  SS
ITEM-CODE  SSS3-11859
    DESCRIPTION  BUTTERFLY VALVE, 150 LB, CF8M, SEALS TEFLON, ASME B16.5, ASME B
    DESCRIPTION  16.10, LUG, RF, HAND WHEEL
    Schedule  
    PressureClass  150
    Material  
ITEM-CODE  BALL VALVE, FULL BORE, 2" ND, 300 LB, FPT, ASME B16.10
    DESCRIPTION  BALL VALVE, FULL BORE, NPT, ASME B16.10
    Schedule  
    PressureClass  
    Material  
ITEM-CODE  SSS3-10917
    DESCRIPTION  SP-02 SWC
    Schedule  
    PressureClass  
    Material  