ISOGEN-FILES  ISOCONFIG.FLS
UNITS-BORE  INCH
UNITS-CO-ORDS  MM
UNITS-WEIGHT  KGS
UNITS-BOLT-DIA  INCH
UNITS-BOLT-LENGTH  MM
PIPELINE-REFERENCE    PMTUB6-032-PUB-12"-150H2A
    DATE-DMY 09/07/26
    PROJECT-IDENTIFIER  
    REVISION  0
    AREA  
    PIPING-SPEC  SS40S
    INSULATION-SPEC  
    TRACING-SPEC  
GASKET
    END-POINT        0.8848    0.6446    0.4490    8.0000
    END-POINT        0.8579    2.2318    0.4490    8.0000
    ITEM-CODE  SS40S-3746
    ITEM-DESCRIPTION  GASKET, FLAT RING x 150 LB, THK 1/16"
    ERECTION-ITEM
    PIPING-SPEC  SS40S
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
    WEIGHT  0.07257552390456319
BOLT
    CO-ORDS          0.8579    2.2318    0.4490    8.0000
    BOLT-DIA  3/4
    BOLT-ITEM-CODE  SS40S-1012-107.94999999999997
    ITEM-DESCRIPTION  BOLT SET, RF, 150 LB, STUD BOLT
    ERECTION-ITEM
    BOLT-QUANTITY  8
    BOLT-LENGTH  107.94999999999997
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
    WEIGHT  0.4071
FLANGE
    END-POINT        0.8848    0.6446    0.4490    8.0000  FL
    END-POINT        2.6074    -100.9408    0.4490    8.0000  BW
    SKEY  FLWN
    ITEM-CODE  SS40S-1627
    ITEM-DESCRIPTION  FLANGE LJ C/W STUB-END, 150 LB, ASME B16.5 / B16.9-C
    FABRICATION-ITEM
    PIPING-SPEC  SS40S
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
    WEIGHT  16.4565000453597
PIPE
    END-POINT        2.6074    -100.9408    0.4490    8.0000
    END-POINT        6.0796    -305.6989    0.4490    8.0000
    ITEM-CODE  SS40S-118
    ITEM-DESCRIPTION  PIPE, SCH 40S, ASME B36.19, ASTM A312 Gr TP 304L, WELDED/SEAMLESS, PE
    FABRICATION-ITEM
    PIPING-SPEC  SS40S
    INSULATION-SPEC  PP
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   INSULATIONTHICKNESS_30
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40S
    WEIGHT  42.55
WELD
    END-POINT        2.6074    -100.9408    0.4490    8.0000
    END-POINT        2.6074    -100.9408    0.4490    8.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SS40S
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
WELD
    END-POINT        6.0796    -305.6989    0.4490    8.0000
    END-POINT        6.0796    -305.6989    0.4490    8.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SS40S
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
REDUCER-ECCENTRIC
    END-POINT        9.5248    -508.8697    -51.9385    12.0000  BW
    END-POINT        6.0796    -305.6989    0.4490    8.0000  BW
    SKEY  REBW
    ITEM-CODE  SS40S-5891
    ITEM-DESCRIPTION  REDUCER (ECC), SCH 40S, ASTM A403 Gr WP 304L, ASME B16.9, BW
    FABRICATION-ITEM
    PIPING-SPEC  SS40S
    INSULATION-SPEC  PP
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   INSULATIONTHICKNESS_30
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40S
    WEIGHT  15.422298829719676
    FLAT-DIRECTION  UP
PIPE
    END-POINT        10.2458    -551.3889    -51.9385    12.0000
    END-POINT        9.5248    -508.8697    -51.9385    12.0000
    ITEM-CODE  SS40S-122
    ITEM-DESCRIPTION  PIPE, SCH 40S, ASME B36.19, ASTM A312 Gr TP 304L, WELDED/SEAMLESS, PE
    FABRICATION-ITEM
    PIPING-SPEC  SS40S
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_40S
    WEIGHT  73.88
SUPPORT
    CO-ORDS          9.8853    -530.1293    -51.9385    12.0000
    SKEY  ANCH
    ITEM-CODE  SS40S-13220
    ITEM-DESCRIPTION  STANDARD U-BOLT, MSS SP-58, ASTM A193 Gr B8L
    SUPPORT-DIRECTION  UP
    PIPING-SPEC  SS40S
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_ASTM A193 Gr B8L
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
WELD
    END-POINT        9.5248    -508.8697    -51.9385    12.0000
    END-POINT        9.5248    -508.8697    -51.9385    12.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SS40S
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
BEND
    END-POINT        150.4440    -874.2621    -51.9385    12.0000  BW
    END-POINT        10.2458    -551.3889    -51.9385    12.0000  BW
    CENTRE-POINT     13.4757    -741.8615    -51.9385
    SKEY  BEBW
    ITEM-CODE  SS40S-265-4500.000000015896
    ITEM-DESCRIPTION  ELL 45 LR, SCH 40S, ASTM A403 Gr WP 304L, ASME B16.9, BW
    FABRICATION-ITEM
    ANGLE   4500
    BEND-RADIUS  38.0187
    PIPING-SPEC  SS40S
    INSULATION-SPEC  PP
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   INSULATIONTHICKNESS_30
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40S
WELD
    END-POINT        10.2458    -551.3889    -51.9385    12.0000
    END-POINT        10.2458    -551.3889    -51.9385    12.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SS40S
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
PIPE
    END-POINT        1370.2688    -2053.4072    -51.9385    12.0000
    END-POINT        150.4440    -874.2621    -51.9385    12.0000
    ITEM-CODE  SS40S-122
    ITEM-DESCRIPTION  PIPE, SCH 40S, ASME B36.19, ASTM A312 Gr TP 304L, WELDED/SEAMLESS, PE
    FABRICATION-ITEM
    PIPING-SPEC  SS40S
    INSULATION-SPEC  PP
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   INSULATIONTHICKNESS_30
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40S
    WEIGHT  73.88
SUPPORT
    CO-ORDS          1224.8477    -1912.8356    -51.9385    12.0000
    SKEY  ANCH
    ITEM-CODE  PipeSupportsSpec-826
    ITEM-DESCRIPTION  Clamp
    FABRICATION-ITEM
    SUPPORT-DIRECTION  UP
    PIPING-SPEC  PipeSupportsSpec
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
WELD
    END-POINT        150.4440    -874.2621    -51.9385    12.0000
    END-POINT        150.4440    -874.2621    -51.9385    12.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SS40S
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
FLANGE
    END-POINT        1479.8435    -2159.3277    -51.9385    12.0000  FL
    END-POINT        1370.2688    -2053.4072    -51.9385    12.0000  BW
    SKEY  FLWN
    ITEM-CODE  SS40S-1631
    ITEM-DESCRIPTION  FLANGE LJ C/W STUB-END, 150 LB, ASME B16.5 / B16.9-C
    FABRICATION-ITEM
    PIPING-SPEC  SS40S
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
    WEIGHT  36.3149777737458
WELD
    END-POINT        1370.2688    -2053.4072    -51.9385    12.0000
    END-POINT        1370.2688    -2053.4072    -51.9385    12.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SS40S
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
GASKET
    END-POINT        1480.9849    -2160.4310    -51.9385    12.0000
    END-POINT        1479.8435    -2159.3277    -51.9385    12.0000
    ITEM-CODE  SS40S-3750
    ITEM-DESCRIPTION  GASKET, FLAT RING x 150 LB, THK 1/16"
    ERECTION-ITEM
    PIPING-SPEC  SS40S
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
    WEIGHT  0.15422298829719677
BOLT
    CO-ORDS          1479.8435    -2159.3277    -51.9385    12.0000
    BOLT-DIA  7/8
    BOLT-ITEM-CODE  SS40S-1113-120.64999999999999
    ITEM-DESCRIPTION  BOLT SET, RF, 150 LB, STUD BOLT
    ERECTION-ITEM
    BOLT-QUANTITY  12
    BOLT-LENGTH  120.64999999999999
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
    WEIGHT  0.6316
VALVE
    END-POINT        1480.9849    -2160.4310    -51.9385    12.0000  FL
    END-POINT        1535.7722    -2213.3912    -51.9385    12.0000  FL
    SKEY  VVFL
    ITEM-CODE  KNIFE GATE VALVE - PNEUMATIC CYLINDER, 12" ND, 150 LB, CF8M, SPLIT-WEDGE, ASME B16.5, LUG, RF
    ITEM-DESCRIPTION  KNIFE GATE VALVE - PNEUMATIC CYLINDER, 150 LB, CF8M, SPLIT-WEDGE, ASME B16.5, LUG, RF
    FABRICATION-ITEM
    TAG  I30BT09Z01-V1
    PIPING-SPEC  SS40S
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
GASKET
    END-POINT        1535.7722    -2213.3912    -51.9385    12.0000
    END-POINT        1536.9136    -2214.4946    -51.9385    12.0000
    ITEM-CODE  SS40S-3750
    ITEM-DESCRIPTION  GASKET, FLAT RING x 150 LB, THK 1/16"
    ERECTION-ITEM
    PIPING-SPEC  SS40S
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
    WEIGHT  0.15422298829719677
BOLT
    CO-ORDS          1536.9136    -2214.4946    -51.9385    12.0000
    BOLT-DIA  7/8
    BOLT-ITEM-CODE  SS40S-1113-120.64999999999999
    ITEM-DESCRIPTION  BOLT SET, RF, 150 LB, STUD BOLT
    ERECTION-ITEM
    BOLT-QUANTITY  12
    BOLT-LENGTH  120.64999999999999
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
    WEIGHT  0.6316
FLANGE
    END-POINT        1536.9136    -2214.4946    -51.9385    12.0000  FL
    END-POINT        1646.4883    -2320.4151    -51.9385    12.0000  BW
    SKEY  FLWN
    ITEM-CODE  SS40S-1631
    ITEM-DESCRIPTION  FLANGE LJ C/W STUB-END, 150 LB, ASME B16.5 / B16.9-C
    FABRICATION-ITEM
    PIPING-SPEC  SS40S
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
    WEIGHT  36.3149777737458
WELD
    END-POINT        1646.4883    -2320.4151    -51.9385    12.0000
    END-POINT        1646.4883    -2320.4151    -51.9385    12.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SS40S
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
TEE
    END-POINT        2011.7373    -2673.4833    -51.9385    12.0000  BW
    END-POINT        1646.4883    -2320.4151    -51.9385    12.0000  BW
    CENTRE-POINT     1829.1128    -2496.9492    -51.9385
    BRANCH1-POINT    1829.1128    -2496.9492    -270.8865    6.0000  BW
    SKEY  TEBW
    ITEM-CODE  SS40S-2163
    ITEM-DESCRIPTION  TEE (RED), SCH STD, BW, ASME B16.9
    FABRICATION-ITEM
    PIPING-SPEC  SS40S
    INSULATION-SPEC  PP
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   INSULATIONTHICKNESS_30
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_STD
    WEIGHT  64.86437448970335
BEND
    END-POINT        1829.1128    -2496.9492    -509.0115    6.0000  BW
    END-POINT        1761.7609    -2496.9492    -671.6134    6.0000  BW
    CENTRE-POINT     1829.1128    -2496.9492    -604.2615
    SKEY  BEBW
    ITEM-CODE  SS40S-225-4499.999996226817
    ITEM-DESCRIPTION  ELL 45 LR, SCH 40S, ASTM A403 Gr WP 304L, ASME B16.9, BW
    FABRICATION-ITEM
    ANGLE   4500
    BEND-RADIUS  229.9538
    PIPING-SPEC  SS40S
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_40S
    WEIGHT  5.443164292842239
WELD
    END-POINT        1829.1128    -2496.9492    -509.0115    6.0000
    END-POINT        1829.1128    -2496.9492    -509.0115    6.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SS40S
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
FLANGE
    END-POINT        1829.1128    -2496.9492    -420.1115    6.0000  FL
    END-POINT        1829.1128    -2496.9492    -509.0115    6.0000  BW
    SKEY  FLWN
    ITEM-CODE  SS40S-1625
    ITEM-DESCRIPTION  FLANGE LJ C/W STUB-END, 150 LB, ASME B16.5 / B16.9-C
    FABRICATION-ITEM
    PIPING-SPEC  SS40S
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
    WEIGHT  10.40097976957271
GASKET
    END-POINT        1829.1128    -2496.9492    -418.5240    6.0000
    END-POINT        1829.1128    -2496.9492    -420.1115    6.0000
    ITEM-CODE  SS40S-3744
    ITEM-DESCRIPTION  GASKET, FLAT RING x 150 LB, THK 1/16"
    ERECTION-ITEM
    PIPING-SPEC  SS40S
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
    WEIGHT  0.04989567268438719
BOLT
    CO-ORDS          1829.1128    -2496.9492    -420.1115    6.0000
    BOLT-DIA  3/4
    BOLT-ITEM-CODE  SS40S-1011-101.59999999999998
    ITEM-DESCRIPTION  BOLT SET, RF, 150 LB, STUD BOLT
    ERECTION-ITEM
    BOLT-QUANTITY  8
    BOLT-LENGTH  101.59999999999998
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
    WEIGHT  0.3861
VALVE
    END-POINT        1829.1128    -2496.9492    -361.3740    6.0000  FL
    END-POINT        1829.1128    -2496.9492    -418.5240    6.0000  FL
    SKEY  VVFL
    ITEM-CODE  KNIFE GATE VALVE - BEVEL GEAR HANDWHEEL, 6" ND, 150 LB, CF8M, SPLIT-WEDGE, ASME B16.5, LUG, RF
    ITEM-DESCRIPTION  KNIFE GATE VALVE - BEVEL GEAR HANDWHEEL, 150 LB, CF8M, SPLIT-WEDGE, ASME B16.5, LUG, RF
    FABRICATION-ITEM
    PIPING-SPEC  SS40S
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
GASKET
    END-POINT        1829.1128    -2496.9492    -361.3740    6.0000
    END-POINT        1829.1128    -2496.9492    -359.7865    6.0000
    ITEM-CODE  SS40S-3744
    ITEM-DESCRIPTION  GASKET, FLAT RING x 150 LB, THK 1/16"
    ERECTION-ITEM
    PIPING-SPEC  SS40S
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
    WEIGHT  0.04989567268438719
FLANGE
    END-POINT        1829.1128    -2496.9492    -359.7865    6.0000  FL
    END-POINT        1829.1128    -2496.9492    -270.8865    6.0000  BW
    SKEY  FLWN
    ITEM-CODE  SS40S-1625
    ITEM-DESCRIPTION  FLANGE LJ C/W STUB-END, 150 LB, ASME B16.5 / B16.9-C
    FABRICATION-ITEM
    PIPING-SPEC  SS40S
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
    WEIGHT  10.40097976957271
BOLT
    CO-ORDS          1829.1128    -2496.9492    -359.7865    6.0000
    BOLT-DIA  3/4
    BOLT-ITEM-CODE  SS40S-1011-101.59999999999998
    ITEM-DESCRIPTION  BOLT SET, RF, 150 LB, STUD BOLT
    ERECTION-ITEM
    BOLT-QUANTITY  8
    BOLT-LENGTH  101.59999999999998
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
    WEIGHT  0.3861
WELD
    END-POINT        1829.1128    -2496.9492    -270.8865    6.0000
    END-POINT        1829.1128    -2496.9492    -270.8865    6.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SS40S
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
WELD
    END-POINT        2011.7373    -2673.4833    -51.9385    12.0000
    END-POINT        2011.7373    -2673.4833    -51.9385    12.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SS40S
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
FLANGE
    END-POINT        2121.3119    -2779.4038    -51.9385    12.0000  FL
    END-POINT        2011.7373    -2673.4833    -51.9385    12.0000  BW
    SKEY  FLWN
    ITEM-CODE  SS40S-1631
    ITEM-DESCRIPTION  FLANGE LJ C/W STUB-END, 150 LB, ASME B16.5 / B16.9-C
    FABRICATION-ITEM
    PIPING-SPEC  SS40S
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
    WEIGHT  36.3149777737458
GASKET
    END-POINT        2121.3119    -2779.4038    -51.9385    12.0000
    END-POINT        2122.4533    -2780.5072    -51.9385    12.0000
    ITEM-CODE  SS40S-3750
    ITEM-DESCRIPTION  GASKET, FLAT RING x 150 LB, THK 1/16"
    ERECTION-ITEM
    PIPING-SPEC  SS40S
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
    WEIGHT  0.15422298829719677
BOLT
    CO-ORDS          2122.4533    -2780.5072    -51.9385    12.0000
    BOLT-DIA  7/8
    BOLT-ITEM-CODE  SS40S-1113-120.64999999999999
    ITEM-DESCRIPTION  BOLT SET, RF, 150 LB, STUD BOLT
    ERECTION-ITEM
    BOLT-QUANTITY  12
    BOLT-LENGTH  120.64999999999999
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
    WEIGHT  0.6316
VALVE
    END-POINT        2122.4533    -2780.5072    -51.9385    12.0000  FL
    END-POINT        2177.2407    -2833.4674    -51.9385    12.0000  FL
    SKEY  VVFL
    ITEM-CODE  KNIFE GATE VALVE - BEVEL GEAR HANDWHEEL, 12" ND, 150 LB, CF8M, SPLIT-WEDGE, ASME B16.5, LUG, RF
    ITEM-DESCRIPTION  KNIFE GATE VALVE - BEVEL GEAR HANDWHEEL, 150 LB, CF8M, SPLIT-WEDGE, ASME B16.5, LUG, RF
    FABRICATION-ITEM
    TAG  PMVAL1-096
    PIPING-SPEC  SS40S
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
GASKET
    END-POINT        2177.2407    -2833.4674    -51.9385    12.0000
    END-POINT        2178.3821    -2834.5708    -51.9385    12.0000
    ITEM-CODE  SS40S-3750
    ITEM-DESCRIPTION  GASKET, FLAT RING x 150 LB, THK 1/16"
    ERECTION-ITEM
    PIPING-SPEC  SS40S
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
    WEIGHT  0.15422298829719677
BOLT
    CO-ORDS          2178.3821    -2834.5708    -51.9385    12.0000
    BOLT-DIA  7/8
    BOLT-ITEM-CODE  SS40S-1113-120.64999999999999
    ITEM-DESCRIPTION  BOLT SET, RF, 150 LB, STUD BOLT
    ERECTION-ITEM
    BOLT-QUANTITY  12
    BOLT-LENGTH  120.64999999999999
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
    WEIGHT  0.6316
MATERIALS
ITEM-CODE  SS40S-1505
    DESCRIPTION  STUB-END, SHORT PATTERN, SCH 40S, ASTM A403 Gr WP 304L, ASME B1
    DESCRIPTION  6.9 TYPE C
    Schedule  40S
    PressureClass  
    Material  
ITEM-CODE  Buttweld-12
    Schedule  
    PressureClass  
    Material  
ITEM-CODE  SS40S-122
    DESCRIPTION  PIPE, SCH 40S, ASME B36.19, ASTM A312 Gr TP 304L, WELDED/SEAMLE
    DESCRIPTION  SS, PE
    Schedule  40S
    PressureClass  
    Material  SS
ITEM-CODE  SS40S-265
    DESCRIPTION  ELL 45 LR, SCH 40S, ASTM A403 Gr WP 304L, ASME B16.9, BW
    Schedule  40S
    PressureClass  
    Material  SS
ITEM-CODE  SS40S-5891
    DESCRIPTION  REDUCER (ECC), SCH 40S, ASTM A403 Gr WP 304L, ASME B16.9, BW
    Schedule  40S
    PressureClass  
    Material  
ITEM-CODE  Buttweld-8
    Schedule  
    PressureClass  
    Material  
ITEM-CODE  SS40S-118
    DESCRIPTION  PIPE, SCH 40S, ASME B36.19, ASTM A312 Gr TP 304L, WELDED/SEAMLE
    DESCRIPTION  SS, PE
    Schedule  40S
    PressureClass  
    Material  SS
ITEM-CODE  SS40S-1500
    DESCRIPTION  STUB-END, SHORT PATTERN, SCH 40S, ASTM A403 Gr WP 304L, ASME B1
    DESCRIPTION  6.9 TYPE C
    Schedule  40S
    PressureClass  
    Material  
ITEM-CODE  SS40S-1627
    DESCRIPTION  FLANGE LJ, 150 LB, ASTM A182 Gr F304, ASME B16.5, FF
    Schedule  
    PressureClass  150
    Material  
ITEM-CODE  SS40S-3746
    DESCRIPTION  GASKET, FLAT RING x 150 LB, THK 1/16"
    Schedule  
    PressureClass  150
    Material  
ITEM-CODE  SS40S-1012-107.94999999999997
    DESCRIPTION  BOLT SET, RF, 150 LB, STUD BOLT
    Schedule  
    PressureClass  150
    Material  
ITEM-CODE  SS40S-1631
    DESCRIPTION  FLANGE LJ, 150 LB, ASTM A182 Gr F304, ASME B16.5, FF
    Schedule  
    PressureClass  150
    Material  
ITEM-CODE  SS40S-3750
    DESCRIPTION  GASKET, FLAT RING x 150 LB, THK 1/16"
    Schedule  
    PressureClass  150
    Material  
ITEM-CODE  SS40S-1113-120.64999999999999
    DESCRIPTION  BOLT SET, RF, 150 LB, STUD BOLT
    Schedule  
    PressureClass  150
    Material  
ITEM-CODE  KNIFE GATE VALVE - PNEUMATIC CYLINDER, 12" ND, 150 LB, CF8M, SPLIT-WEDGE, ASME B16.5, LUG, RF
    DESCRIPTION  KNIFE GATE VALVE - PNEUMATIC CYLINDER, 150 LB, CF8M, SPLIT-WEDG
    DESCRIPTION  E, ASME B16.5, LUG, RF
    Schedule  
    PressureClass  150
    Material  
ITEM-CODE  SS40S-2163
    DESCRIPTION  TEE (RED), SCH STD, BW, ASME B16.9
    Schedule  STD
    PressureClass  
    Material  
ITEM-CODE  KNIFE GATE VALVE - BEVEL GEAR HANDWHEEL, 12" ND, 150 LB, CF8M, SPLIT-WEDGE, ASME B16.5, LUG, RF
    DESCRIPTION  KNIFE GATE VALVE - BEVEL GEAR HANDWHEEL, 150 LB, CF8M, SPLIT-WE
    DESCRIPTION  DGE, ASME B16.5, LUG, RF
    Schedule  
    PressureClass  150
    Material  
ITEM-CODE  SS40S-1498
    DESCRIPTION  STUB-END, SHORT PATTERN, SCH 40S, ASTM A403 Gr WP 304L, ASME B1
    DESCRIPTION  6.9 TYPE C
    Schedule  40S
    PressureClass  
    Material  
ITEM-CODE  Buttweld-6
    Schedule  
    PressureClass  
    Material  
ITEM-CODE  SS40S-1625
    DESCRIPTION  FLANGE LJ, 150 LB, ASTM A182 Gr F304, ASME B16.5, FF
    Schedule  
    PressureClass  150
    Material  
ITEM-CODE  SS40S-3744
    DESCRIPTION  GASKET, FLAT RING x 150 LB, THK 1/16"
    Schedule  
    PressureClass  150
    Material  
ITEM-CODE  SS40S-1011-101.59999999999998
    DESCRIPTION  BOLT SET, RF, 150 LB, STUD BOLT
    Schedule  
    PressureClass  150
    Material  
ITEM-CODE  KNIFE GATE VALVE - BEVEL GEAR HANDWHEEL, 6" ND, 150 LB, CF8M, SPLIT-WEDGE, ASME B16.5, LUG, RF
    DESCRIPTION  KNIFE GATE VALVE - BEVEL GEAR HANDWHEEL, 150 LB, CF8M, SPLIT-WE
    DESCRIPTION  DGE, ASME B16.5, LUG, RF
    Schedule  
    PressureClass  150
    Material  
ITEM-CODE  SS40S-225
    DESCRIPTION  ELL 45 LR, SCH 40S, ASTM A403 Gr WP 304L, ASME B16.9, BW
    Schedule  40S
    PressureClass  
    Material  SS
ITEM-CODE  SS40S-13220
    DESCRIPTION  STANDARD U-BOLT, MSS SP-58, ASTM A193 Gr B8L
    Schedule  
    PressureClass  
    Material  ASTM A193 Gr B8L
ITEM-CODE  PipeSupportsSpec-826
    DESCRIPTION  Clamp
    Schedule  
    PressureClass  
    Material  
