ISOGEN-FILES  ISOCONFIG.FLS
UNITS-BORE  INCH
UNITS-CO-ORDS  MM
UNITS-WEIGHT  KGS
UNITS-BOLT-DIA  INCH
UNITS-BOLT-LENGTH  MM
PIPELINE-REFERENCE    UserDefinedLine
    DATE-DMY 07/08/26
    PROJECT-IDENTIFIER  
    REVISION  0
    AREA  
    PIPING-SPEC  SS3
END-POSITION-NULL
    CO-ORDS          0.3639    -3905.7662    548.4786
END-POSITION-NULL
    CO-ORDS          0.3908    -4041.7728    -269.5562
END-POSITION-NULL
    CO-ORDS          749.6101    -7455.7259    893.3193
END-POSITION-NULL
    CO-ORDS          751.9942    229.2219    896.4567
PIPE
    END-POINT        0.3681    -995.0933    0.7184    6.0000
    END-POINT        0.3452    -2956.8331    0.7202    6.0000
    ITEM-CODE  SS3-954
    ITEM-DESCRIPTION  PIPE, SEAMLESS, PE, ASME B36.19, ASTM A312 Gr TP 304L, Sch 10s
    FABRICATION-ITEM
    PIPING-SPEC  SS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_10
    WEIGHT  28.26017962442166
SUPPORT
    CO-ORDS          0.3538    -2217.3754    0.7195    6.0000
    SKEY  ANCH
    ITEM-CODE  SS3-9717
    ITEM-DESCRIPTION  SP-05 SKC
    FABRICATION-ITEM
    SUPPORT-DIRECTION  DOWN
    PIPING-SPEC  SS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
    STATUS DOTTED-DIMENSIONED 
    MATERIAL-LIST EXCLUDE 
WELD
    END-POINT        0.3452    -2956.8331    0.7202    6.0000
    END-POINT        0.3452    -2956.8331    0.7202    6.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
REDUCER-CONCENTRIC
    END-POINT        0.3497    -3109.2331    0.7199    8.0000  BW
    END-POINT        0.3452    -2956.8331    0.7202    6.0000  BW
    SKEY  RCBW
    ITEM-CODE  SS3-823
    ITEM-DESCRIPTION  REDUCER (CONC), BW, ASME B16.9, ASTM A403 Gr WP 304L, Sch 10s
    FABRICATION-ITEM
    PIPING-SPEC  SS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_10
    WEIGHT  6.50004535970244
WELD
    END-POINT        0.3497    -3109.2331    0.7199    8.0000
    END-POINT        0.3497    -3109.2331    0.7199    8.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
PIPE
    END-POINT        0.3497    -3109.2331    0.7199    8.0000
    END-POINT        0.3586    -3407.2912    0.7192    8.0000
    ITEM-CODE  SS3-956
    ITEM-DESCRIPTION  PIPE, SEAMLESS, PE, ASME B36.19, ASTM A312 Gr TP 304L, Sch 10s
    FABRICATION-ITEM
    PIPING-SPEC  SS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_10
    WEIGHT  42.53164474281048
WELD
    END-POINT        0.3586    -3407.2912    0.7192    8.0000
    END-POINT        0.3586    -3407.2912    0.7192    8.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
TEE
    END-POINT        0.3586    -3407.2912    0.7192    8.0000  BW
    END-POINT        0.3692    -3762.8912    0.7183    8.0000  BW
    CENTRE-POINT     0.3639    -3585.0912    0.7187
    BRANCH1-POINT    0.3639    -3585.0916    168.8667    6.0000  BW
    SKEY  TEBW
    ITEM-CODE  SS3-1142
    ITEM-DESCRIPTION  TEE (RED), BW, ASME B16.9, ASTM A403 Gr WP 304L, Sch 10s
    FABRICATION-ITEM
    PIPING-SPEC  SS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_10
    WEIGHT  27.99600834618525
GASKET
    END-POINT        0.3639    -3902.5912    548.4786    6.0000
    END-POINT        0.3639    -3905.7662    548.4786    6.0000
    ITEM-CODE  SS3-11523
    ITEM-DESCRIPTION  EMPAQUE LAMINA GARLOCK BLUE 3700 X 1/8"
    ERECTION-ITEM
    PIPING-SPEC  SS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
    WEIGHT  0.5579243400163295
BOLT
    CO-ORDS          0.3639    -3905.7662    548.4786    6.0000
    BOLT-DIA  3/4
    BOLT-ITEM-CODE  SS3-9053-101.59999999999998
    ITEM-DESCRIPTION  BOLT SET, RF, 150 LB, STUD BOLT
    ERECTION-ITEM
    BOLT-QUANTITY  8
    BOLT-LENGTH  101.59999999999998
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
LAPJOINT-STUBEND
    END-POINT        0.3639    -3813.6912    548.4786    6.0000  BW
    END-POINT        0.3639    -3902.5912    548.4786    6.0000  LAP
    SKEY  FLSE
    ITEM-CODE  SS3-10225
    ITEM-DESCRIPTION  STUB-END FOR LAP FLANGE, SHORT PATTERN, ASME B16.9-C, ASTM A312 Gr TP 304L
    FABRICATION-ITEM
    PIPING-SPEC  SS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_10
    WEIGHT  2.236233330309353
FLANGE
    END-POINT        0.3639    -3902.5912    548.4786    6.0000  FL
    END-POINT        0.3639    -3902.5912    548.4786    6.0000  LAP
    SKEY  FLFL
    ITEM-CODE  SS3-10165
    ITEM-DESCRIPTION  FLANGE LJ, 150 LB, FF, ASME B16.5, ASTM A 105
    FABRICATION-ITEM
    PIPING-SPEC  SS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
    WEIGHT  8.164746439263357
ELBOW
    END-POINT        0.3639    -3813.6912    548.4786    6.0000  BW
    END-POINT        0.3639    -3585.0912    319.8786    6.0000  BW
    CENTRE-POINT     0.3639    -3585.0912    548.4786
    SKEY  ELBW
    ITEM-CODE  SS3-269
    ITEM-DESCRIPTION  ELL 90 LR, BW, ASME B16.9, ASTM A403 Gr WP 304L, Sch 10s
    FABRICATION-ITEM
    ANGLE   9000
    PIPING-SPEC  SS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_10
    WEIGHT  10.196861108591127
WELD
    END-POINT        0.3639    -3813.6912    548.4786    6.0000
    END-POINT        0.3639    -3813.6912    548.4786    6.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
PIPE
    END-POINT        0.3639    -3585.0912    319.8786    6.0000
    END-POINT        0.3639    -3585.0916    168.8667    6.0000
    ITEM-CODE  SS3-954
    ITEM-DESCRIPTION  PIPE, SEAMLESS, PE, ASME B36.19, ASTM A312 Gr TP 304L, Sch 10s
    FABRICATION-ITEM
    PIPING-SPEC  SS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_10
    WEIGHT  28.26017962442166
WELD
    END-POINT        0.3639    -3585.0912    319.8786    6.0000
    END-POINT        0.3639    -3585.0912    319.8786    6.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
WELD
    END-POINT        0.3639    -3585.0916    168.8667    6.0000
    END-POINT        0.3639    -3585.0916    168.8667    6.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
LAPJOINT-STUBEND
    END-POINT        0.3692    -906.1933    0.7183    6.0000  LAP
    END-POINT        0.3681    -995.0933    0.7184    6.0000  BW
    SKEY  FLSE
    ITEM-CODE  SS3-10225
    ITEM-DESCRIPTION  STUB-END FOR LAP FLANGE, SHORT PATTERN, ASME B16.9-C, ASTM A312 Gr TP 304L
    FABRICATION-ITEM
    PIPING-SPEC  SS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_10
    WEIGHT  2.236233330309353
WELD
    END-POINT        0.3681    -995.0933    0.7184    6.0000
    END-POINT        0.3681    -995.0933    0.7184    6.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
GASKET
    END-POINT        0.3692    -906.1933    0.7183    6.0000
    END-POINT        0.3692    -903.0183    0.7183    6.0000
    ITEM-CODE  SS3-11523
    ITEM-DESCRIPTION  EMPAQUE LAMINA GARLOCK BLUE 3700 X 1/8"
    ERECTION-ITEM
    PIPING-SPEC  SS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
    WEIGHT  0.5579243400163295
FLANGE
    END-POINT        0.3692    -906.1933    0.7183    6.0000  FL
    END-POINT        0.3692    -906.1933    0.7183    6.0000  LAP
    SKEY  FLFL
    ITEM-CODE  SS3-10165
    ITEM-DESCRIPTION  FLANGE LJ, 150 LB, FF, ASME B16.5, ASTM A 105
    FABRICATION-ITEM
    PIPING-SPEC  SS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
    WEIGHT  8.164746439263357
WELD
    END-POINT        0.3692    -3762.8912    0.7183    8.0000
    END-POINT        0.3692    -3762.8912    0.7183    8.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
PIPE
    END-POINT        0.3692    -3762.8912    0.7183    8.0000
    END-POINT        0.3968    -4119.3809    0.7103    8.0000
    ITEM-CODE  SS3-956
    ITEM-DESCRIPTION  PIPE, SEAMLESS, PE, ASME B36.19, ASTM A312 Gr TP 304L, Sch 10s
    FABRICATION-ITEM
    PIPING-SPEC  SS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_10
    WEIGHT  42.53164474281048
FLANGE
    END-POINT        0.3692    -903.0183    0.7183    6.0000  FL
    END-POINT        0.3692    -903.0183    0.7183    6.0000  LAP
    SKEY  FLFL
    ITEM-CODE  SS3-10165
    ITEM-DESCRIPTION  FLANGE LJ, 150 LB, FF, ASME B16.5, ASTM A 105
    FABRICATION-ITEM
    PIPING-SPEC  SS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
    WEIGHT  8.164746439263357
LAPJOINT-STUBEND
    END-POINT        0.3692    -903.0183    0.7183    6.0000  LAP
    END-POINT        0.3702    -814.1183    0.7182    6.0000  BW
    SKEY  FLSE
    ITEM-CODE  SS3-10225
    ITEM-DESCRIPTION  STUB-END FOR LAP FLANGE, SHORT PATTERN, ASME B16.9-C, ASTM A312 Gr TP 304L
    FABRICATION-ITEM
    PIPING-SPEC  SS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_10
    WEIGHT  2.236233330309353
BOLT
    CO-ORDS          0.3692    -903.0183    0.7183    6.0000
    BOLT-DIA  3/4
    BOLT-ITEM-CODE  SS3-9053-101.59999999999998
    ITEM-DESCRIPTION  BOLT SET, RF, 150 LB, STUD BOLT
    ERECTION-ITEM
    BOLT-QUANTITY  8
    BOLT-LENGTH  101.59999999999998
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
PIPE
    END-POINT        0.3702    -814.1183    0.7182    6.0000
    END-POINT        0.3798    0.6219    0.7175    6.0000
    ITEM-CODE  SS3-954
    ITEM-DESCRIPTION  PIPE, SEAMLESS, PE, ASME B36.19, ASTM A312 Gr TP 304L, Sch 10s
    FABRICATION-ITEM
    PIPING-SPEC  SS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_10
    WEIGHT  28.26017962442166
SUPPORT
    CO-ORDS          0.3717    -687.3754    0.7181    6.0000
    SKEY  ANCH
    ITEM-CODE  SS3-9717
    ITEM-DESCRIPTION  SP-05 SKC
    FABRICATION-ITEM
    SUPPORT-DIRECTION  DOWN
    PIPING-SPEC  SS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
    STATUS DOTTED-DIMENSIONED 
    MATERIAL-LIST EXCLUDE 
WELD
    END-POINT        0.3702    -814.1183    0.7182    6.0000
    END-POINT        0.3702    -814.1183    0.7182    6.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
WELD
    END-POINT        0.3798    0.6219    0.7175    6.0000
    END-POINT        0.3798    0.6219    0.7175    6.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
ELBOW
    END-POINT        147.3210    229.2219    175.8353    6.0000  BW
    END-POINT        0.3798    0.6219    0.7175    6.0000  BW
    CENTRE-POINT     0.3798    229.2219    0.7175
    SKEY  ELBW
    ITEM-CODE  SS3-269
    ITEM-DESCRIPTION  ELL 90 LR, BW, ASME B16.9, ASTM A403 Gr WP 304L, Sch 10s
    FABRICATION-ITEM
    ANGLE   9000
    PIPING-SPEC  SS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_10
    WEIGHT  10.196861108591127
VALVE
    END-POINT        0.3908    -4041.7728    -205.5563    1.5000  SC
    END-POINT        0.3908    -4041.7728    -269.5563    1.5000  SC
    SKEY  VBSC
    ITEM-CODE  SS3-11915
    ITEM-DESCRIPTION  BALL VALVE, FULL BORE, NPT, ASME B16.10
    FABRICATION-ITEM
    TAG  PMVAL 1-324
    PIPING-SPEC  SS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
PIPE
    END-POINT        0.3908    -4041.7728    -131.0505    1.5000
    END-POINT        0.3908    -4041.7728    -205.5563    1.5000
    ITEM-CODE  SS3-946
    ITEM-DESCRIPTION  PIPE, SEAMLESS, PE, ASME B36.19, ASTM A312 Gr TP 304L, Sch 10s
    FABRICATION-ITEM
    PIPING-SPEC  SS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_10
    WEIGHT  4.047798240043545
WELD
    END-POINT        0.3908    -4041.7728    -205.5563    1.5000
    END-POINT        0.3908    -4041.7728    -205.5563    1.5000
    SKEY  SC
    FABRICATION-ITEM
    PIPING-SPEC  SS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
OLET
    CENTRE-POINT     0.3908    -4041.7758    0.7120
    BRANCH1-POINT    0.3908    -4041.7728    -131.0505    1.5000  SW
    SKEY  SKSW
    ITEM-CODE  SS3-1019
    ITEM-DESCRIPTION  SOCKOLET, 3000 LB, BWXSW, 7/8" LG, ASME B16.11, ASTM A182 Gr F304
    FABRICATION-ITEM
    PIPING-SPEC  SS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_3000
    WEIGHT  0.43545314342737906
WELD
    END-POINT        0.3908    -4041.7728    -131.0505    1.5000
    END-POINT        0.3908    -4041.7728    -131.0505    1.5000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
WELD
    END-POINT        0.3908    -4041.7758    0.7120    8.0000
    END-POINT        0.3908    -4041.7758    0.7120    8.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
WELD
    END-POINT        0.3968    -4119.3809    0.7103    8.0000
    END-POINT        0.3968    -4119.3809    0.7103    8.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
REDUCER-CONCENTRIC
    END-POINT        0.3968    -4119.3809    0.7103    8.0000  BW
    END-POINT        0.4014    -4271.7809    0.7099    6.0000  BW
    SKEY  RCBW
    ITEM-CODE  SS3-823
    ITEM-DESCRIPTION  REDUCER (CONC), BW, ASME B16.9, ASTM A403 Gr WP 304L, Sch 10s
    FABRICATION-ITEM
    PIPING-SPEC  SS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_10
    WEIGHT  6.50004535970244
WELD
    END-POINT        0.4014    -4271.7809    0.7099    6.0000
    END-POINT        0.4014    -4271.7809    0.7099    6.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
PIPE
    END-POINT        0.5443    -6954.5313    0.6505    6.0000
    END-POINT        0.4014    -4271.7809    0.7099    6.0000
    ITEM-CODE  SS3-954
    ITEM-DESCRIPTION  PIPE, SEAMLESS, PE, ASME B36.19, ASTM A312 Gr TP 304L, Sch 10s
    FABRICATION-ITEM
    PIPING-SPEC  SS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_10
    WEIGHT  28.26017962442166
SUPPORT
    CO-ORDS          0.5105    -6319.9389    0.6646    6.0000
    SKEY  ANCH
    ITEM-CODE  SS3-9717
    ITEM-DESCRIPTION  SP-05 SKC
    FABRICATION-ITEM
    SUPPORT-DIRECTION  DOWN
    PIPING-SPEC  SS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
    STATUS DOTTED-DIMENSIONED 
    MATERIAL-LIST EXCLUDE 
LAPJOINT-STUBEND
    END-POINT        0.5492    -7043.4313    0.6485    6.0000  LAP
    END-POINT        0.5443    -6954.5313    0.6505    6.0000  BW
    SKEY  FLSE
    ITEM-CODE  SS3-10225
    ITEM-DESCRIPTION  STUB-END FOR LAP FLANGE, SHORT PATTERN, ASME B16.9-C, ASTM A312 Gr TP 304L
    FABRICATION-ITEM
    PIPING-SPEC  SS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_10
    WEIGHT  2.236233330309353
WELD
    END-POINT        0.5443    -6954.5313    0.6505    6.0000
    END-POINT        0.5443    -6954.5313    0.6505    6.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
FLANGE
    END-POINT        0.5492    -7043.4313    0.6485    6.0000  FL
    END-POINT        0.5492    -7043.4313    0.6485    6.0000  LAP
    SKEY  FLFL
    ITEM-CODE  SS3-10165
    ITEM-DESCRIPTION  FLANGE LJ, 150 LB, FF, ASME B16.5, ASTM A 105
    FABRICATION-ITEM
    PIPING-SPEC  SS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
    WEIGHT  8.164746439263357
GASKET
    END-POINT        0.5495    -7046.6063    0.6484    6.0000
    END-POINT        0.5492    -7043.4313    0.6485    6.0000
    ITEM-CODE  SS3-11523
    ITEM-DESCRIPTION  EMPAQUE LAMINA GARLOCK BLUE 3700 X 1/8"
    ERECTION-ITEM
    PIPING-SPEC  SS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
    WEIGHT  0.5579243400163295
BOLT
    CO-ORDS          0.5492    -7043.4313    0.6485    6.0000
    BOLT-DIA  3/4
    BOLT-ITEM-CODE  SS3-9053-101.59999999999998
    ITEM-DESCRIPTION  BOLT SET, RF, 150 LB, STUD BOLT
    ERECTION-ITEM
    BOLT-QUANTITY  8
    BOLT-LENGTH  101.59999999999998
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
FLANGE
    END-POINT        0.5495    -7046.6063    0.6484    6.0000  FL
    END-POINT        0.5495    -7046.6063    0.6484    6.0000  LAP
    SKEY  FLFL
    ITEM-CODE  SS3-10165
    ITEM-DESCRIPTION  FLANGE LJ, 150 LB, FF, ASME B16.5, ASTM A 105
    FABRICATION-ITEM
    PIPING-SPEC  SS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
    WEIGHT  8.164746439263357
LAPJOINT-STUBEND
    END-POINT        0.5495    -7046.6063    0.6484    6.0000  LAP
    END-POINT        0.5571    -7135.5063    0.6452    6.0000  BW
    SKEY  FLSE
    ITEM-CODE  SS3-10225
    ITEM-DESCRIPTION  STUB-END FOR LAP FLANGE, SHORT PATTERN, ASME B16.9-C, ASTM A312 Gr TP 304L
    FABRICATION-ITEM
    PIPING-SPEC  SS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_10
    WEIGHT  2.236233330309353
WELD
    END-POINT        0.5571    -7135.5063    0.6452    6.0000
    END-POINT        0.5571    -7135.5063    0.6452    6.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
PIPE
    END-POINT        0.5649    -7227.1929    0.6419    6.0000
    END-POINT        0.5571    -7135.5063    0.6452    6.0000
    ITEM-CODE  SS3-954
    ITEM-DESCRIPTION  PIPE, SEAMLESS, PE, ASME B36.19, ASTM A312 Gr TP 304L, Sch 10s
    FABRICATION-ITEM
    PIPING-SPEC  SS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_10
    WEIGHT  28.26017962442166
WELD
    END-POINT        0.5649    -7227.1929    0.6419    6.0000
    END-POINT        0.5649    -7227.1929    0.6419    6.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
ELBOW
    END-POINT        147.5257    -7455.7865    175.7516    6.0000  BW
    END-POINT        0.5649    -7227.1929    0.6419    6.0000  BW
    CENTRE-POINT     0.5844    -7455.7929    0.6338
    SKEY  ELBW
    ITEM-CODE  SS3-269
    ITEM-DESCRIPTION  ELL 90 LR, BW, ASME B16.9, ASTM A403 Gr WP 304L, Sch 10s
    FABRICATION-ITEM
    ANGLE   9000
    PIPING-SPEC  SS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_10
    WEIGHT  10.196861108591127
PIPE
    END-POINT        692.8095    229.2219    825.9232    6.0000
    END-POINT        147.3210    229.2219    175.8353    6.0000
    ITEM-CODE  SS3-954
    ITEM-DESCRIPTION  PIPE, SEAMLESS, PE, ASME B36.19, ASTM A312 Gr TP 304L, Sch 10s
    FABRICATION-ITEM
    PIPING-SPEC  SS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_10
    WEIGHT  28.26017962442166
WELD
    END-POINT        147.3210    229.2219    175.8353    6.0000
    END-POINT        147.3210    229.2219    175.8353    6.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
WELD
    END-POINT        147.5257    -7455.7865    175.7516    6.0000
    END-POINT        147.5257    -7455.7865    175.7516    6.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
PIPE
    END-POINT        690.4254    -7455.7259    822.7857    6.0000
    END-POINT        147.5257    -7455.7865    175.7516    6.0000
    ITEM-CODE  SS3-954
    ITEM-DESCRIPTION  PIPE, SEAMLESS, PE, ASME B36.19, ASTM A312 Gr TP 304L, Sch 10s
    FABRICATION-ITEM
    PIPING-SPEC  SS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_10
    WEIGHT  28.26017962442166
LAPJOINT-STUBEND
    END-POINT        747.5692    -7455.7259    890.8871    6.0000  LAP
    END-POINT        690.4254    -7455.7259    822.7857    6.0000  BW
    SKEY  FLSE
    ITEM-CODE  SS3-10225
    ITEM-DESCRIPTION  STUB-END FOR LAP FLANGE, SHORT PATTERN, ASME B16.9-C, ASTM A312 Gr TP 304L
    FABRICATION-ITEM
    PIPING-SPEC  SS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_10
    WEIGHT  2.236233330309353
WELD
    END-POINT        690.4254    -7455.7259    822.7857    6.0000
    END-POINT        690.4254    -7455.7259    822.7857    6.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
LAPJOINT-STUBEND
    END-POINT        749.9533    229.2219    894.0245    6.0000  LAP
    END-POINT        692.8095    229.2219    825.9232    6.0000  BW
    SKEY  FLSE
    ITEM-CODE  SS3-10225
    ITEM-DESCRIPTION  STUB-END FOR LAP FLANGE, SHORT PATTERN, ASME B16.9-C, ASTM A312 Gr TP 304L
    FABRICATION-ITEM
    PIPING-SPEC  SS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_10
    WEIGHT  2.236233330309353
WELD
    END-POINT        692.8095    229.2219    825.9232    6.0000
    END-POINT        692.8095    229.2219    825.9232    6.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
FLANGE
    END-POINT        747.5692    -7455.7259    890.8871    6.0000  FL
    END-POINT        747.5692    -7455.7259    890.8871    6.0000  LAP
    SKEY  FLFL
    ITEM-CODE  SS3-10165
    ITEM-DESCRIPTION  FLANGE LJ, 150 LB, FF, ASME B16.5, ASTM A 105
    FABRICATION-ITEM
    PIPING-SPEC  SS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
    WEIGHT  8.164746439263357
GASKET
    END-POINT        747.5692    -7455.7259    890.8871    6.0000
    END-POINT        749.6101    -7455.7259    893.3193    6.0000
    ITEM-CODE  SS3-11523
    ITEM-DESCRIPTION  EMPAQUE LAMINA GARLOCK BLUE 3700 X 1/8"
    ERECTION-ITEM
    PIPING-SPEC  SS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
    WEIGHT  0.5579243400163295
BOLT
    CO-ORDS          749.6101    -7455.7259    893.3193    6.0000
    BOLT-DIA  3/4
    BOLT-ITEM-CODE  SS3-9053-101.59999999999998
    ITEM-DESCRIPTION  BOLT SET, RF, 150 LB, STUD BOLT
    ERECTION-ITEM
    BOLT-QUANTITY  8
    BOLT-LENGTH  101.59999999999998
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
GASKET
    END-POINT        749.9533    229.2219    894.0245    6.0000
    END-POINT        751.9942    229.2219    896.4567    6.0000
    ITEM-CODE  SS3-11523
    ITEM-DESCRIPTION  EMPAQUE LAMINA GARLOCK BLUE 3700 X 1/8"
    ERECTION-ITEM
    PIPING-SPEC  SS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
    WEIGHT  0.5579243400163295
FLANGE
    END-POINT        749.9533    229.2219    894.0245    6.0000  FL
    END-POINT        749.9533    229.2219    894.0245    6.0000  LAP
    SKEY  FLFL
    ITEM-CODE  SS3-10165
    ITEM-DESCRIPTION  FLANGE LJ, 150 LB, FF, ASME B16.5, ASTM A 105
    FABRICATION-ITEM
    PIPING-SPEC  SS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
    WEIGHT  8.164746439263357
BOLT
    CO-ORDS          751.9942    229.2219    896.4567    6.0000
    BOLT-DIA  3/4
    BOLT-ITEM-CODE  SS3-9053-101.59999999999998
    ITEM-DESCRIPTION  BOLT SET, RF, 150 LB, STUD BOLT
    ERECTION-ITEM
    BOLT-QUANTITY  8
    BOLT-LENGTH  101.59999999999998
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
MATERIALS
ITEM-CODE  SS3-954
    DESCRIPTION  PIPE, SEAMLESS, PE, ASME B36.19, ASTM A312 Gr TP 304L, Sch 10s
    Schedule  10
    PressureClass  
    Material  SS
ITEM-CODE  Buttweld-6
    Schedule  
    PressureClass  
    Material  
ITEM-CODE  SS3-269
    DESCRIPTION  ELL 90 LR, BW, ASME B16.9, ASTM A403 Gr WP 304L, Sch 10s
    Schedule  10
    PressureClass  
    Material  SS
ITEM-CODE  SS3-10225
    DESCRIPTION  STUB-END FOR LAP FLANGE, SHORT PATTERN, ASME B16.9-C, ASTM A312
    DESCRIPTION   Gr TP 304L
    Schedule  10
    PressureClass  
    Material  
ITEM-CODE  SS3-10165
    DESCRIPTION  FLANGE LJ, 150 LB, FF, ASME B16.5, ASTM A 105
    Schedule  
    PressureClass  150
    Material  
ITEM-CODE  SS3-11523
    DESCRIPTION  EMPAQUE LAMINA GARLOCK BLUE 3700 X 1/8"
    Schedule  
    PressureClass  150
    Material  
ITEM-CODE  SS3-9053-101.59999999999998
    DESCRIPTION  BOLT SET, RF, 150 LB, STUD BOLT
    Schedule  
    PressureClass  150
    Material  SS
ITEM-CODE  SS3-823
    DESCRIPTION  REDUCER (CONC), BW, ASME B16.9, ASTM A403 Gr WP 304L, Sch 10s
    Schedule  10
    PressureClass  
    Material  SS
ITEM-CODE  Buttweld-8
    Schedule  
    PressureClass  
    Material  
ITEM-CODE  SS3-956
    DESCRIPTION  PIPE, SEAMLESS, PE, ASME B36.19, ASTM A312 Gr TP 304L, Sch 10s
    Schedule  10
    PressureClass  
    Material  SS
ITEM-CODE  SS3-1142
    DESCRIPTION  TEE (RED), BW, ASME B16.9, ASTM A403 Gr WP 304L, Sch 10s
    Schedule  10
    PressureClass  
    Material  SS
ITEM-CODE  Tapweld-8
    Schedule  
    PressureClass  
    Material  
ITEM-CODE  SS3-1019
    DESCRIPTION  SOCKOLET, 3000 LB, BWXSW, 7/8" LG, ASME B16.11, ASTM A182 Gr F3
    DESCRIPTION  04
    Schedule  
    PressureClass  3000
    Material  SS
ITEM-CODE  Socketweld-1.5
    Schedule  
    PressureClass  
    Material  
ITEM-CODE  SS3-946
    DESCRIPTION  PIPE, SEAMLESS, PE, ASME B36.19, ASTM A312 Gr TP 304L, Sch 10s
    Schedule  10
    PressureClass  
    Material  SS
ITEM-CODE  Thread-1.5
    Schedule  
    PressureClass  
    Material  
ITEM-CODE  SS3-11915
    DESCRIPTION  BALL VALVE, FULL BORE, NPT, ASME B16.10
    Schedule  
    PressureClass  
    Material  
ITEM-CODE  SS3-9717
    DESCRIPTION  SP-05 SKC
    Schedule  
    PressureClass  
    Material  