ISOGEN-FILES  ISOCONFIG.FLS
UNITS-BORE  INCH
UNITS-CO-ORDS  MM
UNITS-WEIGHT  KGS
UNITS-BOLT-DIA  INCH
UNITS-BOLT-LENGTH  MM
PIPELINE-REFERENCE    UserDefinedLine
    DATE-DMY 07/08/26
    PROJECT-IDENTIFIER  
    REVISION  0
    AREA  
    PIPING-SPEC  SSS3
    INSULATION-SPEC  
    TRACING-SPEC  
ELBOW
    END-POINT        0.8656    0.2739    1926.7700    6.0000  BW
    END-POINT        68.2176    0.2739    2089.3719    6.0000  BW
    CENTRE-POINT     0.8656    0.2739    2022.0200
    SKEY  ELBW
    ITEM-CODE  SSS3-237
    ITEM-DESCRIPTION  ELL 45 LR, BW, ASME B16.9, ASTM A403 Gr WP 304L, Sch 10s
    FABRICATION-ITEM
    ANGLE   4500
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_10S
    WEIGHT  5.098430554295564
WELD
    END-POINT        0.8656    0.2739    1926.7700    6.0000
    END-POINT        0.8656    0.2739    1926.7700    6.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
PIPE
    END-POINT        0.8656    0.2739    1471.8560    6.0000
    END-POINT        0.8656    0.2739    0.5560    6.0000
    ITEM-CODE  SS3-954
    ITEM-DESCRIPTION  PIPE, SEAMLESS, PE, ASME B36.19, ASTM A312 Gr TP 304L, Sch 10s
    FABRICATION-ITEM
    PIPING-SPEC  SS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_10
    WEIGHT  28.26017962442166
FLANGE
    END-POINT        0.8656    0.2739    1475.9200    6.0000  FL
    END-POINT        0.8656    0.2739    1471.8560    6.0000  SO
    SKEY  FLSO
    ITEM-CODE  SS3-9125
    ITEM-DESCRIPTION  FLANGE SO, 150 LB, RF, ASME B16.5, ASTM A182 Gr F
    FABRICATION-ITEM
    PIPING-SPEC  SS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_ ASTM A182 Gr F
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
    WEIGHT  7.711149414859838
WELD
    END-POINT        0.8656    0.2739    1471.8560    6.0000
    END-POINT        0.8656    0.2739    1471.8560    6.0000
    SKEY  SO
    FABRICATION-ITEM
    PIPING-SPEC  SS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
GASKET
    END-POINT        0.8656    0.2739    1479.0950    6.0000
    END-POINT        0.8656    0.2739    1475.9200    6.0000
    ITEM-CODE  SS3-11523
    ITEM-DESCRIPTION  EMPAQUE LAMINA GARLOCK BLUE 3700 X 1/8"
    ERECTION-ITEM
    PIPING-SPEC  SS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
    WEIGHT  0.5579243400163295
BOLT
    CO-ORDS          0.8656    0.2739    1475.9200    6.0000
    BOLT-DIA  3/4
    BOLT-ITEM-CODE  SS3-9053-101.59999999999998
    ITEM-DESCRIPTION  BOLT SET, RF, 150 LB, STUD BOLT
    ERECTION-ITEM
    BOLT-QUANTITY  8
    BOLT-LENGTH  101.59999999999998
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
    BOLT-NOT-ON-MATERIAL-LIST 
VALVE
    END-POINT        0.8656    0.2739    1834.6950    6.0000  FL
    END-POINT        0.8656    0.2739    1479.0950    6.0000  FL
    SKEY  VCFL
    ITEM-CODE  SS3-11813
    ITEM-DESCRIPTION  CHECK VALVE, SWING, CL 150, RF, ASME B16.10
    FABRICATION-ITEM
    PIPING-SPEC  SS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
GASKET
    END-POINT        0.8656    0.2739    1834.6950    6.0000
    END-POINT        0.8656    0.2739    1837.8700    6.0000
    ITEM-CODE  SS3-11523
    ITEM-DESCRIPTION  EMPAQUE LAMINA GARLOCK BLUE 3700 X 1/8"
    ERECTION-ITEM
    PIPING-SPEC  SS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
    WEIGHT  0.5579243400163295
FLANGE
    END-POINT        0.8656    0.2739    1837.8700    6.0000  FL
    END-POINT        0.8656    0.2739    1841.9340    6.0000  SO
    SKEY  FLSO
    ITEM-CODE  SS3-9125
    ITEM-DESCRIPTION  FLANGE SO, 150 LB, RF, ASME B16.5, ASTM A182 Gr F
    FABRICATION-ITEM
    PIPING-SPEC  SS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_ ASTM A182 Gr F
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
    WEIGHT  7.711149414859838
BOLT
    CO-ORDS          0.8656    0.2739    1837.8700    6.0000
    BOLT-DIA  3/4
    BOLT-ITEM-CODE  SS3-9053-101.59999999999998
    ITEM-DESCRIPTION  BOLT SET, RF, 150 LB, STUD BOLT
    ERECTION-ITEM
    BOLT-QUANTITY  8
    BOLT-LENGTH  101.59999999999998
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
PIPE
    END-POINT        0.8656    0.2739    1841.9340    6.0000
    END-POINT        0.8656    0.2739    1926.7700    6.0000
    ITEM-CODE  SS3-954
    ITEM-DESCRIPTION  PIPE, SEAMLESS, PE, ASME B36.19, ASTM A312 Gr TP 304L, Sch 10s
    FABRICATION-ITEM
    PIPING-SPEC  SS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_10
    WEIGHT  28.26017962442166
WELD
    END-POINT        0.8656    0.2739    1841.9340    6.0000
    END-POINT        0.8656    0.2739    1841.9340    6.0000
    SKEY  SO
    FABRICATION-ITEM
    PIPING-SPEC  SS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
PIPE
    END-POINT        180.6778    0.2739    2201.8324    6.0000
    END-POINT        68.2176    0.2739    2089.3719    6.0000
    ITEM-CODE  SSS3-954
    ITEM-DESCRIPTION  PIPE, ERW, PE, ASME B36.19, ASTM A312 Gr TP 304L, Sch 10s
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_10
    WEIGHT  28.26017962442166
WELD
    END-POINT        68.2176    0.2739    2089.3719    6.0000
    END-POINT        68.2176    0.2739    2089.3719    6.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
PIPE
    END-POINT        302.8307    0.2739    2323.9854    6.0000
    END-POINT        180.6778    0.2739    2201.8324    6.0000
    ITEM-CODE  SSS3-954
    ITEM-DESCRIPTION  PIPE, ERW, PE, ASME B36.19, ASTM A312 Gr TP 304L, Sch 10s
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_10
    WEIGHT  28.26017962442166
WELD
    END-POINT        180.6778    0.2739    2201.8324    6.0000
    END-POINT        180.6778    0.2739    2201.8324    6.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
GASKET
    END-POINT        302.8307    -2081.6269    1753.8911    6.0000
    END-POINT        302.8307    -2084.8019    1753.8911    6.0000
    ITEM-CODE  SSS3-11523
    ITEM-DESCRIPTION  EMPAQUE LAMINA GARLOCK BLUE 3700 X 1/8"
    ERECTION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
    WEIGHT  0.5579243400163295
BOLT
    CO-ORDS          302.8307    -2084.8019    1753.8911    6.0000
    BOLT-DIA  3/4
    BOLT-ITEM-CODE  SSS3-9053-101.59999999999998
    ITEM-DESCRIPTION  BOLT SET, RF, 150 LB, STUD BOLT
    ERECTION-ITEM
    BOLT-QUANTITY  8
    BOLT-LENGTH  101.59999999999998
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
FLANGE
    END-POINT        302.8307    -2081.6269    1753.8911    6.0000  FL
    END-POINT        302.8307    -1992.7269    1753.8911    6.0000  BW
    SKEY  FLWN
    ITEM-CODE  SSS3-12525
    ITEM-DESCRIPTION  FLANGE LJ C/W STUB-END, 150 LB, ASME B16.5 / B16.9-C
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
    WEIGHT  10.40097976957271
PIPE
    END-POINT        302.8307    -1339.8494    1753.8911    6.0000
    END-POINT        302.8307    -1992.7269    1753.8911    6.0000
    ITEM-CODE  SSS3-954
    ITEM-DESCRIPTION  PIPE, ERW, PE, ASME B36.19, ASTM A312 Gr TP 304L, Sch 10s
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_10
    WEIGHT  28.26017962442166
WELD
    END-POINT        302.8307    -1992.7269    1753.8911    6.0000
    END-POINT        302.8307    -1992.7269    1753.8911    6.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
FLANGE
    END-POINT        302.8307    -1250.9494    1753.8911    6.0000  FL
    END-POINT        302.8307    -1339.8494    1753.8911    6.0000  BW
    SKEY  FLWN
    ITEM-CODE  SSS3-12525
    ITEM-DESCRIPTION  FLANGE LJ C/W STUB-END, 150 LB, ASME B16.5 / B16.9-C
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
    WEIGHT  10.40097976957271
WELD
    END-POINT        302.8307    -1339.8494    1753.8911    6.0000
    END-POINT        302.8307    -1339.8494    1753.8911    6.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
GASKET
    END-POINT        302.8307    -1247.7744    1753.8911    6.0000
    END-POINT        302.8307    -1250.9494    1753.8911    6.0000
    ITEM-CODE  SSS3-11523
    ITEM-DESCRIPTION  EMPAQUE LAMINA GARLOCK BLUE 3700 X 1/8"
    ERECTION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
    WEIGHT  0.5579243400163295
BOLT
    CO-ORDS          302.8307    -1250.9494    1753.8911    6.0000
    BOLT-DIA  3/4
    BOLT-ITEM-CODE  SSS3-9053-101.59999999999998
    ITEM-DESCRIPTION  BOLT SET, RF, 150 LB, STUD BOLT
    ERECTION-ITEM
    BOLT-QUANTITY  8
    BOLT-LENGTH  101.59999999999998
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
INSTRUMENT
    END-POINT        302.8307    -1247.7744    1753.8911    6.0000  FL
    END-POINT        302.8307    -947.7744    1753.8911    6.0000  FL
    CENTRE-POINT     302.8307    -1097.7744    1753.8911
    SKEY  IIFL
    ITEM-CODE  MAGNETIC FLOW METER, 6" ND, CL 150, RF
    ITEM-DESCRIPTION  MAGNETIC FLOW METER, CL 150, RF
    FABRICATION-ITEM
    TAG  FIT-I30LD23F01-F1
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
GASKET
    END-POINT        302.8307    -947.7744    1753.8911    6.0000
    END-POINT        302.8307    -944.5994    1753.8911    6.0000
    ITEM-CODE  SSS3-11523
    ITEM-DESCRIPTION  EMPAQUE LAMINA GARLOCK BLUE 3700 X 1/8"
    ERECTION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
    WEIGHT  0.5579243400163295
FLANGE
    END-POINT        302.8307    -944.5994    1753.8911    6.0000  FL
    END-POINT        302.8307    -855.6994    1753.8911    6.0000  BW
    SKEY  FLWN
    ITEM-CODE  SSS3-12525
    ITEM-DESCRIPTION  FLANGE LJ C/W STUB-END, 150 LB, ASME B16.5 / B16.9-C
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
    WEIGHT  10.40097976957271
BOLT
    CO-ORDS          302.8307    -944.5994    1753.8911    6.0000
    BOLT-DIA  3/4
    BOLT-ITEM-CODE  SSS3-9053-101.59999999999998
    ITEM-DESCRIPTION  BOLT SET, RF, 150 LB, STUD BOLT
    ERECTION-ITEM
    BOLT-QUANTITY  8
    BOLT-LENGTH  101.59999999999998
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
PIPE
    END-POINT        302.8307    -746.6214    1753.8911    6.0000
    END-POINT        302.8307    -855.6994    1753.8911    6.0000
    ITEM-CODE  SSS3-954
    ITEM-DESCRIPTION  PIPE, ERW, PE, ASME B36.19, ASTM A312 Gr TP 304L, Sch 10s
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_10
    WEIGHT  28.26017962442166
WELD
    END-POINT        302.8307    -855.6994    1753.8911    6.0000
    END-POINT        302.8307    -855.6994    1753.8911    6.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
FLANGE
    END-POINT        302.8307    -657.7214    1753.8911    6.0000  FL
    END-POINT        302.8307    -746.6214    1753.8911    6.0000  BW
    SKEY  FLWN
    ITEM-CODE  SSS3-12525
    ITEM-DESCRIPTION  FLANGE LJ C/W STUB-END, 150 LB, ASME B16.5 / B16.9-C
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
    WEIGHT  10.40097976957271
WELD
    END-POINT        302.8307    -746.6214    1753.8911    6.0000
    END-POINT        302.8307    -746.6214    1753.8911    6.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
GASKET
    END-POINT        302.8307    -654.5464    1753.8911    6.0000
    END-POINT        302.8307    -657.7214    1753.8911    6.0000
    ITEM-CODE  SSS3-11523
    ITEM-DESCRIPTION  EMPAQUE LAMINA GARLOCK BLUE 3700 X 1/8"
    ERECTION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
    WEIGHT  0.5579243400163295
BOLT
    CO-ORDS          302.8307    -657.7214    1753.8911    6.0000
    BOLT-DIA  3/4
    BOLT-ITEM-CODE  SSS3-9053-101.59999999999998
    ITEM-DESCRIPTION  BOLT SET, RF, 150 LB, STUD BOLT
    ERECTION-ITEM
    BOLT-QUANTITY  8
    BOLT-LENGTH  101.59999999999998
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
VALVE
    END-POINT        302.8307    -654.5464    1753.8911    6.0000  FL
    END-POINT        302.8307    -425.9464    1753.8911    6.0000  FL
    SKEY  VBFL
    ITEM-CODE  BALL VALVE, PNEUMATIC ACTUATOR, 6" ND, 150 LB, RF, ASME B16.10
    ITEM-DESCRIPTION  BALL VALVE - PNEUMATIC ACTUATOR, ASME B16.10
    FABRICATION-ITEM
    TAG  I30LD23F01-V1
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
GASKET
    END-POINT        302.8307    -425.9464    1753.8911    6.0000
    END-POINT        302.8307    -422.7714    1753.8911    6.0000
    ITEM-CODE  SSS3-11523
    ITEM-DESCRIPTION  EMPAQUE LAMINA GARLOCK BLUE 3700 X 1/8"
    ERECTION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
    WEIGHT  0.5579243400163295
FLANGE
    END-POINT        302.8307    -422.7714    1753.8911    6.0000  FL
    END-POINT        302.8307    -333.8714    1753.8911    6.0000  BW
    SKEY  FLWN
    ITEM-CODE  SSS3-12525
    ITEM-DESCRIPTION  FLANGE LJ C/W STUB-END, 150 LB, ASME B16.5 / B16.9-C
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
    WEIGHT  10.40097976957271
BOLT
    CO-ORDS          302.8307    -422.7714    1753.8911    6.0000
    BOLT-DIA  3/4
    BOLT-ITEM-CODE  SSS3-9053-101.59999999999998
    ITEM-DESCRIPTION  BOLT SET, RF, 150 LB, STUD BOLT
    ERECTION-ITEM
    BOLT-QUANTITY  8
    BOLT-LENGTH  101.59999999999998
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
PIPE
    END-POINT        302.8307    -333.8714    1753.8911    6.0000
    END-POINT        302.8307    -228.3261    1753.8911    6.0000
    ITEM-CODE  SSS3-954
    ITEM-DESCRIPTION  PIPE, ERW, PE, ASME B36.19, ASTM A312 Gr TP 304L, Sch 10s
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_10
    WEIGHT  28.26017962442166
SUPPORT
    CO-ORDS          302.8307    -262.3788    1753.8911    6.0000
    SKEY  ANCH
    ITEM-CODE  SSS3-9717
    ITEM-DESCRIPTION  SP-05 SKC
    SUPPORT-DIRECTION  UP
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
WELD
    END-POINT        302.8307    -333.8714    1753.8911    6.0000
    END-POINT        302.8307    -333.8714    1753.8911    6.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
WELD
    END-POINT        302.8307    -99.7386    3368.4476    0.5000
    END-POINT        302.8307    -99.7386    3368.4476    0.5000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
PIPE
    END-POINT        302.8307    -149.7386    3368.4476    0.5000
    END-POINT        302.8307    -99.7386    3368.4476    0.5000
    ITEM-CODE  SSS3-940
    ITEM-DESCRIPTION  PIPE, ERW, PE, ASME B36.19, ASTM A312 Gr TP 304L, Sch 10s
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_10
    WEIGHT  1.2649369500136078
PIPE
    END-POINT        302.8307    150.2864    3368.4476    0.5000
    END-POINT        302.8307    100.2864    3368.4476    0.5000
    ITEM-CODE  SSS3-940
    ITEM-DESCRIPTION  PIPE, ERW, PE, ASME B36.19, ASTM A312 Gr TP 304L, Sch 10s
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_10
    WEIGHT  1.2649369500136078
WELD
    END-POINT        302.8307    150.2864    3368.4476    0.5000
    END-POINT        302.8307    150.2864    3368.4476    0.5000
    SKEY  SC
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
VALVE
    END-POINT        302.8307    150.2864    3368.4476    0.5000  SC
    END-POINT        302.8307    181.2864    3368.4476    0.5000  SC
    SKEY  VBSC
    ITEM-CODE  SSS3-11807
    ITEM-DESCRIPTION  BALL VALVE, FULL BORE, NPT, ASME B16.10
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
PIPE
    END-POINT        302.8307    181.2864    3368.4476    0.5000
    END-POINT        302.8307    241.2625    3368.4476    0.5000
    ITEM-CODE  SSS3-940
    ITEM-DESCRIPTION  PIPE, ERW, PE, ASME B36.19, ASTM A312 Gr TP 304L, Sch 10s
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_10
    WEIGHT  1.2649369500136078
WELD
    END-POINT        302.8307    181.2864    3368.4476    0.5000
    END-POINT        302.8307    181.2864    3368.4476    0.5000
    SKEY  SC
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
WELD
    END-POINT        302.8307    241.2625    3368.4476    0.5000
    END-POINT        302.8307    241.2625    3368.4476    0.5000
    SKEY  SC
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
ELBOW
    END-POINT        302.8307    241.2625    3368.4476    0.5000  SC
    END-POINT        302.8307    258.7885    3385.9736    0.5000  SC
    CENTRE-POINT     302.8307    258.7885    3368.4476
    SKEY  ELSC
    ITEM-CODE  SSS3-13009
    ITEM-DESCRIPTION  ELBOW 90, 150 LB, FPT, ASME B16.3
    FABRICATION-ITEM
    ANGLE   9000
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
    WEIGHT  0.09979134536877438
WELD
    END-POINT        302.8307    258.7885    3385.9736    0.5000
    END-POINT        302.8307    258.7885    3385.9736    0.5000
    SKEY  SC
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
ELBOW
    END-POINT        302.8307    -240.7147    3368.4476    0.5000  SC
    END-POINT        302.8307    -258.2407    3385.9736    0.5000  SC
    CENTRE-POINT     302.8307    -258.2407    3368.4476
    SKEY  ELSC
    ITEM-CODE  SSS3-13009
    ITEM-DESCRIPTION  ELBOW 90, 150 LB, FPT, ASME B16.3
    FABRICATION-ITEM
    ANGLE   9000
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
    WEIGHT  0.09979134536877438
WELD
    END-POINT        302.8307    -258.2407    3385.9736    0.5000
    END-POINT        302.8307    -258.2407    3385.9736    0.5000
    SKEY  SC
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
PIPE
    END-POINT        302.8307    -180.7386    3368.4476    0.5000
    END-POINT        302.8307    -240.7147    3368.4476    0.5000
    ITEM-CODE  SSS3-940
    ITEM-DESCRIPTION  PIPE, ERW, PE, ASME B36.19, ASTM A312 Gr TP 304L, Sch 10s
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_10
    WEIGHT  1.2649369500136078
WELD
    END-POINT        302.8307    -240.7147    3368.4476    0.5000
    END-POINT        302.8307    -240.7147    3368.4476    0.5000
    SKEY  SC
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
ELBOW
    END-POINT        302.8307    -228.3261    1753.8911    6.0000  BW
    END-POINT        302.8307    0.2739    1982.4911    6.0000  BW
    CENTRE-POINT     302.8307    0.2739    1753.8911
    SKEY  ELBW
    ITEM-CODE  SSS3-269
    ITEM-DESCRIPTION  ELL 90 LR, BW, ASME B16.9, ASTM A403 Gr WP 304L, Sch 10s
    FABRICATION-ITEM
    ANGLE   9000
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_10
    WEIGHT  10.196861108591127
WELD
    END-POINT        302.8307    -228.3261    1753.8911    6.0000
    END-POINT        302.8307    -228.3261    1753.8911    6.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
VALVE
    END-POINT        302.8307    -149.7386    3368.4476    0.5000  SC
    END-POINT        302.8307    -180.7386    3368.4476    0.5000  SC
    SKEY  VBSC
    ITEM-CODE  SSS3-11807
    ITEM-DESCRIPTION  BALL VALVE, FULL BORE, NPT, ASME B16.10
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
WELD
    END-POINT        302.8307    -180.7386    3368.4476    0.5000
    END-POINT        302.8307    -180.7386    3368.4476    0.5000
    SKEY  SC
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
WELD
    END-POINT        302.8307    -162.6140    1753.8911    6.0000
    END-POINT        302.8307    -162.6140    1753.8911    6.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
OLET
    CENTRE-POINT     302.8307    -162.6140    1753.8911
    BRANCH1-POINT    302.8307    -132.0396    1661.6660    1.5000  SW
    SKEY  SKSW
    ITEM-CODE  SSS3-1009
    ITEM-DESCRIPTION  SOCKOLET, 3000 LB, BWXSW, 7/8" LG, ASME B16.11, ASTM A182 Gr F304L
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_3000
    WEIGHT  0.43545314342737906
WELD
    END-POINT        302.8307    -149.7386    3368.4476    0.5000
    END-POINT        302.8307    -149.7386    3368.4476    0.5000
    SKEY  SC
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
WELD
    END-POINT        302.8307    -132.0396    1661.6660    1.5000
    END-POINT        302.8307    -132.0396    1661.6660    1.5000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
PIPE
    END-POINT        302.8307    -132.0396    1661.6660    1.5000
    END-POINT        302.8307    -110.4323    1589.6708    1.5000
    ITEM-CODE  SSS3-946
    ITEM-DESCRIPTION  PIPE, ERW, PE, ASME B36.19, ASTM A312 Gr TP 304L, Sch 10s
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_10
    WEIGHT  4.047798240043545
WELD
    END-POINT        302.8307    -110.4323    1589.6708    1.5000
    END-POINT        302.8307    -110.4323    1589.6708    1.5000
    SKEY  SC
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
VALVE
    END-POINT        302.8307    -110.4323    1589.6708    1.5000  SC
    END-POINT        302.8307    -92.0352    1528.3720    1.5000  SC
    SKEY  VBSC
    ITEM-CODE  SSS3-11815
    ITEM-DESCRIPTION  BALL VALVE, FULL BORE, NPT, ASME B16.10
    FABRICATION-ITEM
    TAG  PMVAL 1-322
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
OLET
    CENTRE-POINT     302.8307    0.2739    3368.4476
    BRANCH1-POINT    302.8307    -99.7386    3368.4476    0.5000  SW
    SKEY  SKSW
    ITEM-CODE  SSS3-1003
    ITEM-DESCRIPTION  SOCKOLET, 3000 LB, BWXSW, 7/8" LG, ASME B16.11, ASTM A182 Gr F304L
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_3000
    WEIGHT  0.11793522634491518
PIPE
    END-POINT        302.8307    0.2739    3368.4476    6.0000
    END-POINT        302.8307    0.2739    1982.4911    6.0000
    ITEM-CODE  SSS3-954
    ITEM-DESCRIPTION  PIPE, ERW, PE, ASME B36.19, ASTM A312 Gr TP 304L, Sch 10s
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_10
    WEIGHT  28.26017962442166
WELD
    END-POINT        302.8307    0.2739    1982.4911    6.0000
    END-POINT        302.8307    0.2739    1982.4911    6.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
WELD
    END-POINT        302.8307    0.2739    2323.9854    6.0000
    END-POINT        302.8307    0.2739    2323.9854    6.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
WELD
    END-POINT        302.8307    0.2739    3368.4476    6.0000
    END-POINT        302.8307    0.2739    3368.4476    6.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
PIPE
    END-POINT        302.8307    0.2739    3368.4476    6.0000
    END-POINT        302.8307    0.2739    3537.9343    6.0000
    ITEM-CODE  SSS3-954
    ITEM-DESCRIPTION  PIPE, ERW, PE, ASME B36.19, ASTM A312 Gr TP 304L, Sch 10s
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_10
    WEIGHT  28.26017962442166
WELD
    END-POINT        302.8307    0.2739    3368.4476    6.0000
    END-POINT        302.8307    0.2739    3368.4476    6.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
WELD
    END-POINT        302.8307    0.2739    3368.4476    6.0000
    END-POINT        302.8307    0.2739    3368.4476    6.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
OLET
    CENTRE-POINT     302.8307    0.2739    3368.4476
    BRANCH1-POINT    302.8307    100.2864    3368.4476    0.5000  SW
    SKEY  SKSW
    ITEM-CODE  SSS3-1003
    ITEM-DESCRIPTION  SOCKOLET, 3000 LB, BWXSW, 7/8" LG, ASME B16.11, ASTM A182 Gr F304L
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_3000
    WEIGHT  0.11793522634491518
WELD
    END-POINT        302.8307    100.2864    3368.4476    0.5000
    END-POINT        302.8307    100.2864    3368.4476    0.5000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
WELD
    END-POINT        302.8307    0.2739    3537.9343    6.0000
    END-POINT        302.8307    0.2739    3537.9343    6.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
ELBOW
    END-POINT        531.4307    0.2739    3766.5343    6.0000  BW
    END-POINT        302.8307    0.2739    3537.9343    6.0000  BW
    CENTRE-POINT     302.8307    0.2739    3766.5343
    SKEY  ELBW
    ITEM-CODE  SSS3-269
    ITEM-DESCRIPTION  ELL 90 LR, BW, ASME B16.9, ASTM A403 Gr WP 304L, Sch 10s
    FABRICATION-ITEM
    ANGLE   9000
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_10
    WEIGHT  10.196861108591127
WELD
    END-POINT        531.4307    0.2739    3766.5343    6.0000
    END-POINT        531.4307    0.2739    3766.5343    6.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
FLANGE
    END-POINT        620.3307    0.2739    3766.5343    6.0000  FL
    END-POINT        531.4307    0.2739    3766.5343    6.0000  BW
    SKEY  FLWN
    ITEM-CODE  SSS3-12525
    ITEM-DESCRIPTION  FLANGE LJ C/W STUB-END, 150 LB, ASME B16.5 / B16.9-C
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
    WEIGHT  10.40097976957271
GASKET
    END-POINT        620.3307    0.2739    3766.5343    6.0000
    END-POINT        623.5057    0.2739    3766.5343    6.0000
    ITEM-CODE  SSS3-11523
    ITEM-DESCRIPTION  EMPAQUE LAMINA GARLOCK BLUE 3700 X 1/8"
    ERECTION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
    WEIGHT  0.5579243400163295
BOLT
    CO-ORDS          623.5057    0.2739    3766.5343    6.0000
    BOLT-DIA  3/4
    BOLT-ITEM-CODE  SSS3-9053-101.59999999999998
    ITEM-DESCRIPTION  BOLT SET, RF, 150 LB, STUD BOLT
    ERECTION-ITEM
    BOLT-QUANTITY  8
    BOLT-LENGTH  101.59999999999998
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
MATERIALS
ITEM-CODE  SSS3-954
    DESCRIPTION  PIPE, ERW, PE, ASME B36.19, ASTM A312 Gr TP 304L, Sch 10s
    Schedule  10
    PressureClass  
    Material  SS
ITEM-CODE  Buttweld-6
    Schedule  
    PressureClass  
    Material  
ITEM-CODE  SSS3-269
    DESCRIPTION  ELL 90 LR, BW, ASME B16.9, ASTM A403 Gr WP 304L, Sch 10s
    Schedule  10
    PressureClass  
    Material  SS
ITEM-CODE  SSS3-10225
    DESCRIPTION  STUB-END FOR LAP FLANGE, SHORT PATTERN, ASME B16.9-C, ASTM A312
    DESCRIPTION   Gr TP 304L
    Schedule  10
    PressureClass  
    Material  
ITEM-CODE  SSS3-12525
    DESCRIPTION  FLANGE LJ, 150 LB, FF, ASME B16.5, ASTM A 105
    Schedule  
    PressureClass  150
    Material  
ITEM-CODE  SSS3-11523
    DESCRIPTION  EMPAQUE LAMINA GARLOCK BLUE 3700 X 1/8"
    Schedule  
    PressureClass  150
    Material  
ITEM-CODE  SSS3-9053-101.59999999999998
    DESCRIPTION  BOLT SET, RF, 150 LB, STUD BOLT
    Schedule  
    PressureClass  150
    Material  SS
ITEM-CODE  Tapweld-6
    Schedule  
    PressureClass  
    Material  
ITEM-CODE  SSS3-237
    DESCRIPTION  ELL 45 LR, BW, ASME B16.9, ASTM A403 Gr WP 304L, Sch 10s
    Schedule  10S
    PressureClass  
    Material  SS
ITEM-CODE  SS3-954
    DESCRIPTION  PIPE, SEAMLESS, PE, ASME B36.19, ASTM A312 Gr TP 304L, Sch 10s
    Schedule  10
    PressureClass  
    Material  SS
ITEM-CODE  SlipOn-6
    Schedule  
    PressureClass  
    Material  
ITEM-CODE  SS3-9125
    DESCRIPTION  FLANGE SO, 150 LB, RF, ASME B16.5, ASTM A182 Gr F
    Schedule  
    PressureClass  150
    Material   ASTM A182 Gr F
ITEM-CODE  SS3-11523
    DESCRIPTION  EMPAQUE LAMINA GARLOCK BLUE 3700 X 1/8"
    Schedule  
    PressureClass  150
    Material  
ITEM-CODE  SS3-9053-101.59999999999998
    DESCRIPTION  BOLT SET, RF, 150 LB, STUD BOLT
    Schedule  
    PressureClass  150
    Material  SS
ITEM-CODE  SS3-11813
    DESCRIPTION  CHECK VALVE, SWING, CL 150, RF, ASME B16.10
    Schedule  
    PressureClass  150
    Material  
ITEM-CODE  SSS3-1003
    DESCRIPTION  SOCKOLET, 3000 LB, BWXSW, 7/8" LG, ASME B16.11, ASTM A182 Gr F3
    DESCRIPTION  04L
    Schedule  
    PressureClass  3000
    Material  SS
ITEM-CODE  Socketweld-0.5
    Schedule  
    PressureClass  
    Material  
ITEM-CODE  SSS3-940
    DESCRIPTION  PIPE, ERW, PE, ASME B36.19, ASTM A312 Gr TP 304L, Sch 10s
    Schedule  10
    PressureClass  
    Material  SS
ITEM-CODE  Thread-0.5
    Schedule  
    PressureClass  
    Material  
ITEM-CODE  SSS3-11807
    DESCRIPTION  BALL VALVE, FULL BORE, NPT, ASME B16.10
    Schedule  
    PressureClass  
    Material  
ITEM-CODE  SSS3-13009
    DESCRIPTION  ELBOW 90, 150 LB, FPT, ASME B16.3
    Schedule  
    PressureClass  150
    Material  
ITEM-CODE  PRESSURE GAUGE, 1/2" ND, FPT
    DESCRIPTION  PRESSURE GAUGE, FPT
    Schedule  
    PressureClass  150
    Material  
ITEM-CODE  CP IMPERIAL Inline Instrument (VALVE)
    Schedule  
    PressureClass  150
    Material  
ITEM-CODE  BALL VALVE, PNEUMATIC ACTUATOR, 6" ND, 150 LB, RF, ASME B16.10
    DESCRIPTION  BALL VALVE - PNEUMATIC ACTUATOR, ASME B16.10
    Schedule  
    PressureClass  150
    Material  
ITEM-CODE  MAGNETIC FLOW METER, 6" ND, CL 150, RF
    DESCRIPTION  MAGNETIC FLOW METER, CL 150, RF
    Schedule  
    PressureClass  150
    Material  
ITEM-CODE  SSS3-1009
    DESCRIPTION  SOCKOLET, 3000 LB, BWXSW, 7/8" LG, ASME B16.11, ASTM A182 Gr F3
    DESCRIPTION  04L
    Schedule  
    PressureClass  3000
    Material  SS
ITEM-CODE  Socketweld-1.5
    Schedule  
    PressureClass  
    Material  
ITEM-CODE  SSS3-946
    DESCRIPTION  PIPE, ERW, PE, ASME B36.19, ASTM A312 Gr TP 304L, Sch 10s
    Schedule  10
    PressureClass  
    Material  SS
ITEM-CODE  Thread-1.5
    Schedule  
    PressureClass  
    Material  
ITEM-CODE  SSS3-11815
    DESCRIPTION  BALL VALVE, FULL BORE, NPT, ASME B16.10
    Schedule  
    PressureClass  
    Material  
ITEM-CODE  SSS3-9717
    DESCRIPTION  SP-05 SKC
    Schedule  
    PressureClass  
    Material  
