ISOGEN-FILES  ISOCONFIG.FLS
UNITS-BORE  INCH
UNITS-CO-ORDS  MM
UNITS-WEIGHT  KGS
UNITS-BOLT-DIA  INCH
UNITS-BOLT-LENGTH  MM
PIPELINE-REFERENCE    PMTUB6-030-PUB-6"-150H2A-1
    DATE-DMY 09/04/26
    ATTRIBUTE1  I24.104-PP30-PP01-TUM-ISO-045
    ATTRIBUTE2  PMTUB6-030-PUB-6"-150H2A
    ATTRIBUTE3  I24.104-PP30-PP01-TUM-ISO-045
    ATTRIBUTE4  INGENIERÍA DE DETALLE 
    ATTRIBUTE5  EUCALYPTUS PULP PRODUCTION OPTIMIZATION PROJECT
    PROJECT-IDENTIFIER  
    REVISION  0
    AREA  
    PIPING-SPEC  SSS3
    INSULATION-SPEC  
    TRACING-SPEC  
END-POSITION-NULL
    CO-ORDS          1527.0871    775.0871    5040.6242
END-POSITION-NULL
    CO-ORDS          -290.6158    1.0000    -1227.5610
END-POSITION-NULL
    CO-ORDS          1612.3207    701.0000    3026.2377
END-POSITION-NULL
    CO-ORDS          1453.0000    872.4772    3510.0180
END-POSITION-NULL
    CO-ORDS          1453.0000    872.4772    3611.6180
END-POSITION-NULL
    CO-ORDS          1453.0000    872.4772    5167.1680
END-POSITION-NULL
    CO-ORDS          1453.0000    872.4772    5268.7680
END-POSITION-NULL
    CO-ORDS          1453.0000    701.0000    6720.0000
VALVE
    END-POINT        0.6052    1.0000    0.2390    6.0000  FL
    END-POINT        -290.6158    1.0000    -1227.5610    6.0000  FL
    SKEY  FXFL
    ITEM-CODE  FLEX HOSE
    ITEM-DESCRIPTION  FLEX HOSE
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
GASKET
    END-POINT        0.6052    1.0000    3.4140    6.0000
    END-POINT        0.6052    1.0000    0.2390    6.0000
    ITEM-CODE  SSS3-11523
    ITEM-DESCRIPTION  GASKET, FLAT RING x 150 LB, THK 1/16"
    ERECTION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
    WEIGHT  0.5579243400163295
BOLT
    CO-ORDS          0.6052    1.0000    0.2390    6.0000
    BOLT-DIA  3/4
    BOLT-ITEM-CODE  SSS3-9053-101.59999999999998
    ITEM-DESCRIPTION  BOLT SET, RF, 150 LB, STUD BOLT
    ERECTION-ITEM
    BOLT-QUANTITY  8
    BOLT-LENGTH  101.59999999999998
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
LAPJOINT-STUBEND
    END-POINT        0.6052    1.0000    3.4140    6.0000  LAP
    END-POINT        0.6052    1.0000    92.3140    6.0000  BW
    SKEY  FLSE
    ITEM-CODE  SSS3-10225
    ITEM-DESCRIPTION  STUB-END, SHORT PATTERN, SCH 10S, ASTM A403 Gr WP 304L, ASME B16.9 TYPE C
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_10S
    WEIGHT  2.236233330309353
FLANGE
    END-POINT        0.6052    1.0000    3.4140    6.0000  FL
    END-POINT        0.6052    1.0000    3.4140    6.0000  LAP
    SKEY  FLFL
    ITEM-CODE  SSS3-12525
    ITEM-DESCRIPTION  FLANGE LJ, 150 LB, ASTM A182 Gr F304, ASME B16.5, FF
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
    WEIGHT  8.164746439263357
PIPE
    END-POINT        0.6052    1.0000    150.2029    6.0000
    END-POINT        0.6052    1.0000    92.3140    6.0000
    ITEM-CODE  SSS3-954
    ITEM-DESCRIPTION  PIPE, SCH 10S, ASME B36.19, ASTM A312 Gr TP 304L, WELDED/SEAMLESS, PE
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_10S
    WEIGHT  28.26017962442166
WELD
    END-POINT        0.6052    1.0000    92.3140    6.0000
    END-POINT        0.6052    1.0000    92.3140    6.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
ELBOW
    END-POINT        32.1374    16.1974    272.1583    6.0000  BW
    END-POINT        0.6052    1.0000    150.2029    6.0000  BW
    CENTRE-POINT     0.6052    1.0000    216.2040
    SKEY  ELBW
    ITEM-CODE  SS3-237
    ITEM-DESCRIPTION  ELL 45 LR, BW, ASME B16.9, ASTM A403 Gr WP 304L, Sch 10s
    FABRICATION-ITEM
    ANGLE   3203
    PIPING-SPEC  SS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_10
    WEIGHT  11.24
SUPPORT
    CO-ORDS          0.6052    1.0000    143.4637    6.0000
    SKEY  ANCH
    ITEM-CODE  SSS3-13217
    ITEM-DESCRIPTION  STANDARD U-BOLT, MSS SP-58, ASTM A193 Gr B8L
    SUPPORT-DIRECTION  EAST
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
WELD
    END-POINT        0.6052    1.0000    150.2029    6.0000
    END-POINT        0.6052    1.0000    150.2029    6.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
PIPE
    END-POINT        32.1374    16.1974    272.1583    6.0000
    END-POINT        1421.4677    685.8026    2737.5418    6.0000
    ITEM-CODE  SSS3-954
    ITEM-DESCRIPTION  PIPE, SCH 10S, ASME B36.19, ASTM A312 Gr TP 304L, WELDED/SEAMLESS, PE
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_10S
    WEIGHT  28.26017962442166
WELD
    END-POINT        32.1374    16.1974    272.1583    6.0000
    END-POINT        32.1374    16.1974    272.1583    6.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
WELD
    END-POINT        1421.4677    685.8026    2737.5418    6.0000
    END-POINT        1421.4677    685.8026    2737.5418    6.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
ELBOW
    END-POINT        1421.4677    685.8026    2737.5418    6.0000  BW
    END-POINT        1453.0000    701.0000    2859.4972    6.0000  BW
    CENTRE-POINT     1453.0000    701.0000    2793.4962
    SKEY  ELBW
    ITEM-CODE  SSS3-237
    ITEM-DESCRIPTION  ELL 45 LR, SCH 10S, ASTM A403 Gr WP 304L, ASME B16.9, BW
    FABRICATION-ITEM
    ANGLE   3203
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_10S
    WEIGHT  5.098430554295564
WELD
    END-POINT        1453.0000    701.0000    2859.4972    6.0000
    END-POINT        1453.0000    701.0000    2859.4972    6.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
PIPE
    END-POINT        1453.0000    701.0000    2859.4972    6.0000
    END-POINT        1453.0000    701.0000    3440.1680    6.0000
    ITEM-CODE  SSS3-954
    ITEM-DESCRIPTION  PIPE, SCH 10S, ASME B36.19, ASTM A312 Gr TP 304L, WELDED/SEAMLESS, PE
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_10S
    WEIGHT  28.26017962442166
    TAP-CONNECTION  
    CO-ORDS          1523.6544    701.0000    2937.5714    1.0000
SUPPORT
    CO-ORDS          1453.0000    701.0000    3066.7903    6.0000
    SKEY  ANCH
    ITEM-CODE  SSS3-13217
    ITEM-DESCRIPTION  STANDARD U-BOLT, MSS SP-58, ASTM A193 Gr B8L
    SUPPORT-DIRECTION  EAST
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
WELD
    END-POINT        1453.0000    701.0000    3440.1680    6.0000
    END-POINT        1453.0000    701.0000    3440.1680    6.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
LAPJOINT-STUBEND
    END-POINT        1453.0000    701.0000    3529.0680    6.0000  LAP
    END-POINT        1453.0000    701.0000    3440.1680    6.0000  BW
    SKEY  FLSE
    ITEM-CODE  SSS3-10225
    ITEM-DESCRIPTION  STUB-END, SHORT PATTERN, SCH 10S, ASTM A403 Gr WP 304L, ASME B16.9 TYPE C
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_10S
    WEIGHT  2.236233330309353
GASKET
    END-POINT        1453.0000    701.0000    3529.0680    6.0000
    END-POINT        1453.0000    701.0000    3532.2430    6.0000
    ITEM-CODE  SSS3-11523
    ITEM-DESCRIPTION  GASKET, FLAT RING x 150 LB, THK 1/16"
    ERECTION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
    WEIGHT  0.5579243400163295
FLANGE
    END-POINT        1453.0000    701.0000    3529.0680    6.0000  FL
    END-POINT        1453.0000    701.0000    3529.0680    6.0000  LAP
    SKEY  FLFL
    ITEM-CODE  SSS3-12525
    ITEM-DESCRIPTION  FLANGE LJ, 150 LB, ASTM A182 Gr F304, ASME B16.5, FF
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
    WEIGHT  8.164746439263357
VALVE
    END-POINT        1453.0000    701.0000    3589.3930    6.0000  FL
    END-POINT        1453.0000    701.0000    3532.2430    6.0000  FL
    SKEY  VVFL
    ITEM-CODE  THROUGH CONDUIT KNIFE GATE VALVE,  6" ND, 150 LB, LUG, RF, ASME B16.10
    ITEM-DESCRIPTION  THROUGH CONDUIT KNIFE GATE VALVE, 150 LB, LUG, RF, ASME B16.10
    FABRICATION-ITEM
    TAG  I30BT13Z05-V1
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
BOLT
    CO-ORDS          1453.0000    701.0000    3532.2430    6.0000
    BOLT-DIA  3/4
    BOLT-ITEM-CODE  SSS3-9053-101.59999999999998
    ITEM-DESCRIPTION  BOLT SET, RF, 150 LB, STUD BOLT
    ERECTION-ITEM
    BOLT-QUANTITY  8
    BOLT-LENGTH  101.59999999999998
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
GASKET
    END-POINT        1453.0000    701.0000    3592.5680    6.0000
    END-POINT        1453.0000    701.0000    3589.3930    6.0000
    ITEM-CODE  SSS3-11523
    ITEM-DESCRIPTION  GASKET, FLAT RING x 150 LB, THK 1/16"
    ERECTION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
    WEIGHT  0.5579243400163295
BOLT
    CO-ORDS          1453.0000    701.0000    3589.3930    6.0000
    BOLT-DIA  3/4
    BOLT-ITEM-CODE  SSS3-9053-101.59999999999998
    ITEM-DESCRIPTION  BOLT SET, RF, 150 LB, STUD BOLT
    ERECTION-ITEM
    BOLT-QUANTITY  8
    BOLT-LENGTH  101.59999999999998
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
LAPJOINT-STUBEND
    END-POINT        1453.0000    701.0000    3592.5680    6.0000  LAP
    END-POINT        1453.0000    701.0000    3681.4680    6.0000  BW
    SKEY  FLSE
    ITEM-CODE  SSS3-10225
    ITEM-DESCRIPTION  STUB-END, SHORT PATTERN, SCH 10S, ASTM A403 Gr WP 304L, ASME B16.9 TYPE C
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_10S
    WEIGHT  2.236233330309353
FLANGE
    END-POINT        1453.0000    701.0000    3592.5680    6.0000  FL
    END-POINT        1453.0000    701.0000    3592.5680    6.0000  LAP
    SKEY  FLFL
    ITEM-CODE  SSS3-12525
    ITEM-DESCRIPTION  FLANGE LJ, 150 LB, ASTM A182 Gr F304, ASME B16.5, FF
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
    WEIGHT  8.164746439263357
PIPE
    END-POINT        1453.0000    701.0000    5097.3180    6.0000
    END-POINT        1453.0000    701.0000    3681.4680    6.0000
    ITEM-CODE  SSS3-954
    ITEM-DESCRIPTION  PIPE, SCH 10S, ASME B36.19, ASTM A312 Gr TP 304L, WELDED/SEAMLESS, PE
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_10S
    WEIGHT  28.26017962442166
WELD
    END-POINT        1453.0000    701.0000    3681.4680    6.0000
    END-POINT        1453.0000    701.0000    3681.4680    6.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
WELD
    END-POINT        1453.0000    701.0000    5040.6242    6.0000
    END-POINT        1453.0000    701.0000    5040.6242    6.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
OLET
    CENTRE-POINT     1453.0000    701.0000    5040.6242
    BRANCH1-POINT    1527.0871    775.0871    5040.6242    1.0000  SW
    SKEY  SKSW
    ITEM-CODE  SSS3-1007
    ITEM-DESCRIPTION  SOCKOLET, 3000 LB, ASTM A182 Gr F304L, ASME B16.11, BWXSW
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_3000
    WEIGHT  0.24494239317790076
LAPJOINT-STUBEND
    END-POINT        1453.0000    701.0000    5186.2180    6.0000  LAP
    END-POINT        1453.0000    701.0000    5097.3180    6.0000  BW
    SKEY  FLSE
    ITEM-CODE  SSS3-10225
    ITEM-DESCRIPTION  STUB-END, SHORT PATTERN, SCH 10S, ASTM A403 Gr WP 304L, ASME B16.9 TYPE C
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_10S
    WEIGHT  2.236233330309353
WELD
    END-POINT        1453.0000    701.0000    5097.3180    6.0000
    END-POINT        1453.0000    701.0000    5097.3180    6.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
GASKET
    END-POINT        1453.0000    701.0000    5186.2180    6.0000
    END-POINT        1453.0000    701.0000    5189.3930    6.0000
    ITEM-CODE  SSS3-11523
    ITEM-DESCRIPTION  GASKET, FLAT RING x 150 LB, THK 1/16"
    ERECTION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
    WEIGHT  0.5579243400163295
FLANGE
    END-POINT        1453.0000    701.0000    5186.2180    6.0000  FL
    END-POINT        1453.0000    701.0000    5186.2180    6.0000  LAP
    SKEY  FLFL
    ITEM-CODE  SSS3-12525
    ITEM-DESCRIPTION  FLANGE LJ, 150 LB, ASTM A182 Gr F304, ASME B16.5, FF
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
    WEIGHT  8.164746439263357
BOLT
    CO-ORDS          1453.0000    701.0000    5189.3930    6.0000
    BOLT-DIA  3/4
    BOLT-ITEM-CODE  SSS3-9053-101.59999999999998
    ITEM-DESCRIPTION  BOLT SET, RF, 150 LB, STUD BOLT
    ERECTION-ITEM
    BOLT-QUANTITY  8
    BOLT-LENGTH  101.59999999999998
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
BOLT
    CO-ORDS          1453.0000    701.0000    5246.5430    6.0000
    BOLT-DIA  3/4
    BOLT-ITEM-CODE  SSS3-9053-101.59999999999998
    ITEM-DESCRIPTION  BOLT SET, RF, 150 LB, STUD BOLT
    ERECTION-ITEM
    BOLT-QUANTITY  8
    BOLT-LENGTH  101.59999999999998
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
LAPJOINT-STUBEND
    END-POINT        1453.0000    701.0000    5249.7180    6.0000  LAP
    END-POINT        1453.0000    701.0000    5338.6180    6.0000  BW
    SKEY  FLSE
    ITEM-CODE  SSS3-10225
    ITEM-DESCRIPTION  STUB-END, SHORT PATTERN, SCH 10S, ASTM A403 Gr WP 304L, ASME B16.9 TYPE C
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_10S
    WEIGHT  2.236233330309353
FLANGE
    END-POINT        1453.0000    701.0000    5249.7180    6.0000  FL
    END-POINT        1453.0000    701.0000    5249.7180    6.0000  LAP
    SKEY  FLFL
    ITEM-CODE  SSS3-12525
    ITEM-DESCRIPTION  FLANGE LJ, 150 LB, ASTM A182 Gr F304, ASME B16.5, FF
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
    WEIGHT  8.164746439263357
GASKET
    END-POINT        1453.0000    701.0000    5249.7180    6.0000
    END-POINT        1453.0000    701.0000    5246.5430    6.0000
    ITEM-CODE  SSS3-11523
    ITEM-DESCRIPTION  GASKET, FLAT RING x 150 LB, THK 1/16"
    ERECTION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
    WEIGHT  0.5579243400163295
WELD
    END-POINT        1453.0000    701.0000    5338.6180    6.0000
    END-POINT        1453.0000    701.0000    5338.6180    6.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
PIPE
    END-POINT        1453.0000    701.0000    6627.9250    6.0000
    END-POINT        1453.0000    701.0000    5338.6180    6.0000
    ITEM-CODE  SSS3-954
    ITEM-DESCRIPTION  PIPE, SCH 10S, ASME B36.19, ASTM A312 Gr TP 304L, WELDED/SEAMLESS, PE
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_10S
    WEIGHT  28.26017962442166
SUPPORT
    CO-ORDS          1453.0000    701.0000    6272.5696    6.0000
    SKEY  ANCH
    ITEM-CODE  SSS3-13217
    ITEM-DESCRIPTION  STANDARD U-BOLT, MSS SP-58, ASTM A193 Gr B8L
    SUPPORT-DIRECTION  EAST
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
LAPJOINT-STUBEND
    END-POINT        1453.0000    701.0000    6716.8250    6.0000  LAP
    END-POINT        1453.0000    701.0000    6627.9250    6.0000  BW
    SKEY  FLSE
    ITEM-CODE  SSS3-10225
    ITEM-DESCRIPTION  STUB-END, SHORT PATTERN, SCH 10S, ASTM A403 Gr WP 304L, ASME B16.9 TYPE C
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_10S
    WEIGHT  2.236233330309353
WELD
    END-POINT        1453.0000    701.0000    6627.9250    6.0000
    END-POINT        1453.0000    701.0000    6627.9250    6.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
FLANGE
    END-POINT        1453.0000    701.0000    6716.8250    6.0000  FL
    END-POINT        1453.0000    701.0000    6716.8250    6.0000  LAP
    SKEY  FLFL
    ITEM-CODE  SSS3-12525
    ITEM-DESCRIPTION  FLANGE LJ, 150 LB, ASTM A182 Gr F304, ASME B16.5, FF
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
    WEIGHT  8.164746439263357
GASKET
    END-POINT        1453.0000    701.0000    6716.8250    6.0000
    END-POINT        1453.0000    701.0000    6720.0000    6.0000
    ITEM-CODE  SSS3-11523
    ITEM-DESCRIPTION  GASKET, FLAT RING x 150 LB, THK 1/16"
    ERECTION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
    WEIGHT  0.5579243400163295
BOLT
    CO-ORDS          1453.0000    701.0000    6720.0000    6.0000
    BOLT-DIA  3/4
    BOLT-ITEM-CODE  SSS3-9053-101.59999999999998
    ITEM-DESCRIPTION  BOLT SET, RF, 150 LB, STUD BOLT
    ERECTION-ITEM
    BOLT-QUANTITY  8
    BOLT-LENGTH  101.59999999999998
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
VALVE
    END-POINT        1453.0000    701.0000    5246.5430    6.0000  FL
    END-POINT        1453.0000    701.0000    5189.3930    6.0000  FL
    SKEY  VVFL
    ITEM-CODE  THROUGH CONDUIT KNIFE GATE VALVE - PNEUMATIC CYLINDER, 6" ND, 150 LB, CF8M, SPLIT-WEDGE, ASME B16.5, LUG, RF
    ITEM-DESCRIPTION  THROUGH CONDUIT KNIFE GATE VALVE - PNEUMATIC CYLINDER, 150 LB, CF8M, SPLIT-WEDGE, ASME B16.5, LUG, RF
    FABRICATION-ITEM
    TAG  I30BT13Z04-V1
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
WELD
    END-POINT        1523.6544    701.0000    2937.5714    1.0000
    END-POINT        1523.6544    701.0000    2937.5714    1.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
PIPE
    END-POINT        1523.6544    701.0000    2937.5714    1.0000
    END-POINT        1612.3207    701.0000    3026.2377    1.0000
    ITEM-CODE  SSS3-944
    ITEM-DESCRIPTION  PIPE, SCH 10S, ASME B36.19, ASTM A312 Gr TP 304L, WELDED/SEAMLESS, PE
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_10S
    WEIGHT  2.500110677673954
PIPELINE-REFERENCE    PMTUB6-030-PUB-6"-150H2A-2
    DATE-DMY 09/04/26
    ATTRIBUTE1  I24.104-PP30-PP01-TUM-ISO-045
    ATTRIBUTE2  PMTUB6-030-PUB-6"-150H2A
    ATTRIBUTE3  I24.104-PP30-PP01-TUM-ISO-045
    ATTRIBUTE4  INGENIERÍA DE DETALLE 
    ATTRIBUTE5  EUCALYPTUS PULP PRODUCTION OPTIMIZATION PROJECT
    PROJECT-IDENTIFIER  
    REVISION  0
    INSULATION-SPEC  
    TRACING-SPEC  
END-POSITION-NULL
    CO-ORDS          1553.0125    701.0000    5395.3118
END-POSITION-NULL
    CO-ORDS          1453.0000    701.0000    5395.3118
OLET
    CENTRE-POINT     1453.0000    701.0000    5395.3118
    BRANCH1-POINT    1553.0125    701.0000    5395.3118    1.0000  SC
    SKEY  THSC
    ITEM-CODE  SSS3-13581
    ITEM-DESCRIPTION  THREADOLET, 3000 LB, ASTM A182 Gr F304L, MSS SP-97, BWXFPT
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_3000
    WEIGHT  0.13154313707702076
MATERIALS
ITEM-CODE  SSS3-10225
    DESCRIPTION  STUB-END, SHORT PATTERN, SCH 10S, ASTM A403 Gr WP 304L, ASME B1
    DESCRIPTION  6.9 TYPE C
    Schedule  10S
    PressureClass  
    Material  
ITEM-CODE  Buttweld-6
    Schedule  
    PressureClass  
    Material  
ITEM-CODE  SSS3-954
    DESCRIPTION  PIPE, SCH 10S, ASME B36.19, ASTM A312 Gr TP 304L, WELDED/SEAMLE
    DESCRIPTION  SS, PE
    Schedule  10S
    PressureClass  
    Material  SS
ITEM-CODE  SSS3-12525
    DESCRIPTION  FLANGE LJ, 150 LB, ASTM A182 Gr F304, ASME B16.5, FF
    Schedule  
    PressureClass  150
    Material  
ITEM-CODE  SSS3-11523
    DESCRIPTION  GASKET, FLAT RING x 150 LB, THK 1/16"
    Schedule  
    PressureClass  150
    Material  
ITEM-CODE  SSS3-9053-101.59999999999998
    DESCRIPTION  BOLT SET, RF, 150 LB, STUD BOLT
    Schedule  
    PressureClass  150
    Material  SS
ITEM-CODE  THROUGH CONDUIT KNIFE GATE VALVE - PNEUMATIC CYLINDER, 6" ND, 150 LB, CF8M, SPLIT-WEDGE, ASME B16.5, LUG, RF
    DESCRIPTION  THROUGH CONDUIT KNIFE GATE VALVE - PNEUMATIC CYLINDER, 150 LB, 
    DESCRIPTION  CF8M, SPLIT-WEDGE, ASME B16.5, LUG, RF
    Schedule  
    PressureClass  150
    Material  
ITEM-CODE  THROUGH CONDUIT KNIFE GATE VALVE,  6" ND, 150 LB, LUG, RF, ASME B16.10
    DESCRIPTION  THROUGH CONDUIT KNIFE GATE VALVE, 150 LB, LUG, RF, ASME B16.10
    Schedule  
    PressureClass  150
    Material  
ITEM-CODE  Tapweld-1
    Schedule  
    PressureClass  
    Material  
ITEM-CODE  SSS3-944
    DESCRIPTION  PIPE, SCH 10S, ASME B36.19, ASTM A312 Gr TP 304L, WELDED/SEAMLE
    DESCRIPTION  SS, PE
    Schedule  10S
    PressureClass  
    Material  SS
ITEM-CODE  SSS3-237
    DESCRIPTION  ELL 45 LR, SCH 10S, ASTM A403 Gr WP 304L, ASME B16.9, BW
    Schedule  10S
    PressureClass  
    Material  SS
ITEM-CODE  SS3-237
    DESCRIPTION  ELL 45 LR, BW, ASME B16.9, ASTM A403 Gr WP 304L, Sch 10s
    Schedule  10
    PressureClass  
    Material  SS
ITEM-CODE  FLEX HOSE
    DESCRIPTION  FLEX HOSE
    Schedule  
    PressureClass  150
    Material  
ITEM-CODE  Tapweld-6
    Schedule  
    PressureClass  
    Material  
ITEM-CODE  SSS3-1007
    DESCRIPTION  SOCKOLET, 3000 LB, ASTM A182 Gr F304L, ASME B16.11, BWXSW
    Schedule  
    PressureClass  3000
    Material  SS
ITEM-CODE  SSS3-13581
    DESCRIPTION  THREADOLET, 3000 LB, ASTM A182 Gr F304L, MSS SP-97, BWXFPT
    Schedule  
    PressureClass  3000
    Material  
ITEM-CODE  SSS3-13217
    DESCRIPTION  STANDARD U-BOLT, MSS SP-58, ASTM A193 Gr B8L
    Schedule  
    PressureClass  
    Material  