ISOGEN-FILES  ISOCONFIG.FLS
UNITS-BORE  INCH
UNITS-CO-ORDS  MM
UNITS-WEIGHT  KGS
UNITS-BOLT-DIA  INCH
UNITS-BOLT-LENGTH  MM
PIPELINE-REFERENCE    UserDefinedLine
    DATE-DMY 07/08/26
    PROJECT-IDENTIFIER  
    REVISION  0
    AREA  
    PIPING-SPEC  SSS3
    INSULATION-SPEC  
    TRACING-SPEC  
PIPE
    END-POINT        -1.1693    -3645.4769    312.2911    6.0000
    END-POINT        0.9819    -3645.4769    168.1750    6.0000
    ITEM-CODE  SSS3-954
    ITEM-DESCRIPTION  PIPE, ERW, PE, ASME B36.19, ASTM A312 Gr TP 304L, Sch 10s
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_10
    WEIGHT  28.26017962442166
WELD
    END-POINT        -1.1693    -3645.4769    312.2911    6.0000
    END-POINT        -1.1693    -3645.4769    312.2911    6.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
ELBOW
    END-POINT        -1.1693    -3416.8769    540.8911    6.0000  BW
    END-POINT        -1.1693    -3645.4769    312.2911    6.0000  BW
    CENTRE-POINT     -1.1693    -3645.4769    540.8911
    SKEY  ELBW
    ITEM-CODE  SSS3-269
    ITEM-DESCRIPTION  ELL 90 LR, BW, ASME B16.9, ASTM A403 Gr WP 304L, Sch 10s
    FABRICATION-ITEM
    ANGLE   9000
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_10
    WEIGHT  10.196861108591127
WELD
    END-POINT        -1.1693    -3416.8769    540.8911    6.0000
    END-POINT        -1.1693    -3416.8769    540.8911    6.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
FLANGE
    END-POINT        -1.1693    -3327.9769    540.8911    6.0000  FL
    END-POINT        -1.1693    -3416.8769    540.8911    6.0000  BW
    SKEY  FLWN
    ITEM-CODE  SSS3-12525
    ITEM-DESCRIPTION  FLANGE LJ C/W STUB-END, 150 LB, ASME B16.5 / B16.9-C
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
    WEIGHT  10.40097976957271
GASKET
    END-POINT        -1.1693    -3327.9769    540.8911    6.0000
    END-POINT        -1.1693    -3324.8019    540.8911    6.0000
    ITEM-CODE  SSS3-11523
    ITEM-DESCRIPTION  EMPAQUE LAMINA GARLOCK BLUE 3700 X 1/8"
    ERECTION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
    WEIGHT  0.5579243400163295
BOLT
    CO-ORDS          -1.1693    -3324.8019    540.8911    6.0000
    BOLT-DIA  3/4
    BOLT-ITEM-CODE  SSS3-9053-101.59999999999998
    ITEM-DESCRIPTION  BOLT SET, RF, 150 LB, STUD BOLT
    ERECTION-ITEM
    BOLT-QUANTITY  8
    BOLT-LENGTH  101.59999999999998
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
PIPE
    END-POINT        0.9614    -377.4397    0.0275    6.0000
    END-POINT        0.9614    -2953.3300    0.0275    6.0000
    ITEM-CODE  SSS3-954
    ITEM-DESCRIPTION  PIPE, ERW, PE, ASME B36.19, ASTM A312 Gr TP 304L, Sch 10s
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_10
    WEIGHT  28.26017962442166
SUPPORT
    CO-ORDS          0.9614    -907.9787    0.0275    6.0000
    SKEY  ANCH
    ITEM-CODE  SSS3-9717
    ITEM-DESCRIPTION  SP-05 SKC
    SUPPORT-DIRECTION  DOWN
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
WELD
    END-POINT        0.9614    -2953.3300    0.0275    6.0000
    END-POINT        0.9614    -2953.3300    0.0275    6.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
REDUCER-CONCENTRIC
    END-POINT        0.9659    -3105.7300    0.0275    8.0000  BW
    END-POINT        0.9614    -2953.3300    0.0275    6.0000  BW
    SKEY  RCBW
    ITEM-CODE  SSS3-823
    ITEM-DESCRIPTION  REDUCER (CONC), BW, ASME B16.9, ASTM A403 Gr WP 304L, Sch 10s
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_10
    WEIGHT  6.50004535970244
FLANGE
    END-POINT        0.9614    -288.5397    0.0275    6.0000  FL
    END-POINT        0.9614    -377.4397    0.0275    6.0000  BW
    SKEY  FLWN
    ITEM-CODE  SSS3-12525
    ITEM-DESCRIPTION  FLANGE LJ C/W STUB-END, 150 LB, ASME B16.5 / B16.9-C
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
    WEIGHT  10.40097976957271
WELD
    END-POINT        0.9614    -377.4397    0.0275    6.0000
    END-POINT        0.9614    -377.4397    0.0275    6.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
GASKET
    END-POINT        0.9614    -288.5397    0.0275    6.0000
    END-POINT        0.9614    -285.3647    0.0275    6.0000
    ITEM-CODE  SSS3-11523
    ITEM-DESCRIPTION  EMPAQUE LAMINA GARLOCK BLUE 3700 X 1/8"
    ERECTION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
    WEIGHT  0.5579243400163295
FLANGE
    END-POINT        0.9614    -285.3647    0.0275    6.0000  FL
    END-POINT        0.9614    -196.4647    0.0275    6.0000  BW
    SKEY  FLWN
    ITEM-CODE  SSS3-12525
    ITEM-DESCRIPTION  FLANGE LJ C/W STUB-END, 150 LB, ASME B16.5 / B16.9-C
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
    WEIGHT  10.40097976957271
BOLT
    CO-ORDS          0.9614    -285.3647    0.0275    6.0000
    BOLT-DIA  3/4
    BOLT-ITEM-CODE  SSS3-9053-101.59999999999998
    ITEM-DESCRIPTION  BOLT SET, RF, 150 LB, STUD BOLT
    ERECTION-ITEM
    BOLT-QUANTITY  8
    BOLT-LENGTH  101.59999999999998
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
PIPE
    END-POINT        0.9614    0.6780    0.0275    6.0000
    END-POINT        0.9614    -196.4647    0.0275    6.0000
    ITEM-CODE  SSS3-954
    ITEM-DESCRIPTION  PIPE, ERW, PE, ASME B36.19, ASTM A312 Gr TP 304L, Sch 10s
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_10
    WEIGHT  28.26017962442166
WELD
    END-POINT        0.9614    -196.4647    0.0275    6.0000
    END-POINT        0.9614    -196.4647    0.0275    6.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
WELD
    END-POINT        0.9614    0.6780    0.0275    6.0000
    END-POINT        0.9614    0.6780    0.0275    6.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
ELBOW
    END-POINT        0.9614    0.6780    0.0275    6.0000  BW
    END-POINT        68.8851    229.2780    218.3032    6.0000  BW
    CENTRE-POINT     0.9614    229.2780    0.0275
    SKEY  ELBW
    ITEM-CODE  SSS3-269
    ITEM-DESCRIPTION  ELL 90 LR, BW, ASME B16.9, ASTM A403 Gr WP 304L, Sch 10s
    FABRICATION-ITEM
    ANGLE   9000
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_10
    WEIGHT  10.196861108591127
WELD
    END-POINT        0.9659    -3105.7300    0.0275    8.0000
    END-POINT        0.9659    -3105.7300    0.0275    8.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
PIPE
    END-POINT        0.9659    -3105.7300    0.0275    8.0000
    END-POINT        0.9766    -3467.6765    0.0275    8.0000
    ITEM-CODE  SSS3-956
    ITEM-DESCRIPTION  PIPE, ERW, PE, ASME B36.19, ASTM A312 Gr TP 304L, Sch 10s
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_10
    WEIGHT  42.53164474281048
WELD
    END-POINT        0.9766    -3467.6765    0.0275    8.0000
    END-POINT        0.9766    -3467.6765    0.0275    8.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
TEE
    END-POINT        0.9766    -3467.6765    0.0275    8.0000  BW
    END-POINT        0.9872    -3823.2765    0.0266    8.0000  BW
    CENTRE-POINT     0.9819    -3645.4765    0.0270
    BRANCH1-POINT    0.9819    -3645.4769    168.1750    6.0000  BW
    SKEY  TEBW
    ITEM-CODE  SSS3-1142
    ITEM-DESCRIPTION  TEE (RED), BW, ASME B16.9, ASTM A403 Gr WP 304L, Sch 10s
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_10
    WEIGHT  27.99600834618525
WELD
    END-POINT        0.9819    -3645.4769    168.1750    6.0000
    END-POINT        0.9819    -3645.4769    168.1750    6.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
WELD
    END-POINT        0.9872    -3823.2765    0.0266    8.0000
    END-POINT        0.9872    -3823.2765    0.0266    8.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
PIPE
    END-POINT        0.9961    -4179.7300    0.0266    8.0000
    END-POINT        0.9872    -3823.2765    0.0266    8.0000
    ITEM-CODE  SSS3-956
    ITEM-DESCRIPTION  PIPE, ERW, PE, ASME B36.19, ASTM A312 Gr TP 304L, Sch 10s
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_10
    WEIGHT  42.53164474281048
WELD
    END-POINT        0.9926    -4040.3047    -106.8201    1.5000
    END-POINT        0.9926    -4040.3047    -106.8201    1.5000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
PIPE
    END-POINT        0.9926    -4040.3047    -238.2417    1.5000
    END-POINT        0.9926    -4040.3047    -106.8201    1.5000
    ITEM-CODE  SS3-946
    ITEM-DESCRIPTION  PIPE, SEAMLESS, PE, ASME B36.19, ASTM A312 Gr TP 304L, Sch 10s
    FABRICATION-ITEM
    PIPING-SPEC  SS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_10
    WEIGHT  4.047798240043545
WELD
    END-POINT        0.9926    -4040.3047    -238.2417    1.5000
    END-POINT        0.9926    -4040.3047    -238.2417    1.5000
    SKEY  SC
    FABRICATION-ITEM
    PIPING-SPEC  SS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
VALVE
    END-POINT        0.9926    -4040.3047    -238.2417    1.5000  SC
    END-POINT        0.9926    -4040.3047    -302.2417    1.5000  SC
    SKEY  VBSC
    ITEM-CODE  SS3-11915
    ITEM-DESCRIPTION  BALL VALVE, FULL BORE, NPT, ASME B16.10
    FABRICATION-ITEM
    TAG  PMVAL 1-325
    PIPING-SPEC  SS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
WELD
    END-POINT        0.9961    -4179.7300    0.0266    8.0000
    END-POINT        0.9961    -4179.7300    0.0266    8.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
REDUCER-CONCENTRIC
    END-POINT        0.9961    -4179.7300    0.0266    8.0000  BW
    END-POINT        1.0006    -4332.1300    0.0266    6.0000  BW
    SKEY  RCBW
    ITEM-CODE  SSS3-823
    ITEM-DESCRIPTION  REDUCER (CONC), BW, ASME B16.9, ASTM A403 Gr WP 304L, Sch 10s
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_10
    WEIGHT  6.50004535970244
WELD
    END-POINT        1.0006    -4332.1300    0.0266    6.0000
    END-POINT        1.0006    -4332.1300    0.0266    6.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
PIPE
    END-POINT        1.0022    -6845.6082    0.0253    6.0000
    END-POINT        1.0006    -4332.1300    0.0266    6.0000
    ITEM-CODE  SSS3-954
    ITEM-DESCRIPTION  PIPE, ERW, PE, ASME B36.19, ASTM A312 Gr TP 304L, Sch 10s
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_10
    WEIGHT  28.26017962442166
SUPPORT
    CO-ORDS          1.0021    -6542.9331    0.0255    6.0000
    SKEY  ANCH
    ITEM-CODE  SSS3-9717
    ITEM-DESCRIPTION  SP-05 SKC
    SUPPORT-DIRECTION  DOWN
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
FLANGE
    END-POINT        1.0023    -6934.5082    0.0253    6.0000  FL
    END-POINT        1.0022    -6845.6082    0.0253    6.0000  BW
    SKEY  FLWN
    ITEM-CODE  SSS3-12525
    ITEM-DESCRIPTION  FLANGE LJ C/W STUB-END, 150 LB, ASME B16.5 / B16.9-C
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
    WEIGHT  10.40097976957271
WELD
    END-POINT        1.0022    -6845.6082    0.0253    6.0000
    END-POINT        1.0022    -6845.6082    0.0253    6.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
GASKET
    END-POINT        1.0023    -6934.5082    0.0253    6.0000
    END-POINT        1.0023    -6937.6832    0.0253    6.0000
    ITEM-CODE  SSS3-11523
    ITEM-DESCRIPTION  EMPAQUE LAMINA GARLOCK BLUE 3700 X 1/8"
    ERECTION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
    WEIGHT  0.5579243400163295
BOLT
    CO-ORDS          1.0023    -6937.6832    0.0253    6.0000
    BOLT-DIA  3/4
    BOLT-ITEM-CODE  SSS3-9053-101.59999999999998
    ITEM-DESCRIPTION  BOLT SET, RF, 150 LB, STUD BOLT
    ERECTION-ITEM
    BOLT-QUANTITY  8
    BOLT-LENGTH  101.59999999999998
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
FLANGE
    END-POINT        1.0023    -6937.6832    0.0253    6.0000  FL
    END-POINT        1.0024    -7026.5832    0.0252    6.0000  BW
    SKEY  FLWN
    ITEM-CODE  SSS3-12525
    ITEM-DESCRIPTION  FLANGE LJ C/W STUB-END, 150 LB, ASME B16.5 / B16.9-C
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
    WEIGHT  10.40097976957271
WELD
    END-POINT        1.0024    -7026.5832    0.0252    6.0000
    END-POINT        1.0024    -7026.5832    0.0252    6.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
PIPE
    END-POINT        1.0025    -7226.1539    0.0251    6.0000
    END-POINT        1.0024    -7026.5832    0.0252    6.0000
    ITEM-CODE  SSS3-954
    ITEM-DESCRIPTION  PIPE, ERW, PE, ASME B36.19, ASTM A312 Gr TP 304L, Sch 10s
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_10
    WEIGHT  28.26017962442166
ELBOW
    END-POINT        1.0025    -7226.1539    0.0251    6.0000  BW
    END-POINT        68.9435    -7454.7540    218.2955    6.0000  BW
    CENTRE-POINT     1.0026    -7454.7539    0.0250
    SKEY  ELBW
    ITEM-CODE  SSS3-269
    ITEM-DESCRIPTION  ELL 90 LR, BW, ASME B16.9, ASTM A403 Gr WP 304L, Sch 10s
    FABRICATION-ITEM
    ANGLE   9000
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_10
    WEIGHT  10.196861108591127
WELD
    END-POINT        1.0025    -7226.1539    0.0251    6.0000
    END-POINT        1.0025    -7226.1539    0.0251    6.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
PIPE
    END-POINT        68.8851    229.2780    218.3032    6.0000
    END-POINT        109.8902    229.2780    350.0757    6.0000
    ITEM-CODE  SSS3-954
    ITEM-DESCRIPTION  PIPE, ERW, PE, ASME B36.19, ASTM A312 Gr TP 304L, Sch 10s
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_10
    WEIGHT  28.26017962442166
WELD
    END-POINT        68.8851    229.2780    218.3032    6.0000
    END-POINT        68.8851    229.2780    218.3032    6.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
WELD
    END-POINT        68.9435    -7454.7540    218.2955    6.0000
    END-POINT        68.9435    -7454.7540    218.2955    6.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
PIPE
    END-POINT        68.9435    -7454.7540    218.2955    6.0000
    END-POINT        72.9776    -7454.7540    231.2558    6.0000
    ITEM-CODE  SSS3-954
    ITEM-DESCRIPTION  PIPE, ERW, PE, ASME B36.19, ASTM A312 Gr TP 304L, Sch 10s
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_10
    WEIGHT  28.26017962442166
PIPE
    END-POINT        302.2453    -7454.7540    967.8165    6.0000
    END-POINT        72.9776    -7454.7540    231.2558    6.0000
    ITEM-CODE  SSS3-954
    ITEM-DESCRIPTION  PIPE, ERW, PE, ASME B36.19, ASTM A312 Gr TP 304L, Sch 10s
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_10
    WEIGHT  28.26017962442166
WELD
    END-POINT        72.9776    -7454.7540    231.2558    6.0000
    END-POINT        72.9776    -7454.7540    231.2558    6.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
PIPE
    END-POINT        303.0803    229.2780    970.8999    6.0000
    END-POINT        109.8902    229.2780    350.0757    6.0000
    ITEM-CODE  SSS3-954
    ITEM-DESCRIPTION  PIPE, ERW, PE, ASME B36.19, ASTM A312 Gr TP 304L, Sch 10s
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_10
    WEIGHT  28.26017962442166
WELD
    END-POINT        109.8902    229.2780    350.0757    6.0000
    END-POINT        109.8902    229.2780    350.0757    6.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
FLANGE
    END-POINT        328.6667    -7454.7540    1052.6995    6.0000  FL
    END-POINT        302.2453    -7454.7540    967.8165    6.0000  BW
    SKEY  FLWN
    ITEM-CODE  SSS3-12525
    ITEM-DESCRIPTION  FLANGE LJ C/W STUB-END, 150 LB, ASME B16.5 / B16.9-C
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
    WEIGHT  10.40097976957271
WELD
    END-POINT        302.2453    -7454.7540    967.8165    6.0000
    END-POINT        302.2453    -7454.7540    967.8165    6.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
FLANGE
    END-POINT        329.4950    229.2780    1055.7849    6.0000  FL
    END-POINT        303.0803    229.2780    970.8999    6.0000  BW
    SKEY  FLWN
    ITEM-CODE  SSS3-12525
    ITEM-DESCRIPTION  FLANGE LJ C/W STUB-END, 150 LB, ASME B16.5 / B16.9-C
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
    WEIGHT  10.40097976957271
WELD
    END-POINT        303.0803    229.2780    970.8999    6.0000
    END-POINT        303.0803    229.2780    970.8999    6.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
GASKET
    END-POINT        328.6667    -7454.7540    1052.6995    6.0000
    END-POINT        329.6103    -7454.7540    1055.7311    6.0000
    ITEM-CODE  SSS3-11523
    ITEM-DESCRIPTION  EMPAQUE LAMINA GARLOCK BLUE 3700 X 1/8"
    ERECTION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
    WEIGHT  0.5579243400163295
GASKET
    END-POINT        329.4950    229.2780    1055.7849    6.0000
    END-POINT        330.4384    229.2780    1058.8165    6.0000
    ITEM-CODE  SSS3-11523
    ITEM-DESCRIPTION  EMPAQUE LAMINA GARLOCK BLUE 3700 X 1/8"
    ERECTION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
    WEIGHT  0.5579243400163295
BOLT
    CO-ORDS          329.6103    -7454.7540    1055.7311    6.0000
    BOLT-DIA  3/4
    BOLT-ITEM-CODE  SSS3-9053-101.59999999999998
    ITEM-DESCRIPTION  BOLT SET, RF, 150 LB, STUD BOLT
    ERECTION-ITEM
    BOLT-QUANTITY  8
    BOLT-LENGTH  101.59999999999998
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
BOLT
    CO-ORDS          330.4384    229.2780    1058.8165    6.0000
    BOLT-DIA  3/4
    BOLT-ITEM-CODE  SSS3-9053-101.59999999999998
    ITEM-DESCRIPTION  BOLT SET, RF, 150 LB, STUD BOLT
    ERECTION-ITEM
    BOLT-QUANTITY  8
    BOLT-LENGTH  101.59999999999998
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
MATERIALS
ITEM-CODE  SSS3-954
    DESCRIPTION  PIPE, ERW, PE, ASME B36.19, ASTM A312 Gr TP 304L, Sch 10s
    Schedule  10
    PressureClass  
    Material  SS
ITEM-CODE  Buttweld-6
    Schedule  
    PressureClass  
    Material  
ITEM-CODE  SSS3-269
    DESCRIPTION  ELL 90 LR, BW, ASME B16.9, ASTM A403 Gr WP 304L, Sch 10s
    Schedule  10
    PressureClass  
    Material  SS
ITEM-CODE  SSS3-10225
    DESCRIPTION  STUB-END FOR LAP FLANGE, SHORT PATTERN, ASME B16.9-C, ASTM A312
    DESCRIPTION   Gr TP 304L
    Schedule  10
    PressureClass  
    Material  
ITEM-CODE  SSS3-12525
    DESCRIPTION  FLANGE LJ, 150 LB, FF, ASME B16.5, ASTM A 105
    Schedule  
    PressureClass  150
    Material  
ITEM-CODE  SSS3-11523
    DESCRIPTION  EMPAQUE LAMINA GARLOCK BLUE 3700 X 1/8"
    Schedule  
    PressureClass  150
    Material  
ITEM-CODE  SSS3-9053-101.59999999999998
    DESCRIPTION  BOLT SET, RF, 150 LB, STUD BOLT
    Schedule  
    PressureClass  150
    Material  SS
ITEM-CODE  SSS3-823
    DESCRIPTION  REDUCER (CONC), BW, ASME B16.9, ASTM A403 Gr WP 304L, Sch 10s
    Schedule  10
    PressureClass  
    Material  SS
ITEM-CODE  Buttweld-8
    Schedule  
    PressureClass  
    Material  
ITEM-CODE  SSS3-956
    DESCRIPTION  PIPE, ERW, PE, ASME B36.19, ASTM A312 Gr TP 304L, Sch 10s
    Schedule  10
    PressureClass  
    Material  SS
ITEM-CODE  SSS3-1142
    DESCRIPTION  TEE (RED), BW, ASME B16.9, ASTM A403 Gr WP 304L, Sch 10s
    Schedule  10
    PressureClass  
    Material  SS
ITEM-CODE  Tapweld-6
    Schedule  
    PressureClass  
    Material  
ITEM-CODE  Tapweld-1.5
    Schedule  
    PressureClass  
    Material  
ITEM-CODE  SS3-946
    DESCRIPTION  PIPE, SEAMLESS, PE, ASME B36.19, ASTM A312 Gr TP 304L, Sch 10s
    Schedule  10
    PressureClass  
    Material  SS
ITEM-CODE  Thread-1.5
    Schedule  
    PressureClass  
    Material  
ITEM-CODE  SS3-11915
    DESCRIPTION  BALL VALVE, FULL BORE, NPT, ASME B16.10
    Schedule  
    PressureClass  
    Material  
ITEM-CODE  SSS3-9717
    DESCRIPTION  SP-05 SKC
    Schedule  
    PressureClass  
    Material  
