ISOGEN-FILES  ISOCONFIG.FLS
UNITS-BORE  INCH
UNITS-CO-ORDS  MM
UNITS-WEIGHT  KGS
UNITS-BOLT-DIA  INCH
UNITS-BOLT-LENGTH  MM
PIPELINE-REFERENCE    pcf114
    DATE-DMY 09/08/26
    PROJECT-IDENTIFIER  
    REVISION  0
    AREA  
    PIPING-SPEC  SSS3
    INSULATION-SPEC  
    TRACING-SPEC  
PIPE
    END-POINT        305.4561    -587.7902    340.5367    2.0000
    END-POINT        305.4561    -661.7342    340.5367    2.0000
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_10S
    WEIGHT  5.4466696906468295
    CONTINUATION 
WELD
    END-POINT        305.4561    -661.7342    340.5367    2.0000
    END-POINT        305.4561    -661.7342    340.5367    2.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
    CONTINUATION 
ELBOW
    END-POINT        305.4561    -661.7342    340.5367    2.0000  SW
    END-POINT        267.3561    -699.8342    340.5367    2.0000  SW
    CENTRE-POINT     305.4561    -699.8342    340.5367
    SKEY  ELSW
    FABRICATION-ITEM
    ANGLE   9000
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_3000
    WEIGHT  1.6159393994375397
    CONTINUATION 
WELD
    END-POINT        267.3561    -699.8342    340.5367    2.0000
    END-POINT        267.3561    -699.8342    340.5367    2.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
    CONTINUATION 
PIPE
    END-POINT        267.3561    -699.8342    340.5367    2.0000
    END-POINT        115.6173    -699.8342    340.5367    2.0000
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_10S
    WEIGHT  5.4466696906468295
    CONTINUATION 
END-CONNECTION-PIPELINE
    CO-ORDS          305.4561    -587.7902    340.5367
    PIPELINE-REFERENCE    PMTUB5-101-LFI-6"-150H2A
COUPLING
    END-POINT        305.4561    -394.3699    340.5367    2.0000  SC
    END-POINT        305.4561    -495.9699    340.5367    2.0000  SC
    SKEY  NRSC
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_40S
    CONTINUATION 
END-CONNECTION-PIPELINE
    CO-ORDS          305.4561    -495.9699    340.5367
    PIPELINE-REFERENCE    PMTUB5-101-LFI-6"-150H2A
COUPLING
    END-POINT        354.6665    0.1096    105.3276    2.0000  SC
    END-POINT        354.6665    0.1096    206.9276    2.0000  SC
    SKEY  NRSC
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_40S
    CONTINUATION 
WELD
    END-POINT        354.6665    0.1096    206.9276    2.0000
    END-POINT        354.6665    0.1096    206.9276    2.0000
    SKEY  SC
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
    CONTINUATION 
VALVE
    END-POINT        354.6665    0.1096    206.9276    2.0000  SC
    END-POINT        354.6665    0.1096    298.7479    2.0000  SC
    SKEY  VBSC
    FABRICATION-ITEM
    TAG  PMVAL1-107
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
    CONTINUATION 
WELD
    END-POINT        354.6665    0.1096    298.7479    2.0000
    END-POINT        354.6665    0.1096    298.7479    2.0000
    SKEY  SC
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
    CONTINUATION 
COUPLING
    END-POINT        354.6665    0.1096    298.7479    2.0000  SC
    END-POINT        354.6665    0.1096    400.3479    2.0000  SC
    SKEY  NRSC
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_40S
    CONTINUATION 
END-CONNECTION-PIPELINE
    CO-ORDS          354.6664    0.1096    105.3276
    PIPELINE-REFERENCE    PMTUB5-106-LFI-2"-150H2A
COUPLING
    END-POINT        305.4561    -394.3699    340.5367    2.0000  SC
    END-POINT        305.4561    -495.9699    340.5367    2.0000  SC
    SKEY  NRSC
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_40S
    CONTINUATION 
END-CONNECTION-PIPELINE
    CO-ORDS          305.4561    -394.3699    340.5367
    PIPELINE-REFERENCE    PMTUB5-101-LFI-6"-150H2A
GASKET
    END-POINT        -98.5439    -289.5949    340.5367    8.0000
    END-POINT        -101.7189    -289.5949    340.5367    8.0000
    ITEM-CODE  SSS3-11525
    ITEM-DESCRIPTION  GASKET, FLAT RING x 150 LB, THK 1/16"
    ERECTION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
    WEIGHT  0.7257552390456319
BOLT
    CO-ORDS          -101.7189    -289.5949    340.5367    8.0000
    BOLT-DIA  3/4
    BOLT-ITEM-CODE  SSS3-9054-107.94999999999997
    ITEM-DESCRIPTION  BOLT SET, RF, 150 LB, STUD BOLT
    ERECTION-ITEM
    BOLT-QUANTITY  8
    BOLT-LENGTH  107.94999999999997
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
FLANGE
    END-POINT        -98.5439    -289.5949    340.5367    8.0000  FL
    END-POINT        3.0561    -289.5949    340.5367    8.0000  BW
    SKEY  FLWN
    ITEM-CODE  SSS3-12527
    ITEM-DESCRIPTION  FLANGE LJ C/W STUB-END, 150 LB, ASME B16.5 / B16.9-C
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
    WEIGHT  31.755783362061145
GASKET
    END-POINT        0.6664    0.1096    0.5526    8.0000
    END-POINT        -2.5086    0.1096    0.5526    8.0000
    ITEM-CODE  SSS3-11525
    ITEM-DESCRIPTION  GASKET, FLAT RING x 150 LB, THK 1/16"
    ERECTION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
    WEIGHT  0.7257552390456319
BOLT
    CO-ORDS          -2.5086    0.1096    0.5526    8.0000
    BOLT-DIA  3/4
    BOLT-ITEM-CODE  SSS3-9054-107.94999999999997
    ITEM-DESCRIPTION  BOLT SET, RF, 150 LB, STUD BOLT
    ERECTION-ITEM
    BOLT-QUANTITY  8
    BOLT-LENGTH  107.94999999999997
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
FLANGE
    END-POINT        0.6664    0.1096    0.5526    8.0000  FL
    END-POINT        102.2664    0.1096    0.5526    8.0000  BW
    SKEY  FLWN
    ITEM-CODE  SSS3-12527
    ITEM-DESCRIPTION  FLANGE LJ C/W STUB-END, 150 LB, ASME B16.5 / B16.9-C
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
    WEIGHT  31.755783362061145
REDUCER-CONCENTRIC
    END-POINT        3.0561    -289.5949    340.5367    8.0000  BW
    END-POINT        155.4561    -289.5949    340.5367    6.0000  BW
    SKEY  RCBW
    ITEM-CODE  SSS3-823
    ITEM-DESCRIPTION  REDUCER (CONC), SCH 10S, ASTM A403 Gr WP 304L, ASME B16.9, BW
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    INSULATION-SPEC  mm
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   INSULATIONTHICKNESS_30
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_10S
    WEIGHT  6.50004535970244
WELD
    END-POINT        3.0561    -289.5949    340.5367    8.0000
    END-POINT        3.0561    -289.5949    340.5367    8.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
REDUCER-CONCENTRIC
    END-POINT        102.2664    0.1096    0.5526    8.0000  BW
    END-POINT        254.6664    0.1096    0.5526    6.0000  BW
    SKEY  RCBW
    ITEM-CODE  SSS3-823
    ITEM-DESCRIPTION  REDUCER (CONC), SCH 10S, ASTM A403 Gr WP 304L, ASME B16.9, BW
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    INSULATION-SPEC  mm
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   INSULATIONTHICKNESS_30
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_10S
    WEIGHT  6.50004535970244
WELD
    END-POINT        102.2664    0.1096    0.5526    8.0000
    END-POINT        102.2664    0.1096    0.5526    8.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
PIPE
    END-POINT        155.4561    -289.5949    340.5367    6.0000
    END-POINT        855.4561    -289.5949    340.5367    6.0000
    ITEM-CODE  SSS3-954
    ITEM-DESCRIPTION  PIPE, SCH 10S, ASME B36.19, ASTM A312 Gr TP 304L, WELDED/SEAMLESS, PE
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    INSULATION-SPEC  mm
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   INSULATIONTHICKNESS_30
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_10S
    WEIGHT  28.26017962442166
SUPPORT
    CO-ORDS          425.8724    -289.5949    340.5367    6.0000
    SKEY  ANCH
    ITEM-CODE  SSS3-13217
    ITEM-DESCRIPTION  STANDARD U-BOLT, MSS SP-58, ASTM A193 Gr B8L
    FABRICATION-ITEM
    SUPPORT-DIRECTION  UP
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
WELD
    END-POINT        155.4561    -289.5949    340.5367    6.0000
    END-POINT        155.4561    -289.5949    340.5367    6.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
PIPE
    END-POINT        254.6664    0.1096    0.5526    6.0000
    END-POINT        818.4047    0.1096    0.5526    6.0000
    ITEM-CODE  SSS3-954
    ITEM-DESCRIPTION  PIPE, SCH 10S, ASME B36.19, ASTM A312 Gr TP 304L, WELDED/SEAMLESS, PE
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    INSULATION-SPEC  mm
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   INSULATIONTHICKNESS_30
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_10S
    WEIGHT  28.26017962442166
SUPPORT
    CO-ORDS          427.1955    0.1096    0.5526    6.0000
    SKEY  ANCH
    ITEM-CODE  SSS3-13217
    ITEM-DESCRIPTION  STANDARD U-BOLT, MSS SP-58, ASTM A193 Gr B8L
    FABRICATION-ITEM
    SUPPORT-DIRECTION  UP
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
WELD
    END-POINT        254.6664    0.1096    0.5526    6.0000
    END-POINT        254.6664    0.1096    0.5526    6.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
WELD
    END-POINT        305.4561    -587.7902    340.5367    2.0000
    END-POINT        305.4561    -587.7902    340.5367    2.0000
    SKEY  SC
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
WELD
    END-POINT        305.4561    -495.9699    340.5367    2.0000
    END-POINT        305.4561    -495.9699    340.5367    2.0000
    SKEY  SC
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
WELD
    END-POINT        305.4561    -394.3699    340.5367    2.0000
    END-POINT        305.4561    -394.3699    340.5367    2.0000
    SKEY  SC
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
OLET
    CENTRE-POINT     305.4561    -289.5949    340.5367
    BRANCH1-POINT    305.4561    -394.3699    340.5367    2.0000  SC
    SKEY  THSC
    ITEM-CODE  SSS3-13676
    ITEM-DESCRIPTION  THREADOLET, 3000 LB, ASTM A182 Gr F304L, MSS SP-97, BWXFPT
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_3000
    WEIGHT  0.36287761952281594
WELD
    END-POINT        305.4561    -289.5949    340.5367    6.0000
    END-POINT        305.4561    -289.5949    340.5367    6.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
WELD
    END-POINT        354.6665    0.1096    0.5526    6.0000
    END-POINT        354.6665    0.1096    0.5526    6.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
OLET
    CENTRE-POINT     354.6665    0.1096    0.5526
    BRANCH1-POINT    354.6665    0.1096    105.3276    2.0000  SC
    SKEY  THSC
    ITEM-CODE  SSS3-13676
    ITEM-DESCRIPTION  THREADOLET, 3000 LB, ASTM A182 Gr F304L, MSS SP-97, BWXFPT
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_3000
    WEIGHT  0.36287761952281594
WELD
    END-POINT        354.6665    0.1096    105.3276    2.0000
    END-POINT        354.6665    0.1096    105.3276    2.0000
    SKEY  SC
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
WELD
    END-POINT        604.6665    0.1096    71.9901    3.0000
    END-POINT        604.6665    0.1096    71.9901    3.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
PIPE
    END-POINT        604.6665    0.1096    171.9902    3.0000
    END-POINT        604.6665    0.1096    71.9901    3.0000
    ITEM-CODE  SS40S-108
    ITEM-DESCRIPTION  PIPE, SCH 40S, ASME B36.19, ASTM A312 Gr TP 304L, WELDED/SEAMLESS, PE
    FABRICATION-ITEM
    PIPING-SPEC  SS40S
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_40S
    WEIGHT  11.29
FLANGE
    END-POINT        604.6665    0.1096    235.4902    3.0000  FL
    END-POINT        604.6665    0.1096    171.9902    3.0000  BW
    SKEY  FLWN
    ITEM-CODE  SS40S-1617
    ITEM-DESCRIPTION  FLANGE LJ C/W STUB-END, 150 LB, ASME B16.5 / B16.9-C
    FABRICATION-ITEM
    PIPING-SPEC  SS40S
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
    WEIGHT  4.7400889050167825
WELD
    END-POINT        604.6665    0.1096    171.9902    3.0000
    END-POINT        604.6665    0.1096    171.9902    3.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SS40S
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
GASKET
    END-POINT        604.6665    0.1096    237.0777    3.0000
    END-POINT        604.6665    0.1096    235.4902    3.0000
    ITEM-CODE  SS40S-3736
    ITEM-DESCRIPTION  GASKET, FLAT RING x 150 LB, THK 1/16"
    ERECTION-ITEM
    PIPING-SPEC  SS40S
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
    WEIGHT  0.02721582146421119
BOLT
    CO-ORDS          604.6665    0.1096    235.4902    3.0000
    BOLT-DIA  5/8
    BOLT-ITEM-CODE  SS40S-908-88.89999999999998
    ITEM-DESCRIPTION  BOLT SET, RF, 150 LB, STUD BOLT
    ERECTION-ITEM
    BOLT-QUANTITY  4
    BOLT-LENGTH  88.89999999999998
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
    WEIGHT  0.1939
WELD
    END-POINT        605.4561    -289.5949    411.9742    3.0000
    END-POINT        605.4561    -289.5949    411.9742    3.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SS40S
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
PIPE
    END-POINT        605.4561    -289.5949    511.9742    3.0000
    END-POINT        605.4561    -289.5949    411.9742    3.0000
    ITEM-CODE  SS40S-108
    ITEM-DESCRIPTION  PIPE, SCH 40S, ASME B36.19, ASTM A312 Gr TP 304L, WELDED/SEAMLESS, PE
    FABRICATION-ITEM
    PIPING-SPEC  SS40S
    INSULATION-SPEC  mm
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   INSULATIONTHICKNESS_30
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_40S
    WEIGHT  11.29
FLANGE
    END-POINT        605.4561    -289.5949    575.4742    3.0000  FL
    END-POINT        605.4561    -289.5949    511.9742    3.0000  BW
    SKEY  FLWN
    ITEM-CODE  SS40S-1617
    ITEM-DESCRIPTION  FLANGE LJ C/W STUB-END, 150 LB, ASME B16.5 / B16.9-C
    FABRICATION-ITEM
    PIPING-SPEC  SS40S
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
    WEIGHT  4.7400889050167825
WELD
    END-POINT        605.4561    -289.5949    511.9742    3.0000
    END-POINT        605.4561    -289.5949    511.9742    3.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SS40S
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
GASKET
    END-POINT        605.4561    -289.5949    577.0617    3.0000
    END-POINT        605.4561    -289.5949    575.4742    3.0000
    ITEM-CODE  SS40S-3736
    ITEM-DESCRIPTION  GASKET, FLAT RING x 150 LB, THK 1/16"
    ERECTION-ITEM
    PIPING-SPEC  SS40S
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
    WEIGHT  0.02721582146421119
BOLT
    CO-ORDS          605.4561    -289.5949    575.4742    3.0000
    BOLT-DIA  5/8
    BOLT-ITEM-CODE  SS40S-908-88.89999999999998
    ITEM-DESCRIPTION  BOLT SET, RF, 150 LB, STUD BOLT
    ERECTION-ITEM
    BOLT-QUANTITY  4
    BOLT-LENGTH  88.89999999999998
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
    WEIGHT  0.1939
FLANGE
    END-POINT        907.3047    0.1096    0.5526    6.0000  FL
    END-POINT        818.4047    0.1096    0.5526    6.0000  BW
    SKEY  FLWN
    ITEM-CODE  SSS3-12525
    ITEM-DESCRIPTION  FLANGE LJ C/W STUB-END, 150 LB, ASME B16.5 / B16.9-C
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
    WEIGHT  10.40097976957271
WELD
    END-POINT        818.4047    0.1096    0.5526    6.0000
    END-POINT        818.4047    0.1096    0.5526    6.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
ELBOW
    END-POINT        855.4561    -289.5949    340.5367    6.0000  BW
    END-POINT        1084.0561    -289.5949    569.1367    6.0000  BW
    CENTRE-POINT     1084.0561    -289.5949    340.5367
    SKEY  ELBW
    ITEM-CODE  SSS3-269
    ITEM-DESCRIPTION  ELL 90 LR, SCH 10S, ASTM A403 Gr WP 304L, ASME B16.9, BW
    FABRICATION-ITEM
    ANGLE   9000
    PIPING-SPEC  SSS3
    INSULATION-SPEC  mm
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   INSULATIONTHICKNESS_30
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_10S
    WEIGHT  10.196861108591127
WELD
    END-POINT        855.4561    -289.5949    340.5367    6.0000
    END-POINT        855.4561    -289.5949    340.5367    6.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
GASKET
    END-POINT        910.4797    0.1096    0.5526    6.0000
    END-POINT        907.3047    0.1096    0.5526    6.0000
    ITEM-CODE  SSS3-11523
    ITEM-DESCRIPTION  GASKET, FLAT RING x 150 LB, THK 1/16"
    ERECTION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
    WEIGHT  0.5579243400163295
BOLT
    CO-ORDS          907.3047    0.1096    0.5526    6.0000
    BOLT-DIA  3/4
    BOLT-ITEM-CODE  SSS3-9053-101.59999999999998
    ITEM-DESCRIPTION  BOLT SET, RF, 150 LB, STUD BOLT
    ERECTION-ITEM
    BOLT-QUANTITY  8
    BOLT-LENGTH  101.59999999999998
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
VALVE
    END-POINT        910.4797    0.1096    0.5526    6.0000  FL
    END-POINT        1139.0797    0.1096    0.5526    6.0000  FL
    SKEY  VBFL
    ITEM-CODE  V-PORT SEGMENT BALL VALVE - PNEUMATIC ACTUATOR, 6" ND, 150 LB, CF8M, ASME B16.34, RF
    ITEM-DESCRIPTION  V-PORT SEGMENT BALL VALVE - PNEUMATIC ACTUATOR, 150 LB, CF8M, ASME B16.34, RF
    FABRICATION-ITEM
    TAG  I30LD51F02-V2
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
PIPE
    END-POINT        1084.0561    -289.5949    569.1367    6.0000
    END-POINT        1084.0561    -289.5949    2743.4634    6.0000
    ITEM-CODE  SSS3-954
    ITEM-DESCRIPTION  PIPE, SCH 10S, ASME B36.19, ASTM A312 Gr TP 304L, WELDED/SEAMLESS, PE
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    INSULATION-SPEC  mm
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   INSULATIONTHICKNESS_30
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_10S
    WEIGHT  28.26017962442166
WELD
    END-POINT        1084.0561    -289.5949    569.1367    6.0000
    END-POINT        1084.0561    -289.5949    569.1367    6.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
ELBOW
    END-POINT        1084.0561    -289.5949    2743.4634    6.0000  BW
    END-POINT        1312.6561    -289.5949    2972.0634    6.0000  BW
    CENTRE-POINT     1084.0561    -289.5949    2972.0634
    SKEY  ELBW
    ITEM-CODE  SSS3-269
    ITEM-DESCRIPTION  ELL 90 LR, SCH 10S, ASTM A403 Gr WP 304L, ASME B16.9, BW
    FABRICATION-ITEM
    ANGLE   9000
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_10S
    WEIGHT  10.196861108591127
WELD
    END-POINT        1084.0561    -289.5949    2743.4634    6.0000
    END-POINT        1084.0561    -289.5949    2743.4634    6.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
GASKET
    END-POINT        1139.0797    0.1096    0.5526    6.0000
    END-POINT        1142.2547    0.1096    0.5526    6.0000
    ITEM-CODE  SSS3-11523
    ITEM-DESCRIPTION  GASKET, FLAT RING x 150 LB, THK 1/16"
    ERECTION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
    WEIGHT  0.5579243400163295
FLANGE
    END-POINT        1142.2547    0.1096    0.5526    6.0000  FL
    END-POINT        1231.1547    0.1096    0.5526    6.0000  BW
    SKEY  FLWN
    ITEM-CODE  SSS3-12525
    ITEM-DESCRIPTION  FLANGE LJ C/W STUB-END, 150 LB, ASME B16.5 / B16.9-C
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
    WEIGHT  10.40097976957271
BOLT
    CO-ORDS          1142.2547    0.1096    0.5526    6.0000
    BOLT-DIA  3/4
    BOLT-ITEM-CODE  SSS3-9053-101.59999999999998
    ITEM-DESCRIPTION  BOLT SET, RF, 150 LB, STUD BOLT
    ERECTION-ITEM
    BOLT-QUANTITY  8
    BOLT-LENGTH  101.59999999999998
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
PIPE
    END-POINT        1231.1547    0.1096    0.5526    6.0000
    END-POINT        1484.4001    0.1096    0.5526    6.0000
    ITEM-CODE  SSS3-954
    ITEM-DESCRIPTION  PIPE, SCH 10S, ASME B36.19, ASTM A312 Gr TP 304L, WELDED/SEAMLESS, PE
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    INSULATION-SPEC  mm
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   INSULATIONTHICKNESS_30
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_10S
    WEIGHT  28.26017962442166
WELD
    END-POINT        1231.1547    0.1096    0.5526    6.0000
    END-POINT        1231.1547    0.1096    0.5526    6.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
PIPE
    END-POINT        1312.6561    -289.5949    2972.0634    6.0000
    END-POINT        2093.7063    -289.5949    2972.0634    6.0000
    ITEM-CODE  SSS3-954
    ITEM-DESCRIPTION  PIPE, SCH 10S, ASME B36.19, ASTM A312 Gr TP 304L, WELDED/SEAMLESS, PE
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_10S
    WEIGHT  28.26017962442166
WELD
    END-POINT        1312.6561    -289.5949    2972.0634    6.0000
    END-POINT        1312.6561    -289.5949    2972.0634    6.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
ELBOW
    END-POINT        1484.4001    0.1096    0.5526    6.0000  BW
    END-POINT        1713.0001    0.1096    229.1526    6.0000  BW
    CENTRE-POINT     1713.0001    0.1096    0.5526
    SKEY  ELBW
    ITEM-CODE  SSS3-269
    ITEM-DESCRIPTION  ELL 90 LR, SCH 10S, ASTM A403 Gr WP 304L, ASME B16.9, BW
    FABRICATION-ITEM
    ANGLE   9000
    PIPING-SPEC  SSS3
    INSULATION-SPEC  mm
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   INSULATIONTHICKNESS_30
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_10S
    WEIGHT  10.196861108591127
WELD
    END-POINT        1484.4001    0.1096    0.5526    6.0000
    END-POINT        1484.4001    0.1096    0.5526    6.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
FLANGE
    END-POINT        1713.0001    0.1096    318.0526    6.0000  FL
    END-POINT        1713.0001    0.1096    229.1526    6.0000  BW
    SKEY  FLWN
    ITEM-CODE  SSS3-12525
    ITEM-DESCRIPTION  FLANGE LJ C/W STUB-END, 150 LB, ASME B16.5 / B16.9-C
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
    WEIGHT  10.40097976957271
WELD
    END-POINT        1713.0001    0.1096    229.1526    6.0000
    END-POINT        1713.0001    0.1096    229.1526    6.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
GASKET
    END-POINT        1713.0001    0.1096    321.2276    6.0000
    END-POINT        1713.0001    0.1096    318.0526    6.0000
    ITEM-CODE  SSS3-11523
    ITEM-DESCRIPTION  GASKET, FLAT RING x 150 LB, THK 1/16"
    ERECTION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
    WEIGHT  0.5579243400163295
VALVE
    END-POINT        1713.0001    0.1096    321.2276    6.0000  FL
    END-POINT        1713.0001    0.1096    378.5276    6.0000  FL
    SKEY  VYFL
    ITEM-CODE  SSS3-11859
    ITEM-DESCRIPTION  BUTTERFLY VALVE, 150 LB, CF8M, SEALS TEFLON, ASME B16.5, ASME B16.10, LUG, RF, HAND WHEEL
    FABRICATION-ITEM
    TAG  PMVAL1-109
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
BOLT
    CO-ORDS          1713.0001    0.1096    321.2276    6.0000
    BOLT-DIA  3/4
    BOLT-ITEM-CODE  SSS3-9073-95.25
    ITEM-DESCRIPTION  BOLT SET, RF, 150 LB, LUG BOLT
    ERECTION-ITEM
    BOLT-QUANTITY  8
    BOLT-LENGTH  95.25
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
BOLT
    CO-ORDS          1713.0001    0.1096    378.5276    6.0000
    BOLT-DIA  3/4
    BOLT-ITEM-CODE  SSS3-9073-95.25
    ITEM-DESCRIPTION  BOLT SET, RF, 150 LB, LUG BOLT
    ERECTION-ITEM
    BOLT-QUANTITY  8
    BOLT-LENGTH  95.25
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
GASKET
    END-POINT        1713.0001    0.1096    378.5276    6.0000
    END-POINT        1713.0001    0.1096    381.7026    6.0000
    ITEM-CODE  SSS3-11523
    ITEM-DESCRIPTION  GASKET, FLAT RING x 150 LB, THK 1/16"
    ERECTION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
    WEIGHT  0.5579243400163295
FLANGE
    END-POINT        1713.0001    0.1096    381.7026    6.0000  FL
    END-POINT        1713.0001    0.1096    470.6026    6.0000  BW
    SKEY  FLWN
    ITEM-CODE  SSS3-12525
    ITEM-DESCRIPTION  FLANGE LJ C/W STUB-END, 150 LB, ASME B16.5 / B16.9-C
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
    WEIGHT  10.40097976957271
PIPE
    END-POINT        1713.0001    0.1096    470.6026    6.0000
    END-POINT        1713.0001    0.1096    2293.4634    6.0000
    ITEM-CODE  SSS3-954
    ITEM-DESCRIPTION  PIPE, SCH 10S, ASME B36.19, ASTM A312 Gr TP 304L, WELDED/SEAMLESS, PE
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    INSULATION-SPEC  mm
    TRACING-SPEC  
    INSULATION-ON  
    COMPONENT-ATTRIBUTE1   INSULATIONTHICKNESS_30
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE3   BOMCOLUMN_SCHClass_10S
    WEIGHT  28.26017962442166
WELD
    END-POINT        1713.0001    0.1096    470.6026    6.0000
    END-POINT        1713.0001    0.1096    470.6026    6.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
ELBOW
    END-POINT        1713.0001    0.1096    2293.4634    6.0000  BW
    END-POINT        1941.6001    0.1096    2522.0634    6.0000  BW
    CENTRE-POINT     1713.0001    0.1096    2522.0634
    SKEY  ELBW
    ITEM-CODE  SSS3-269
    ITEM-DESCRIPTION  ELL 90 LR, SCH 10S, ASTM A403 Gr WP 304L, ASME B16.9, BW
    FABRICATION-ITEM
    ANGLE   9000
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_10S
    WEIGHT  10.196861108591127
WELD
    END-POINT        1713.0001    0.1096    2293.4634    6.0000
    END-POINT        1713.0001    0.1096    2293.4634    6.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
PIPE
    END-POINT        1941.6001    0.1096    2522.0634    6.0000
    END-POINT        2256.7987    0.1096    2522.0634    6.0000
    ITEM-CODE  SSS3-954
    ITEM-DESCRIPTION  PIPE, SCH 10S, ASME B36.19, ASTM A312 Gr TP 304L, WELDED/SEAMLESS, PE
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_10S
    WEIGHT  28.26017962442166
WELD
    END-POINT        1941.6001    0.1096    2522.0634    6.0000
    END-POINT        1941.6001    0.1096    2522.0634    6.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
ELBOW
    END-POINT        2093.7063    -289.5949    2972.0634    6.0000  BW
    END-POINT        2208.6832    -258.7869    2972.0634    6.0000  BW
    CENTRE-POINT     2155.3222    -289.5949    2972.0634
    SKEY  ELBW
    ITEM-CODE  SSS3-237
    ITEM-DESCRIPTION  ELL 45 LR, SCH 10S, ASTM A403 Gr WP 304L, ASME B16.9, BW
    FABRICATION-ITEM
    ANGLE   3000
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_10S
    WEIGHT  5.098430554295564
WELD
    END-POINT        2093.7063    -289.5949    2972.0634    6.0000
    END-POINT        2093.7063    -289.5949    2972.0634    6.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
PIPE
    END-POINT        2208.6832    -258.7869    2972.0634    6.0000
    END-POINT        2430.5391    -130.6984    2972.0634    6.0000
    ITEM-CODE  SSS3-954
    ITEM-DESCRIPTION  PIPE, SCH 10S, ASME B36.19, ASTM A312 Gr TP 304L, WELDED/SEAMLESS, PE
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_10S
    WEIGHT  28.26017962442166
WELD
    END-POINT        2208.6832    -258.7869    2972.0634    6.0000
    END-POINT        2208.6832    -258.7869    2972.0634    6.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
ELBOW
    END-POINT        2256.7987    0.1096    2522.0634    6.0000  BW
    END-POINT        2419.4006    -39.3007    2576.6812    6.0000  BW
    CENTRE-POINT     2352.0486    0.1096    2522.0634
    SKEY  ELBW
    ITEM-CODE  SSS3-237
    ITEM-DESCRIPTION  ELL 45 LR, SCH 10S, ASTM A403 Gr WP 304L, ASME B16.9, BW
    FABRICATION-ITEM
    ANGLE   4500
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_10S
    WEIGHT  5.098430554295564
WELD
    END-POINT        2256.7987    0.1096    2522.0634    6.0000
    END-POINT        2256.7987    0.1096    2522.0634    6.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
PIPE
    END-POINT        2419.4006    -39.3007    2576.6812    6.0000
    END-POINT        2839.6139    -285.1846    2917.4456    6.0000
    ITEM-CODE  SSS3-954
    ITEM-DESCRIPTION  PIPE, SCH 10S, ASME B36.19, ASTM A312 Gr TP 304L, WELDED/SEAMLESS, PE
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_10S
    WEIGHT  28.26017962442166
WELD
    END-POINT        2419.4006    -39.3007    2576.6812    6.0000
    END-POINT        2419.4006    -39.3007    2576.6812    6.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
ELBOW
    END-POINT        2430.5391    -130.6984    2972.0634    6.0000  BW
    END-POINT        2545.5160    -99.8904    2972.0634    6.0000  BW
    CENTRE-POINT     2483.9001    -99.8904    2972.0634
    SKEY  ELBW
    ITEM-CODE  SSS3-237
    ITEM-DESCRIPTION  ELL 45 LR, SCH 10S, ASTM A403 Gr WP 304L, ASME B16.9, BW
    FABRICATION-ITEM
    ANGLE   3000
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_10S
    WEIGHT  5.098430554295564
WELD
    END-POINT        2430.5391    -130.6984    2972.0634    6.0000
    END-POINT        2430.5391    -130.6984    2972.0634    6.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
PIPE
    END-POINT        2545.5160    -99.8904    2972.0634    6.0000
    END-POINT        8354.4860    -99.8904    2972.0634    6.0000
    ITEM-CODE  SSS3-954
    ITEM-DESCRIPTION  PIPE, SCH 10S, ASME B36.19, ASTM A312 Gr TP 304L, WELDED/SEAMLESS, PE
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_10S
    WEIGHT  28.26017962442166
SUPPORT
    CO-ORDS          6746.8387    -99.8904    2972.0634    6.0000
    SKEY  ANCH
    ITEM-CODE  SSS3-13217
    ITEM-DESCRIPTION  STANDARD U-BOLT, MSS SP-58, ASTM A193 Gr B8L
    FABRICATION-ITEM
    SUPPORT-DIRECTION  UP
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
WELD
    END-POINT        2545.5160    -99.8904    2972.0634    6.0000
    END-POINT        2545.5160    -99.8904    2972.0634    6.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
ELBOW
    END-POINT        2839.6139    -285.1846    2917.4456    6.0000  BW
    END-POINT        3002.2158    -324.5949    2972.0634    6.0000  BW
    CENTRE-POINT     2906.9658    -324.5949    2972.0634
    SKEY  ELBW
    ITEM-CODE  SSS3-237
    ITEM-DESCRIPTION  ELL 45 LR, SCH 10S, ASTM A403 Gr WP 304L, ASME B16.9, BW
    FABRICATION-ITEM
    ANGLE   4500
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_10S
    WEIGHT  5.098430554295564
WELD
    END-POINT        2839.6139    -285.1846    2917.4456    6.0000
    END-POINT        2839.6139    -285.1846    2917.4456    6.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
PIPE
    END-POINT        3002.2158    -324.5949    2972.0634    6.0000
    END-POINT        6680.6595    -324.5949    2972.0634    6.0000
    ITEM-CODE  SSS3-954
    ITEM-DESCRIPTION  PIPE, SCH 10S, ASME B36.19, ASTM A312 Gr TP 304L, WELDED/SEAMLESS, PE
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_10S
    WEIGHT  28.26017962442166
SUPPORT
    CO-ORDS          6677.1665    -324.5949    2972.0634    6.0000
    SKEY  ANCH
    ITEM-CODE  SSS3-13217
    ITEM-DESCRIPTION  STANDARD U-BOLT, MSS SP-58, ASTM A193 Gr B8L
    FABRICATION-ITEM
    SUPPORT-DIRECTION  UP
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
WELD
    END-POINT        3002.2158    -324.5949    2972.0634    6.0000
    END-POINT        3002.2158    -324.5949    2972.0634    6.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
ELBOW
    END-POINT        6680.6595    -324.5949    2972.0634    6.0000  BW
    END-POINT        6909.2595    -324.5949    3200.6634    6.0000  BW
    CENTRE-POINT     6909.2595    -324.5949    2972.0634
    SKEY  ELBW
    ITEM-CODE  SSS3-269
    ITEM-DESCRIPTION  ELL 90 LR, SCH 10S, ASTM A403 Gr WP 304L, ASME B16.9, BW
    FABRICATION-ITEM
    ANGLE   9000
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_10S
    WEIGHT  10.196861108591127
WELD
    END-POINT        6680.6595    -324.5949    2972.0634    6.0000
    END-POINT        6680.6595    -324.5949    2972.0634    6.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
ELBOW
    END-POINT        6909.2595    -324.5949    3943.6338    6.0000  BW
    END-POINT        7129.5753    -385.5775    4172.2338    6.0000  BW
    CENTRE-POINT     6909.2595    -324.5949    4172.2338
    SKEY  ELBW
    ITEM-CODE  SSS3-269
    ITEM-DESCRIPTION  ELL 90 LR, SCH 10S, ASTM A403 Gr WP 304L, ASME B16.9, BW
    FABRICATION-ITEM
    ANGLE   9000
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_10S
    WEIGHT  10.196861108591127
WELD
    END-POINT        6909.2595    -324.5949    3943.6338    6.0000
    END-POINT        6909.2595    -324.5949    3943.6338    6.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
PIPE
    END-POINT        6909.2595    -324.5949    3943.6338    6.0000
    END-POINT        6909.2595    -324.5949    3200.6634    6.0000
    ITEM-CODE  SSS3-954
    ITEM-DESCRIPTION  PIPE, SCH 10S, ASME B36.19, ASTM A312 Gr TP 304L, WELDED/SEAMLESS, PE
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_10S
    WEIGHT  28.26017962442166
SUPPORT
    CO-ORDS          6909.2595    -324.5949    3871.1748    6.0000
    SKEY  ANCH
    ITEM-CODE  4.500
    ITEM-DESCRIPTION  SP-05 SWC
    FABRICATION-ITEM
    SUPPORT-DIRECTION  EAST
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
WELD
    END-POINT        6909.2595    -324.5949    3200.6634    6.0000
    END-POINT        6909.2595    -324.5949    3200.6634    6.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
PIPE
    END-POINT        7129.5753    -385.5775    4172.2338    6.0000
    END-POINT        10102.8067    -1208.5569    4172.2338    6.0000
    ITEM-CODE  SSS3-954
    ITEM-DESCRIPTION  PIPE, SCH 10S, ASME B36.19, ASTM A312 Gr TP 304L, WELDED/SEAMLESS, PE
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_10S
    WEIGHT  28.26017962442166
WELD
    END-POINT        7129.5753    -385.5775    4172.2338    6.0000
    END-POINT        7129.5753    -385.5775    4172.2338    6.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
ELBOW
    END-POINT        8495.4308    -66.1965    2937.5153    6.0000  BW
    END-POINT        8354.4860    -99.8904    2972.0634    6.0000  BW
    CENTRE-POINT     8433.2200    -99.8904    2972.0634
    SKEY  ELBW
    ITEM-CODE  SSS3-237
    ITEM-DESCRIPTION  ELL 45 LR, SCH 10S, ASTM A403 Gr WP 304L, ASME B16.9, BW
    FABRICATION-ITEM
    ANGLE   3780
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_10S
    WEIGHT  5.098430554295564
WELD
    END-POINT        8354.4860    -99.8904    2972.0634    6.0000
    END-POINT        8354.4860    -99.8904    2972.0634    6.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
PIPE
    END-POINT        9301.7034    370.4875    2489.7614    6.0000
    END-POINT        8495.4308    -66.1965    2937.5153    6.0000
    ITEM-CODE  SSS3-954
    ITEM-DESCRIPTION  PIPE, SCH 10S, ASME B36.19, ASTM A312 Gr TP 304L, WELDED/SEAMLESS, PE
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_10S
    WEIGHT  28.26017962442166
WELD
    END-POINT        8495.4308    -66.1965    2937.5153    6.0000
    END-POINT        8495.4308    -66.1965    2937.5153    6.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
ELBOW
    END-POINT        9442.6482    404.1815    2455.2134    6.0000  BW
    END-POINT        9301.7034    370.4875    2489.7614    6.0000  BW
    CENTRE-POINT     9363.9143    404.1815    2455.2134
    SKEY  ELBW
    ITEM-CODE  SSS3-237
    ITEM-DESCRIPTION  ELL 45 LR, SCH 10S, ASTM A403 Gr WP 304L, ASME B16.9, BW
    FABRICATION-ITEM
    ANGLE   3780
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_10S
    WEIGHT  5.098430554295564
WELD
    END-POINT        9301.7034    370.4875    2489.7614    6.0000
    END-POINT        9301.7034    370.4875    2489.7614    6.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
WELD
    END-POINT        9442.6482    404.1815    2455.2134    6.0000
    END-POINT        9442.6482    404.1815    2455.2134    6.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
FLANGE
    END-POINT        9531.5482    404.1815    2455.2134    6.0000  FL
    END-POINT        9442.6482    404.1815    2455.2134    6.0000  BW
    SKEY  FLWN
    ITEM-CODE  SSS3-12525
    ITEM-DESCRIPTION  FLANGE LJ C/W STUB-END, 150 LB, ASME B16.5 / B16.9-C
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
    WEIGHT  10.40097976957271
GASKET
    END-POINT        9534.7232    404.1815    2455.2134    6.0000
    END-POINT        9531.5482    404.1815    2455.2134    6.0000
    ITEM-CODE  SSS3-11523
    ITEM-DESCRIPTION  GASKET, FLAT RING x 150 LB, THK 1/16"
    ERECTION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
    WEIGHT  0.5579243400163295
BOLT
    CO-ORDS          9531.5482    404.1815    2455.2134    6.0000
    BOLT-DIA  3/4
    BOLT-ITEM-CODE  SSS3-9053-101.59999999999998
    ITEM-DESCRIPTION  BOLT SET, RF, 150 LB, STUD BOLT
    ERECTION-ITEM
    BOLT-QUANTITY  8
    BOLT-LENGTH  101.59999999999998
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
VALVE
    END-POINT        9763.3232    404.1815    2455.2134    6.0000  FL
    END-POINT        9534.7232    404.1815    2455.2134    6.0000  FL
    SKEY  VBFL
    ITEM-CODE  V-PORT SEGMENT BALL VALVE - PNEUMATIC ACTUATOR, 6" ND, 150 LB, CF8M, ASME B16.34, RF
    ITEM-DESCRIPTION  V-PORT SEGMENT BALL VALVE - PNEUMATIC ACTUATOR, 150 LB, CF8M, ASME B16.34, RF
    FABRICATION-ITEM
    TAG  I30LD51Z02-Z1
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
GASKET
    END-POINT        9763.3232    404.1815    2455.2134    6.0000
    END-POINT        9766.4982    404.1815    2455.2134    6.0000
    ITEM-CODE  SSS3-11523
    ITEM-DESCRIPTION  GASKET, FLAT RING x 150 LB, THK 1/16"
    ERECTION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
    WEIGHT  0.5579243400163295
FLANGE
    END-POINT        9766.4982    404.1815    2455.2134    6.0000  FL
    END-POINT        9855.3982    404.1815    2455.2134    6.0000  BW
    SKEY  FLWN
    ITEM-CODE  SSS3-12525
    ITEM-DESCRIPTION  FLANGE LJ C/W STUB-END, 150 LB, ASME B16.5 / B16.9-C
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
    WEIGHT  10.40097976957271
BOLT
    CO-ORDS          9766.4982    404.1815    2455.2134    6.0000
    BOLT-DIA  3/4
    BOLT-ITEM-CODE  SSS3-9053-101.59999999999998
    ITEM-DESCRIPTION  BOLT SET, RF, 150 LB, STUD BOLT
    ERECTION-ITEM
    BOLT-QUANTITY  8
    BOLT-LENGTH  101.59999999999998
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
PIPE
    END-POINT        9938.9245    404.1815    2455.2134    6.0000
    END-POINT        9855.3982    404.1815    2455.2134    6.0000
    ITEM-CODE  SSS3-954
    ITEM-DESCRIPTION  PIPE, SCH 10S, ASME B36.19, ASTM A312 Gr TP 304L, WELDED/SEAMLESS, PE
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_10S
    WEIGHT  28.26017962442166
SUPPORT
    CO-ORDS          9897.1614    404.1815    2455.2134    6.0000
    SKEY  ANCH
    ITEM-CODE  SSS3-13217
    ITEM-DESCRIPTION  STANDARD U-BOLT, MSS SP-58, ASTM A193 Gr B8L
    FABRICATION-ITEM
    SUPPORT-DIRECTION  UP
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
WELD
    END-POINT        9855.3982    404.1815    2455.2134    6.0000
    END-POINT        9855.3982    404.1815    2455.2134    6.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
FLANGE
    END-POINT        10027.8245    404.1815    2455.2134    6.0000  FL
    END-POINT        9938.9245    404.1815    2455.2134    6.0000  BW
    SKEY  FLWN
    ITEM-CODE  SSS3-12525
    ITEM-DESCRIPTION  FLANGE LJ C/W STUB-END, 150 LB, ASME B16.5 / B16.9-C
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
    WEIGHT  10.40097976957271
WELD
    END-POINT        9938.9245    404.1815    2455.2134    6.0000
    END-POINT        9938.9245    404.1815    2455.2134    6.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
GASKET
    END-POINT        10030.9995    404.1815    2455.2134    6.0000
    END-POINT        10027.8245    404.1815    2455.2134    6.0000
    ITEM-CODE  SSS3-11523
    ITEM-DESCRIPTION  GASKET, FLAT RING x 150 LB, THK 1/16"
    ERECTION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
    WEIGHT  0.5579243400163295
VALVE
    END-POINT        10088.2995    404.1815    2455.2134    6.0000  FL
    END-POINT        10030.9995    404.1815    2455.2134    6.0000  FL
    SKEY  VYFL
    ITEM-CODE  SSS3-11859
    ITEM-DESCRIPTION  BUTTERFLY VALVE, 150 LB, CF8M, SEALS TEFLON, ASME B16.5, ASME B16.10, LUG, RF, HAND WHEEL
    FABRICATION-ITEM
    TAG  PMVAL1-329
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
BOLT
    CO-ORDS          10030.9995    404.1815    2455.2134    6.0000
    BOLT-DIA  3/4
    BOLT-ITEM-CODE  SSS3-9073-95.25
    ITEM-DESCRIPTION  BOLT SET, RF, 150 LB, LUG BOLT
    ERECTION-ITEM
    BOLT-QUANTITY  8
    BOLT-LENGTH  95.25
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
BOLT
    CO-ORDS          10088.2995    404.1815    2455.2134    6.0000
    BOLT-DIA  3/4
    BOLT-ITEM-CODE  SSS3-9073-95.25
    ITEM-DESCRIPTION  BOLT SET, RF, 150 LB, LUG BOLT
    ERECTION-ITEM
    BOLT-QUANTITY  8
    BOLT-LENGTH  95.25
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
GASKET
    END-POINT        10088.2995    404.1815    2455.2134    6.0000
    END-POINT        10091.4745    404.1815    2455.2134    6.0000
    ITEM-CODE  SSS3-11523
    ITEM-DESCRIPTION  GASKET, FLAT RING x 150 LB, THK 1/16"
    ERECTION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
    WEIGHT  0.5579243400163295
FLANGE
    END-POINT        10091.4745    404.1815    2455.2134    6.0000  FL
    END-POINT        10180.3745    404.1815    2455.2134    6.0000  BW
    SKEY  FLWN
    ITEM-CODE  SSS3-12525
    ITEM-DESCRIPTION  FLANGE LJ C/W STUB-END, 150 LB, ASME B16.5 / B16.9-C
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
    WEIGHT  10.40097976957271
ELBOW
    END-POINT        10102.8067    -1208.5569    4172.2338    6.0000  BW
    END-POINT        10323.1225    -1269.5396    3943.6338    6.0000  BW
    CENTRE-POINT     10323.1225    -1269.5396    4172.2338
    SKEY  ELBW
    ITEM-CODE  SSS3-269
    ITEM-DESCRIPTION  ELL 90 LR, SCH 10S, ASTM A403 Gr WP 304L, ASME B16.9, BW
    FABRICATION-ITEM
    ANGLE   9000
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_10S
    WEIGHT  10.196861108591127
WELD
    END-POINT        10102.8067    -1208.5569    4172.2338    6.0000
    END-POINT        10102.8067    -1208.5569    4172.2338    6.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
WELD
    END-POINT        10180.3745    404.1815    2455.2134    6.0000
    END-POINT        10180.3745    404.1815    2455.2134    6.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
BOLT
    CO-ORDS          10323.1225    -689.8416    2455.2134    6.0000
    BOLT-DIA  3/4
    BOLT-ITEM-CODE  SSS3-9073-95.25
    ITEM-DESCRIPTION  BOLT SET, RF, 150 LB, LUG BOLT
    ERECTION-ITEM
    BOLT-QUANTITY  8
    BOLT-LENGTH  95.25
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
FLANGE
    END-POINT        10323.1225    -686.6666    2455.2134    6.0000  FL
    END-POINT        10323.1225    -597.7666    2455.2134    6.0000  BW
    SKEY  FLWN
    ITEM-CODE  SSS3-12525
    ITEM-DESCRIPTION  FLANGE LJ C/W STUB-END, 150 LB, ASME B16.5 / B16.9-C
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
    WEIGHT  10.40097976957271
GASKET
    END-POINT        10323.1225    -686.6666    2455.2134    6.0000
    END-POINT        10323.1225    -689.8416    2455.2134    6.0000
    ITEM-CODE  SSS3-11523
    ITEM-DESCRIPTION  GASKET, FLAT RING x 150 LB, THK 1/16"
    ERECTION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
    WEIGHT  0.5579243400163295
PIPE
    END-POINT        10323.1225    -397.7665    2455.2134    6.0000
    END-POINT        10323.1225    -597.7666    2455.2134    6.0000
    ITEM-CODE  SSS3-954
    ITEM-DESCRIPTION  PIPE, SCH 10S, ASME B36.19, ASTM A312 Gr TP 304L, WELDED/SEAMLESS, PE
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_10S
    WEIGHT  28.26017962442166
SUPPORT
    CO-ORDS          10323.1225    -497.7666    2455.2134    6.0000
    SKEY  ANCH
    ITEM-CODE  4.500
    ITEM-DESCRIPTION  SP-04 SWC
    FABRICATION-ITEM
    SUPPORT-DIRECTION  UP
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
WELD
    END-POINT        10323.1225    -597.7666    2455.2134    6.0000
    END-POINT        10323.1225    -597.7666    2455.2134    6.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
FLANGE
    END-POINT        10323.1225    -308.8665    2455.2134    6.0000  FL
    END-POINT        10323.1225    -397.7665    2455.2134    6.0000  BW
    SKEY  FLWN
    ITEM-CODE  SSS3-12525
    ITEM-DESCRIPTION  FLANGE LJ C/W STUB-END, 150 LB, ASME B16.5 / B16.9-C
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
    WEIGHT  10.40097976957271
WELD
    END-POINT        10323.1225    -397.7665    2455.2134    6.0000
    END-POINT        10323.1225    -397.7665    2455.2134    6.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
GASKET
    END-POINT        10323.1225    -305.6915    2455.2134    6.0000
    END-POINT        10323.1225    -308.8665    2455.2134    6.0000
    ITEM-CODE  SSS3-11523
    ITEM-DESCRIPTION  GASKET, FLAT RING x 150 LB, THK 1/16"
    ERECTION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
    WEIGHT  0.5579243400163295
BOLT
    CO-ORDS          10323.1225    -308.8665    2455.2134    6.0000
    BOLT-DIA  3/4
    BOLT-ITEM-CODE  SSS3-9053-101.59999999999998
    ITEM-DESCRIPTION  BOLT SET, RF, 150 LB, STUD BOLT
    ERECTION-ITEM
    BOLT-QUANTITY  8
    BOLT-LENGTH  101.59999999999998
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
VALVE
    END-POINT        10323.1225    -77.0915    2455.2134    6.0000  FL
    END-POINT        10323.1225    -305.6915    2455.2134    6.0000  FL
    SKEY  VBFL
    ITEM-CODE  V-PORT SEGMENT BALL VALVE - PNEUMATIC ACTUATOR, 6" ND, 150 LB, CF8M, ASME B16.34, RF
    ITEM-DESCRIPTION  V-PORT SEGMENT BALL VALVE - PNEUMATIC ACTUATOR, 150 LB, CF8M, ASME B16.34, RF
    FABRICATION-ITEM
    TAG  I30LD51Z03-V1
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
GASKET
    END-POINT        10323.1225    -77.0915    2455.2134    6.0000
    END-POINT        10323.1225    -73.9165    2455.2134    6.0000
    ITEM-CODE  SSS3-11523
    ITEM-DESCRIPTION  GASKET, FLAT RING x 150 LB, THK 1/16"
    ERECTION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
    WEIGHT  0.5579243400163295
FLANGE
    END-POINT        10323.1225    -73.9165    2455.2134    6.0000  FL
    END-POINT        10323.1225    14.9835    2455.2134    6.0000  BW
    SKEY  FLWN
    ITEM-CODE  SSS3-12525
    ITEM-DESCRIPTION  FLANGE LJ C/W STUB-END, 150 LB, ASME B16.5 / B16.9-C
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
    WEIGHT  10.40097976957271
BOLT
    CO-ORDS          10323.1225    -73.9165    2455.2134    6.0000
    BOLT-DIA  3/4
    BOLT-ITEM-CODE  SSS3-9053-101.59999999999998
    ITEM-DESCRIPTION  BOLT SET, RF, 150 LB, STUD BOLT
    ERECTION-ITEM
    BOLT-QUANTITY  8
    BOLT-LENGTH  101.59999999999998
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
PIPE
    END-POINT        10323.1225    19.9835    2455.2134    6.0000
    END-POINT        10323.1225    14.9835    2455.2134    6.0000
    ITEM-CODE  SSS3-954
    ITEM-DESCRIPTION  PIPE, SCH 10S, ASME B36.19, ASTM A312 Gr TP 304L, WELDED/SEAMLESS, PE
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_10S
    WEIGHT  28.26017962442166
WELD
    END-POINT        10323.1225    14.9835    2455.2134    6.0000
    END-POINT        10323.1225    14.9835    2455.2134    6.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
FLANGE
    END-POINT        10323.1225    108.8835    2455.2134    6.0000  FL
    END-POINT        10323.1225    19.9835    2455.2134    6.0000  BW
    SKEY  FLWN
    ITEM-CODE  SSS3-12525
    ITEM-DESCRIPTION  FLANGE LJ C/W STUB-END, 150 LB, ASME B16.5 / B16.9-C
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
    WEIGHT  10.40097976957271
WELD
    END-POINT        10323.1225    19.9835    2455.2134    6.0000
    END-POINT        10323.1225    19.9835    2455.2134    6.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
GASKET
    END-POINT        10323.1225    108.8835    2455.2134    6.0000
    END-POINT        10323.1225    112.0585    2455.2134    6.0000
    ITEM-CODE  SSS3-11523
    ITEM-DESCRIPTION  GASKET, FLAT RING x 150 LB, THK 1/16"
    ERECTION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
    WEIGHT  0.5579243400163295
BOLT
    CO-ORDS          10323.1225    112.0585    2455.2134    6.0000
    BOLT-DIA  3/4
    BOLT-ITEM-CODE  SSS3-9073-95.25
    ITEM-DESCRIPTION  BOLT SET, RF, 150 LB, LUG BOLT
    ERECTION-ITEM
    BOLT-QUANTITY  8
    BOLT-LENGTH  95.25
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
WELD
    END-POINT        10323.1225    -1269.5396    2597.9614    6.0000
    END-POINT        10323.1225    -1269.5396    2597.9614    6.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
PIPE
    END-POINT        10323.1225    -1269.5396    3943.6338    6.0000
    END-POINT        10323.1225    -1269.5396    2597.9614    6.0000
    ITEM-CODE  SSS3-954
    ITEM-DESCRIPTION  PIPE, SCH 10S, ASME B36.19, ASTM A312 Gr TP 304L, WELDED/SEAMLESS, PE
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_10S
    WEIGHT  28.26017962442166
WELD
    END-POINT        10323.1225    -1269.5396    3943.6338    6.0000
    END-POINT        10323.1225    -1269.5396    3943.6338    6.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
GASKET
    END-POINT        10323.1225    -1034.7166    2455.2134    6.0000
    END-POINT        10323.1225    -1037.8916    2455.2134    6.0000
    ITEM-CODE  SSS3-11523
    ITEM-DESCRIPTION  GASKET, FLAT RING x 150 LB, THK 1/16"
    ERECTION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
    WEIGHT  0.5579243400163295
BOLT
    CO-ORDS          10323.1225    -1037.8916    2455.2134    6.0000
    BOLT-DIA  3/4
    BOLT-ITEM-CODE  SSS3-9053-203.19999999999996
    ITEM-DESCRIPTION  BOLT SET, RF, 150 LB, STUD BOLT
    ERECTION-ITEM
    BOLT-QUANTITY  8
    BOLT-LENGTH  203.19999999999996
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
FLANGE
    END-POINT        10323.1225    -1037.8916    2455.2134    6.0000  FL
    END-POINT        10323.1225    -1126.7916    2455.2134    6.0000  BW
    SKEY  FLWN
    ITEM-CODE  SSS3-12525
    ITEM-DESCRIPTION  FLANGE LJ C/W STUB-END, 150 LB, ASME B16.5 / B16.9-C
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
    WEIGHT  10.40097976957271
VALVE
    END-POINT        10323.1225    -936.2916    2455.2134    6.0000  FL
    END-POINT        10323.1225    -1034.7166    2455.2134    6.0000  FL
    SKEY  CKFL
    ITEM-CODE  SSS3-10511
    ITEM-DESCRIPTION  Check Valve, Single Plate, Long Pattern, 150 LB, WFR, RF, ASME B16.10
    FABRICATION-ITEM
    TAG  PMVAL1-115
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
    WEIGHT  13.00009071940488
    FLOW  1
GASKET
    END-POINT        10323.1225    -936.2916    2455.2134    6.0000
    END-POINT        10323.1225    -933.1166    2455.2134    6.0000
    ITEM-CODE  SSS3-11523
    ITEM-DESCRIPTION  GASKET, FLAT RING x 150 LB, THK 1/16"
    ERECTION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
    WEIGHT  0.5579243400163295
FLANGE
    END-POINT        10323.1225    -933.1166    2455.2134    6.0000  FL
    END-POINT        10323.1225    -844.2166    2455.2134    6.0000  BW
    SKEY  FLWN
    ITEM-CODE  SSS3-12525
    ITEM-DESCRIPTION  FLANGE LJ C/W STUB-END, 150 LB, ASME B16.5 / B16.9-C
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
    WEIGHT  10.40097976957271
PIPE
    END-POINT        10323.1225    -839.2166    2455.2134    6.0000
    END-POINT        10323.1225    -844.2166    2455.2134    6.0000
    ITEM-CODE  SSS3-954
    ITEM-DESCRIPTION  PIPE, SCH 10S, ASME B36.19, ASTM A312 Gr TP 304L, WELDED/SEAMLESS, PE
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_10S
    WEIGHT  28.26017962442166
WELD
    END-POINT        10323.1225    -844.2166    2455.2134    6.0000
    END-POINT        10323.1225    -844.2166    2455.2134    6.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
FLANGE
    END-POINT        10323.1225    -750.3166    2455.2134    6.0000  FL
    END-POINT        10323.1225    -839.2166    2455.2134    6.0000  BW
    SKEY  FLWN
    ITEM-CODE  SSS3-12525
    ITEM-DESCRIPTION  FLANGE LJ C/W STUB-END, 150 LB, ASME B16.5 / B16.9-C
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
    WEIGHT  10.40097976957271
WELD
    END-POINT        10323.1225    -839.2166    2455.2134    6.0000
    END-POINT        10323.1225    -839.2166    2455.2134    6.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
GASKET
    END-POINT        10323.1225    -747.1416    2455.2134    6.0000
    END-POINT        10323.1225    -750.3166    2455.2134    6.0000
    ITEM-CODE  SSS3-11523
    ITEM-DESCRIPTION  GASKET, FLAT RING x 150 LB, THK 1/16"
    ERECTION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
    WEIGHT  0.5579243400163295
VALVE
    END-POINT        10323.1225    -747.1416    2455.2134    6.0000  FL
    END-POINT        10323.1225    -689.8416    2455.2134    6.0000  FL
    SKEY  VYFL
    ITEM-CODE  SSS3-11859
    ITEM-DESCRIPTION  BUTTERFLY VALVE, 150 LB, CF8M, SEALS TEFLON, ASME B16.5, ASME B16.10, LUG, RF, HAND WHEEL
    FABRICATION-ITEM
    TAG  PMVAL1-123
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
BOLT
    CO-ORDS          10323.1225    -747.1416    2455.2134    6.0000
    BOLT-DIA  3/4
    BOLT-ITEM-CODE  SSS3-9073-95.25
    ITEM-DESCRIPTION  BOLT SET, RF, 150 LB, LUG BOLT
    ERECTION-ITEM
    BOLT-QUANTITY  8
    BOLT-LENGTH  95.25
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
VALVE
    END-POINT        10323.1225    169.3585    2455.2134    6.0000  FL
    END-POINT        10323.1225    112.0585    2455.2134    6.0000  FL
    SKEY  VYFL
    ITEM-CODE  SSS3-11859
    ITEM-DESCRIPTION  BUTTERFLY VALVE, 150 LB, CF8M, SEALS TEFLON, ASME B16.5, ASME B16.10, LUG, RF, HAND WHEEL
    FABRICATION-ITEM
    TAG  PMVAL1-114
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
GASKET
    END-POINT        10323.1225    172.5335    2455.2134    6.0000
    END-POINT        10323.1225    169.3585    2455.2134    6.0000
    ITEM-CODE  SSS3-11523
    ITEM-DESCRIPTION  GASKET, FLAT RING x 150 LB, THK 1/16"
    ERECTION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
    WEIGHT  0.5579243400163295
BOLT
    CO-ORDS          10323.1225    169.3585    2455.2134    6.0000
    BOLT-DIA  3/4
    BOLT-ITEM-CODE  SSS3-9073-95.25
    ITEM-DESCRIPTION  BOLT SET, RF, 150 LB, LUG BOLT
    ERECTION-ITEM
    BOLT-QUANTITY  8
    BOLT-LENGTH  95.25
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
FLANGE
    END-POINT        10323.1225    172.5335    2455.2134    6.0000  FL
    END-POINT        10323.1225    261.4335    2455.2134    6.0000  BW
    SKEY  FLWN
    ITEM-CODE  SSS3-12525
    ITEM-DESCRIPTION  FLANGE LJ C/W STUB-END, 150 LB, ASME B16.5 / B16.9-C
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
    WEIGHT  10.40097976957271
WELD
    END-POINT        10323.1225    261.4335    2455.2134    6.0000
    END-POINT        10323.1225    261.4335    2455.2134    6.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
TEE
    END-POINT        10323.1225    546.9295    2455.2134    6.0000  BW
    END-POINT        10323.1225    261.4335    2455.2134    6.0000  BW
    CENTRE-POINT     10323.1225    404.1815    2455.2134
    BRANCH1-POINT    10180.3745    404.1815    2455.2134    6.0000  BW
    SKEY  TEBW
    ITEM-CODE  SSS3-1099
    ITEM-DESCRIPTION  TEE, SCH 10S, ASTM A403 Gr WP 304L, ASME B16.9, BW
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_10
    WEIGHT  16.479179896579875
PIPE
    END-POINT        10323.1225    -1412.2876    2455.2134    6.0000
    END-POINT        10323.1225    -3812.2876    2455.2134    6.0000
    ITEM-CODE  SSS3-954
    ITEM-DESCRIPTION  PIPE, ERW, PE, ASME B36.19, ASTM A312 Gr TP 304L, Sch 10s
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_10
    WEIGHT  28.26017962442166
SUPPORT
    CO-ORDS          10323.1225    -3703.7520    2455.2134    6.0000
    SKEY  ANCH
    ITEM-CODE  PipeSupportsSpec-823
    ITEM-DESCRIPTION  Clamp
    FABRICATION-ITEM
    SUPPORT-DIRECTION  UP
    PIPING-SPEC  PipeSupportsSpec
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
TEE
    END-POINT        10323.1225    -1126.7916    2455.2134    6.0000  BW
    END-POINT        10323.1225    -1412.2876    2455.2134    6.0000  BW
    CENTRE-POINT     10323.1225    -1269.5396    2455.2134
    BRANCH1-POINT    10323.1225    -1269.5396    2597.9614    6.0000  BW
    SKEY  TEBW
    ITEM-CODE  SSS3-1099
    ITEM-DESCRIPTION  TEE, SCH 10S, ASTM A403 Gr WP 304L, ASME B16.9, BW
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_10
    WEIGHT  16.479179896579875
WELD
    END-POINT        10323.1225    -1412.2876    2455.2134    6.0000
    END-POINT        10323.1225    -1412.2876    2455.2134    6.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
WELD
    END-POINT        10323.1225    -1126.7916    2455.2134    6.0000
    END-POINT        10323.1225    -1126.7916    2455.2134    6.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
MATERIALS
ITEM-CODE  SSS3-11859
    DESCRIPTION  BUTTERFLY VALVE, 150 LB, CF8M, SEALS TEFLON, ASME B16.5, ASME B
    DESCRIPTION  16.10, LUG, RF, HAND WHEEL
    Schedule  
    PressureClass  150
    Material  
ITEM-CODE  SSS3-11523
    DESCRIPTION  GASKET, FLAT RING x 150 LB, THK 1/16"
    Schedule  
    PressureClass  150
    Material  
ITEM-CODE  SSS3-9073-95.25
    DESCRIPTION  BOLT SET, RF, 150 LB, LUG BOLT
    Schedule  
    PressureClass  150
    Material  SS
ITEM-CODE  SSS3-12525
    DESCRIPTION  FLANGE LJ, 150 LB, ASTM A182 Gr F304, ASME B16.5, FF
    Schedule  
    PressureClass  150
    Material  
ITEM-CODE  SSS3-10225
    DESCRIPTION  STUB-END, SHORT PATTERN, SCH 10S, ASTM A403 Gr WP 304L, ASME B1
    DESCRIPTION  6.9 TYPE C
    Schedule  10S
    PressureClass  
    Material  
ITEM-CODE  Buttweld-6
    Schedule  
    PressureClass  
    Material  
ITEM-CODE  SSS3-1099
    DESCRIPTION  TEE, SCH 10S, ASTM A403 Gr WP 304L, ASME B16.9, BW
    Schedule  10
    PressureClass  
    Material  SS
ITEM-CODE  SSS3-954
    DESCRIPTION  PIPE, SCH 10S, ASME B36.19, ASTM A312 Gr TP 304L, WELDED/SEAMLE
    DESCRIPTION  SS, PE
    Schedule  10S
    PressureClass  
    Material  SS
ITEM-CODE  SSS3-9053-101.59999999999998
    DESCRIPTION  BOLT SET, RF, 150 LB, STUD BOLT
    Schedule  
    PressureClass  150
    Material  SS
ITEM-CODE  V-PORT SEGMENT BALL VALVE - PNEUMATIC ACTUATOR, 6" ND, 150 LB, CF8M, ASME B16.34, RF
    DESCRIPTION  V-PORT SEGMENT BALL VALVE - PNEUMATIC ACTUATOR, 150 LB, CF8M, A
    DESCRIPTION  SME B16.34, RF
    Schedule  
    PressureClass  150
    Material  
ITEM-CODE  SSS3-237
    DESCRIPTION  ELL 45 LR, SCH 10S, ASTM A403 Gr WP 304L, ASME B16.9, BW
    Schedule  10S
    PressureClass  
    Material  SS
ITEM-CODE  SSS3-269
    DESCRIPTION  ELL 90 LR, SCH 10S, ASTM A403 Gr WP 304L, ASME B16.9, BW
    Schedule  10S
    PressureClass  
    Material  SS
ITEM-CODE  Tapweld-6
    Schedule  
    PressureClass  
    Material  
ITEM-CODE  SSS3-13676
    DESCRIPTION  THREADOLET, 3000 LB, ASTM A182 Gr F304L, MSS SP-97, BWXFPT
    Schedule  
    PressureClass  3000
    Material  
ITEM-CODE  Thread-2
    Schedule  
    PressureClass  
    Material  
ITEM-CODE  Tapweld-3
    Schedule  
    PressureClass  
    Material  
ITEM-CODE  SS40S-108
    DESCRIPTION  PIPE, SCH 40S, ASME B36.19, ASTM A312 Gr TP 304L, WELDED/SEAMLE
    DESCRIPTION  SS, PE
    Schedule  40S
    PressureClass  
    Material  SS
ITEM-CODE  SS40S-1490
    DESCRIPTION  STUB-END, SHORT PATTERN, SCH 40S, ASTM A403 Gr WP 304L, ASME B1
    DESCRIPTION  6.9 TYPE C
    Schedule  40S
    PressureClass  
    Material  
ITEM-CODE  Buttweld-3
    Schedule  
    PressureClass  
    Material  
ITEM-CODE  SS40S-1617
    DESCRIPTION  FLANGE LJ, 150 LB, ASTM A182 Gr F304, ASME B16.5, FF
    Schedule  
    PressureClass  150
    Material  
ITEM-CODE  SS40S-3736
    DESCRIPTION  GASKET, FLAT RING x 150 LB, THK 1/16"
    Schedule  
    PressureClass  150
    Material  
ITEM-CODE  SS40S-908-88.89999999999998
    DESCRIPTION  BOLT SET, RF, 150 LB, STUD BOLT
    Schedule  
    PressureClass  150
    Material  
ITEM-CODE  PRESSURE TRANSMITTER, 3 " ND, 150 LB, RF
    DESCRIPTION  PRESSURE TRANSMITTER, 150 LB, RF
    Schedule  
    PressureClass  150
    Material  
ITEM-CODE  SSS3-823
    DESCRIPTION  REDUCER (CONC), SCH 10S, ASTM A403 Gr WP 304L, ASME B16.9, BW
    Schedule  10S
    PressureClass  
    Material  SS
ITEM-CODE  Buttweld-8
    Schedule  
    PressureClass  
    Material  
ITEM-CODE  SSS3-10227
    DESCRIPTION  STUB-END, SHORT PATTERN, SCH 10S, ASTM A403 Gr WP 304L, ASME B1
    DESCRIPTION  6.9 TYPE C
    Schedule  10S
    PressureClass  
    Material  
ITEM-CODE  SSS3-12527
    DESCRIPTION  FLANGE LJ, 150 LB, ASTM A182 Gr F304, ASME B16.5, FF
    Schedule  
    PressureClass  150
    Material  
ITEM-CODE  SSS3-11525
    DESCRIPTION  GASKET, FLAT RING x 150 LB, THK 1/16"
    Schedule  
    PressureClass  150
    Material  
ITEM-CODE  SSS3-9054-107.94999999999997
    DESCRIPTION  BOLT SET, RF, 150 LB, STUD BOLT
    Schedule  
    PressureClass  150
    Material  SS
ITEM-CODE  SSS3-10511
    DESCRIPTION  Check Valve, Single Plate, Long Pattern, 150 LB, WFR, RF, ASME 
    DESCRIPTION  B16.10
    Schedule  
    PressureClass  150
    Material  
ITEM-CODE  SSS3-9053-203.19999999999996
    DESCRIPTION  BOLT SET, RF, 150 LB, STUD BOLT
    Schedule  
    PressureClass  150
    Material  SS
ITEM-CODE  SSS3-13217
    DESCRIPTION  STANDARD U-BOLT, MSS SP-58, ASTM A193 Gr B8L
    Schedule  
    PressureClass  
    Material  
ITEM-CODE  4.500
    DESCRIPTION  SP-05 SWC
    Schedule  
    PressureClass  
    Material  
ITEM-CODE  PipeSupportsSpec-823
    DESCRIPTION  Clamp
    Schedule  
    PressureClass  
    Material  
