ISOGEN-FILES  ISOCONFIG.FLS
UNITS-BORE  INCH
UNITS-CO-ORDS  MM
UNITS-WEIGHT  KGS
UNITS-BOLT-DIA  INCH
UNITS-BOLT-LENGTH  MM
PIPELINE-REFERENCE    UserDefinedLine
    DATE-DMY 07/09/26
    PROJECT-IDENTIFIER  
    REVISION  0
    AREA  
    PIPING-SPEC  SSS3
    INSULATION-SPEC  
    TRACING-SPEC  
END-POSITION-NULL
    CO-ORDS          -359.0798    -4202.5298    713.3082
END-POSITION-NULL
    CO-ORDS          0.0481    0.4383    0.1750
ELBOW
    END-POINT        -359.0798    -4202.5298    1298.0730    8.0000  BW
    END-POINT        -143.5536    -3987.0036    1602.8730    8.0000  BW
    CENTRE-POINT     -359.0798    -4202.5298    1602.8730
    SKEY  ELBW
    ITEM-CODE  SS3-271
    ITEM-DESCRIPTION  ELL 90 LR, BW, ASME B16.9, ASTM A403 Gr WP 304L, Sch 10s
    FABRICATION-ITEM
    ANGLE   9000
    PIPING-SPEC  SS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_10
    WEIGHT  20.298466842057515
    STATUS DOTTED-DIMENSIONED 
    MATERIAL-LIST EXCLUDE 
REDUCER-CONCENTRIC
    END-POINT        -359.0798    -4202.5298    872.9472    8.0000  BW
    END-POINT        -359.0798    -4202.5298    720.5472    6.0000  BW
    SKEY  RCBW
    ITEM-CODE  SS3-823
    ITEM-DESCRIPTION  REDUCER (CONC), BW, ASME B16.9, ASTM A403 Gr WP 304L, Sch 10s
    FABRICATION-ITEM
    PIPING-SPEC  SS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_10
    WEIGHT  6.50004535970244
    STATUS DOTTED-DIMENSIONED 
    MATERIAL-LIST EXCLUDE 
WELD
    END-POINT        -359.0798    -4202.5298    720.5472    6.0000
    END-POINT        -359.0798    -4202.5298    720.5472    6.0000
    SKEY  SO
    FABRICATION-ITEM
    PIPING-SPEC  SS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
    STATUS DOTTED-DIMENSIONED 
    MATERIAL-LIST EXCLUDE 
PIPE
    END-POINT        -359.0798    -4202.5298    872.9472    8.0000
    END-POINT        -359.0798    -4202.5298    1298.0730    8.0000
    ITEM-CODE  SS3-956
    ITEM-DESCRIPTION  PIPE, SEAMLESS, PE, ASME B36.19, ASTM A312 Gr TP 304L, Sch 10s
    FABRICATION-ITEM
    PIPING-SPEC  SS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_10
    WEIGHT  42.53164474281048
    STATUS DOTTED-DIMENSIONED 
    MATERIAL-LIST EXCLUDE 
WELD
    END-POINT        -359.0798    -4202.5298    872.9472    8.0000
    END-POINT        -359.0798    -4202.5298    872.9472    8.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
    STATUS DOTTED-DIMENSIONED 
    MATERIAL-LIST EXCLUDE 
WELD
    END-POINT        -359.0798    -4202.5298    1298.0730    8.0000
    END-POINT        -359.0798    -4202.5298    1298.0730    8.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
    STATUS DOTTED-DIMENSIONED 
    MATERIAL-LIST EXCLUDE 
GASKET
    END-POINT        -359.0798    -4202.5298    716.4832    6.0000
    END-POINT        -359.0798    -4202.5298    713.3082    6.0000
    ITEM-CODE  SS3-11523
    ITEM-DESCRIPTION  EMPAQUE LAMINA GARLOCK BLUE 3700 X 1/8"
    ERECTION-ITEM
    PIPING-SPEC  SS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
    WEIGHT  0.5579243400163295
BOLT
    CO-ORDS          -359.0798    -4202.5298    713.3082    6.0000
    BOLT-DIA  3/4
    BOLT-ITEM-CODE  SS3-9053-101.59999999999998
    ITEM-DESCRIPTION  BOLT SET, RF, 150 LB, STUD BOLT
    ERECTION-ITEM
    BOLT-QUANTITY  8
    BOLT-LENGTH  101.59999999999998
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
FLANGE
    END-POINT        -359.0798    -4202.5298    716.4832    6.0000  FL
    END-POINT        -359.0798    -4202.5298    720.5472    6.0000  SO
    SKEY  FLSO
    ITEM-CODE  SS3-9125
    ITEM-DESCRIPTION  FLANGE SO, 150 LB, RF, ASME B16.5, ASTM A182 Gr F
    FABRICATION-ITEM
    PIPING-SPEC  SS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_ ASTM A182 Gr F
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
    WEIGHT  7.711149414859838
    STATUS DOTTED-DIMENSIONED 
    MATERIAL-LIST EXCLUDE 
PIPE
    END-POINT        -143.5536    -3987.0036    1602.8730    8.0000
    END-POINT        -89.7545    -3934.9463    1602.8724    8.0000
    ITEM-CODE  SS3-956
    ITEM-DESCRIPTION  PIPE, SEAMLESS, PE, ASME B36.19, ASTM A312 Gr TP 304L, Sch 10s
    FABRICATION-ITEM
    PIPING-SPEC  SS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_10
    WEIGHT  42.53164474281048
WELD
    END-POINT        -143.5536    -3987.0036    1602.8730    8.0000
    END-POINT        -143.5536    -3987.0036    1602.8730    8.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
ELBOW
    END-POINT        0.0483    -3718.1432    1602.8725    8.0000  BW
    END-POINT        -89.7545    -3934.9463    1602.8724    8.0000  BW
    CENTRE-POINT     0.0483    -3845.1435    1602.8724
    SKEY  ELBW
    ITEM-CODE  SSS3-239
    ITEM-DESCRIPTION  ELL 45 LR, BW, ASME B16.9, ASTM A403 Gr WP 304L, Sch 10s
    FABRICATION-ITEM
    ANGLE   4500
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_10S
    WEIGHT  11.149414859838519
WELD
    END-POINT        -89.7545    -3934.9463    1602.8724    8.0000
    END-POINT        -89.7545    -3934.9463    1602.8724    8.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
PIPE
    END-POINT        0.0481    -304.3617    1602.8730    8.0000
    END-POINT        0.0483    -3718.1432    1602.8725    8.0000
    ITEM-CODE  SSS3-956
    ITEM-DESCRIPTION  PIPE, ERW, PE, ASME B36.19, ASTM A312 Gr TP 304L, Sch 10s
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_10
    WEIGHT  42.53164474281048
WELD
    END-POINT        0.0481    -304.3617    1602.8730    8.0000
    END-POINT        0.0481    -304.3617    1602.8730    8.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
ELBOW
    END-POINT        0.0481    0.4383    1298.0730    8.0000  BW
    END-POINT        0.0481    -304.3617    1602.8730    8.0000  BW
    CENTRE-POINT     0.0481    0.4383    1602.8730
    SKEY  ELBW
    ITEM-CODE  SSS3-271
    ITEM-DESCRIPTION  ELL 90 LR, BW, ASME B16.9, ASTM A403 Gr WP 304L, Sch 10s
    FABRICATION-ITEM
    ANGLE   9000
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_10
    WEIGHT  20.298466842057515
LAPJOINT-STUBEND
    END-POINT        0.0481    0.4383    76.3750    4.0000  BW
    END-POINT        0.0481    0.4383    0.1750    4.0000  LAP
    SKEY  FLSE
    ITEM-CODE  SSS3-10221
    ITEM-DESCRIPTION  STUB-END FOR LAP FLANGE, SHORT PATTERN, ASME B16.9-C, ASTM A312 Gr TP 304L
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_10
    WEIGHT  1.115848680032659
FLANGE
    END-POINT        0.0481    0.4383    0.1750    4.0000  FL
    END-POINT        0.0481    0.4383    0.1750    4.0000  LAP
    SKEY  FLFL
    ITEM-CODE  SSS3-12521
    ITEM-DESCRIPTION  FLANGE LJ, 150 LB, FF, ASME B16.5, ASTM A 105
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
    WEIGHT  5.443164292842239
REDUCER-CONCENTRIC
    END-POINT        0.0481    0.4383    228.7750    8.0000  BW
    END-POINT        0.0481    0.4383    76.3750    4.0000  BW
    SKEY  RCBW
    ITEM-CODE  SSS3-821
    ITEM-DESCRIPTION  REDUCER (CONC), BW, ASME B16.9, ASTM A403 Gr WP 304L, Sch 10s
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_10
    WEIGHT  6.50004535970244
WELD
    END-POINT        0.0481    0.4383    76.3750    4.0000
    END-POINT        0.0481    0.4383    76.3750    4.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
PIPE
    END-POINT        0.0481    0.4383    228.7750    8.0000
    END-POINT        0.0481    0.4383    1298.0730    8.0000
    ITEM-CODE  SSS3-956
    ITEM-DESCRIPTION  PIPE, ERW, PE, ASME B36.19, ASTM A312 Gr TP 304L, Sch 10s
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_10
    WEIGHT  42.53164474281048
WELD
    END-POINT        0.0481    0.4383    228.7750    8.0000
    END-POINT        0.0481    0.4383    228.7750    8.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
WELD
    END-POINT        0.0481    0.4383    1298.0730    8.0000
    END-POINT        0.0481    0.4383    1298.0730    8.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
WELD
    END-POINT        0.0483    -3718.1432    1602.8725    8.0000
    END-POINT        0.0483    -3718.1432    1602.8725    8.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
MATERIALS
ITEM-CODE  SSS3-956
    DESCRIPTION  PIPE, ERW, PE, ASME B36.19, ASTM A312 Gr TP 304L, Sch 10s
    Schedule  10
    PressureClass  
    Material  SS
ITEM-CODE  Buttweld-8
    Schedule  
    PressureClass  
    Material  
ITEM-CODE  SSS3-271
    DESCRIPTION  ELL 90 LR, BW, ASME B16.9, ASTM A403 Gr WP 304L, Sch 10s
    Schedule  10
    PressureClass  
    Material  SS
ITEM-CODE  SSS3-821
    DESCRIPTION  REDUCER (CONC), BW, ASME B16.9, ASTM A403 Gr WP 304L, Sch 10s
    Schedule  10
    PressureClass  
    Material  SS
ITEM-CODE  Buttweld-4
    Schedule  
    PressureClass  
    Material  
ITEM-CODE  SSS3-10221
    DESCRIPTION  STUB-END FOR LAP FLANGE, SHORT PATTERN, ASME B16.9-C, ASTM A312
    DESCRIPTION   Gr TP 304L
    Schedule  10
    PressureClass  
    Material  
ITEM-CODE  SSS3-12521
    DESCRIPTION  FLANGE LJ, 150 LB, FF, ASME B16.5, ASTM A 105
    Schedule  
    PressureClass  150
    Material  
ITEM-CODE  SSS3-239
    DESCRIPTION  ELL 45 LR, BW, ASME B16.9, ASTM A403 Gr WP 304L, Sch 10s
    Schedule  10S
    PressureClass  
    Material  SS
ITEM-CODE  SS3-956
    DESCRIPTION  PIPE, SEAMLESS, PE, ASME B36.19, ASTM A312 Gr TP 304L, Sch 10s
    Schedule  10
    PressureClass  
    Material  SS
ITEM-CODE  SS3-271
    DESCRIPTION  ELL 90 LR, BW, ASME B16.9, ASTM A403 Gr WP 304L, Sch 10s
    Schedule  10
    PressureClass  
    Material  SS
ITEM-CODE  SS3-823
    DESCRIPTION  REDUCER (CONC), BW, ASME B16.9, ASTM A403 Gr WP 304L, Sch 10s
    Schedule  10
    PressureClass  
    Material  SS
ITEM-CODE  SlipOn-6
    Schedule  
    PressureClass  
    Material  
ITEM-CODE  SS3-9125
    DESCRIPTION  FLANGE SO, 150 LB, RF, ASME B16.5, ASTM A182 Gr F
    Schedule  
    PressureClass  150
    Material   ASTM A182 Gr F
ITEM-CODE  SS3-11523
    DESCRIPTION  EMPAQUE LAMINA GARLOCK BLUE 3700 X 1/8"
    Schedule  
    PressureClass  150
    Material  
ITEM-CODE  SS3-9053-101.59999999999998
    DESCRIPTION  BOLT SET, RF, 150 LB, STUD BOLT
    Schedule  
    PressureClass  150
    Material  SS