ISOGEN-FILES  ISOCONFIG.FLS
UNITS-BORE  INCH
UNITS-CO-ORDS  MM
UNITS-WEIGHT  KGS
UNITS-BOLT-DIA  INCH
UNITS-BOLT-LENGTH  MM
PIPELINE-REFERENCE    UserDefinedLine
    DATE-DMY 07/10/26
    PROJECT-IDENTIFIER  
    REVISION  0
    AREA  
    PIPING-SPEC  SS40S
    INSULATION-SPEC  
    TRACING-SPEC  
PIPE
    END-POINT        8164.0863    8905.0688    -6176.4000    3.0000
    END-POINT        8255.0472    8905.0688    -6176.4000    3.0000
    FABRICATION-ITEM
    PIPING-SPEC  SS40S
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_40
    WEIGHT  11.29
    CONTINUATION 
FLANGE
    END-POINT        8318.5472    8905.0688    -6176.4000    3.0000  FL
    END-POINT        8255.0472    8905.0688    -6176.4000    3.0000  BW
    SKEY  FLWN
    ITEM-CODE  
    ITEM-DESCRIPTION  FLANGE LJ C/W STUB-END, 150 LB, ASME B16.5 / B16.9-C
    FABRICATION-ITEM
    PIPING-SPEC  SS40S
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
    WEIGHT  4.7400889050167825
WELD
    END-POINT        8255.0472    8905.0688    -6176.4000    3.0000
    END-POINT        8255.0472    8905.0688    -6176.4000    3.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SS40S
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
    CONTINUATION 
GASKET
    END-POINT        8318.5472    8905.0688    -6176.4000    3.0000
    END-POINT        8321.3253    8905.0688    -6176.4000    3.0000
    ERECTION-ITEM
    PIPING-SPEC  PlaceHolder Imperial
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
    CONTINUATION 
END-CONNECTION-PIPELINE
    CO-ORDS          8164.0863    8905.0688    -6176.4000
    PIPELINE-REFERENCE    PMTUB1-018-LFI-3"-150H2A
WELD
    END-POINT        7895.0000    7278.9520    -5515.8520    3.0000
    END-POINT        7895.0000    7278.9520    -5515.8520    3.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SS40S
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
    CONTINUATION 
FLANGE
    END-POINT        7895.0000    7342.4520    -5515.8520    3.0000  FL
    END-POINT        7895.0000    7278.9520    -5515.8520    3.0000  BW
    SKEY  FLWN
    ITEM-CODE  
    ITEM-DESCRIPTION  FLANGE LJ C/W STUB-END, 150 LB, ASME B16.5 / B16.9-C
    FABRICATION-ITEM
    PIPING-SPEC  SS40S
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
    WEIGHT  4.7400889050167825
GASKET
    END-POINT        7895.0000    7342.4520    -5515.8520    3.0000
    END-POINT        7895.0000    7345.2301    -5515.8520    3.0000
    ERECTION-ITEM
    PIPING-SPEC  PlaceHolder Imperial
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
    CONTINUATION 
BOLT
    CO-ORDS          7895.0000    7345.2301    -5515.8520    3.0000
    BOLT-DIA  5/8
    BOLT-ITEM-CODE  SS40S-908-88.89999999999998
    ITEM-DESCRIPTION  BOLT SET, RF, 150 LB, STUD BOLT
    ERECTION-ITEM
    BOLT-QUANTITY  4
    BOLT-LENGTH  88.89999999999998
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
    WEIGHT  0.1939
    CONTINUATION 
END-CONNECTION-PIPELINE
    CO-ORDS          7895.0000    7278.9520    -5515.8520
    PIPELINE-REFERENCE    PMTUB1-018-LFI-3"-150H2A
OLET
    CENTRE-POINT     22983.4261    -14216.4185    -13331.8118
    BRANCH1-POINT    22983.4261    -14291.0310    -13331.8118    1.5000  SC
    SKEY  THSC
    FABRICATION-ITEM
    PIPING-SPEC  SS40S
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_3000
    WEIGHT  0.20865463122561917
    CONTINUATION 
WELD
    END-POINT        22983.4261    -14291.0310    -13331.8118    1.5000
    END-POINT        22983.4261    -14291.0310    -13331.8118    1.5000
    SKEY  SC
    FABRICATION-ITEM
    PIPING-SPEC  SS40S
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
    CONTINUATION 
VALVE
    END-POINT        22983.4261    -14291.0310    -13331.8118    1.5000  SC
    END-POINT        22983.4261    -14431.0607    -13458.3118    1.5000  PL
    SKEY  VVFL
    FABRICATION-ITEM
    TAG  I30BT03Z01-V1
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
    CONTINUATION 
WELD
    END-POINT        22983.4261    -14431.0607    -13458.3118    1.5000
    END-POINT        22983.4261    -14431.0607    -13458.3118    1.5000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
    CONTINUATION 
PIPE
    END-POINT        22983.4261    -14431.0607    -13458.3118    1.5000
    END-POINT        22983.4261    -14431.0607    -13611.2251    1.5000
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_10
    WEIGHT  4.047798240043545
    CONTINUATION 
END-CONNECTION-PIPELINE
    CO-ORDS          22983.4261    -14216.4185    -13331.8118
    PIPELINE-REFERENCE    PMTUB1-018-LFI-3"-150H2A
BEND
    END-POINT        7895.0000    7155.0000    -4546.8250    10.0000  BW
    END-POINT        8276.0000    7155.0000    -4165.8250    10.0000  BW
    CENTRE-POINT     7895.0000    7155.0000    -4165.8250
    SKEY  BEBW
    ITEM-CODE  SS40S-261-9000
    ITEM-DESCRIPTION  ELBOW 90 LR, ASTM A403 Gr WP 304L, BW, ASME B16.9, SCH 40S
    FABRICATION-ITEM
    ANGLE   9000
    BEND-RADIUS  381.0000
    PIPING-SPEC  SS40S
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS304L
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_40
    WEIGHT  38.10215004989567
WELD
    END-POINT        7895.0000    7155.0000    -4546.8250    10.0000
    END-POINT        7895.0000    7155.0000    -4546.8250    10.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SS40S
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
PIPE
    END-POINT        7895.0000    7155.0000    -4954.5477    10.0000
    END-POINT        7895.0000    7155.0000    -4546.8250    10.0000
    ITEM-CODE  SS40S-120
    ITEM-DESCRIPTION  PIPE, ERW, PE, ASME B36.19, ASTM A312 Gr TP 304L, Sch 40S
    FABRICATION-ITEM
    PIPING-SPEC  SS40S
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_40
    WEIGHT  60.31
GASKET
    END-POINT        7895.0000    7155.0000    -5747.5000    6.0000
    END-POINT        7895.0000    7155.0000    -5751.0000    6.0000
    ITEM-CODE  PlaceHolder Metric-667
    ITEM-DESCRIPTION  PH METRIC Gasket
    ERECTION-ITEM
    PIPING-SPEC  PlaceHolder Metric
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
BOLT
    CO-ORDS          7895.0000    7155.0000    -5751.0000    6.0000
    BOLT-DIA  3/4
    BOLT-ITEM-CODE  SS40S-1011-101.59999999999998
    ITEM-DESCRIPTION  BOLT SET, RF, 150 LB, STUD BOLT
    ERECTION-ITEM
    BOLT-QUANTITY  8
    BOLT-LENGTH  101.59999999999998
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
    WEIGHT  0.3861
FLANGE
    END-POINT        7895.0000    7155.0000    -5747.5000    6.0000  FL
    END-POINT        7895.0000    7155.0000    -5658.6000    6.0000  BW
    SKEY  FLWN
    ITEM-CODE  SS40S-1625
    ITEM-DESCRIPTION  FLANGE LJ C/W STUB-END, 150 LB, ASME B16.5 / B16.9-C
    FABRICATION-ITEM
    PIPING-SPEC  SS40S
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
    WEIGHT  10.40097976957271
TEE
    END-POINT        7895.0000    7155.0000    -5658.6000    6.0000  BW
    END-POINT        7895.0000    7155.0000    -5373.1040    6.0000  BW
    CENTRE-POINT     7895.0000    7155.0000    -5515.8520
    BRANCH1-POINT    7895.0000    7278.9520    -5515.8520    3.0000  BW
    SKEY  TEBW
    ITEM-CODE  SS40S-442
    ITEM-DESCRIPTION  TEE (RED), BW, ASME B16.9, ASTM A403 Gr WP 304L, Sch 40S
    FABRICATION-ITEM
    PIPING-SPEC  SS40S
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_40
    WEIGHT  11.793522634491516
WELD
    END-POINT        7895.0000    7155.0000    -5658.6000    6.0000
    END-POINT        7895.0000    7155.0000    -5658.6000    6.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SS40S
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
FLANGE
    END-POINT        7895.0000    7155.0000    -5284.2040    6.0000  FL
    END-POINT        7895.0000    7155.0000    -5373.1040    6.0000  BW
    SKEY  FLWN
    ITEM-CODE  SS40S-1625
    ITEM-DESCRIPTION  FLANGE LJ C/W STUB-END, 150 LB, ASME B16.5 / B16.9-C
    FABRICATION-ITEM
    PIPING-SPEC  SS40S
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
    WEIGHT  10.40097976957271
WELD
    END-POINT        7895.0000    7155.0000    -5373.1040    6.0000
    END-POINT        7895.0000    7155.0000    -5373.1040    6.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SS40S
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
GASKET
    END-POINT        7895.0000    7155.0000    -5284.2040    6.0000
    END-POINT        7895.0000    7155.0000    -5281.2259    6.0000
    ITEM-CODE  PlaceHolder Imperial-940
    ITEM-DESCRIPTION  PH IMPERIAL Gasket
    ERECTION-ITEM
    PIPING-SPEC  PlaceHolder Imperial
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
VALVE
    END-POINT        7895.0000    7155.0000    -5281.2259    6.0000  FL
    END-POINT        7895.0000    7155.0000    -5224.2259    6.0000  FL
    SKEY  CVFL
    ITEM-CODE  SS40S-1778
    ITEM-DESCRIPTION  KNIFE GATE VALVE, 150 LB, LUG, RF, ASME B16.10
    FABRICATION-ITEM
    TAG  PMVAL1-101
    PIPING-SPEC  SS40S
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
BOLT
    CO-ORDS          7895.0000    7155.0000    -5281.2259    6.0000
    BOLT-DIA  3/4
    BOLT-ITEM-CODE  SS40S-1427-95.25
    ITEM-DESCRIPTION  BOLT SET, RF, 150 LB, LUG BOLT
    ERECTION-ITEM
    BOLT-QUANTITY  8
    BOLT-LENGTH  95.25
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
    WEIGHT  0.3345
GASKET
    END-POINT        7895.0000    7155.0000    -5221.2477    6.0000
    END-POINT        7895.0000    7155.0000    -5224.2259    6.0000
    ITEM-CODE  PlaceHolder Imperial-940
    ITEM-DESCRIPTION  PH IMPERIAL Gasket
    ERECTION-ITEM
    PIPING-SPEC  PlaceHolder Imperial
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
BOLT
    CO-ORDS          7895.0000    7155.0000    -5224.2259    6.0000
    BOLT-DIA  3/4
    BOLT-ITEM-CODE  SS40S-1427-95.25
    ITEM-DESCRIPTION  BOLT SET, RF, 150 LB, LUG BOLT
    ERECTION-ITEM
    BOLT-QUANTITY  8
    BOLT-LENGTH  95.25
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
    WEIGHT  0.3345
FLANGE
    END-POINT        7895.0000    7155.0000    -5221.2477    6.0000  FL
    END-POINT        7895.0000    7155.0000    -5132.3477    6.0000  BW
    SKEY  FLWN
    ITEM-CODE  SS40S-1625
    ITEM-DESCRIPTION  FLANGE LJ C/W STUB-END, 150 LB, ASME B16.5 / B16.9-C
    FABRICATION-ITEM
    PIPING-SPEC  SS40S
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
    WEIGHT  10.40097976957271
REDUCER-CONCENTRIC
    END-POINT        7895.0000    7155.0000    -4954.5477    10.0000  BW
    END-POINT        7895.0000    7155.0000    -5132.3477    6.0000  BW
    SKEY  RCBW
    ITEM-CODE  SS40S-517
    ITEM-DESCRIPTION  REDUCER (CONC), BW, ASTM A403 Gr WP 304L, ASME B16.9, SCH 40S
    FABRICATION-ITEM
    PIPING-SPEC  SS40S
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_40
WELD
    END-POINT        7895.0000    7155.0000    -5132.3477    6.0000
    END-POINT        7895.0000    7155.0000    -5132.3477    6.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SS40S
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
WELD
    END-POINT        7895.0000    7155.0000    -4954.5477    10.0000
    END-POINT        7895.0000    7155.0000    -4954.5477    10.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SS40S
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
GASKET
    END-POINT        8035.0000    8103.7500    -6151.0000    12.0000
    END-POINT        8035.0000    8099.0000    -6151.0000    12.0000
    ITEM-CODE  PlaceHolder Metric-673
    ITEM-DESCRIPTION  PH METRIC Gasket
    ERECTION-ITEM
    PIPING-SPEC  PlaceHolder Metric
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
BOLT
    CO-ORDS          8035.0000    8099.0000    -6151.0000    12.0000
    BOLT-DIA  7/8
    BOLT-ITEM-CODE  SS40S-1113-120.64999999999999
    ITEM-DESCRIPTION  BOLT SET, RF, 150 LB, STUD BOLT
    ERECTION-ITEM
    BOLT-QUANTITY  12
    BOLT-LENGTH  120.64999999999999
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
    WEIGHT  0.6316
FLANGE
    END-POINT        8035.0000    8103.7500    -6151.0000    12.0000  FL
    END-POINT        8035.0000    8256.1500    -6151.0000    12.0000  BW
    SKEY  FLWN
    ITEM-CODE  SS40S-1631
    ITEM-DESCRIPTION  FLANGE LJ C/W STUB-END, 150 LB, ASME B16.5 / B16.9-C
    FABRICATION-ITEM
    PIPING-SPEC  SS40S
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
    WEIGHT  36.3149777737458
REDUCER-ECCENTRIC
    END-POINT        8035.0000    8256.1500    -6151.0000    12.0000  BW
    END-POINT        8035.0000    8459.3500    -6176.4000    10.0000  BW
    SKEY  REBW
    ITEM-CODE  SS40S-635
    ITEM-DESCRIPTION  REDUCER (ECC), BW, ASTM A403 Gr WP 304L, ASME B16.9, SCH 40S
    FABRICATION-ITEM
    PIPING-SPEC  SS40S
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_40
    WEIGHT  15.150140615077564
    FLAT-DIRECTION  DOWN
WELD
    END-POINT        8035.0000    8256.1500    -6151.0000    12.0000
    END-POINT        8035.0000    8256.1500    -6151.0000    12.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SS40S
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
WELD
    END-POINT        8035.0000    8459.3500    -6176.4000    10.0000
    END-POINT        8035.0000    8459.3500    -6176.4000    10.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SS40S
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
FLANGE
    END-POINT        8035.0000    8586.3500    -6176.4000    10.0000  FL
    END-POINT        8035.0000    8459.3500    -6176.4000    10.0000  BW
    SKEY  FLWN
    ITEM-CODE  SS40S-1629
    ITEM-DESCRIPTION  FLANGE LJ C/W STUB-END, 150 LB, ASME B16.5 / B16.9-C
    FABRICATION-ITEM
    PIPING-SPEC  SS40S
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
    WEIGHT  22.657171368955815
GASKET
    END-POINT        8035.0000    8586.3500    -6176.4000    10.0000
    END-POINT        8035.0000    8589.9219    -6176.4000    10.0000
    ITEM-CODE  PlaceHolder Imperial-944
    ITEM-DESCRIPTION  PH IMPERIAL Gasket
    ERECTION-ITEM
    PIPING-SPEC  PlaceHolder Imperial
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
VALVE
    END-POINT        8035.0000    8589.9219    -6176.4000    10.0000  FL
    END-POINT        8035.0000    8659.7719    -6176.4000    10.0000  FL
    SKEY  VVFL
    ITEM-CODE  KNIFE GATE VALVE - BEVEL GEAR HANDWHEEL,  10" ND, 150 LB, LUG, RF, ASME B16.10
    ITEM-DESCRIPTION  KNIFE GATE VALVE - BEVEL GEAR HANDWHEEL, 150 LB, LUG, RF, ASME B16.10
    FABRICATION-ITEM
    TAG  PMVAL1-100
    PIPING-SPEC  SS40S
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
BOLT
    CO-ORDS          8035.0000    8589.9219    -6176.4000    10.0000
    BOLT-DIA  7/8
    BOLT-ITEM-CODE  SS40S-1013-114.3
    ITEM-DESCRIPTION  BOLT SET, RF, 150 LB, STUD BOLT
    ERECTION-ITEM
    BOLT-QUANTITY  12
    BOLT-LENGTH  114.3
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
    WEIGHT  0.6316
GASKET
    END-POINT        8035.0000    8663.3437    -6176.4000    10.0000
    END-POINT        8035.0000    8659.7719    -6176.4000    10.0000
    ITEM-CODE  PlaceHolder Imperial-944
    ITEM-DESCRIPTION  PH IMPERIAL Gasket
    ERECTION-ITEM
    PIPING-SPEC  PlaceHolder Imperial
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
BOLT
    CO-ORDS          8035.0000    8659.7719    -6176.4000    10.0000
    BOLT-DIA  7/8
    BOLT-ITEM-CODE  SS40S-1013-114.3
    ITEM-DESCRIPTION  BOLT SET, RF, 150 LB, STUD BOLT
    ERECTION-ITEM
    BOLT-QUANTITY  12
    BOLT-LENGTH  114.3
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
    WEIGHT  0.6316
FLANGE
    END-POINT        8035.0000    8663.3437    -6176.4000    10.0000  FL
    END-POINT        8035.0000    8790.3437    -6176.4000    10.0000  BW
    SKEY  FLWN
    ITEM-CODE  SS40S-1629
    ITEM-DESCRIPTION  FLANGE LJ C/W STUB-END, 150 LB, ASME B16.5 / B16.9-C
    FABRICATION-ITEM
    PIPING-SPEC  SS40S
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
    WEIGHT  22.657171368955815
WELD
    END-POINT        8035.0000    8790.3437    -6176.4000    10.0000
    END-POINT        8035.0000    8790.3437    -6176.4000    10.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SS40S
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
PIPE
    END-POINT        8035.0000    8790.3437    -6176.4000    10.0000
    END-POINT        8035.0000    9071.0000    -6176.4000    10.0000
    ITEM-CODE  SS40S-120
    ITEM-DESCRIPTION  PIPE, ERW, PE, ASME B36.19, ASTM A312 Gr TP 304L, Sch 40S
    FABRICATION-ITEM
    PIPING-SPEC  SS40S
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_40
    WEIGHT  60.31
BEND
    END-POINT        8035.0000    9071.0000    -6176.4000    10.0000  BW
    END-POINT        8035.0000    9452.0000    -5795.4000    10.0000  BW
    CENTRE-POINT     8035.0000    9452.0000    -6176.4000
    SKEY  BEBW
    ITEM-CODE  SS40S-261-9000
    ITEM-DESCRIPTION  ELBOW 90 LR, ASTM A403 Gr WP 304L, BW, ASME B16.9, SCH 40S
    FABRICATION-ITEM
    ANGLE   9000
    BEND-RADIUS  381.0000
    PIPING-SPEC  SS40S
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS304L
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_40
    WEIGHT  38.10215004989567
SUPPORT
    CO-ORDS          8035.0000    9452.0000    -5960.3397    8.0000
    SKEY  DUCK
    ITEM-CODE  PipeSupportsSpec-60
    ITEM-DESCRIPTION  Dummy Legs
    FABRICATION-ITEM
    SUPPORT-DIRECTION  DOWN
    PIPING-SPEC  PipeSupportsSpec
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
WELD
    END-POINT        8035.0000    9071.0000    -6176.4000    10.0000
    END-POINT        8035.0000    9071.0000    -6176.4000    10.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SS40S
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
PIPE
    END-POINT        8035.0000    9452.0000    -5795.4000    10.0000
    END-POINT        8035.0000    9452.0000    -4547.0000    10.0000
    ITEM-CODE  SS40S-120
    ITEM-DESCRIPTION  PIPE, ERW, PE, ASME B36.19, ASTM A312 Gr TP 304L, Sch 40S
    FABRICATION-ITEM
    PIPING-SPEC  SS40S
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_40
    WEIGHT  60.31
WELD
    END-POINT        8035.0000    9452.0000    -5795.4000    10.0000
    END-POINT        8035.0000    9452.0000    -5795.4000    10.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SS40S
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
BEND
    END-POINT        8416.0000    9452.0000    -4166.0000    10.0000  BW
    END-POINT        8035.0000    9452.0000    -4547.0000    10.0000  BW
    CENTRE-POINT     8035.0000    9452.0000    -4166.0000
    SKEY  BEBW
    ITEM-CODE  SS40S-261-9000
    ITEM-DESCRIPTION  ELBOW 90 LR, ASTM A403 Gr WP 304L, BW, ASME B16.9, SCH 40S
    FABRICATION-ITEM
    ANGLE   9000
    BEND-RADIUS  381.0000
    PIPING-SPEC  SS40S
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS304L
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_40
    WEIGHT  38.10215004989567
WELD
    END-POINT        8035.0000    9452.0000    -4547.0000    10.0000
    END-POINT        8035.0000    9452.0000    -4547.0000    10.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SS40S
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
WELD
    END-POINT        8164.0863    8905.0688    -6176.4000    3.0000
    END-POINT        8164.0863    8905.0688    -6176.4000    3.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SS40S
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
PIPE
    END-POINT        8797.4415    7154.8596    -4165.8250    10.0000
    END-POINT        8276.0000    7155.0000    -4165.8250    10.0000
    ITEM-CODE  SS40S-120
    ITEM-DESCRIPTION  PIPE, ERW, PE, ASME B36.19, ASTM A312 Gr TP 304L, Sch 40S
    FABRICATION-ITEM
    PIPING-SPEC  SS40S
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_40
    WEIGHT  60.31
WELD
    END-POINT        8276.0000    7155.0000    -4165.8250    10.0000
    END-POINT        8276.0000    7155.0000    -4165.8250    10.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SS40S
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
PIPE
    END-POINT        9916.9399    9452.0000    -4165.8250    10.0000
    END-POINT        8416.0000    9452.0000    -4166.0000    10.0000
    ITEM-CODE  SS40S-120
    ITEM-DESCRIPTION  PIPE, ERW, PE, ASME B36.19, ASTM A312 Gr TP 304L, Sch 40S
    FABRICATION-ITEM
    PIPING-SPEC  SS40S
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_40
    WEIGHT  60.31
WELD
    END-POINT        8416.0000    9452.0000    -4166.0000    10.0000
    END-POINT        8416.0000    9452.0000    -4166.0000    10.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SS40S
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
WELD
    END-POINT        8797.4415    7154.8596    -4165.8250    10.0000
    END-POINT        8797.4415    7154.8596    -4165.8250    10.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SS40S
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
FLANGE
    END-POINT        8924.4415    7154.8254    -4165.8250    10.0000  FL
    END-POINT        8797.4415    7154.8596    -4165.8250    10.0000  BW
    SKEY  FLWN
    ITEM-CODE  SS40S-1629
    ITEM-DESCRIPTION  FLANGE LJ C/W STUB-END, 150 LB, ASME B16.5 / B16.9-C
    FABRICATION-ITEM
    PIPING-SPEC  SS40S
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
    WEIGHT  22.657171368955815
GASKET
    END-POINT        8924.4415    7154.8254    -4165.8250    10.0000
    END-POINT        8928.6915    7154.8242    -4165.8250    10.0000
    ITEM-CODE  PlaceHolder Metric-671
    ITEM-DESCRIPTION  PH METRIC Gasket
    ERECTION-ITEM
    PIPING-SPEC  PlaceHolder Metric
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
FLANGE
    END-POINT        8928.6915    7154.8242    -4165.8250    10.0000  FL
    END-POINT        9055.6915    7154.7900    -4165.8250    10.0000  BW
    SKEY  FLWN
    ITEM-CODE  SS40S-1629
    ITEM-DESCRIPTION  FLANGE LJ C/W STUB-END, 150 LB, ASME B16.5 / B16.9-C
    FABRICATION-ITEM
    PIPING-SPEC  SS40S
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
    WEIGHT  22.657171368955815
BOLT
    CO-ORDS          8928.6915    7154.8242    -4165.8250    10.0000
    BOLT-DIA  7/8
    BOLT-ITEM-CODE  SS40S-1013-120.64999999999999
    ITEM-DESCRIPTION  BOLT SET, RF, 150 LB, STUD BOLT
    ERECTION-ITEM
    BOLT-QUANTITY  12
    BOLT-LENGTH  120.64999999999999
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
    WEIGHT  0.6316
WELD
    END-POINT        9055.6915    7154.7900    -4165.8250    10.0000
    END-POINT        9055.6915    7154.7900    -4165.8250    10.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SS40S
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
PIPE
    END-POINT        9749.6899    7154.6031    -4165.8250    10.0000
    END-POINT        9055.6915    7154.7900    -4165.8250    10.0000
    ITEM-CODE  SS40S-120
    ITEM-DESCRIPTION  PIPE, ERW, PE, ASME B36.19, ASTM A312 Gr TP 304L, Sch 40S
    FABRICATION-ITEM
    PIPING-SPEC  SS40S
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_40
    WEIGHT  60.31
SUPPORT
    CO-ORDS          9325.3532    7154.7174    -4165.8250    10.0000
    SKEY  ANCH
    ITEM-CODE  SS40S-13219
    ITEM-DESCRIPTION  U-clamp
    SUPPORT-DIRECTION  UP
    PIPING-SPEC  SS40S
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
FLANGE
    END-POINT        9876.6899    7154.6031    -4165.8250    10.0000  FL
    END-POINT        9749.6899    7154.6031    -4165.8250    10.0000  BW
    SKEY  FLWN
    ITEM-CODE  SS40S-1629
    ITEM-DESCRIPTION  FLANGE LJ C/W STUB-END, 150 LB, ASME B16.5 / B16.9-C
    FABRICATION-ITEM
    PIPING-SPEC  SS40S
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
    WEIGHT  22.657171368955815
WELD
    END-POINT        9749.6899    7154.6031    -4165.8250    10.0000
    END-POINT        9749.6899    7154.6031    -4165.8250    10.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SS40S
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
GASKET
    END-POINT        9880.9399    7154.6031    -4165.8250    10.0000
    END-POINT        9876.6899    7154.6031    -4165.8250    10.0000
    ITEM-CODE  PlaceHolder Metric-671
    ITEM-DESCRIPTION  PH METRIC Gasket
    ERECTION-ITEM
    PIPING-SPEC  PlaceHolder Metric
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
BOLT
    CO-ORDS          9876.6899    7154.6031    -4165.8250    10.0000
    BOLT-DIA  7/8
    BOLT-ITEM-CODE  SS40S-1013-114.3
    ITEM-DESCRIPTION  BOLT SET, RF, 150 LB, STUD BOLT
    ERECTION-ITEM
    BOLT-QUANTITY  12
    BOLT-LENGTH  114.3
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
    WEIGHT  0.6316
VALVE
    END-POINT        9880.9399    7154.6031    -4165.8250    10.0000  FL
    END-POINT        9950.7899    7154.6031    -4165.8250    10.0000  FL
    SKEY  VVFL
    ITEM-CODE  KNIFE GATE VALVE - PNEUMATIC CYLINDER,  10" ND, 150 LB, LUG, RF, ASME B16.10
    ITEM-DESCRIPTION  KNIFE GATE VALVE - PNEUMATIC CYLINDER, 150 LB, LUG, RF, ASME B16.10
    FABRICATION-ITEM
    TAG  I30BT13Z02-V1
    PIPING-SPEC  SS40S
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
BEND
    END-POINT        10297.9399    9071.0000    -4165.8250    10.0000  BW
    END-POINT        9916.9399    9452.0000    -4165.8250    10.0000  BW
    CENTRE-POINT     10297.9399    9452.0000    -4165.8250
    SKEY  BEBW
    ITEM-CODE  SS40S-261-9000
    ITEM-DESCRIPTION  ELBOW 90 LR, ASTM A403 Gr WP 304L, BW, ASME B16.9, SCH 40S
    FABRICATION-ITEM
    ANGLE   9000
    BEND-RADIUS  381.0000
    PIPING-SPEC  SS40S
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS304L
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_40
    WEIGHT  38.10215004989567
WELD
    END-POINT        9916.9399    9452.0000    -4165.8250    10.0000
    END-POINT        9916.9399    9452.0000    -4165.8250    10.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SS40S
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
GASKET
    END-POINT        9950.7899    7154.6031    -4165.8250    10.0000
    END-POINT        9955.0399    7154.6031    -4165.8250    10.0000
    ITEM-CODE  PlaceHolder Metric-671
    ITEM-DESCRIPTION  PH METRIC Gasket
    ERECTION-ITEM
    PIPING-SPEC  PlaceHolder Metric
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
FLANGE
    END-POINT        9955.0399    7154.6031    -4165.8250    10.0000  FL
    END-POINT        10082.0399    7154.6031    -4165.8250    10.0000  BW
    SKEY  FLWN
    ITEM-CODE  SS40S-1629
    ITEM-DESCRIPTION  FLANGE LJ C/W STUB-END, 150 LB, ASME B16.5 / B16.9-C
    FABRICATION-ITEM
    PIPING-SPEC  SS40S
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
    WEIGHT  22.657171368955815
BOLT
    CO-ORDS          9955.0399    7154.6031    -4165.8250    10.0000
    BOLT-DIA  7/8
    BOLT-ITEM-CODE  SS40S-1013-114.3
    ITEM-DESCRIPTION  BOLT SET, RF, 150 LB, STUD BOLT
    ERECTION-ITEM
    BOLT-QUANTITY  12
    BOLT-LENGTH  114.3
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
    WEIGHT  0.6316
WELD
    END-POINT        10082.0399    7154.6031    -4165.8250    10.0000
    END-POINT        10082.0399    7154.6031    -4165.8250    10.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SS40S
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
PIPE
    END-POINT        10297.9399    6938.7031    -4165.8250    10.0000
    END-POINT        10297.8230    -10119.0718    -4165.9420    10.0000
    ITEM-CODE  SS40S-120
    ITEM-DESCRIPTION  PIPE, ERW, PE, ASME B36.19, ASTM A312 Gr TP 304L, Sch 40S
    FABRICATION-ITEM
    PIPING-SPEC  SS40S
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_40
    WEIGHT  60.31
SUPPORT
    CO-ORDS          10297.9037    1664.5880    -4165.8612    10.0000
    SKEY  ANCH
    ITEM-CODE  SS40S-13219
    ITEM-DESCRIPTION  U-clamp
    SUPPORT-DIRECTION  UP
    PIPING-SPEC  SS40S
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
SUPPORT
    CO-ORDS          10297.9320    5792.3833    -4165.8329    10.0000
    SKEY  ANCH
    ITEM-CODE  SS40S-13219
    ITEM-DESCRIPTION  U-clamp
    SUPPORT-DIRECTION  UP
    PIPING-SPEC  SS40S
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
SUPPORT
    CO-ORDS          10297.8528    -5760.6971    -4165.9121    10.0000
    SKEY  ANCH
    ITEM-CODE  SS40S-13219
    ITEM-DESCRIPTION  U-clamp
    SUPPORT-DIRECTION  UP
    PIPING-SPEC  SS40S
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
SUPPORT
    CO-ORDS          10297.8325    -8732.5151    -4165.9325    10.0000
    SKEY  ANCH
    ITEM-CODE  SS40S-13219
    ITEM-DESCRIPTION  U-clamp
    SUPPORT-DIRECTION  UP
    PIPING-SPEC  SS40S
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
WELD
    END-POINT        10297.8230    -10119.0718    -4165.9420    10.0000
    END-POINT        10297.8230    -10119.0718    -4165.9420    10.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SS40S
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
BEND
    END-POINT        10297.8230    -10119.0718    -4165.9420    10.0000  BW
    END-POINT        10567.3475    -10500.0718    -4435.2327    10.0000  BW
    CENTRE-POINT     10297.8230    -10119.0718    -4165.9420
    SKEY  BEBW
    ITEM-CODE  SS40S-261-9000.000004427106
    ITEM-DESCRIPTION  ELBOW 90 LR, ASTM A403 Gr WP 304L, BW, ASME B16.9, SCH 40S
    FABRICATION-ITEM
    ANGLE   9000
    BEND-RADIUS  381.0000
    PIPING-SPEC  SS40S
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS304L
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_40
    WEIGHT  38.10215004989567
BEND
    END-POINT        10678.9391    -14216.4185    81.5577    10.0000  BW
    END-POINT        10297.9391    -13835.4185    81.5577    10.0000  BW
    CENTRE-POINT     10297.9391    -14216.4185    81.5577
    SKEY  BEBW
    ITEM-CODE  SS40S-261-9000
    ITEM-DESCRIPTION  ELBOW 90 LR, ASTM A403 Gr WP 304L, BW, ASME B16.9, SCH 40S
    FABRICATION-ITEM
    ANGLE   9000
    BEND-RADIUS  381.0000
    PIPING-SPEC  SS40S
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS304L
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_40
    WEIGHT  38.10215004989567
WELD
    END-POINT        10297.9391    -13835.4185    81.5577    10.0000
    END-POINT        10297.9391    -13835.4185    81.5577    10.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SS40S
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
PIPE
    END-POINT        10297.9391    -13835.4185    81.5577    10.0000
    END-POINT        10297.9397    -12791.9683    81.5577    10.0000
    ITEM-CODE  SS40S-120
    ITEM-DESCRIPTION  PIPE, ERW, PE, ASME B36.19, ASTM A312 Gr TP 304L, Sch 40S
    FABRICATION-ITEM
    PIPING-SPEC  SS40S
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_40
    WEIGHT  60.31
SUPPORT
    CO-ORDS          10297.9395    -13170.7274    81.5577    10.0000
    SKEY  ANCH
    ITEM-CODE  SS40S-13219
    ITEM-DESCRIPTION  U-clamp
    SUPPORT-DIRECTION  UP
    PIPING-SPEC  SS40S
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
WELD
    END-POINT        10297.9397    -12791.9683    81.5577    10.0000
    END-POINT        10297.9397    -12791.9683    81.5577    10.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SS40S
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
BEND
    END-POINT        10297.9397    -12791.9683    81.5577    10.0000  BW
    END-POINT        10297.9399    -12520.9658    -30.6952    10.0000  BW
    CENTRE-POINT     10297.9398    -12633.2187    81.5577
    SKEY  BEBW
    ITEM-CODE  SS40S-229-4500.0000037727095
    ITEM-DESCRIPTION  ELBOW 45 LR, ASTM A403 Gr WP 304L, BW, ASME B16.9, SCH 40S
    FABRICATION-ITEM
    ANGLE   4500
    BEND-RADIUS  383.2555
    PIPING-SPEC  SS40S
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS304L
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_40
    WEIGHT  18.597478000544317
WELD
    END-POINT        10297.9399    -12520.9658    -30.6952    10.0000
    END-POINT        10297.9399    -12520.9658    -30.6952    10.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SS40S
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
PIPE
    END-POINT        10297.9410    -10626.0240    -1925.6370    10.0000
    END-POINT        10297.9399    -12520.9658    -30.6952    10.0000
    ITEM-CODE  SS40S-120
    ITEM-DESCRIPTION  PIPE, ERW, PE, ASME B36.19, ASTM A312 Gr TP 304L, Sch 40S
    FABRICATION-ITEM
    PIPING-SPEC  SS40S
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_40
    WEIGHT  60.31
TEE
    END-POINT        10297.9399    7370.5031    -4165.8250    10.0000  BW
    END-POINT        10297.9399    6938.7031    -4165.8250    10.0000  BW
    CENTRE-POINT     10297.9399    7154.6031    -4165.8250
    BRANCH1-POINT    10082.0399    7154.6031    -4165.8250    10.0000  BW
    SKEY  TEBW
    ITEM-CODE  SS40S-309
    ITEM-DESCRIPTION  TEE, BW, ASME B16.9, ASTM A403 Gr WP 304L, Sch 40S
    FABRICATION-ITEM
    PIPING-SPEC  SS40S
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_40
    WEIGHT  39.916538147509755
WELD
    END-POINT        10297.9399    6938.7031    -4165.8250    10.0000
    END-POINT        10297.9399    6938.7031    -4165.8250    10.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SS40S
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
WELD
    END-POINT        10297.9399    7370.5031    -4165.8250    10.0000
    END-POINT        10297.9399    7370.5031    -4165.8250    10.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SS40S
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
FLANGE
    END-POINT        10297.9399    7497.5031    -4165.8250    10.0000  FL
    END-POINT        10297.9399    7370.5031    -4165.8250    10.0000  BW
    SKEY  FLWN
    ITEM-CODE  SS40S-1629
    ITEM-DESCRIPTION  FLANGE LJ C/W STUB-END, 150 LB, ASME B16.5 / B16.9-C
    FABRICATION-ITEM
    PIPING-SPEC  SS40S
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
    WEIGHT  22.657171368955815
GASKET
    END-POINT        10297.9399    7497.5031    -4165.8250    10.0000
    END-POINT        10297.9399    7501.0750    -4165.8250    10.0000
    ITEM-CODE  PlaceHolder Imperial-944
    ITEM-DESCRIPTION  PH IMPERIAL Gasket
    ERECTION-ITEM
    PIPING-SPEC  PlaceHolder Imperial
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
VALVE
    END-POINT        10297.9399    7570.9250    -4165.8250    10.0000  FL
    END-POINT        10297.9399    7501.0750    -4165.8250    10.0000  FL
    SKEY  VVFL
    ITEM-CODE  KNIFE GATE VALVE - PNEUMATIC CYLINDER,  10" ND, 150 LB, LUG, RF, ASME B16.10
    ITEM-DESCRIPTION  KNIFE GATE VALVE - PNEUMATIC CYLINDER, 150 LB, LUG, RF, ASME B16.10
    FABRICATION-ITEM
    TAG  I30BT13Z03-V1
    PIPING-SPEC  SS40S
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
BOLT
    CO-ORDS          10297.9399    7501.0750    -4165.8250    10.0000
    BOLT-DIA  7/8
    BOLT-ITEM-CODE  SS40S-1013-114.3
    ITEM-DESCRIPTION  BOLT SET, RF, 150 LB, STUD BOLT
    ERECTION-ITEM
    BOLT-QUANTITY  12
    BOLT-LENGTH  114.3
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
    WEIGHT  0.6316
GASKET
    END-POINT        10297.9399    7574.4969    -4165.8250    10.0000
    END-POINT        10297.9399    7570.9250    -4165.8250    10.0000
    ITEM-CODE  PlaceHolder Imperial-944
    ITEM-DESCRIPTION  PH IMPERIAL Gasket
    ERECTION-ITEM
    PIPING-SPEC  PlaceHolder Imperial
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
BOLT
    CO-ORDS          10297.9399    7570.9250    -4165.8250    10.0000
    BOLT-DIA  7/8
    BOLT-ITEM-CODE  SS40S-1013-114.3
    ITEM-DESCRIPTION  BOLT SET, RF, 150 LB, STUD BOLT
    ERECTION-ITEM
    BOLT-QUANTITY  12
    BOLT-LENGTH  114.3
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
    WEIGHT  0.6316
FLANGE
    END-POINT        10297.9399    7574.4969    -4165.8250    10.0000  FL
    END-POINT        10297.9399    7701.4969    -4165.8250    10.0000  BW
    SKEY  FLWN
    ITEM-CODE  SS40S-1629
    ITEM-DESCRIPTION  FLANGE LJ C/W STUB-END, 150 LB, ASME B16.5 / B16.9-C
    FABRICATION-ITEM
    PIPING-SPEC  SS40S
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
    WEIGHT  22.657171368955815
WELD
    END-POINT        10297.9399    7701.4969    -4165.8250    10.0000
    END-POINT        10297.9399    7701.4969    -4165.8250    10.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SS40S
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
TEE
    END-POINT        10297.9399    7701.4969    -4165.8250    10.0000  BW
    END-POINT        10297.9399    8133.2969    -4165.8250    10.0000  BW
    CENTRE-POINT     10297.9399    7917.3969    -4165.8250
    BRANCH1-POINT    10297.9399    7917.3969    -3949.9250    10.0000  BW
    SKEY  TEBW
    ITEM-CODE  SS40S-309
    ITEM-DESCRIPTION  TEE, BW, ASME B16.9, ASTM A403 Gr WP 304L, Sch 40S
    FABRICATION-ITEM
    PIPING-SPEC  SS40S
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_40
    WEIGHT  39.916538147509755
PIPE
    END-POINT        10297.9399    7917.3969    -3949.9250    10.0000
    END-POINT        10297.9399    7917.3969    -2418.8900    10.0000
    ITEM-CODE  SS40S-120
    ITEM-DESCRIPTION  PIPE, ERW, PE, ASME B36.19, ASTM A312 Gr TP 304L, Sch 40S
    FABRICATION-ITEM
    PIPING-SPEC  SS40S
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_40
    WEIGHT  60.31
WELD
    END-POINT        10297.9399    7917.3969    -3949.9250    10.0000
    END-POINT        10297.9399    7917.3969    -3949.9250    10.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SS40S
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
BEND
    END-POINT        10297.9399    7917.3969    -2418.8900    10.0000  BW
    END-POINT        10297.9399    7536.3969    -2037.8900    10.0000  BW
    CENTRE-POINT     10297.9399    7917.3969    -2418.8900
    SKEY  BEBW
    ITEM-CODE  SS40S-261-9000
    ITEM-DESCRIPTION  ELBOW 90 LR, ASTM A403 Gr WP 304L, BW, ASME B16.9, SCH 40S
    FABRICATION-ITEM
    ANGLE   9000
    BEND-RADIUS  381.0000
    PIPING-SPEC  SS40S
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS304L
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_40
    WEIGHT  38.10215004989567
WELD
    END-POINT        10297.9399    7917.3969    -2418.8900    10.0000
    END-POINT        10297.9399    7917.3969    -2418.8900    10.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SS40S
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
WELD
    END-POINT        10297.9399    8133.2969    -4165.8250    10.0000
    END-POINT        10297.9399    8133.2969    -4165.8250    10.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SS40S
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
FLANGE
    END-POINT        10297.9399    8260.2969    -4165.8250    10.0000  FL
    END-POINT        10297.9399    8133.2969    -4165.8250    10.0000  BW
    SKEY  FLWN
    ITEM-CODE  SS40S-1629
    ITEM-DESCRIPTION  FLANGE LJ C/W STUB-END, 150 LB, ASME B16.5 / B16.9-C
    FABRICATION-ITEM
    PIPING-SPEC  SS40S
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
    WEIGHT  22.657171368955815
GASKET
    END-POINT        10297.9399    8260.2969    -4165.8250    10.0000
    END-POINT        10297.9399    8263.8687    -4165.8250    10.0000
    ITEM-CODE  PlaceHolder Imperial-944
    ITEM-DESCRIPTION  PH IMPERIAL Gasket
    ERECTION-ITEM
    PIPING-SPEC  PlaceHolder Imperial
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
BOLT
    CO-ORDS          10297.9399    8263.8687    -4165.8250    10.0000
    BOLT-DIA  7/8
    BOLT-ITEM-CODE  SS40S-1013-114.3
    ITEM-DESCRIPTION  BOLT SET, RF, 150 LB, STUD BOLT
    ERECTION-ITEM
    BOLT-QUANTITY  12
    BOLT-LENGTH  114.3
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
    WEIGHT  0.6316
VALVE
    END-POINT        10297.9399    8333.7187    -4165.8250    10.0000  FL
    END-POINT        10297.9399    8263.8687    -4165.8250    10.0000  FL
    SKEY  VVFL
    ITEM-CODE  KNIFE GATE VALVE - PNEUMATIC CYLINDER,  10" ND, 150 LB, LUG, RF, ASME B16.10
    ITEM-DESCRIPTION  KNIFE GATE VALVE - PNEUMATIC CYLINDER, 150 LB, LUG, RF, ASME B16.10
    FABRICATION-ITEM
    TAG  I30BT13Z01-V1
    PIPING-SPEC  SS40S
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
GASKET
    END-POINT        10297.9399    8337.2906    -4165.8250    10.0000
    END-POINT        10297.9399    8333.7187    -4165.8250    10.0000
    ITEM-CODE  PlaceHolder Imperial-944
    ITEM-DESCRIPTION  PH IMPERIAL Gasket
    ERECTION-ITEM
    PIPING-SPEC  PlaceHolder Imperial
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
BOLT
    CO-ORDS          10297.9399    8333.7187    -4165.8250    10.0000
    BOLT-DIA  7/8
    BOLT-ITEM-CODE  SS40S-1013-114.3
    ITEM-DESCRIPTION  BOLT SET, RF, 150 LB, STUD BOLT
    ERECTION-ITEM
    BOLT-QUANTITY  12
    BOLT-LENGTH  114.3
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
    WEIGHT  0.6316
FLANGE
    END-POINT        10297.9399    8337.2906    -4165.8250    10.0000  FL
    END-POINT        10297.9399    8464.2906    -4165.8250    10.0000  BW
    SKEY  FLWN
    ITEM-CODE  SS40S-1629
    ITEM-DESCRIPTION  FLANGE LJ C/W STUB-END, 150 LB, ASME B16.5 / B16.9-C
    FABRICATION-ITEM
    PIPING-SPEC  SS40S
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
    WEIGHT  22.657171368955815
WELD
    END-POINT        10297.9399    8464.2906    -4165.8250    10.0000
    END-POINT        10297.9399    8464.2906    -4165.8250    10.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SS40S
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
PIPE
    END-POINT        10297.9399    8464.2906    -4165.8250    10.0000
    END-POINT        10297.9399    9071.0000    -4165.8250    10.0000
    ITEM-CODE  SS40S-120
    ITEM-DESCRIPTION  PIPE, ERW, PE, ASME B36.19, ASTM A312 Gr TP 304L, Sch 40S
    FABRICATION-ITEM
    PIPING-SPEC  SS40S
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_40
    WEIGHT  60.31
SUPPORT
    CO-ORDS          10297.9399    8794.3077    -4165.8250    10.0000
    SKEY  ANCH
    ITEM-CODE  SS40S-13219
    ITEM-DESCRIPTION  U-clamp
    SUPPORT-DIRECTION  UP
    PIPING-SPEC  SS40S
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
WELD
    END-POINT        10297.9399    9071.0000    -4165.8250    10.0000
    END-POINT        10297.9399    9071.0000    -4165.8250    10.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SS40S
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
PIPE
    END-POINT        10297.9409    -10355.0214    -2037.8900    10.0000
    END-POINT        10297.9399    7536.3969    -2037.8900    10.0000
    ITEM-CODE  SS40S-120
    ITEM-DESCRIPTION  PIPE, ERW, PE, ASME B36.19, ASTM A312 Gr TP 304L, Sch 40S
    FABRICATION-ITEM
    PIPING-SPEC  SS40S
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_40
    WEIGHT  60.31
SUPPORT
    CO-ORDS          10297.9407    -5653.4734    -2037.8900    10.0000
    SKEY  ANCH
    ITEM-CODE  SS40S-13219
    ITEM-DESCRIPTION  U-clamp
    SUPPORT-DIRECTION  UP
    PIPING-SPEC  SS40S
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
SUPPORT
    CO-ORDS          10297.9402    1672.0692    -2037.8900    10.0000
    SKEY  ANCH
    ITEM-CODE  SS40S-13219
    ITEM-DESCRIPTION  U-clamp
    SUPPORT-DIRECTION  UP
    PIPING-SPEC  SS40S
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
SUPPORT
    CO-ORDS          10297.9399    7308.1707    -2037.8900    10.0000
    SKEY  ANCH
    ITEM-CODE  SS40S-13219
    ITEM-DESCRIPTION  U-clamp
    SUPPORT-DIRECTION  WEST
    PIPING-SPEC  SS40S
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
WELD
    END-POINT        10297.9399    7536.3969    -2037.8900    10.0000
    END-POINT        10297.9399    7536.3969    -2037.8900    10.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SS40S
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
WELD
    END-POINT        10297.9409    -10355.0214    -2037.8900    10.0000
    END-POINT        10297.9409    -10355.0214    -2037.8900    10.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SS40S
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
BEND
    END-POINT        10297.9409    -10355.0214    -2037.8900    10.0000  BW
    END-POINT        10297.9410    -10626.0240    -1925.6370    10.0000  BW
    CENTRE-POINT     10297.9410    -10513.7710    -2037.8900
    SKEY  BEBW
    ITEM-CODE  SS40S-229-4500.000003773175
    ITEM-DESCRIPTION  ELBOW 45 LR, ASTM A403 Gr WP 304L, BW, ASME B16.9, SCH 40S
    FABRICATION-ITEM
    ANGLE   4500
    BEND-RADIUS  383.2555
    PIPING-SPEC  SS40S
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS304L
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_40
    WEIGHT  18.597478000544317
WELD
    END-POINT        10297.9410    -10626.0240    -1925.6370    10.0000
    END-POINT        10297.9410    -10626.0240    -1925.6370    10.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SS40S
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
WELD
    END-POINT        10567.3475    -10500.0718    -4435.2327    10.0000
    END-POINT        10567.3475    -10500.0718    -4435.2327    10.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SS40S
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
PIPE
    END-POINT        10567.3475    -10500.0718    -4435.2327    10.0000
    END-POINT        14227.5178    -10500.0718    -8091.1530    10.0000
    ITEM-CODE  SS40S-120
    ITEM-DESCRIPTION  PIPE, ERW, PE, ASME B36.19, ASTM A312 Gr TP 304L, Sch 40S
    FABRICATION-ITEM
    PIPING-SPEC  SS40S
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_40
    WEIGHT  60.31
PIPE
    END-POINT        21898.0722    -14216.4185    81.5577    10.0000
    END-POINT        10678.9391    -14216.4185    81.5577    10.0000
    ITEM-CODE  SS40S-120
    ITEM-DESCRIPTION  PIPE, ERW, PE, ASME B36.19, ASTM A312 Gr TP 304L, Sch 40S
    FABRICATION-ITEM
    PIPING-SPEC  SS40S
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_40
    WEIGHT  60.31
SUPPORT
    CO-ORDS          17424.3960    -14216.4185    81.5577    10.0000
    SKEY  ANCH
    ITEM-CODE  SS40S-13219
    ITEM-DESCRIPTION  U-clamp
    SUPPORT-DIRECTION  DOWN
    PIPING-SPEC  SS40S
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
SUPPORT
    CO-ORDS          16524.3960    -14216.4185    81.5577    10.0000
    SKEY  ANCH
    ITEM-CODE  SS40S-13219
    ITEM-DESCRIPTION  U-clamp
    SUPPORT-DIRECTION  DOWN
    PIPING-SPEC  SS40S
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
WELD
    END-POINT        10678.9391    -14216.4185    81.5577    10.0000
    END-POINT        10678.9391    -14216.4185    81.5577    10.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SS40S
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
WELD
    END-POINT        14227.5178    -10500.0718    -8091.1530    10.0000
    END-POINT        14227.5178    -10500.0718    -8091.1530    10.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SS40S
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
BEND
    END-POINT        14339.7707    -10500.0718    -8362.1556    10.0000  BW
    END-POINT        14227.5178    -10500.0718    -8091.1530    10.0000  BW
    CENTRE-POINT     14339.7707    -10500.0718    -8203.4059
    SKEY  BEBW
    ITEM-CODE  SS40S-229-4499.999996226817
    ITEM-DESCRIPTION  ELBOW 45 LR, ASTM A403 Gr WP 304L, BW, ASME B16.9, SCH 40S
    FABRICATION-ITEM
    ANGLE   4500
    BEND-RADIUS  383.2555
    PIPING-SPEC  SS40S
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS304L
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_40
    WEIGHT  18.597478000544317
GASKET
    END-POINT        14339.7707    -10500.0718    -8489.1556    10.0000
    END-POINT        14339.7707    -10500.0718    -8493.4056    10.0000
    ITEM-CODE  PlaceHolder Metric-671
    ITEM-DESCRIPTION  PH METRIC Gasket
    ERECTION-ITEM
    PIPING-SPEC  PlaceHolder Metric
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
BOLT
    CO-ORDS          14339.7707    -10500.0718    -8493.4056    10.0000
    BOLT-DIA  7/8
    BOLT-ITEM-CODE  SS40S-1013-120.64999999999999
    ITEM-DESCRIPTION  BOLT SET, RF, 150 LB, STUD BOLT
    ERECTION-ITEM
    BOLT-QUANTITY  12
    BOLT-LENGTH  120.64999999999999
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
    WEIGHT  0.6316
FLANGE
    END-POINT        14339.7707    -10500.0718    -8489.1556    10.0000  FL
    END-POINT        14339.7707    -10500.0718    -8362.1556    10.0000  BW
    SKEY  FLWN
    ITEM-CODE  SS40S-1629
    ITEM-DESCRIPTION  FLANGE LJ C/W STUB-END, 150 LB, ASME B16.5 / B16.9-C
    FABRICATION-ITEM
    PIPING-SPEC  SS40S
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
    WEIGHT  22.657171368955815
WELD
    END-POINT        14339.7707    -10500.0718    -8362.1556    10.0000
    END-POINT        14339.7707    -10500.0718    -8362.1556    10.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SS40S
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
BEND
    END-POINT        22279.0722    -14216.4185    -299.4423    10.0000  BW
    END-POINT        21898.0722    -14216.4185    81.5577    10.0000  BW
    CENTRE-POINT     22279.0722    -14216.4185    81.5577
    SKEY  BEBW
    ITEM-CODE  SS40S-261-9000
    ITEM-DESCRIPTION  ELBOW 90 LR, ASTM A403 Gr WP 304L, BW, ASME B16.9, SCH 40S
    FABRICATION-ITEM
    ANGLE   9000
    BEND-RADIUS  381.0000
    PIPING-SPEC  SS40S
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS304L
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_40
    WEIGHT  38.10215004989567
WELD
    END-POINT        21898.0722    -14216.4185    81.5577    10.0000
    END-POINT        21898.0722    -14216.4185    81.5577    10.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SS40S
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
FLANGE
    END-POINT        22279.0722    -14216.4185    -11290.2123    10.0000  FL
    END-POINT        22279.0722    -14216.4185    -11417.2123    10.0000  BW
    SKEY  FLWN
    ITEM-CODE  SS40S-1629
    ITEM-DESCRIPTION  FLANGE LJ C/W STUB-END, 150 LB, ASME B16.5 / B16.9-C
    FABRICATION-ITEM
    PIPING-SPEC  SS40S
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
    WEIGHT  22.657171368955815
WELD
    END-POINT        22279.0722    -14216.4185    -11417.2123    10.0000
    END-POINT        22279.0722    -14216.4185    -11417.2123    10.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SS40S
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
PIPE
    END-POINT        22279.0722    -14216.4185    -13115.9118    10.0000
    END-POINT        22279.0722    -14216.4185    -11417.2123    10.0000
    ITEM-CODE  SS40S-120
    ITEM-DESCRIPTION  PIPE, ERW, PE, ASME B36.19, ASTM A312 Gr TP 304L, Sch 40S
    FABRICATION-ITEM
    PIPING-SPEC  SS40S
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_40
    WEIGHT  60.31
SUPPORT
    CO-ORDS          22279.0722    -14216.4185    -11903.2881    10.0000
    SKEY  ANCH
    ITEM-CODE  SS40S-10612
    ITEM-DESCRIPTION  U-clamp
    SUPPORT-DIRECTION  WEST
    PIPING-SPEC  SS40S
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
GASKET
    END-POINT        22279.0722    -14216.4185    -11290.2123    10.0000
    END-POINT        22279.0722    -14216.4185    -11286.6405    10.0000
    ITEM-CODE  PlaceHolder Imperial-944
    ITEM-DESCRIPTION  PH IMPERIAL Gasket
    ERECTION-ITEM
    PIPING-SPEC  PlaceHolder Imperial
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
VALVE
    END-POINT        22279.0722    -14216.4185    -11216.7905    10.0000  FL
    END-POINT        22279.0722    -14216.4185    -11286.6405    10.0000  FL
    SKEY  VVFL
    ITEM-CODE  KNIFE GATE VALVE - BEVEL GEAR HANDWHEEL,  10" ND, 150 LB, LUG, RF, ASME B16.10
    ITEM-DESCRIPTION  KNIFE GATE VALVE - BEVEL GEAR HANDWHEEL, 150 LB, LUG, RF, ASME B16.10
    FABRICATION-ITEM
    TAG  PMVAL1-077
    PIPING-SPEC  SS40S
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
BOLT
    CO-ORDS          22279.0722    -14216.4185    -11286.6405    10.0000
    BOLT-DIA  7/8
    BOLT-ITEM-CODE  SS40S-1013-114.3
    ITEM-DESCRIPTION  BOLT SET, RF, 150 LB, STUD BOLT
    ERECTION-ITEM
    BOLT-QUANTITY  12
    BOLT-LENGTH  114.3
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
    WEIGHT  0.6316
GASKET
    END-POINT        22279.0722    -14216.4185    -11213.2186    10.0000
    END-POINT        22279.0722    -14216.4185    -11216.7905    10.0000
    ITEM-CODE  PlaceHolder Imperial-944
    ITEM-DESCRIPTION  PH IMPERIAL Gasket
    ERECTION-ITEM
    PIPING-SPEC  PlaceHolder Imperial
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
BOLT
    CO-ORDS          22279.0722    -14216.4185    -11216.7905    10.0000
    BOLT-DIA  7/8
    BOLT-ITEM-CODE  SS40S-1013-114.3
    ITEM-DESCRIPTION  BOLT SET, RF, 150 LB, STUD BOLT
    ERECTION-ITEM
    BOLT-QUANTITY  12
    BOLT-LENGTH  114.3
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
    WEIGHT  0.6316
FLANGE
    END-POINT        22279.0722    -14216.4185    -11213.2186    10.0000  FL
    END-POINT        22279.0722    -14216.4185    -11086.2186    10.0000  BW
    SKEY  FLWN
    ITEM-CODE  SS40S-1629
    ITEM-DESCRIPTION  FLANGE LJ C/W STUB-END, 150 LB, ASME B16.5 / B16.9-C
    FABRICATION-ITEM
    PIPING-SPEC  SS40S
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
    WEIGHT  22.657171368955815
PIPE
    END-POINT        22279.0722    -14216.4185    -11086.2186    10.0000
    END-POINT        22279.0722    -14216.4185    -10637.9160    10.0000
    ITEM-CODE  SS40S-120
    ITEM-DESCRIPTION  PIPE, ERW, PE, ASME B36.19, ASTM A312 Gr TP 304L, Sch 40S
    FABRICATION-ITEM
    PIPING-SPEC  SS40S
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_40
    WEIGHT  60.31
WELD
    END-POINT        22279.0722    -14216.4185    -11086.2186    10.0000
    END-POINT        22279.0722    -14216.4185    -11086.2186    10.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SS40S
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
WELD
    END-POINT        22279.0722    -14216.4185    -299.4423    10.0000
    END-POINT        22279.0722    -14216.4185    -299.4423    10.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SS40S
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
PIPE
    END-POINT        22279.0722    -14216.4185    -10306.9223    10.0000
    END-POINT        22279.0722    -14216.4185    -299.4423    10.0000
    ITEM-CODE  SS40S-120
    ITEM-DESCRIPTION  PIPE, ERW, PE, ASME B36.19, ASTM A312 Gr TP 304L, Sch 40S
    FABRICATION-ITEM
    PIPING-SPEC  SS40S
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_40
    WEIGHT  60.31
SUPPORT
    CO-ORDS          22279.0722    -14216.4185    -8203.6534    10.0000
    SKEY  ANCH
    ITEM-CODE  SS40S-10612
    ITEM-DESCRIPTION  U-clamp
    SUPPORT-DIRECTION  WEST
    PIPING-SPEC  SS40S
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
SUPPORT
    CO-ORDS          22279.0722    -14216.4185    -3324.0441    10.0000
    SKEY  ANCH
    ITEM-CODE  SS40S-10612
    ITEM-DESCRIPTION  U-clamp
    SUPPORT-DIRECTION  WEST
    PIPING-SPEC  SS40S
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
WELD
    END-POINT        22279.0722    -14216.4185    -13115.9118    10.0000
    END-POINT        22279.0722    -14216.4185    -13115.9118    10.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SS40S
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
FLANGE
    END-POINT        22279.0722    -14216.4185    -10510.9160    10.0000  FL
    END-POINT        22279.0722    -14216.4185    -10637.9160    10.0000  BW
    SKEY  FLWN
    ITEM-CODE  SS40S-1629
    ITEM-DESCRIPTION  FLANGE LJ C/W STUB-END, 150 LB, ASME B16.5 / B16.9-C
    FABRICATION-ITEM
    PIPING-SPEC  SS40S
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
    WEIGHT  22.657171368955815
WELD
    END-POINT        22279.0722    -14216.4185    -10637.9160    10.0000
    END-POINT        22279.0722    -14216.4185    -10637.9160    10.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SS40S
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
GASKET
    END-POINT        22279.0722    -14216.4185    -10510.9160    10.0000
    END-POINT        22279.0722    -14216.4185    -10507.3441    10.0000
    ITEM-CODE  PlaceHolder Imperial-944
    ITEM-DESCRIPTION  PH IMPERIAL Gasket
    ERECTION-ITEM
    PIPING-SPEC  PlaceHolder Imperial
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
VALVE
    END-POINT        22279.0722    -14216.4185    -10437.4941    10.0000  FL
    END-POINT        22279.0722    -14216.4185    -10507.3441    10.0000  FL
    SKEY  VVFL
    ITEM-CODE  KNIFE GATE VALVE - PNEUMATIC CYLINDER,  10" ND, 150 LB, LUG, RF, ASME B16.10
    ITEM-DESCRIPTION  KNIFE GATE VALVE - PNEUMATIC CYLINDER, 150 LB, LUG, RF, ASME B16.10
    FABRICATION-ITEM
    TAG  I30SC19Z25-V1
    PIPING-SPEC  SS40S
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
BOLT
    CO-ORDS          22279.0722    -14216.4185    -10507.3441    10.0000
    BOLT-DIA  7/8
    BOLT-ITEM-CODE  SS40S-1013-114.3
    ITEM-DESCRIPTION  BOLT SET, RF, 150 LB, STUD BOLT
    ERECTION-ITEM
    BOLT-QUANTITY  12
    BOLT-LENGTH  114.3
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
    WEIGHT  0.6316
GASKET
    END-POINT        22279.0722    -14216.4185    -10433.9223    10.0000
    END-POINT        22279.0722    -14216.4185    -10437.4941    10.0000
    ITEM-CODE  PlaceHolder Imperial-944
    ITEM-DESCRIPTION  PH IMPERIAL Gasket
    ERECTION-ITEM
    PIPING-SPEC  PlaceHolder Imperial
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
BOLT
    CO-ORDS          22279.0722    -14216.4185    -10437.4941    10.0000
    BOLT-DIA  7/8
    BOLT-ITEM-CODE  SS40S-1013-114.3
    ITEM-DESCRIPTION  BOLT SET, RF, 150 LB, STUD BOLT
    ERECTION-ITEM
    BOLT-QUANTITY  12
    BOLT-LENGTH  114.3
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
    WEIGHT  0.6316
FLANGE
    END-POINT        22279.0722    -14216.4185    -10433.9223    10.0000  FL
    END-POINT        22279.0722    -14216.4185    -10306.9223    10.0000  BW
    SKEY  FLWN
    ITEM-CODE  SS40S-1629
    ITEM-DESCRIPTION  FLANGE LJ C/W STUB-END, 150 LB, ASME B16.5 / B16.9-C
    FABRICATION-ITEM
    PIPING-SPEC  SS40S
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
    WEIGHT  22.657171368955815
WELD
    END-POINT        22279.0722    -14216.4185    -10306.9223    10.0000
    END-POINT        22279.0722    -14216.4185    -10306.9223    10.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SS40S
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
GASKET
    END-POINT        22279.0722    -14216.4185    -13814.4118    6.0000
    END-POINT        22279.0722    -14216.4185    -13817.9118    6.0000
    ITEM-CODE  PlaceHolder Metric-667
    ITEM-DESCRIPTION  PH METRIC Gasket
    ERECTION-ITEM
    PIPING-SPEC  PlaceHolder Metric
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
BOLT
    CO-ORDS          22279.0722    -14216.4185    -13817.9118    6.0000
    BOLT-DIA  3/4
    BOLT-ITEM-CODE  SS40S-1011-101.59999999999998
    ITEM-DESCRIPTION  BOLT SET, RF, 150 LB, STUD BOLT
    ERECTION-ITEM
    BOLT-QUANTITY  8
    BOLT-LENGTH  101.59999999999998
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
    WEIGHT  0.3861
FLANGE
    END-POINT        22279.0722    -14216.4185    -13814.4118    6.0000  FL
    END-POINT        22279.0722    -14216.4185    -13725.5118    6.0000  BW
    SKEY  FLWN
    ITEM-CODE  SS40S-1625
    ITEM-DESCRIPTION  FLANGE LJ C/W STUB-END, 150 LB, ASME B16.5 / B16.9-C
    FABRICATION-ITEM
    PIPING-SPEC  SS40S
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
    WEIGHT  10.40097976957271
REDUCER-CONCENTRIC
    END-POINT        22279.0722    -14216.4185    -13547.7118    10.0000  BW
    END-POINT        22279.0722    -14216.4185    -13725.5118    6.0000  BW
    SKEY  RCBW
    ITEM-CODE  SS40S-517
    ITEM-DESCRIPTION  REDUCER (CONC), BW, ASTM A403 Gr WP 304L, ASME B16.9, SCH 40S
    FABRICATION-ITEM
    PIPING-SPEC  SS40S
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_40
WELD
    END-POINT        22279.0722    -14216.4185    -13725.5118    6.0000
    END-POINT        22279.0722    -14216.4185    -13725.5118    6.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SS40S
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
TEE
    END-POINT        22279.0722    -14216.4185    -13547.7118    10.0000  BW
    END-POINT        22279.0722    -14216.4185    -13115.9118    10.0000  BW
    CENTRE-POINT     22279.0722    -14216.4185    -13331.8118
    BRANCH1-POINT    22463.2222    -14216.4185    -13331.8118    4.0000  BW
    SKEY  TEBW
    ITEM-CODE  SS40S-469
    ITEM-DESCRIPTION  TEE (RED), BW, ASME B16.9, ASTM A403 Gr WP 304L, Sch 40S
    FABRICATION-ITEM
    PIPING-SPEC  SS40S
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_40
    WEIGHT  39.00934409870271
WELD
    END-POINT        22279.0722    -14216.4185    -13547.7118    10.0000
    END-POINT        22279.0722    -14216.4185    -13547.7118    10.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SS40S
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
WELD
    END-POINT        22397.3063    -14148.1560    -9187.8191    2.5000
    END-POINT        22397.3063    -14148.1560    -9187.8191    2.5000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SS40S
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
COUPLING
    END-POINT        22397.3063    -14148.1560    -9187.8191    2.5000  BW
    END-POINT        22416.3588    -14137.1561    -9187.8191    2.5000  Universal_ET
    SKEY  COSC
    ITEM-CODE  SADDLE WELDED
    ITEM-DESCRIPTION  SADDLE WELDED
    FABRICATION-ITEM
    PIPING-SPEC  SS40S
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
WELD
    END-POINT        22416.3588    -14137.1561    -9187.8191    2.5000
    END-POINT        22416.3588    -14137.1561    -9187.8191    2.5000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
WELD
    END-POINT        22463.2222    -14216.4185    -13331.8118    4.0000
    END-POINT        22463.2222    -14216.4185    -13331.8118    4.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SS40S
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
PIPE
    END-POINT        22463.2222    -14216.4185    -13331.8118    4.0000
    END-POINT        23185.4464    -14216.4185    -13331.8118    4.0000
    ITEM-CODE  SS40S-112
    ITEM-DESCRIPTION  PIPE, ERW, PE, ASME B36.19, ASTM A312 Gr TP 304L, Sch 40S
    FABRICATION-ITEM
    PIPING-SPEC  SS40S
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_40
    WEIGHT  16.08
WELD
    END-POINT        22983.4261    -14216.4185    -13331.8118    4.0000
    END-POINT        22983.4261    -14216.4185    -13331.8118    4.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SS40S
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
FLANGE
    END-POINT        23261.6464    -14216.4185    -13331.8118    4.0000  FL
    END-POINT        23185.4464    -14216.4185    -13331.8118    4.0000  BW
    SKEY  FLWN
    ITEM-CODE  SS40S-1621
    ITEM-DESCRIPTION  FLANGE LJ C/W STUB-END, 150 LB, ASME B16.5 / B16.9-C
    FABRICATION-ITEM
    PIPING-SPEC  SS40S
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
    WEIGHT  6.559012972874898
WELD
    END-POINT        23185.4464    -14216.4185    -13331.8118    4.0000
    END-POINT        23185.4464    -14216.4185    -13331.8118    4.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SS40S
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
GASKET
    END-POINT        23261.6464    -14216.4185    -13331.8118    4.0000
    END-POINT        23264.4245    -14216.4185    -13331.8118    4.0000
    ITEM-CODE  PlaceHolder Imperial-936
    ITEM-DESCRIPTION  PH IMPERIAL Gasket
    ERECTION-ITEM
    PIPING-SPEC  PlaceHolder Imperial
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
BOLT
    CO-ORDS          23264.4245    -14216.4185    -13331.8118    4.0000
    BOLT-DIA  5/8
    BOLT-ITEM-CODE  SS40S-1425-82.55
    ITEM-DESCRIPTION  BOLT SET, RF, 150 LB, LUG BOLT
    ERECTION-ITEM
    BOLT-QUANTITY  8
    BOLT-LENGTH  82.55
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
    WEIGHT  0.2098
VALVE
    END-POINT        23303.0325    -14216.4185    -13331.8118    4.0000  FL
    END-POINT        23264.4245    -14216.4185    -13331.8118    4.0000  FL
    SKEY  CVFL
    ITEM-CODE  SS40S-1776
    ITEM-DESCRIPTION  KNIFE GATE VALVE, 150 LB, LUG, RF, ASME B16.10
    FABRICATION-ITEM
    TAG  PMVAL1-094
    PIPING-SPEC  SS40S
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
GASKET
    END-POINT        23305.8106    -14216.4185    -13331.8118    4.0000
    END-POINT        23303.0325    -14216.4185    -13331.8118    4.0000
    ITEM-CODE  PlaceHolder Imperial-936
    ITEM-DESCRIPTION  PH IMPERIAL Gasket
    ERECTION-ITEM
    PIPING-SPEC  PlaceHolder Imperial
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
BOLT
    CO-ORDS          23303.0325    -14216.4185    -13331.8118    4.0000
    BOLT-DIA  5/8
    BOLT-ITEM-CODE  SS40S-1425-82.55
    ITEM-DESCRIPTION  BOLT SET, RF, 150 LB, LUG BOLT
    ERECTION-ITEM
    BOLT-QUANTITY  8
    BOLT-LENGTH  82.55
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
    WEIGHT  0.2098
FLANGE
    END-POINT        23305.8106    -14216.4185    -13331.8118    4.0000  FL
    END-POINT        23382.0106    -14216.4185    -13331.8118    4.0000  BW
    SKEY  FLWN
    ITEM-CODE  SS40S-1621
    ITEM-DESCRIPTION  FLANGE LJ C/W STUB-END, 150 LB, ASME B16.5 / B16.9-C
    FABRICATION-ITEM
    PIPING-SPEC  SS40S
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_150
    WEIGHT  6.559012972874898
WELD
    END-POINT        23382.0106    -14216.4185    -13331.8118    4.0000
    END-POINT        23382.0106    -14216.4185    -13331.8118    4.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SS40S
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
PIPE
    END-POINT        23382.0106    -14216.4185    -13331.8118    4.0000
    END-POINT        23799.9700    -14216.4185    -13331.8118    4.0000
    ITEM-CODE  SS40S-112
    ITEM-DESCRIPTION  PIPE, ERW, PE, ASME B36.19, ASTM A312 Gr TP 304L, Sch 40S
    FABRICATION-ITEM
    PIPING-SPEC  SS40S
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_40
    WEIGHT  16.08
SUPPORT
    CO-ORDS          23688.4145    -14216.4185    -13331.8118    4.0000
    SKEY  ANCH
    ITEM-CODE  SS40S-13215
    ITEM-DESCRIPTION  U-clamp
    SUPPORT-DIRECTION  UP
    PIPING-SPEC  SS40S
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
WELD
    END-POINT        23799.9700    -14216.4185    -13331.8118    4.0000
    END-POINT        23799.9700    -14216.4185    -13331.8118    4.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
ELBOW
    END-POINT        23799.9700    -14216.4185    -13331.8118    4.0000  BW
    END-POINT        23952.3700    -14216.4185    -13484.2118    4.0000  BW
    CENTRE-POINT     23952.3700    -14216.4185    -13331.8118
    SKEY  ELBW
    ITEM-CODE  SSS3-267
    ITEM-DESCRIPTION  ELL 90 LR, BW, ASME B16.9, ASTM A403 Gr WP 304L, Sch 10s
    FABRICATION-ITEM
    ANGLE   9000
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_10
    WEIGHT  3.896398439626236
PIPE
    END-POINT        23952.3700    -14216.4185    -13484.2118    4.0000
    END-POINT        23952.3700    -14216.4186    -15736.9296    4.0000
    ITEM-CODE  SS40S-112
    ITEM-DESCRIPTION  PIPE, ERW, PE, ASME B36.19, ASTM A312 Gr TP 304L, Sch 40S
    FABRICATION-ITEM
    PIPING-SPEC  SS40S
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_SS
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_40
    WEIGHT  16.08
WELD
    END-POINT        23952.3700    -14216.4185    -13484.2118    4.0000
    END-POINT        23952.3700    -14216.4185    -13484.2118    4.0000
    SKEY  WW
    FABRICATION-ITEM
    PIPING-SPEC  SSS3
    TRACING-SPEC  
    COMPONENT-ATTRIBUTE1   BOMCOLUMN_Material_
    COMPONENT-ATTRIBUTE2   BOMCOLUMN_SCHClass_
MATERIALS
ITEM-CODE  SS40S-120
    DESCRIPTION  PIPE, ERW, PE, ASME B36.19, ASTM A312 Gr TP 304L, Sch 40S
    Schedule  40
    PressureClass  
    Material  SS
ITEM-CODE  SS40S-1503
    DESCRIPTION  STUB-END FOR LAP FLANGE, SHORT PATTERN, SCH40S, ASME B16.9-C, A
    DESCRIPTION  STM A403 Gr TP 304L
    Schedule  40S
    PressureClass  
    Material  
ITEM-CODE  Buttweld-10
    Schedule  
    PressureClass  
    Material  
ITEM-CODE  SS40S-1629
    DESCRIPTION  FLANGE LJ, 150 LB, FF, ASME B16.5, ASTM A 105
    Schedule  
    PressureClass  150
    Material  
ITEM-CODE  PlaceHolder Imperial-944
    DESCRIPTION  PH IMPERIAL Gasket
    Schedule  
    PressureClass  
    Material  
ITEM-CODE  SS40S-1013-114.3
    DESCRIPTION  BOLT SET, RF, 150 LB, STUD BOLT
    Schedule  
    PressureClass  150
    Material  
ITEM-CODE  KNIFE GATE VALVE - PNEUMATIC CYLINDER,  10" ND, 150 LB, LUG, RF, ASME B16.10
    DESCRIPTION  KNIFE GATE VALVE - PNEUMATIC CYLINDER, 150 LB, LUG, RF, ASME B1
    DESCRIPTION  6.10
    Schedule  
    PressureClass  150
    Material  
ITEM-CODE  KNIFE GATE VALVE - BEVEL GEAR HANDWHEEL,  10" ND, 150 LB, LUG, RF, ASME B16.10
    DESCRIPTION  KNIFE GATE VALVE - BEVEL GEAR HANDWHEEL, 150 LB, LUG, RF, ASME 
    DESCRIPTION  B16.10
    Schedule  
    PressureClass  150
    Material  
ITEM-CODE  SS40S-469
    DESCRIPTION  TEE (RED), BW, ASME B16.9, ASTM A403 Gr WP 304L, Sch 40S
    Schedule  40
    PressureClass  
    Material  SS
ITEM-CODE  SS40S-517
    DESCRIPTION  REDUCER (CONC), BW, ASTM A403 Gr WP 304L, ASME B16.9, SCH 40S
    Schedule  40
    PressureClass  
    Material  SS
ITEM-CODE  Buttweld-6
    Schedule  
    PressureClass  
    Material  
ITEM-CODE  SS40S-1498
    DESCRIPTION  STUB-END FOR LAP FLANGE, SHORT PATTERN, SCH40S, ASME B16.9-C, A
    DESCRIPTION  STM A403 Gr TP 304L
    Schedule  40S
    PressureClass  
    Material  
ITEM-CODE  SS40S-1625
    DESCRIPTION  FLANGE LJ, 150 LB, FF, ASME B16.5, ASTM A 105
    Schedule  
    PressureClass  150
    Material  
ITEM-CODE  PlaceHolder Metric-667
    DESCRIPTION  PH METRIC Gasket
    Schedule  
    PressureClass  
    Material  
ITEM-CODE  SS40S-1011-101.59999999999998
    DESCRIPTION  BOLT SET, RF, 150 LB, STUD BOLT
    Schedule  
    PressureClass  150
    Material  
ITEM-CODE  Buttweld-4
    Schedule  
    PressureClass  
    Material  
ITEM-CODE  SS40S-112
    DESCRIPTION  PIPE, ERW, PE, ASME B36.19, ASTM A312 Gr TP 304L, Sch 40S
    Schedule  40
    PressureClass  
    Material  SS
ITEM-CODE  SS40S-1494
    DESCRIPTION  STUB-END FOR LAP FLANGE, SHORT PATTERN, SCH40S, ASME B16.9-C, A
    DESCRIPTION  STM A403 Gr TP 304L
    Schedule  40S
    PressureClass  
    Material  
ITEM-CODE  SS40S-1621
    DESCRIPTION  FLANGE LJ, 150 LB, FF, ASME B16.5, ASTM A 105
    Schedule  
    PressureClass  150
    Material  
ITEM-CODE  PlaceHolder Imperial-936
    DESCRIPTION  PH IMPERIAL Gasket
    Schedule  
    PressureClass  
    Material  
ITEM-CODE  SS40S-1425-82.55
    DESCRIPTION  BOLT SET, RF, 150 LB, LUG BOLT
    Schedule  
    PressureClass  150
    Material  
ITEM-CODE  SS40S-1776
    DESCRIPTION  KNIFE GATE VALVE, 150 LB, LUG, RF, ASME B16.10
    Schedule  
    PressureClass  150
    Material  
ITEM-CODE  SSS3-267
    DESCRIPTION  ELL 90 LR, BW, ASME B16.9, ASTM A403 Gr WP 304L, Sch 10s
    Schedule  10
    PressureClass  
    Material  SS
ITEM-CODE  Tapweld-4
    Schedule  
    PressureClass  
    Material  
ITEM-CODE  Tapweld-2.5
    Schedule  
    PressureClass  
    Material  
ITEM-CODE  SADDLE WELDED
    DESCRIPTION  SADDLE WELDED
    Schedule  
    PressureClass  150
    Material  
ITEM-CODE  Universal-2.5
    Schedule  
    PressureClass  
    Material  
ITEM-CODE  BLADE CONSISTENCY TRANSMITTER
    DESCRIPTION  BLADE CONSISTENCY TRANSMITTER
    Schedule  
    PressureClass  150
    Material  
ITEM-CODE  SS40S-261
    DESCRIPTION  ELBOW 90 LR, ASTM A403 Gr WP 304L, BW, ASME B16.9, SCH 40S
    Schedule  40
    PressureClass  
    Material  SS304L
ITEM-CODE  SS40S-229
    DESCRIPTION  ELBOW 45 LR, ASTM A403 Gr WP 304L, BW, ASME B16.9, SCH 40S
    Schedule  40
    PressureClass  
    Material  SS304L
ITEM-CODE  SS40S-309
    DESCRIPTION  TEE, BW, ASME B16.9, ASTM A403 Gr WP 304L, Sch 40S
    Schedule  40
    PressureClass  
    Material  SS
ITEM-CODE  Tapweld-10
    Schedule  
    PressureClass  
    Material  
ITEM-CODE  PlaceHolder Metric-671
    DESCRIPTION  PH METRIC Gasket
    Schedule  
    PressureClass  
    Material  
ITEM-CODE  SS40S-1013-120.64999999999999
    DESCRIPTION  BOLT SET, RF, 150 LB, STUD BOLT
    Schedule  
    PressureClass  150
    Material  
ITEM-CODE  PlaceHolder Imperial-940
    DESCRIPTION  PH IMPERIAL Gasket
    Schedule  
    PressureClass  
    Material  
ITEM-CODE  SS40S-1427-95.25
    DESCRIPTION  BOLT SET, RF, 150 LB, LUG BOLT
    Schedule  
    PressureClass  150
    Material  
ITEM-CODE  SS40S-1778
    DESCRIPTION  KNIFE GATE VALVE, 150 LB, LUG, RF, ASME B16.10
    Schedule  
    PressureClass  150
    Material  
ITEM-CODE  SS40S-442
    DESCRIPTION  TEE (RED), BW, ASME B16.9, ASTM A403 Gr WP 304L, Sch 40S
    Schedule  40
    PressureClass  
    Material  SS
ITEM-CODE  Tapweld-3
    Schedule  
    PressureClass  
    Material  
ITEM-CODE  SS40S-635
    DESCRIPTION  REDUCER (ECC), BW, ASTM A403 Gr WP 304L, ASME B16.9, SCH 40S
    Schedule  40
    PressureClass  
    Material  SS
ITEM-CODE  Buttweld-12
    Schedule  
    PressureClass  
    Material  
ITEM-CODE  SS40S-1505
    DESCRIPTION  STUB-END FOR LAP FLANGE, SHORT PATTERN, SCH40S, ASME B16.9-C, A
    DESCRIPTION  STM A403 Gr TP 304L
    Schedule  40S
    PressureClass  
    Material  
ITEM-CODE  SS40S-1631
    DESCRIPTION  FLANGE LJ, 150 LB, FF, ASME B16.5, ASTM A 105
    Schedule  
    PressureClass  150
    Material  
ITEM-CODE  PlaceHolder Metric-673
    DESCRIPTION  PH METRIC Gasket
    Schedule  
    PressureClass  
    Material  
ITEM-CODE  SS40S-1113-120.64999999999999
    DESCRIPTION  BOLT SET, RF, 150 LB, STUD BOLT
    Schedule  
    PressureClass  150
    Material  
ITEM-CODE  PipeSupportsSpec-60
    DESCRIPTION  Dummy Legs
    Schedule  
    PressureClass  
    Material  
ITEM-CODE  SS40S-13219
    DESCRIPTION  U-clamp
    Schedule  
    PressureClass  
    Material  
ITEM-CODE  SS40S-10612
    DESCRIPTION  U-clamp
    Schedule  
    PressureClass  
    Material  
ITEM-CODE  SS40S-13215
    DESCRIPTION  U-clamp
    Schedule  
    PressureClass  
    Material  
